<div class="content">
  <div class="intro">

    En este momento debo <b>indicarle</b> <br>
    que si usted <b class="sub_r">no</b> es <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>,<br>
    con el <b>número</b> de seguro social <span *ngIf="cliente$">{{cliente$.numero_id || '(número del seguro social)'}}</span>, <br>
    debería <b>finalizar</b> la llamada en este momento, <br>
    ya que estaría cometiendo <b>delito</b> federal <br>
    de <b>fraude</b> e impersonificación <br>
    <b>castigable</b> con un mínimo <br>
    de 3 a 5 años de <b>cárcel</b>, <br>
    sin embargo <b class="sub_r">si</b> usted es <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, <br>
    con el <b>número</b> de seguro social span <span *ngIf="cliente$">{{cliente$.numero_id || '(número del seguro social)'}}</span>, <br>

    si usted <b>es</b> esta persona, <br>
    entonces podemos <b>continuar</b>. <br>
    ¿Usted desea <b>colgar?</b> <br>
    <b class="sub_r">¿o continuamos </b> con la llamada? <br>


    <div class="esperar">
      ESPERAR Y PROPICIAR REACCIÓN DEL PROSPECTO <br>
      Y DEPENDIENDO LA CONTESTACION PREGUNTARLE LO QUE APLIQUE <br>

    </div>

    <div class="fin">
      Muy Bien…

    </div>

    -
  </div>
</div>
