<div class="content" style="font-size: 36px;">
  <p> <br>
    <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>! Lo que <b>usted</b> me dice <br>
    eso me <b>recuerda</b> <br>
    que había una <b>inundación</b> <br>
    y en esa <b>inundación</b> había <br>
    una persona <b>creyente</b> <br>
    así como <b>usted</b> <br>
    y como <b>yo</b> <br>
    y la vinieron a <b>rescatarla</b> porque <br>
    el <b>agua</b> le llegaba <br>
    hasta el <b>cuello</b>
  </p>
  <p>
    Cuando <b>vino</b> la defensa civil <br>
    a <b>rescatarla</b> le dijo: <br>
    subase al <b>camion</b> de bomberos (__)
  </p>
  <p>
    (__) le dijo: <br>
    <b><u>NO</u></b>, <b><u>NO</u></b>, <b><u>NO</u></b>, <br>
    ¡<b><u>NO</u></b> hagan nada! <br>
    ¡<b>Dios</b> me va a salvar! <br>
    ¡y el camion de bomberos se fue!
  </p>
  <p>
    Continuo <b>lloviendo</b> copiosamente <br>
    hasta que no tuvo mas <b>alternativa</b> <br>
    y se subio <b>arriba</b> del techo
  </p>
  <p>
    El agua le llegaba hasta la <b>nariz</b> <br>
    derepente se acerca un <b>helicóptero</b> <br>
    <b>arriba</b> de el <br>
    Le tiran la <b>escalera</b>
    y le <b>dicen</b> <br>
    ¡(__) <b>Salvese</b>! <br>
    ¡<b>Subase</b>! <br>
    Y (__)<b>dijo</b>: <br>
    <b><u>NO</u></b>, <b><u>NO</u></b>, <b><u>NO</u></b>, <br>
    ¡<b><u>NO</u></b> hagan nada! <br>
    ¡<b>DIOS</b> me va a salvar! <br>
    <b>DIOS</b> me va a proteger
  </p>
  <p>
    A lo <b>ultimo</b> <br>
    ¡(__) se <b>AHOGÓ</b>!
  </p>
  <p>
    ¡Se <b>MURIÓ</b>! <br>
  </p>
  <p>
    Y cuando fue al <b>cielo</b>, <br>
    Fue a <b>reclamarle</b><br>
    ¡al <b>altísimo</b>! <br>
    y le dijo al altisimo: <br>
    me <b>desamparaste</b> cuando yo <br>
    he sido un <b>fiel</b> servidor
  </p>
  <p>
    El <b>altísimo</b> <br>
    después de <b>escucharlo</b> <br>
    le <b>dijo</b>: <br>
    oye (__) <b>primero</b> te envié<br>
    a la a defensa <b>civil</b> <br>
    con el carro de <b>bomberos</b> <br>
    ¡para <b>salvarte!</b>
  </p>
  <p>
    ¡Y luego te envié un <b>helicóptero</b>! <br>
    ¡te <b>bajaron</b> las escaleras! <br>
    Y te <b>dijeron </b> <br>
    ¡sálvate que te vas a <b>morir</b>! <br>
    Y <b><u>no</u></b> lo hiciste…
  </p>
  <p>
    ¿Qué tu <b>querías</b> (__)? <br>
    ¿Que yo <b>mismo</b> fuera <br>
    y te <b>buscara</b>? <br>
  </p>
  <p>
    (__) de eso es lo que se <b>trata</b> <br>
    practicamente soy el instrumento de <b>DIOS</b> <br>
    para que usted <b>pueda</b> ayudarse <br>
    a <b>resolver</b> su problema de crédito <br>
  </p>
  <p>
    <b>¡Créame!</b>
  </p>
  <p>
    Que si <b>DIOS</b> <br>
    <b><u>NO</u></b> hubiera querido<br>
    que usted <b>escuchara</b> el programa <br>
    usted <b><u>NO</u></b> lo escucha
  </p>
  <p>
    (__)si <b>DIOS</b> <br>
    <b><u>no</u></b> hubiera querido <br>
    que usted <b>oyera</b> mis palabras <br>
    o que yo me <b>comunicara</b>, <br>
    o que usted <b>contestara</b> el teléfono <br>
    ¡eso <b><u>NO</u></b> sucede!
  </p>
  <p>
    (__) Pero <b>hay</b> una razón <br>
    Por la cual <b>usted</b> <br>
    Esta <b>contestando</b> el teléfono <br>
    y esa <b>razon</b> es:
    Es porque <b>DIOS</b> quiere <br>
    que <b>yo</b> la ayude <br>
    Y <b><u>NO</u></b> quiere <br>
    que usted se eche al <b>abandono</b>. <br>
    porque todo <b>buen</b> cristiano <br>
    se <b>encarga</b> de sus deudas <br>
  </p>
  <p>
    ¿verdad que <b>SI</b>? <br>
  </p>
  <p>
    asi que <b>siguame</b> ciegamente <br>
    que <b>yo</b> le voy ayudar.
  </p>
</div>
