


<div class="main">
  <div class="barra_arriba">
    <table class="w100">
      <tbody>
        <tr>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/yoPuedo']">
              <img src="../../../assets/img_ticket/a-1.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/devuelvoLaLlamada']">
              <img src="../../../assets/img_ticket/a-2.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/niMeInteresa']">
              <img src="../../../assets/img_ticket/a-3.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/citaIncumplida']">
              <img src="../../../assets/img_ticket/a-4.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/frasesDePoder']">
              <img src="../../../assets/img_ticket/a-5.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/bancoMeAyuda']">
              <img src="../../../assets/img_ticket/a-6.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/tengoReporte']">
              <img src="../../../assets/img_ticket/a-7.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/rene']">
              <img src="../../../assets/img_ticket/a-8.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/ss']">
              <img src="../../../assets/img_ticket/a-9.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/yaArregleMiCredito']">
              <img src="../../../assets/img_ticket/a-10.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/telefonoEquivocado']">
              <img src="../../../assets/img_ticket/a-11.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/speechPuedeSerReferido']">
              <img src="../../../assets/img_ticket/a-12.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/mecanico']">
              <img src="../../../assets/img_ticket/a-13.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/zapatero']">
              <img src="../../../assets/img_ticket/a-14.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/cristiano']">
              <img src="../../../assets/img_ticket/a-15.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/lecturaReparacionCredito']">
              <img src="../../../assets/img_ticket/a-16.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/abogado']">
              <img src="../../../assets/img_ticket/a-17.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/50puntos']">
              <img src="../../../assets/img_ticket/a-18.jpg">
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="second mt-1">

    <div class="barra_izq ">
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/doblepago']">
          <img src="../../../assets/img_ticket/b-1.png" alt="">
        </a>
      </div>
      <div class="im "  (click)="togglerCuadro()" style="background-color: white;">
        <a style="font-weight: 800;
        font-size: 17px;
        white-space: pre-wrap;">
          {{ titleCuadro }}
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/cobro']">
          <img src="../../../assets/img_ticket/b-3.png" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/b-4.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/menu']">
          <img src="../../../assets/img_ticket/b-5.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/sidiosquiere']">
          <img src="../../../assets/img_ticket/b-6.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/telefonoEquivocado']">
          <img src="../../../assets/img_ticket/b-7.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/b-8.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/b-9.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/b-10.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/b-11.png" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/b-12.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/b-13.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="boton_home">
      <a [routerLink]="['/']">
        <button class="btnx">Ir a HOME</button>
      </a>
    </div>


    <div class="contenido">
   <!-- ********* SE DEBE MANTENET AL TOP DE ESTE CONTENEDOR ********** -->
      <div class="cuadro h100" *ngIf="togglecuadro">
        <app-cuadro></app-cuadro>
      </div>
   <!-- ********* SE DEBE MANTENET AL TOP DE ESTE CONTENEDOR ********** -->

      <div class="EmbargoSalario h100" *ngIf="visulizador == ''">
        <!-- <> -->
      </div>

      <div class="CartaTransunion h100" *ngIf="visulizador == 'speechCartaTransunion'">
        <app-speech-carta-transunion></app-speech-carta-transunion>
      </div>

      <div class="LecturaReporte h100" *ngIf="visulizador == 'LecturaReporte'">
        <app-speech-lectura-reporte></app-speech-lectura-reporte>
      </div>

      <div class="TieneNoTieneTiempo h100" *ngIf="visulizador == 'TieneNoTieneTiempo'">
        <app-speech-tiene-no-tiene-tiempo></app-speech-tiene-no-tiene-tiempo>
      </div>

      <div class="DeudaHospital h100" *ngIf="visulizador == 'DeudaHospital'">
        <app-speech-deuda-hospital></app-speech-deuda-hospital>
      </div>

      <div class="verde h100" *ngIf="visulizador == 'verde'">
        <!-- <app-speech-verde></app-speech-verde> -->
        <app-speech-robo-identidad-v2></app-speech-robo-identidad-v2>
      </div>

      <div class="amarillo h100" *ngIf="visulizador == 'amarillo'">
        <app-speech-amarillo></app-speech-amarillo>
      </div>

      <div class="CuadroObjeciones h100" *ngIf="visulizador == 'CuadroObjeciones'">
        <app-cuadro-objec></app-cuadro-objec>
      </div>

      <div class="Cambio_Multa_Atrazo h100" *ngIf="visulizador == 'Cambio_Multa_Atrazo'">
        <app-speech-multa-atrazo></app-speech-multa-atrazo>
      </div>

      <div class="PrePaid h100" *ngIf="visulizador == 'PrePaid'">
        <app-speech-pre-paid-cc></app-speech-pre-paid-cc>
      </div>

      <div class="GuionSAC h100" *ngIf="visulizador == 'GuionSAC'">
        <app-speech-guion-sac></app-speech-guion-sac>
      </div>

      <div class="jamas h100" *ngIf="visulizador == 'Jamas'">
        <app-speech-jamas></app-speech-jamas>
      </div>

      <div class="cierre_venta h100" *ngIf="visulizador == 'Cierre'">
        <app-speech-cierre-venta></app-speech-cierre-venta>
      </div>

      <div class="retornar_llamada h100" *ngIf="visulizador == 'RetornarLlamada'">
        <app-speech-retornar-llamada></app-speech-retornar-llamada>
      </div>

      <div class="BuenasNoticias h100" *ngIf="visulizador == 'BuenasNoticias'">
        <app-speech-buenas-noticias></app-speech-buenas-noticias>
      </div>

      <div class="Verified h100" *ngIf="visulizador == 'speechVerified'">
        <app-speech-verified></app-speech-verified>
      </div>


      <div class="SpeechYoPuedo h100" *ngIf="visulizador == 'yoPuedo'">
        <app-speech-yo-puedo></app-speech-yo-puedo>
      </div>

      <div class="speechMensaje h100" *ngIf="visulizador == 'speechMensaje'">
        <app-speech-mensaje></app-speech-mensaje>
      </div>

      <div class="speechAbogado h100" *ngIf="visulizador == 'abogado'">
        <app-speech-abogado></app-speech-abogado>
      </div>
<!-- ----------------------------------------------------------------------------------- -->
      <div class="venta h100" *ngIf="visulizador == 'bancoMeAyuda'"><!-- ok -->
        <app-speech-banco-me-ayuda></app-speech-banco-me-ayuda>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'citaIncumplida'"><!-- ok -->
        <app-speech-cita-incumplida-por-el-cliente></app-speech-cita-incumplida-por-el-cliente>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'cristiano'"><!-- ok -->
        <app-speech-cristiano-shakira></app-speech-cristiano-shakira>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'devuelvoLaLlamada'"><!-- ok -->
        <app-speech-devuelvo-la-llamada></app-speech-devuelvo-la-llamada>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'lecturaReparacionCredito'"><!-- ok -->
        <app-speech-lectura-reparacion-credito></app-speech-lectura-reparacion-credito>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'mecanico'"><!-- ok -->
        <app-speech-mecanico></app-speech-mecanico>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'niMeInteresa'"><!-- ok -->
        <app-speech-ni-me-interesa></app-speech-ni-me-interesa>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'telefonoEquivocado'"><!-- ok -->
        <app-speech-telefono-equivocado></app-speech-telefono-equivocado>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'tengoReporte'"><!-- ok -->
        <app-speech-tengo-reporte-de-credito></app-speech-tengo-reporte-de-credito>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'yaArregleMiCredito'"><!-- ok -->
        <app-speech-ya-arregle-mi-credito></app-speech-ya-arregle-mi-credito>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'zapatero'"><!-- ok -->
        <app-speech-zapatero></app-speech-zapatero>
      </div>

      <div class="venta h100" *ngIf="visulizador == '50puntos'"><!-- ok -->
        <app-speech50-puntos></app-speech50-puntos>
      </div>

      <div class="venta h100" *ngIf="visulizador == 'frasesDePoder'"><!-- ok -->
        <app-speech-frases-de-poder></app-speech-frases-de-poder>
      </div>
<!-- ------------------------------------------------------------------------------- -->
      <div class="venta h100" *ngIf="visulizador == 'venta'">
        <app-speech-llamada-venta></app-speech-llamada-venta>
      </div>

      <div class="menu h100" *ngIf="visulizador == 'menu'">
        <app-semanal-menu></app-semanal-menu>
      </div>

      <div class="cobro h100" *ngIf="visulizador == 'cobro'">
        <app-speech-cobro></app-speech-cobro>
      </div>

      <div class="comoCobrar h100" *ngIf="visulizador == 'comoCobrar'">
        <app-speech-como-cobrar></app-speech-como-cobrar>
      </div>

      <div class="nopagoabogado h100" *ngIf="visulizador == 'nopagoabogado'">
        <app-speech-no-pago-abogado></app-speech-no-pago-abogado>
      </div>

      <div class="nopago h100" *ngIf="visulizador == 'nopago'">
        <app-speech-no-pago></app-speech-no-pago>
      </div>

      <div class="sieteprospectos h100" *ngIf="visulizador == 'sieteprospectos'">
        <app-speech-siete-prospectos></app-speech-siete-prospectos>
      </div>

      <div class="speechTrabajaConAlguienMas h100" *ngIf="visulizador == 'speechTrabajaConAlguienMas'">
        <app-speech-trabaja-alguien-mas></app-speech-trabaja-alguien-mas>
      </div>

      <div class="speechVerifiedDelete h100" *ngIf="visulizador == 'speechVerifiedDelete'">
        <app-speech-verified-delete></app-speech-verified-delete>
      </div>

      <div class="SpeechBorradoCuentas h100" *ngIf="visulizador == 'SpeechBorradoCuentas'">
        <app-speech-borrado-cuentas></app-speech-borrado-cuentas>
      </div>

      <div class="SpeechDocumentosClienteAn h100" *ngIf="visulizador == 'SpeechDocumentosClienteAn'">
        <app-speech-documentos-cliente-ay-n></app-speech-documentos-cliente-ay-n>
      </div>

      <div class="speechAvancesPositivos h100" *ngIf="visulizador == 'speechAvancesPositivos'">
        <app-speech-avances-positivos></app-speech-avances-positivos>
      </div>

      <div class="speechCalificoTarjetas h100" *ngIf="visulizador == 'speechCalificoTarjetas'">
        <app-speech-califico-tarjetas></app-speech-califico-tarjetas>
      </div>

      <div class="speechRescate h100" *ngIf="visulizador == 'speechRescate'">
        <app-speech-rescate></app-speech-rescate>
      </div>

      <div class="speechCreeQuePagaElAcreedorOriginal h100" *ngIf="visulizador == 'speechCreeQuePagaElAcreedorOriginal'">
        <app-speech-cree-que-paga-acredor-original></app-speech-cree-que-paga-acredor-original>
      </div>

      <div class="speechCashapp h100" *ngIf="visulizador == 'speechCashapp'">
        <app-speech-cashapp></app-speech-cashapp>
      </div>

      <div class="speechFirmarContrato h100" *ngIf="visulizador == 'speechFirmarContrato'">
        <app-speech-firmarcontrato></app-speech-firmarcontrato>
      </div>

      <div class="speechAcciones h100" *ngIf="visulizador == 'speechAcciones'">
        <app-speech-acciones></app-speech-acciones>
      </div>

      <div class="speechDeposito h100" *ngIf="visulizador == 'speechDeposito'">
        <app-speech-deposito></app-speech-deposito>
      </div>

      <div class="speechLeFaltanDocumentos h100" *ngIf="visulizador == 'speechLeFaltanDocumentos'">
        <app-speech-le-faltan-documentos></app-speech-le-faltan-documentos>
      </div>

      <div class="speechArronrent h100" *ngIf="visulizador == 'speechArronrent'">
        <app-speech-arronrent></app-speech-arronrent>
      </div>

      <div class="speechPuedeSerReferido h100" *ngIf="visulizador == 'speechPuedeSerReferido'">
        <app-speech-puede-ser-referido></app-speech-puede-ser-referido>
      </div>

      <div class="speechLlamdasegtiene h100" *ngIf="visulizador == 'speechLlamdasegtiene'">
        <app-speech-llamada-seg-tiene></app-speech-llamada-seg-tiene>
      </div>

      <div class="speechTrackings h100" *ngIf="visulizador == 'speechTrackings'">
        <app-speech-tracking></app-speech-tracking>
      </div>

      <div class="speechEvidendiaTrackings h100" *ngIf="visulizador == 'speechEvidendiaTrackings'">
        <app-speech-evidencia-trackings></app-speech-evidencia-trackings>
      </div>

      <div class="speechTercerServicioAlCliente h100" *ngIf="visulizador == 'speechTercerServicioAlCliente'">
        <app-speech-tercer-servicio-al-cliente></app-speech-tercer-servicio-al-cliente>
      </div>

      <div class="speechPrimerPago h100" *ngIf="visulizador == 'speechPrimerPago'">
        <app-speech-primer-pago></app-speech-primer-pago>
      </div>

      <div class="speechCuentaDisputada h100" *ngIf="visulizador == 'speechCuentaDisputada'">
        <app-speech-cuenta-disputada></app-speech-cuenta-disputada>
      </div>

      <div class="speechCompras h100" *ngIf="visulizador == 'speechCompras'">
        <app-speech-compras></app-speech-compras>
      </div>

      <div class="speechCreditKarma h100" *ngIf="visulizador == 'speechCreditKarma'">
        <app-speech-credi-karma></app-speech-credi-karma>
      </div>

      <div class="speechPrepaidCC h100" *ngIf="visulizador == 'speechPrepaidCC'">
        <app-speech-pre-paid-cc></app-speech-pre-paid-cc>
      </div>

      <div class="speechReferido h100" *ngIf="visulizador == 'speechReferido'">
        <app-speech-referido></app-speech-referido>
      </div>

      <div class="speechRevisarbuzon h100" *ngIf="visulizador == 'speechRevisarbuzon'">
        <app-speech-revisar-buzon></app-speech-revisar-buzon>
      </div>

      <div class="speechDivisionCredito h100" *ngIf="visulizador == 'speechDivisionCredito'">
        <app-speech-division-credito></app-speech-division-credito>
      </div>

      <div class="speechNoTengoCartas h100" *ngIf="visulizador == 'speechNoTengoCartas'">
        <app-speech-no-tengo-cartas></app-speech-no-tengo-cartas>
      </div>

      <div class="speechNoAceptoCancelacion h100" *ngIf="visulizador == 'speechNoAceptoCancelacion'">
        <app-speech-no-acepto-cancelacion></app-speech-no-acepto-cancelacion>
      </div>

      <div class="speechNoHechoNada h100" *ngIf="visulizador == 'speechNoHechoNada'">
        <app-speech-no-he-hecho-nada></app-speech-no-he-hecho-nada>
      </div>

      <div class="speechReciboDeposito h100" *ngIf="visulizador == 'speechReciboDeposito'">
        <app-speech-recibio-deposito></app-speech-recibio-deposito>
      </div>

      <div class="speechBancarrota h100" *ngIf="visulizador == 'speechBancarrota'">
        <app-speech-bancarrota></app-speech-bancarrota>
      </div>

      <div class="speechRoboIdentidad h100" *ngIf="visulizador == 'speechRoboIdentidad'">
        <app-speech-robo-identidad></app-speech-robo-identidad>
      </div>

      <div class="speechCampana h100" *ngIf="visulizador == 'speechCampana'">
        <app-speech-campana></app-speech-campana>
      </div>

      <div class="SpeechLecturaCredito h100" *ngIf="visulizador == 'SpeechLecturaCredito'">
        <app-speech-lectura-credito></app-speech-lectura-credito>
      </div>

      <div class="servicio h100" *ngIf="visulizador == 'servicio'">
        <app-inicio-servicio></app-inicio-servicio>
      </div>

      <div class="bill h100" *ngIf="visulizador == 'bill'">
        <app-speech-enviar-bill></app-speech-enviar-bill>
      </div>

      <div class="cartas h100" *ngIf="visulizador == 'cartas'">
        <app-speech-no-cartas></app-speech-no-cartas>
      </div>

      <div class="sidiosquiere h100" *ngIf="visulizador == 'sidiosquiere'">
        <app-speech-si-dios-quiere></app-speech-si-dios-quiere>
      </div>

      <div class="doblepago h100" *ngIf="visulizador == 'doblepago'">
        <app-speech-doble-pago></app-speech-doble-pago>
      </div>

      <div class="planpago' h100" *ngIf="visulizador == 'planpago'">
        <app-speech-plan-pago></app-speech-plan-pago>
      </div>

      <div class="tax h100" *ngIf="visulizador == 'tax'">
        <app-speech-tax-id></app-speech-tax-id>
      </div>

      <div class="pri h100" *ngIf="visulizador == 'pri'">
        <app-speech-prisionero></app-speech-prisionero>
      </div>

      <div class="ss h100" *ngIf="visulizador == 'ss'">
        <app-speech-timesquare></app-speech-timesquare>
      </div>

      <div class="rene h100" *ngIf="visulizador == 'rene'">
        <app-rana-rene></app-rana-rene>
      </div>

      <!-- ************************ llamando!! ************************ -->
      <div class="llamando" *ngIf="llamando">
        <span>LLAMANDO A: {{cliente}}</span><span *ngIf="!hayDid" class="red ml-3">Selecciona un DID!</span>
      </div>
      <!-- ************************ llamando!! ************************ -->
      <div class="radio h100" *ngIf="visulizador == 'radio'">
        <div class="llamadaventa2" *ngIf="!toggle800">

          <br>
          <br>
          <br>
          <div class="title">
            <h1>llamada Radio</h1>
          </div>

          <div class="content">
            <br>
            <h1>Bienvenid@ a Creditomejor.com </h1>
            <h1>donde <b><u>su</u></b> crédito
            <br> es lo más <b>importante</b> </h1>
            <br />
            <br />
            ¿Prefiere su <b>llamada</b> publica o privadamente?
            <br>
            <br>
          </div>
          <div class="botones">
            <button type="button" class="btn btn-secondary" (click)="llamada = 'publica'">Publica</button>
            <button type="button" class="btn btn-secondary ml-3" (click)="llamada = 'privada'">Privada</button>
          </div>
          <br>
          <br>
          <div class="x" *ngIf="llamada.length > 5">
            <div class="priv" *ngIf="llamada == 'privada'">
              <br> OK!. Ya que ud <b>desea</b> su llamada privada,
              <br> con <b>mucho gusto</b> yo lo atiendo.
              <br>
              <br> Ud nos <b>escuchó</b> por la radio ?
              <br> O nos vio por <b>internet</b>, redes sociales?
            </div>
            <div class="priv" *ngIf="llamada == 'publica'">
              <br> Las llamadas <b>públicas</b>, ya fueron seleccionas,
              <br> pero vamos a grabar
              <br> su <b>llamada</b> para que sea utilizada
              <br> en su <b>próximo</b> programa.
              <br>
              <br> Ud nos <b>escuchó</b> por la radio ?
              <br> O nos vio por <b>internet</b>, redes sociales?
            </div>
            <br>
            <div class=" priv selec" >
              <button type="button" class="btn btn-secondary" (click)="tipo = 'rad'; red = null">Radio</button>
              <button type="button" class="btn btn-secondary ml-3" (click)="tipo = 'red'; emisora = null">Internet o Redes</button>
              <br>
              <div class="tipo" *ngIf="tipo == 'rad' ">
                <br>
                <label for="emisoras"> Emisora :</label> &nbsp;
                <select name="emisoras" [(ngModel)]="emisora" >
                  <option *ngFor="let e of emisoras" [value]="e[0]">{{ e[0] }}</option>
                </select>
                <div class="mega" *ngIf="emisora == 'La Mega' ">
                  <label for="dial">Dial</label> &nbsp;
                  <select name="dial" [(ngModel)]="dial" >
                    <option *ngFor="let d of l_m" [value]="d[0]">{{ d[0] }}</option>
                  </select>
                </div>
                <div class="LatinaFM" *ngIf="emisora == 'Latina FM' ">
                  <label for="dial">Dial</label> &nbsp;
                  <select name="dial" [(ngModel)]="dial" >
                    <option *ngFor="let d of ltn" [value]="d[0]">{{ d[0] }}</option>
                  </select>
                </div>
                <div class="RadioPoder" *ngIf="emisora == 'Radio Poder' ">
                  <label for="dial">Dial</label> &nbsp;
                  <select name="dial" [(ngModel)]="dial" >
                    <option *ngFor="let d of pod" [value]="d[0]">{{ d[0] }}</option>
                  </select>
                </div>
                <div class="RadioAleluya" *ngIf="emisora == 'Radio Aleluya' ">
                  <label for="dial">Dial</label> &nbsp;
                  <select name="dial" [(ngModel)]="dial" >
                    <option *ngFor="let d of aly" [value]="d[0]">{{ d[0] }}</option>
                  </select>
                </div>
                <div class="CanticoN" *ngIf="emisora == 'Radio Cantico NY' ">
                  <label for="dial">Dial</label> &nbsp;
                  <select name="dial" [(ngModel)]="dial" >
                    <option *ngFor="let d of ca_n" [value]="d[0]">{{ d[0] }}</option>
                  </select>
                </div>
              </div>

              <div class="tipo" *ngIf="tipo == 'red' ">
                <br>
                <label for="emisoras"> Internet :</label> &nbsp;
                <select name="internet" [(ngModel)]="red" >
                  <option *ngFor="let e of redes" [value]="e[0]">{{ e[0] }}</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>

          <div class="button">
            <button class="btn" (click)="agregarEmisora(); cambiarP('toggle800')">
              <a id="llamadaventa2">Cuenteme, como esta su credito</a>
            </button>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>
        <div class="ps h100" *ngIf="toggle800">
          <app-speech800
            [llamando$]="llamando$"
            (atrasEmit)="toggle800 = false"
            [idPadre]="id">
          </app-speech800>
        </div>
      </div>

      <div class="recover h100" *ngIf="visulizador == 'recover'">
        <div class="toggleRecover" *ngIf="!toggleRecover">
          <br>
          <br>
          <br>
          <div class="title">
            <h1>Recover</h1>
          </div>


          <div class="button">
            <button class="btn mt-5" (click)="cambiarP('toggleRecoverNuevo')">
              Prospecto Nuevo
            </button>
            <button class="btn mt-5" (click)="cambiarP('toggleRecoverActivo')">
              Cliente Activo
            </button>
          </div>

          <div class="row d-flex justify-content-center" *ngIf="cliAct">
            <div class="form-group d-flex mt-3">
              <div class="radiobnt d-flex mt-2">
                <input type="radio" class="mt-w" name="selectFilt" [(ngModel)]="selectFilt" value="nombres"> Nombres
                <input type="radio" class="mt-w ml-3" name="selectFilt" [(ngModel)]="selectFilt" value="apellidos">
                Apellidos
                <input type="radio" class="mt-w ml-3" name="selectFilt" [(ngModel)]="selectFilt" value="telefono">
                Telefono
              </div>


              <input type="search" name="buscar" placeholder="Buscar" [(ngModel)]="inp" #filtro
                class="form-control ml-3" (keyup)="filtar($event)" />
            </div>


            <div class="container mt-3" style="height: 40vh; overflow: auto">
              <table class="table table-hover table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Telefono Celular</th>
                    <th scope="col">Telefono Trabajo</th>
                    <th scope="col">Telefono Fijo</th>
                    <th scope="col">Telefono Otro</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listClientes" (click)="setId(item.id, item.nombres, item.apellidos)">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.nombres }}&nbsp;{{ item.apellidos }}</td>
                    <td>{{ item.telmovil }}</td>
                    <td>{{ item.teltrabajo }}</td>
                    <td>{{ item.telcasa }}</td>
                    <td>{{ item.telotro }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>





        </div>
        <div class="recover h100" *ngIf="toggleRecover">
          <app-speech-recover [idClienteAct]="idClienteAct"></app-speech-recover>
        </div>
      </div>

      <div class="800 h100" *ngIf="visulizador == '800'">
        <app-speech800914></app-speech800914>
      </div>

      <div class="title text-center mt-5" *ngIf="visulizador == 'inicio'">
        <h1>Bienvenid@ a Creditomejor.com </h1>
        <h1>donde <b><u>su</u></b> crédito
          <br> es lo más <b>importante</b> </h1>
      </div>

      <div class="contenido d-flex w100 p-3 mt-5" *ngIf="visulizador == 'inicio'">
        <div class="sac">
          <h3>Servicio al Cliente</h3>
          <a target="_blank" [routerLink]="['/speechsticket/servicio']">
            <img class="img_cuadro" src="../../../assets/img_ticket/servi.png" alt="">
          </a>
        </div>
        <div class="ventas">
          <h3>Ventas</h3>
          <a>
            <img class="img_cuadro ml-2" src="../../../assets/img_ticket/llamada.png" alt="">
          </a>
        </div>
        <div class="procesa">
          <h3>Procesamiento</h3>

          <a>
            <img class="img_cuadro ml-2" src="../../../assets/img_ticket/procesamiento.png" alt="">
          </a>
        </div>
      </div>

    </div>
    <div class="barra_der ">

      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/speechRoboIdentidad']">
          <img src="../../../assets/img_ticket/c-1.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/speechBancarrota']">
          <img src="../../../assets/img_ticket/c-2.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/planpago']">
          <img src="../../../assets/img_ticket/c-3.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/speechCampana']">
          <img src="../../../assets/img_ticket/c-4.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/RetornarLlamada']">
          <img src="../../../assets/img_ticket/c-5.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/c-6.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/800']">
          <img src="../../../assets/img_ticket/c-8.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/pri']">
          <img src="../../../assets/img_ticket/c-9.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/SpeechLecturaCredito']">
          <img src="../../../assets/img_ticket/c-10.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/Cierre']">
          <img src="../../../assets/img_ticket/c-11.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/c-14.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/c-12.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../assets/img_ticket/c-13.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>


