<div class="content">
  <div class=" intro ">
    <br>
    <br><p class="green">----yo le devolveré la llamada mas tarde-----</p>
    <br>
    <br> Es muy <b>difícil</b> comunicarse conmigo,
    <br> porque yo salgo en <b>varios</b> programas
    <br> de radio y <b>televisión.</b>
    <br>
    <br> Es mas <b>facil</b> que yo le llame a usted.
    <br>
    <br> Incluso <b>tengo</b> un programa en California,
    <br> hasta la <b>media</b> noche.
    <br>
    <br> ¿A que horas se <b>acuesta</b> usted a dormir?.........
    <br> porque <b>dependiendo</b> la hora que sea,
    <br> uno de mis <b>ayudantes</b> le atiende
    <br> o si tengo el tiempo <b>disponible</b>,
    <br> con mucho gusto le <b>atiendo</b> yo.
    <br>
    <br>
    <br>
  </div>
</div>
