<div class="content">
  <div class="{{intro}}">
    <br> <h1>Aaron Rents</h1>
    <br> <span style=" color:green">Si a una persona se le ha <b>borrado</b> algo y
    <br> ha pasado 4 , 5 <b>meses</b> que lleva con nosotros,
    <br> Esa persona nosotros la <b>vamos</b> a mandar
    <br> a que vaya <b>Aaron rents</b>.</span>
    <br>
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), Lo vamos a <b>enviar</b> a
    <br> <b>Aaron rents</b> a center y usted
    <br> va <b>solicitar</b> crédito
    <br> Y se lo van a <b>dar</b> para
    <br> <b>comprar</b> una licuadora
    <br> o algo <b>así</b>.
    <br>
    <br> En <b>adición</b> a eso
    <br> ¿Cuando <b>usted</b> va a ir
    <br> a su <b>tienda</b> más cercana?
    <br> para al menos sacar una <b>tostadora</b>.
    <br> Eso le va a ayudar a que
    <br> le suba el puntaje.
    <br>
    <br> Cuando una persona ya <b>recibe</b>
    <br> las <b>cartas</b> de robo
    <br> de <b>identidad</b> hay que
    <br> sacarle el <b>reporte</b>
    <br> para sacar el <b>puntaje</b>.
    <br>
    <br> Y cuando una <b>persona</b>
    <br> ya tiene un <b>tiempo</b>
    <br> con <b>nosotros</b> que se
    <br> le ha <b>borrado</b> algo
    <br> nosotros le <b>ayudamos</b>
    <br> a sacar una <b>tárjeta</b>
    <br> de <b>capital</b> One.
    <br>
    <br> <b>Usted</b> me tiene que
    <br> mantener <b>informado</b>
    <br> de eso, <b>okay</b>?
    <br>
    <br>
    <br>Alguna <b>preguntita </b>(<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br>hagame <b>todas </b> las que quiera
    <br>yo soy una <b>enciclopedia</b> .
    <br>
    <br>
    <br>Dios le <b>bendiga</b>
    <br>rica y <b>abundantemente</b>
    <br>Bye <b>bye</b> !
</div>
</div>
