<div class="content">
    <div class="{{intro}}">
        <span style="color:green;">Robo de identidad</span>
        <br>
        <br><b>¡Uy!</b> hermano<span style="color:blue;">(a)</span> (___)  
        <br>en este <b>momento</b>  
        <br>aquí me aparece algo <b>muy</b> peligroso 
        <br>yo veo que usted tiene una <b>alerta</b> 
        <br>por un <b>bloqueo</b> 
        <br>debido a un <b>posible</b> 
        <br>robo de <b>identidad</b>  
        <br>o que a usted <b>posiblemente</b>
        <br>lo<span style="color:blue;">(a)</span> están <b>confundiendo</b> con alguien.  
        <br>
        <br>Esto <b>realmente</b>  
        <br>es algo <b>muy muy</b> grave. 
        <br>
        <br>(___) ¿Usted ha <b>perdido</b> sus documentos?
        <br>
        <br>
        <span style="color:green;">ESPERAR RESPUESTA DEL CLIENTE</span>
        <br>
        <br>
        <button class="btn_g" type="button" (click)="verBtns('si')"><b>Sí</b></button>
        <button class="btn_g ml-2" type="button"  (click)="verBtns('no')"><b>No</b></button>
        <br>
        <div style="font-size: 36px;"  *ngIf="bloqueo">
            <br> <b>¡Uyyyy!</b> (____)  
            <br> lo más <b>probable</b> es que alguien 
            <br> pueda estar <b>usando</b> sus documentos 
            <br> porque aquí ya <b>tiene</b> un bloqueo 
            <br> y <b>posiblemente</b> su crédito 
            <br> ya esté muy <b>bajo</b>. 
            <br> Lo que buscan estos <b>bandidos</b> 
            <br> son personas que <b><u>NO</u></b>  
            <br> revisen su <b>reporte de crédito</b>  
            <br> porque de esta <b>forma</b> 
            <br> saben que <b>nunca</b> 
            <br> se van a <b>dar</b> cuenta  
            <br> de que <b>tiene</b> reportadas 
            <br> cosas que <b><u>NO</u></b> le pertenecen.
        </div>
        
        <div style="font-size: 36px;"  *ngIf="informac">
            <span style="color:blue;">
                <br>  <b>¡Uyyy!</b> (___)  
                <br>  esto me parece <b>demasiado</b> grave 
                <br>  porque usted ya tiene un <b>bloqueo</b> 
                <br>  como si <b>alguien</b> pudiera  
                <br>  estar <b>usando</b> su información. 
                <br>  Y le <b>pregunto</b> (___) 
                <br>  ¿Cuándo fue la <b>última</b> vez 
                <br>  que sacó su <b>reporte de crédito</b> ?
            </span>
        </div>
        
        <br> (___) Lo que <b>vamos</b> a hacer 
        <br> en este <b>momento</b>  
        <br> es <b>ingresar</b> los datos  
        <br> por un <b>segundo</b> procesador 
        <br> en donde <b>revisamos</b> estos casos 
        <br> para <b>confirmar</b> esta alerta 
        <br> y según lo que nos <b>aparezca</b> ahí  
        <br> yo le <b>voy</b> a decir  
        <br> cómo es que vamos a <b>comenzar</b> a trabajar, 
        <br> entonces <b>deme</b> un momento 
        <br> esto de nuevo me <b>tarda</b> unos minutitos 
        <br> pero <b>necesito</b> que este conmigo en la línea, 
        <br> <b><u>NO</u></b> me vaya a enganchar.
        <br> 
        <br> <span style="color:orange;">INGRESAR A CLICKFREE.COM</span>
        <br>
        <br>
        <br> Mmm… <b><u>NO</u></b> mire (___) 
        <br> efectivamente aquí <b>también</b> nos registra 
        <br> que usted tiene ese <b>bloqueo</b>  
        <br> por un <b>posible</b> robo de identidad 
        <br> o porque <b>posiblemente</b>  
        <br> lo estén <b>confundiendo</b> con alguien.  
        <br> 
        <br>  Esto de verdad es <b>bastante</b> peligroso 
        <br> porque usted <b>será</b> responsable 
        <br> de lo que <b>haga</b> el ladrón 
        <br> mientras use su <b>información</b> personal. 
        <br> 
        <br> Usted <b>podría</b> tener que pagar 
        <br> lo que <b>compre</b> el ladrón 
        <br> aunque usted <b><u>NO</u></b> sepa nada sobre las facturas. 
        <br> 
        <br> (___) esto <b>puede</b> suceder 
        <br> porque un <b>ladrón</b> 
        <br> podría <b>obtener</b> una tarjeta de crédito 
        <br> <b>usando</b> su nombre,
        <br> el ladrón <b>cambia</b> el domicilio,
        <br> las <b>facturas</b> le llegan al ladrón, 
        <br> pero él <b>nunca</b> las paga.
        <br> 
        <br> Eso <b>significa</b> 
        <br> que la <b>compañía</b> de tarjeta de crédito 
        <br> piensa que usted <b><u>NO</u></b> está pagando las facturas 
        <br> y de <b>inmediato</b> se le va 
        <br> el <b>crédito</b> para el piso 
        <br> como <b>posiblemente</b>
        <br> en este <b>momento</b> está pasando. 
        <br> 
        <br> ¿Usted <b>sabía</b>  eso?(___)
        <br>
        <br> <span style="color:green;">ESPERAR RESPUESTA DEL CLIENTE</span>
        <br> 
        <br> <b>Además</b>, un ladrón de identidad 
        <br> <b>puede</b> usar su nombre y su información para:
        <br> 
        <br> Comprar <b>cosas</b> con sus tarjetas de crédito. 
        <br> Obtener <b>nuevas</b> tarjetas de crédito. 
        <br> <b>Abrir</b> una cuenta de teléfono, electricidad o gas. 
        <br> <b>Robarle</b> su rembolso de impuestos. 
        <br> <b>Obtener</b> atención médica. 
        <br> Hacerse pasar por <b>usted</b> si lo arrestan.  
        <br> 
        <br> (___) <b>menos mal</b> que estamos hablando 
        <br> porque <b>está</b> es una situación 
        <br> bastante <b>grave</b>. 
        <br> 
        <br> Aquí debemos comenzar de <b>inmediato</b> 
        <br> a detener y <b>quitar</b> ese bloqueo 
        <br> que <b>usted</b> tiene. 
        <br> 
        <br> Lo <b>primero</b> que vamos a hacer 
        <br> es <b>establecerlo</b> a usted como 
        <br> <span style="color:blue">(Nombre tal cual está en el social) </span>
        <br> <b>único<span style="color:blue;">(a)</span></b> dueño<span style="color:blue;">(a)</span> del seguro social 
        <br> <span style="color:blue">(Número del seguro social)</span> 
        <br> que vive en la <b>dirección</b> 
        <br> (Dirección actual)
        <br> porque ese <b>solo</b> es uno  
        <br> y es <b>usted</b> 
        <br> ¿<b>Okay</b>? 
        <br> 
        <br><span style="color:green;">ESPERAR RESPUESTA DEL CLIENTE</span>
        <br> 
        <br> De ese <b>modo</b> (___) 
        <br> vamos a <b>lograr</b> establecer su identidad 
        <br> para que <b>Dios</b> mediante 
        <br> usted sea <b>reconocido</b>
        <br> como <b>único</b> dueño de su identidad 
        <br> y de su <b>crédito</b> 
        <br> y de <b>esta</b> forma 
        <br> llevemos a que con el <b>favor</b> de Dios 
        <br> nadie <b>más</b> siga usando su identidad 
        <br> y <b>evitemos</b> que su crédito 
        <br> se siga <b>yendo</b> para el piso. 
        <br> 
        <br> (___) Ya cuando su <b>identidad</b> este establecida, 
        <br> <b>también</b> vamos a asegurar 
        <br> que <b>toda</b> la documentación 
        <br> que tenga que ver con su <b>crédito</b> 
        <br> le llegue <b>solo</b> a usted 
        <br> y que <b>todo</b> pase por sus manos 
        <br> en ese <b>momento</b> (___) 
        <br> Vamos a hacer que le <b>llegue</b>
        <br> una copia del <b>reporte</b> de crédito 
        <br> <b>totalmente</b> actualizado, 
        <br> por cada uno de los <b>tres</b> buros de crédito 
        <br> que son <b>Experean Equifax y TransUnion </b> 
        <br> a su <b>única</b> dirección, 
        <br> esas <b>copias</b> pueden ir entre 2 a 20 páginas 
        <br> lo vamos a <b>revisar</b> y <b>analizar</b>, 
        <br> en ese <b>momento</b> yo necesito (___) 
        <br> que usted sea <b>muy</b> sincero<span style="color:blue;">(a)</span> conmigo 
        <br> y me <b>diga</b> cuales cuentas 
        <br> que usted <b>tenga</b> en su reporte de crédito 
        <br> 
        <br> reconoce y cuales <b><u>NO</u></b> reconoce. 
        <br> <b>Usted</b> me va a decir: 
        <br> señor<span style="color:blue;">(a)</span><span color="green">(nombre del asesor)</span> 
        <br> esa cuenta <b>si</b> es mía, 
        <br> esa la <b>reconozco</b>. 
        <br> O me va a decir <b>todo</b> lo contrario: 
        <br> <b><u>NO</u></b> señor<span style="color:blue;">(a)</span> (nombre del asesor,) <br> 
        <br> esa cuenta <b><u>NO</u></b> es mía, 
        <br> yo <b><u>NO</u></b> la reconozco. 
        <br> Y de esa <b>forma</b> podremos saber 
        <br> qué es lo que estaba <b>pasando</b> 
        <br> con su <b>identidad</b>  
        <br> cuando revisemos el <b>reporte</b>.  
        <br> Es importante que usted <b>identifique</b> <br> 
        <br> cosas que <b><u>NO</u></b> compró, 
        <br> direcciones que <b><u>NO</u></b> reconozca, 
        <br> chequeos que usted <b><u>NO</u></b> realizó, 
        <br> porque todo eso nos va a dar <b>indicios</b> 
        <br> de cómo <b>vamos</b> a llevar el caso 
        <br> de una manera <b>más</b> efectiva. 
        <br> 
        <br> (___) <b>también</b>, 
        <br> cuando revisemos su <b>reporte de crédito</b>, 
        <br> vamos a <b>identificar</b> 
        <br> todas esas cuentas que lo estén <b>afectando</b> 
        <br> sean o <b><u>NO</u></b> sean suyas, 
        <br> para comenzar a <b>disputar</b> cada una  
        <br> dándole la <b>prioridad</b>  
        <br> a esas cuentas que son mucho <b>más</b> peligrosas 
        <br> o las cuentas que usted <b>posiblemente </b> 
        <br> ni <b>siquiera</b> reconozca, 
        <br> para de esta forma <b>lograr</b>  
        <br> que su <b>puntaje</b> de nuevo 
        <br> comience a restablecerse y <b>aumentar</b> 
        <br> y también que su <b>crédito</b> este limpio. 
        <br> Además, <b><u>NO</u></b> podemos dejar a un lado 
        <br> esas cuentas que <b>usted</b> me mencionó 
        <br> con las que <b>vamos</b> a ayudarle, 
        <br> porque aparte de tener este problema con la <b>identidad</b> 
        <br> usted tiene cuentas <b>muy</b> peligrosas 
        <br> que le están <b>afectando,</b> el crédito. 
        <br> 
        <br> 
        <br> <span style="color:orange;">DECIR CUENTAS LAS CUENTAS QUE EL PROSPECTO DIJO</span>
        <br> 
        <span style="color:blue;">
            <br> Esas cuentas son: 
            <br> 
            <br> (__)cuentas en manos de abogados 
            <br> (__) cuentas con atrasos 
            <br> (__)cuentas en agencia de colecciones 
            <br> en las que le pueden lograr 
            <br> un dictamen de corte 
            <br> y embargarle hasta el 25% de su salario o ingreso.
        </span> 
        <br>
        <br> Por eso es <b>muy</b> importante 
        <br> comenzar ahora a <b>establecer</b> su crédito 
        <br> para que ese <b>bloqueo</b> 
        <br> pueda <b>desaparecer</b> 
        <br> y de esta forma <b>lograr</b> 
        <br> que <b>usted</b> pueda obtener su reporte de crédito 
        <br> y logremos <b>Dios mediante </b> 
        <br> eliminar <b>todas</b> esas cuentas 
        <br> que están <b>haciendo</b>  
        <br> que su crédito este <b>tan</b> mal.  
        <br> <b>Además</b> (___) 
        <br> <b><u>NO</u></b> <b>vaya</b> a ser 
        <br> que a <b>usted</b> le tomen 
        <br> un <b>carro</b> 
        <br> una <b>casa</b> 
        <br> lo <b>dejen</b> de pagar  
        <br> y el(la) que <b>vaya</b> preso<span style="color:blue;">(a)</span> sea usted. 
        <br> Además <b>imagínese</b> 
        <br> que a usted le logren un <b>dictamen</b> de corte, 
        <br> le envíen la <b>citación</b>, 
        <br> y <b>nunca</b> le llegue a usted, 
        <br> porque va a ir a otra <b>dirección</b> 
        <br> luego a usted le dan <b>desacato</b> de corte 
        <br> y esos ya <b>son</b> problemas 
        <br> directamente con la <b>ley</b>. 
        <br> Eso es lo que tenemos que <b>evitar</b> 
        <br> ahora que <b>estamos</b> a tiempo 
        <br> 
        <br> (___), ¿tiene alguna pregunta?
        <br> 
        <br> <span style="color:blue;">contestar pregunta en caso de que se haga alguna</span>
        <br> 
        <br> <b>Muy</b> bien (___) 
        <br> entonces vamos a <b>recapitular</b> 
        <br> para que quede <b>bien bien</b> claro 
        <br> todo lo <b>bueno</b> que vamos a hacer por usted. 
        <br> Primero, vamos a <b>establecer</b> su identidad 
        <br> ante los <b>buros</b> de crédito;  
        <br> luego vamos a hacer llegar a su <b>dirección</b> 
        <br> los reportes de crédito <b>actualizados</b> 
        <br> por cada uno de los <b>tres</b> buros de crédito. 
        <br> Como tercero, <b>vamos</b> a revisar 
        <br> los reportes para <b>identificar</b> 
        <br> qué cuentas son suyas y cuáles <b><u>NO</u></b>, 
        <br> para luego <b>comenzar</b> 
        <br> a <b>disputar</b> mes a mes 
        <br> cada una de esas <b>cuentas</b>  
        <br> que lo <b>estén</b> afectando, 
        <br> para que de esa <b>forma</b>  
        <br> su <b>puntaje</b> de crédito 
        <br> comience para <b>arriba</b>
        <br> 
        <br> Ahora <b>bien</b>,  
        <br> debido a que <b>estamos</b>  
        <br> corriendo <b>contra</b> el tiempo, 
        <br> <b>necesito</b> que le tome una foto 
        <br> ahora mismo, <b>mientras</b> hablamos, 
        <br> con su <b>celular</b> inteligente 
        <br> a su <b>seguro social</b> y su <b>licencia de conducir</b>. 
        <br> 
        <br> Su <b>licencia de conducir</b> (___), 
        <br> ¿tiene la <b>misma</b> dirección 
        <br> de donde usted vive <b>actualmente</b>?  
        <br> ¿Verdad que <b>si</b>?
        <br> 
        <br> ¿Cuál es el <b>número</b>  
        <br> de su <b>licencia de conducir</b>?
    </div>
</div>