
<div class="content">
  <div class="{{intro}}">

      <b style="color: green;">
          1. CUANDO LA PERSONA RECIBE <br>
          LA TARJETA DE CRÉDITO
          PREPAGADA
      </b>
      <br>
      <br>Muy <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br>Ahora que ya tiene la tarjeta garantizada,
      <br>esta <b>será</b> una
      <br>de muchas <b>ESTRATEGIAS</b>
      <br>que <b>vamos</b> a utilizar
      <br>para <b>incrementar</b> su puntaje,
      <br>ya que<b> NO</b> sólo
      <br>nos vamos a <b>enfocar</b>
      <br>en <b>eliminar</b> esas cuentas negativas,
      <br>sino también
      <br>¡<b>IMPULSAR</b> su puntaje
      <br>por medio de acciones como esta (<span *ngIf="cliente">{{ cliente.nombres }}</span>)!
      <br>¿Tiene alguna duda con respecto al manejo (<span *ngIf="cliente">{{ cliente.nombres }}</span>)?
      <br>
      <span style="color: green;">
      <br> (Si la tiene se retoma el escrito
      <br> de la tarjeta de crédito garantizada
      <br> y se le explica cómo se debe manejar,
      <br> luego pasamos a darle asesoría
      <br> en el crédito)
      </span>
      <br>
      <br>Hay  algo <b>importante</b> que usted debe entender
      <br>y es que este <b>proceso</b> implica
      <br>en que <b>usted</b> de ahora en adelante
      <br>va a tener una <b>vida</b> financiera
      <br>
      <b>MÁS DISCIPLINADA Y ORGANIZADA.</b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), ¿Cuantas <b>tarjetas</b>
      <br>tienen en uso en este momento?
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), lo <b>MÁS</b> importante
      <br>que mantenga un <b>balance</b> mensual
      <br>del 15 al 25% de su <b>lí­mite.</b>
      <br>
      <br>Si el límite es de <b>$500</b>
      <br>Su balance<b> deberá</b> de ser de
      <br>Entre $75 <b>a $125</b>
      <br><b>No</b> puede pagar la tarjeta completamente,
      <br><b>Ni</b> puede subir del 25%
      <br>O sea <b>No</b> puede gastar
      <br>más de $125 al mes.
      <br>
      <br>Deber ser <b>MUY RESPONSABLE (<span *ngIf="cliente">{{ cliente.nombres }}</span>)</b>.
      <br>Esto de <b>mantener</b> un balance estable
      <br>Es muy importante ya que,
      <br>El crédito es <b>tabulado</b> en un 30%
      <br>Por el <b>balance</b> que usted tiene en la tarjeta
      <br>En <b>referencia</b> al lí­mite aprobado de la tarjeta.
      <br>
      <br>Si usted <b>mantiene</b> un balance
      <br>En <b>todas</b> sus tarjetas entre
      <br>el 15 al 25% de <b>su lí­mite</b>
      <br>por <b>6 meses</b>,
      <br>Usualmente las <b>casas</b>
      <br>de las <b>tarjetas</b> de crédito
      <br>lo comienzan a reportar <b>favorablemente</b>
      <br>y <b>precisamente</b>
      <br><b>eso</b> es lo que queremos.
      <br>
      <br>Es muy <b>común</b> que después de pasar un año
      <br><b>Sin</b> atrasarse y manteniendo el balance
      <br><b>anteriormente indicado a usted</b>
      <br>Del 15 al <b>25%</b>
      <br>Es práctica <b>común</b>
      <br>Que los bancos le <b>devuelvan</b> los 500 dólares
      <br>O <b>aumenten</b> el lí­mite
      <br>De la <b>tarjeta</b>
      <br>Y la misma se <b>convierta</b>
      <br>en una tarjeta de crédito <b>normal</b>,
      <br>ayudándole a <b>subir</b> su puntaje crediticio.
      <br>El crédito usualmente es <b>evaluado</b>
      <br>de la <b>siguiente</b> forma
      <br>y por los siguientes <b>renglones:</b>
      <br>
      <br>el <b>35%</b> usualmente se vá
      <br>a basar en el <b>historial</b> de pago
      <br>o sea, los pagos <b>cumplidos</b>
      <br>a <b>tiempo</b>
      <br>que <b>usted</b> haga.
      <br>
      <br>Lo primero que cualquier <b>acreedor</b> quiere saber
      <br>es si usted ha <b>pagado a tiempo</b> sus créditos anteriores.
      <br>
      <br>Este es uno de los <b>factores</b> más importantes
      <br>en un <b>puntaje</b> FICO® Score.
      <br>
      <br><b>El 30%</b>de su aprobación de credito
      <br>usualmente se vá a<b> basar</b>
      <br>en el monto que usted <b>mantiene</b>
      <br>en relación al lí­mite <b>permitido</b> en su crédito.
      <br>
      <br>Tener cuentas de crédito y <b>deber</b> más del 25%
      <br>puede <b>significar</b> que esa persona
      <br>sea un prestatario de <b>alto riesgo</b>
      <br><b>afectándole</b> así­,
      <br>con un <b>puntaje</b>
      <br>(<b>FICO®</b> Score)
      <br><b>bajo.</b>
      <br>Lo cual <b>dificulta</b> la obtención del crédito.
      <br>
      <br>Mantener un balance  <b> más alto</b> del 25%
      <br>Del lí­mite <b>aprobado</b>
      <br>Puede <b>propiciar</b>
      <br>A que le <b>bajen</b> el lí­mite actual
      <br>De sus <b>tarjetas</b> de crédito
      <br>Bancarias o de <b>tiendas.</b>
      <br>
      <br>La <b>antigüedad</b> de las cuentas que usted tenga
      <br>Es <b>representativa</b> al 15%
      <br>Del análisis para obtención de créditos <b>nuevos.</b>
      <br>
      <br>En general, un historial de crédito <b>largo</b>
      <br>aumentará sus puntajes FICO® Score.
      <br>
      <br>Sus puntajes <b>FICO® Score</b>
      <br><b>tienen</b> en cuenta lo siguiente:
      <br><b>Cuánto</b> tiempo hace
      <br>que se <b>abrieron</b> sus cuentas de crédito,
      <br>incluyendo la <b>antigüedad</b>
      <br>de su cuenta <b>más vieja</b>,
      <br>el <b>tiempo</b> de vigencia
      <br>de su cuenta <b>más nueva</b>
      <br>y un promedio de <b>antigüedad</b>
      <br>de <b>todas</b> sus cuentas
      <br>Cuánto tiempo hace que se <b>abrieron</b>
      <br>ciertas <b>cuentas</b> de crédito..
      <br>
      <br>Cuánto tiempo ha <b>pasado</b>
      <br>desde que usted <b>uso</b>
      <br>por <b>ú ltima</b> vez ciertas cuentas
      <br>
      <br>El <b>10%</b> tiene que ver
      <br>Con la <b>combinación</b>
      <br>De créditos <b>en uso.</b>
      <br>
      <br>Los <b>puntajes</b> FICO Score
      <br><b>combinarán</b> el historial
      <br>de sus <b>tarjetas</b> de crédito,
      <br>cuentas minoristas,
      <br>préstamos a plazos.
      <br>
      <br>cuentas de compañías <b>financieras</b>
      <br>y préstamos <b>hipotecarios.</b>
      <br>
      <br>Por eso es <b>importante</b>
      <br>esta <b>tarjeta</b> de crédito garantizada
      <br>Y posteriormente le <b>indicaremos</b> de artí­culos
      <br>
      <br>que al <b>comprarlos</b>
      <br>van a ayudarle a <b>subir</b>
      <br>su <b>puntaje</b> de crédito
      <br>y por ende <b>mejorarlo</b>,
      <br>como <b>por ejemplo</b>
      <br>las <b>ollas</b> de Royal Prestige
      <br>o <b>purificadores</b> de agua
      <br>o sea <b>filtros</b> de agua.
      <br>
      <br>¿Usted tiene en <b>su casa</b> algún
      <br>sistema <b>avanzado</b> de purificación de agua?
      <br>
      <br>Bueno <b>no</b> importa.
      <br>Porque es importante que usted <b>compre</b>
      <br><b>alguno</b> de estos son sistemas
      <br>de <b>purificación</b> de agua
      <br>
      <br>Estos sistemas <b>son</b> para toda la casa
      <br>y cuestan <b>alrededor</b> de 4 o 5mil dólares,
      <br>y son <b>muy</b> beneficiosos
      <br>
      <br>Para la salud <b>de la familia entera</b>
      <br>E incluso está comprobado <b>científicamente</b>,
      <br>que ayudan a <b>prolongar</b> la vida
      <br>Del <b>ser humano</b>
      <br>Y lo <b>mejor</b> de todo es que
      <br>lo paga <b>cómodamente
      <br>A crédito</b>
      <br>
      <br>Con muy <b>cómodos</b> pagos
      <br> mensuales de tan solo
      <br><b>100</b> a 200 dólares mensuales
      <br>Por <b>corto</b> periodo de tiempo
      <br><b>Y lo mejor</b> de esto es que
      <br>
      <br>Lo <b>reportan</b> inmediatamente a su crédito
      <br>Y al pagarlos <b>bien</b>
      <br>Le ayudan a <b>subir</b> su puntaje rápidamente
      <br>
      <br>A parte de que <b>ayudan</b>
      <br>A que usted tenga una <b>variedad</b> de diferentes créditos
      <br>Que <b>son</b> necesarios
      <br>Para tener un crédito <b>saludable</b>.
      <br>
      <br>Voy a referir su nombre, <b>sin compromiso,</b>
      <br>A una empresa de equipos <b>purificadores</b> de agua
      <br>que <b>hemos</b> utilizado
      <br>Con muchos de <b>nuestros</b> clientes.
      <br>
      <br>Luego vamos a <b>referirle</b>
      <br>Para comprar un <b>automóvil</b>
      <br><b>Dios</b> mediante
      <br><b>¿Okay?</b>
      <br>
      <br><b>Perfecto (<span *ngIf="cliente">{{ cliente.nombres }}</span>)</b>,
      <br>porque <b>hay</b> acciones
      <br>que van a <b>demostrar</b>
      <br>que usted es una persona <b>fiable</b>
      <br>en cuanto al <b>crédito</b> se refiere.
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), en el <b>manejo</b> de las tarjetas
      <br>es <b>MUY</b>  importante saber.
      <br>
      <br>Algunas <b>reglas</b> deben de ser el
      <br><b>no</b> dejarla de usarla por mucho tiempo,
      <br>pues esto puede <b>hacer</b>
      <br>que la <b>CALIFICACIÓN</b> crediticia reduzca,
      <br>ya que <b>siempre</b> va a tener
      <br>un <b>MEJOR</b> puntaje si tiene
      <br>un buen<b> movimiento</b> crediticio
      <br>pues verán que es <b>organizado(a)</b>
      <br>y que <b>sabe</b> manejar créditos
      <br>y la <b>usarla</b> con regularidad.
      <br>
      <br>Tenga en cuenta que la <b>tarjeta</b>
      <br>que compre <b>o use,</b>
      <br>la <b>DEBE</b> cargar con un <b>MONTO</b>
      <br>que usted <b>SEPA</b>
      <br>que podrá <b>pagar</b> totalmente,
      <br>pues una vez que la <b>sobrecarga</b>
      <br>es donde pueden comenzar los <b>problemas.</b>
      <br>
      <br>
      <br><b>No</b> vaya a gastar más de lo que tiene,
      <br>O puede <b>manejar.</b>
      <br>Primero debe ser <b>organizado(a).</b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b>acciones</b> como estas
      <br>nos van a <b>permitir</b> llevar
      <br>un <b> buen historial</b> crediticio de aquí­ en adelante,
      <br>porque <b>no</b> tiene sentido
      <br>ayudarle a <b>reparar</b> su crédito
      <br>y que <b>usted</b> en un par de meses
      <br>me diga que <b>otra vez</b> lo dañó,
      <br>por eso debe poner de <b>su parte</b>
      <br>y tratar de que <b>sigamos</b> haciendo
      <br>un buen <b>trabajo en equipo.</b>
      <br>
      <br>¿Tiene <b>alguna</b> otra pregunta?
      <br>
      <br><span style="color: green;">(Esperar reacción.)</span>
      <br>

      <br> <b>Bueno (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br> DIOS LE BENDIGA.
      <br> Feliz dí­a</b>
      <br>
      <br>
      <br>
      <br>
  </div>
</div>
