
<div class="content">
  <div class=" intro ">
    <br>
    <br><p class="green"><b>Crédito bueno</b></p>
    <br>
    <br> La <b>diferencia</b> de 50 puntos
    <br> en una persona que <b>tiene</b>
    <br> automovil y casa <b>propia</b>
    <br> es que esa persona <b>pagaria</b>
    <br> hasta 5000$ <b>menos</b>
    <br> de <b>intereses</b> todos los años.
    <br>
    <br> <b><u>NO</u></b> importa que bueno usted
    <br> tenga el <b>puntaje</b>
    <br> usted lo puede tener <b>mejor!</b>
    <br>
    <br> En eso es lo que lo <b>ayudamos</b>
    <br> aqui en <b>creditomejor.com.</b>
    <br>
    <br> Primero a tener un mejor <b>credito</b>
    <br> y segundo a pagar <b>menos</b> intereses
    <br> que al final es economia para su <b>bolsillo</b>
    <br> para poder vivir su sueño americano.
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
