
<div class="content">
  <div class="{{intro}}">
      <br><b>Hola</b> Buenas
      <br><b>(Tardes, días, noches...)</b>
      <br>
      <br>¿Cómo ha <b>estado</b>?
      <br>
      <br>me alegra mucho <b>escuchar</b> eso,
      <br>mi <b>nombre</b> es ({{ agente }}),
      <br>y soy una de las <b>personas</b>
      <br>que va a estar <b>encargada</b> de su caso,
      <br>y haciéndole <b>CONSTANTE</b> seguimiento;
      <br>precisamente por acá me <b>encontraba</b>
      <br><b>analizando</b> su caso y además
      <br>de ver que vamos por <b>MUY</b>, MUY buen camino.
      <br>
      <br>Ya que su caso se ve muy <b>positivo</b>,
      <br>En esta etapa es <b>importante</b>
      <br>Que usted comience a <b>cosechar</b>
      <br>nuevos <b>créditos</b>, los cuáles
      <br>le van a ayudar a <b>establecer</b>
      <br>un <b>historial</b> crediticio positivo
      <br>el cual le de credibilidad <b>económica</b>
      <br>ante los <b>futuros</b> acreedores,
      <br>prestamistas e incluso <b>banqueros</b>.
      <br>
      <br>Es por eso que le <b>voy</b> a dar
      <br>Una <b>recomendación</b>
      <br>que le debe de <b>ayudar</b>
      <br>a subir su <b>puntaje</b>.
      <br>
      <br>Algunos de nuestros <b>clientes</b>
      <br>Nos han <b>dicho</b> de buena fe
      <br>que hay una <b>compañía</b>
      <br>que se dedica a la <b>purificación</b>
      <br>de agua y que la <b>ventaja</b> que ellos
      <br>tienen es que ellos <b>informan</b> inmediatamente
      <br>a las compañ;ías de los <b>buros</b> de crédito
      <br>y esto es muy <b>importante</b> porque
      <br>nosotros <b>necesitamos</b> inmediatamente
      <br>que hayan más cosas <b>positivas</b>
      <br>en su reporte de <b>crédito</b>,
      <br>asi que por <b>consiguiente</b>
      <br>nuestro <b>consejo</b>
      <br>es que tome esta <b>oportunidad</b>
      <br>que le va a <b>ayudar</b> a tener
      <br>una mejor <b>salud</b> y sobre todo
      <br>a enaltecer su <b>historial</b> crediticio
      <br>Por consiguiente le voy a <b>referir</b>
      <br>A esta <b>compañía</b> para que ellos lo llamen
      <br>y hable usted para que pueda <b>adquirir</b>
      <br>un filtro de <b>gua</b> para toda la casa
      <br>y su familia, ya que hemos <b>obtenido</b>
      <br>muy buenos <b>resultados</b> positivos
      <br>y la <b>ventaja</b> es que usted
      <br>va pagando mensualidades <b>cómodas</b>
      <br>aparte de que <b>obviamente</b>
      <br>es muy <b>importante</b> tener bien la salud.
      <br>
      <br><b>Imagínese</b>...
      <br>que <b>nosotros</b> le ayudemos
      <br>a arreglar su <b>crédito</b>
      <br>y que de <b>repente</b> usted se nos muera
      <br>porque <b>NO</b> tenía una buena purificación
      <br>de agua. Porque el agua es <b>vida</b>.
      <br>¿Verdad que <b>si</b>...?
      <br>
      <br><b>Exacto</b>...
      <br>una <b>cosa</b> va de la otra.
      <br>¿<b>Okay</b>?
      <br>
      <br>También tengo que <b>indicarle</b>
      <br>a usted que nosotros <b>probablemente</b>
      <br>en los próximos <b>(45)</b> a (60) días
      <br>lo vamos a <b>sugerir</b> a usted
      <br>para que <b>pueda</b> hacer otras compras,
      <br>que le van a <b>ayudar</b> a mover
      <br>su crédito nuevo <b>positivamente</b>.
      <br>
      <br>Dentro de esas <b>compras</b>,
      <br>es probable que <b>nosotros</b> le hagamos
      <br>la <b>sugerencia</b> de que usted vaya
      <br>a un lugar para <b>comprar</b> algún televisor
      <br>o algunos <b>muebles</b>
      <br>o algo así por el <b>estilo</b>.
      <br>
      <br>Pero, eso va <b>suceder</b>
      <br>en los <b>próximos</b> 45 a 60 días
      <br>y en <b>adición</b> posteriormente
      <br>vamos a referirle a <b>usted</b>
      <br>para que <b>pueda</b> comprar
      <br>un <b>carrito</b>, un automóvil
      <br>que con el <b>favor</b> de Dios,
      <br>le puedan dar <b>crédito</b>
      <br>para un <b>automóvil</b>.
      <br>
      <br>¿Alguna <b>pregunta</b>...?
      <br>
      <br>Okay, <b>perfecto</b>...,
      <br>entonces <b>vamos</b> para delante
      <br>con su <b>crédito</b>
      <br>no hay <b>reversa</b> para atrás,
      <br>ni para coger <b>impulso</b>
      <br><b>jajaja</b>
      <br>Que tenga un <b>excelente</b> (día/noche)
      <br>Que dios le <b>bendiga</b>
      <br>Rica y <b>abundantemente</b>...
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


  </div>
</div>
