
<div class="content">
  <div class="{{intro}}">
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br> en este momento que vamos tan <b>avanzados</b>
      <br> en su <b>reparación</b> de su crédito
      <br> es <b>muy</b> importante que usted conozca
      <br> y <b>aprenda</b> muchas cosas sobre el crédito
      <br> para ayudarle a <b>reparar</b> su crédito
      <br> así que <b>busque</b> papel y lápiz
      <br> para que tome nota de <b>todo</b>
      <br> lo que yo le voy a <b>ense&ntilde;ar.</b>
      <br>
      <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), me dice cuando los <b>tenga</b> a la mano
      <br>
      <br> <span style="color: green;">ESPERAR REACCIóN DEL CLIENTE </span>
      <br>
      <br> Muy <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br> si tiene alguna <b>pregunta</b>
      <br> a medida que le vaya<b> explicando</b>
      <br> me <b>dice</b> paramos
      <br> y yo le <b>explico</b> de nuevo
      <br> <b>¿OKAY?</b>
      <br>
      <br> <span style="color: green;"> ESPERAR REACCIóN DEL CLIENTE</span>
      <br>
      <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), El <b>crédito</b> se divide
      <br> en <b>tres</b> partes fundamentales
      <br> la <b>primera</b> que equivale a un 35%
      <br> el cual <b>tiene</b> que ver
      <br> con las cuentas <b>actuales</b>
      <br> Osea con <b>todas</b> las cuentas que usted
      <br> sigue <b>pagando</b>
      <br> o los <b>créditos</b> que
      <br> en este momento tenga <b>abiertos</b>
      <br> incluso así­ <b><u>NO</u></b> los esté utilizando.
      <br>
      <br> Por eso (<span *ngIf="cliente">{{ cliente.nombres }}</span>), es <b> muy</b> importante
      <br> que usted siga pagando <b> puntualmente</b>
      <br> <b>todos</b> sus pagos
      <br> para poder <b>mantener</b>
      <br> un <b>buen</b> historial crediticio.
      <br>
      <br> La <b>segunda</b> parte que
      <br> es muy <b>fundamental</b> en su crédito
      <br> es la que <b>tiene</b> que ver
      <br> con la cantidad de <b>balance</b>
      <br> que usted mantiene en referencia a su <b>límite</b>
      <br>
      <br> Déjeme <b>explicarle</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)!
      <br> el crédito es <b>tabulado</b> en un 30%
      <br> por el <b>balance</b> que usted tiene,
      <br> en <b>referencia</b> al lí­mite
      <br> <b>aprobado</b> de crédito resolvente
      <br> en su <b>tarjeta.</b>
      <br>
      <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), usualmente en sus <b>tárjetas; </b>
      <br> Ya sean de crédito o de <b>tiendas, </b>
      <br> <b>gasolina, </b> etcétera.
      <br>
      <br> Si usted <b>mantiene </b> un balance
      <br> En <b>todas </b> sus tarjetas entre
      <br> el 15 al <b>25% </b>
      <br> Esto será¡ muy <b>favorable </b> para usted.
      <br>
      <br> Por eso (<span *ngIf="cliente">{{ cliente.nombres }}</span>), es tan importante
      <br> los buenos pagos al tiempo <b>acordado</b>
      <br> y la buena <b>movilidad</b>
      <br> para que <b>usted</b> le dé
      <br> a su nombre <b>credibilidad</b>
      <br> para tener <b>100% </b>  de su crédito.
      <br> ¿tiene <b>alguna</b>  pregunta?
      <br>
      <br> <span style="color: green;">ESPERAR REACCIóN DEL CLIENTE </span>
      <br>
      <br>
      <div class="btn-uy mt-4">
          <button type="button" class="btn btn-danger" (click)="cambiarP('cuentaA')">
          Siguiente
          </button>
      </div>

  </div>

  <div class="{{cuentaA}}">
      <br>En cuanto a las cuentas <b> antiguas, </b>
      <br>Que es el 15% de su <b> crédito </b>
      <br>Es muy <b>importante</b> cuidarlas
      <br>Y por eso vamos a estar <b>monitoreando</b>
      <br>Junto a usted sus cuentas, deudas, <b>lí­mites</b> y balances
      <br>Para poder manejar un crédito <b>saludable.</b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b>nosotros</b> estamos generando
      <br>todo tipo de <b>reclamaciones</b>
      <br>con los <b>buros</b> de crédito
      <br>donde ya tenemos <b>muy</b> buenos avances
      <br>ahí­ le van a estar <b>llegando</b> respuestas
      <br> de los buros de crédito
      <br>a su dirección cada 2 o 3 meses <b>aproximadamente.</b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), es <b>importante</b> para eso
      <br>que usted siempre nos esté <b>actualizando</b>
      <br>toda la <b>documentación</b>
      <br>que los buros de crédito <b>solicitan</b>
      <br>para poder ayudarle a tener tan buenos <b>resultados.</b>
      <br>
      <br>ahora <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br>aquí <b>no</b> se trata de que usted
      <br>en <b> 1 o 2 años</b> me llame
      <br>
      <br>y me diga <b>señor </b>(<span *ngIf="cliente">{{ cliente.nombres }}</span>)
      <br>se me volvió a <b> dañar </b> el crédito
      <br><b>ayúdeme </b> otra vez
      <br><b>¡NOOOO! </b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>),  se trata que una vez le <b>ayudemos</b>
      <br>a <b>reparar</b> el crédito
      <br>usted sea capaz y <b>consciente</b>
      <br>de <b>mantenerlo</b> así­.
      <br>
      <br>Porque usted sabe todo el <b>tiempo</b>
      <br>y <b>proceso</b> que nos tomó,
      <br>mucho <b>esfuerzo</b>, táctica
      <br>y comprensión de las <b>leyes</b>
      <br>que le <b>benefician</b> al consumidor
      <br>de una forma muy <b>meticulosa</b>
      <br>y <b>articulada ,</b>
      <br>que solo una <b>experiencia</b>
      <br>como la de <b>nosotros</b>,
      <br>de <span style="color: blue;">creditomejor.com </span>
      <br>puedan, <b>Dios</b> mediante
      <br>obtener los <b>resultados</b> deseados.
      <br>y así poder ayudarle a <b>reparar</b> su crédito!
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), tiene que tener <b>sabidurí­a</b> salomónica
      <br>y aprovechar esta segunda <b>oportunidad</b>
      <br>que <b>Dios</b> mediante
      <br>le vamos a <b>conseguir</b>
      <br>para arreglar su <b>vida..</b>
      <br>
      <br><b>No</b> quiere decir
      <br>que su vida este <b>mal!</b>
      <br>
      <br>Pero que <b>si</b> podemos ayudarle
      <br>a tener una <b>mejor</b> vida.
      <br>Una vida crediticia <b>Excelente,</b>
      <br>de la  cual usted se sienta <b>orgulloso(a)</b>
      <br>Y que sea alguien <b>importante</b> en la sociedad.
      <br>
      <br>Que pueda tener un crédito <b>Impecable,</b>
      <br>como con el favor De <b>Dios</b>
      <br>le vamos a ayudar a <b>tenerlo.</b>
      <br><b>¿OKAY?</b>
      <br>
      <br>Entonces yo le voy a <b>explicar</b>
      <br>como debe de manejar su crédito.
      <br>
      <br>Vamos a comenzar
      <br>con una <b>pregunta</b> para usted (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br>
      <br>¿Para usted que es el <b> l­ímite</b> en un crédito?
      <br>

      <div class="btn-uy mt-4">
      <button type="button" class="btn btn-danger" (click)="cambiarP('limite')">
      Siguiente
      </button>
      </div>

  </div>

  <div class="{{limite}}">
      <br>
      <br>ok, yo le voy a explicar bien.
      <br>Como usted sabe el límite es lo <b>máximo</b>
      <br>que puede <b>obtener</b> de dinero
      <br>en ese producto <b>financiero,</b>
      <br>ya sea <b>crédito</b> personal,
      <br>hipotecario, <b>automotriz</b> o tarjeta de crédito.
      <br>
      <br>En las <b>tarjetas, </b>el crédito es regularmente revolvente
      <br>o sea que usted tiene un <b>límite</b>
      <br>lo va <b>utilizando</b> y esos cargos que realice
      <br>se van restando a su <b>cuenta.</b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), cuando pague lo que <b>utiliza</b>
      <br> de nuevo tendrá <b>todo</b> su cupo disponible.
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b> No </b> puede realizar compras que <b>excedan</b>
      <br>ese límite de crédito que le <b>asignaron,</b>
      <br><b>si</b> lo intenta simplemente es posible
      <br>que <b>no</b> va a pasar su tarjeta!
      <br>Y si le <b>aprueban</b>
      <br>la cantidad <b>adicional</b> a su limite
      <br>también <b>marca</b> su historial de crédito
      <br>de una forma <b>negativa</b>
      <br>ya que incluso lo haría ver
      <br>como una persona <b> dependiente</b> al crédito
      <br>entonces puede ser <b>muy</b> perjudicial para su puntaje.
      <br>
      <br>Ahora <b>bien</b>  (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br>

      <div class="btn-uy mt-4">
          <button type="button" class="btn btn-danger" (click)="cambiarP('balance')">
              ¿Para usted que es el balance?
          </button>
      </div>
  </div>

  <div class="{{balance}}">
      <br>Muy bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>), ahora le voy a <b>explicar</b> el balance.
      <br>es un monto que está <b>vencido</b>
      <br>y debe <b>pagarse</b>
      <br>es decir el <b>dinero</b> que usted
      <br>ha utilizado de <b>su</b> crédito
      <br>Es <b>fundamental</b>
      <br> que usted <b>solo</b> utilice
      <br><b>entre</b> el 15 y el 25% de <b>su</b> límite.
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b>no</b> debe de excederse,
      <br>bajo <b>ninguna</b> circunstancias  (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
      <br>
      <br>Eso si es que quiere <b>mantener</b> un buen crédito!
      <br>Ya qué esto va a <b>demostrar</b>
      <br>que usted es una persona <b>estable</b> en el crédito.
      <br>
      <br>Por lo tanto  (<span *ngIf="cliente">{{ cliente.nombres }}</span>), si <b>usted</b> utiliza más
      <br>Del 15 al 25% de <b>su limite</b>
      <br>es probable que a usted
      <br>lo <b>cataloguen</b> como una persona
      <br><b>necesitada</b> o <b>dependiente</b> del crédito
      <br>y va a generar que su <b>puntuación</b>
      <br>en el crédito <b>caiga.</b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), Por eso es <b>muy</b> importante
      <br>que usted me <b>siga</b> en <b>todo</b> lo que yo le diga.
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), Usted tiene que seguirme <b>ciegamente</b>
      <br>para que la <b>reparación</b> de crédito
      <br>pueda funcionarle como <b>esperamos.</b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), Le voy a <b>enseñar</b> algo que
      <br> le va a durar toda la vida.
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b>toda</b> su vida crediticia.
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), le voy a <b>enseñar</b> algo que
      <br>Le va a<b> evitar</b>
      <br>De <b>ahora</b> en adelante
      <br>A <b>no</b> caer 2 veces en la misma piedra.
      <br>
      <br>Porque yo le voy a <b>enseñar</b>
      <br>cómo mantener <b>muy</b> bien su crédito (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br>y es su deber estar <b>muy</b> comprometido(a)
      <br>con <b>todo</b> lo que vamos a hacer.
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), ¿Usted <b>está</b> comprometido
      <br>con <b>arreglar</b> su crédito?

      <div class="btn-uy mt-4">
          <button type="button" class="btn btn-danger" (click)="cambiarP('palabras')">
              Siguiente
          </button>
      </div>
  </div>

  <div class="{{palabras}}">
      <br>Esas <b>son</b> las palabras
      <br>que yo querí­a <b>escuchar!</b>
      <br>
      <br>¡(<span *ngIf="cliente">{{ cliente.nombres }}</span>), porque yo
      <br><b>no</b> gasto mi tiempo
      <br>en personas que no <b>quieren</b>
      <br>una <b>segunda</b> oportunidad!
      <br>
      <br>¿(<span *ngIf="cliente">{{ cliente.nombres }}</span>), usted <b>quiere</b> una segunda <b>oportunidad?</b>
      <br>¿Verdad que <b>si</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)?
      <br>Usted esta <b>consiente</b> que
      <br>esto <b>no</b> va a ser fácil
      <br>Y que nos va a <b>tomar</b>
      <br><b>mucho</b> tiempo
      <br>Y que <b>abrían</b> veces
      <br>que usted querrá <b>rendirse.</b>
      <br>
      <br>Pero (<span *ngIf="cliente">{{ cliente.nombres }}</span>), usted y yo <b>sabemos</b>
      <br>que probablemente eso es lo que quieran <b>algunos.</b>
      <br>¡Que usted <b>se rinda!</b>
      <br>
      <br>Y (<span *ngIf="cliente">{{ cliente.nombres }}</span>), si hemos <b>llegado</b> hasta aquí­,
      <br><b>es</b> porque me imagínese
      <br>
      <br>¡Que usted <b>no</b> es de
      <br>las personas que se <b>rinden</b>
      <br>¿Verdad que <b>si</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)?
      <br>
      <br><b>¿Correcto</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)?
      <br>
      <br>Me <b>alegra</b> saber que usted
      <br>tiene sus <b>valores</b> muy alto,
      <br>Y con el favor de <b>Dios</b>
      <br>aquí­ vamos a estar <b>apoyándole</b>
      <br>hasta que usted pueda <b>librarse</b>
      <br>de lo que <b>según</b> mi humilde opinión
      <br>es una gran <b>injusticia</b> contra usted.
      <br>
      <br>Y si usted <b>no</b> se rinde,
      <br>mucho menos tampoco <b>nosotros</b>
      <br>nos <b>rendimos,</b>
      <br>nosotros <b>seguimos</b>
      <br>para <b>adelante</b> con usted (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
      <br>
      <br>¿Usted se quiere rendir o <b>seguimos</b> para adelante (<span *ngIf="cliente">{{ cliente.nombres }}</span>)?
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), sí­game que nosotros le <b>vamos</b> a ayudar.
      <br>
      <br>Muy <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br>en cuanto a la parte
      <br>que tiene que ver
      <br>con los <b>pagos</b> y la movilidad
      <br>que equivale a un porciento de su <b>crédito</b>
      <br>voy a comenzar explicándole
      <br>que la realidad
      <br> es que para <b>mantener</b>
      <br>
      <br>Un <b>equilibrio</b> en el crédito
      <br>es mejor <b>realizar</b> los pagos al mí­nimo
      <br><b>siempre</b> y cuando
      <br><b>no</b> esté usando
      <br>del 25% de su <b>balance,</b>
      <br>como le <b>indique</b> anteriormente.
      <br>
      <br>En cambio si usted <b>utiliza</b>
      <br>mas del <b>25%</b> de su crédito revolvente,
      <br>lo <b>mejor</b> es que siempre
      <br>lo <b>recomendable</b>
      <br>es que <b>haga</b> sus pagos
      <br>lo más <b>alto</b> posible
      <br> hasta que logre <b>bajar</b>
      <br>la deuda lo <b>suficiente</b>
      <br>para que su <b>crédito</b>
      <br>quede <b>equilibrado</b> de nuevo.
      <br>O sea entre el 15 al 25% de su <b>límite,</b>
      <br>Como lo <b>indique</b> anteriormente.
      <br>
      <br> ¿(<span *ngIf="cliente">{{ cliente.nombres }}</span>), Alguna preguntita?
      <br>
      <br>Es <b>importante</b> que le quede
      <br>todo esto le quede <b>bien</b> claro
      <br>por qué de esto <b>depende</b>
      <br>que usted pueda <b>mantener</b>
      <br>siempre su crédito <b>muy, muy bien</b>
      <br>
      <br>
      <br><b>Perfecto</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), si usted
      <br><b>aplica</b> todo esto
      <br>que le vamos a estar <b>enseñando</b>
      <br>y me <b>sigue</b>
      <br>usted va a <b>ser</b> una persona
      <br>con bases <b>muy</b> solidas
      <br>y con un <b>muy</b> buen crédito,
      <br>es por eso que es <b>fundamental</b>
      <br>que usted nos <b>envié</b>
      <br><b>todos</b> los balances de sus cuentas
      <br>y los <b>estado</b> de cuenta
      <br>de todas sus cuentas <b>revolventes.</b>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), esto lo haremos <b>mes</b> tras mes
      <br>Y es <b>su responsabilidad</b> enviarme
      <br><b>todos</b> sus estados de cuentas
      <br>Al siguiente correo <b>electrónico:</b>
      <span style="color: blue;">
      <br> miscuentas@creditomejor.com
      <br> PASAR A ESTRATEGIA DE COBRO ACTUAL
      </span>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>

</div>
