
<br />
<br />Yo le voy a <b>asignar</b>
<br /><b>un</b> dia de la semana
<br />que de <b>ahora</b> en adelante
<br />es su <b>obligacion</b> llamarnos religiosamente.
<br />
<br />
<span style="color: green" >esperar reaccion del cliente y continuar...</span >
<br>
<br />Yo le voy a <b>asignar</b> el dia: _________ (<span *ngIf="cliente">{{ cliente.nombres }}</span>), <br />y de
<b>ahora</b> en adelante <br />usted me tiene que llamar <b>todos</b> los:
_________ <br />(<span *ngIf="cliente">{{ cliente.nombres }}</span>), aunque me <b>haya</b> llamado un dia antes
<br />me <b>debe</b> llamar los dias: _________ <br />¿Estamos
<b>claros</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),? <br /><b>¿Okey? ...</b>
<br />
<br />
<span style="color: green">esperar reaccion del cliente y continuar...</span>
<br />
<br />¿que <b>dia</b> es el que usted me va a llamar ?. <br /><b
  >perfecto.
</b>
yo estoy de 2 de la tarde a 10 de la noche (<span *ngIf="cliente">{{ cliente.nombres }}</span>), <br />menos mi dia
<b>libre</b> que es el: _________.
<br />
<br />
<span style="color: green">esperar reaccion del cliente y continuar...</span>
<br />
