<div class="content" #content>
  <div class="intro">
    <br><h1><b>JAMAS</b></h1>
    <br>
    <br>
    <br>Es <b>imposible</b> que una persona
    <br><b><u>NO</u></b> haya recibido una correspondencia
    <br>
    <br>Y si <b><u>NO</u></b> la recibió lo que es improbable
    <br>al menos de 2 buro <b>tuvo</b> que haber recibido.
    <br>
    <br>Yo puedo entender que un buro <b><u>NO</u></b> responda
    <br>Pero 2 <b>IMPOSIBLE</b>, 3 ¡JAMAS!.
    <br>
    <br>
    <div class="green">
      <small>
        <br> Ellos dudan de la integridad de nosotros
        <br> Debemos hacerle saber que estamos
        <br> haciendo el trabajo integridad es
        <br> igual a credibilidad.
      </small>
    </div>
    <br>
    <br>
    <br>❃ Es <b>imposible</b> usted
    <br> <b><u>NO</u></b> reciba correspondencia
    <br> Ya que los buro se <b>encuentran</b>
    <br> en diferentes <b>direcciones.</b>
    <br>
    <br>
    <div class="d-flex">
      <table class="table table-bordered" >
        <thead class="thead-dark">
          <tr >
            <th> Experian </th>
            <th> <b>TransUnion</b>  </th>
            <th> Equifax </th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>TEXAS</td>
            <td> <b>PENSILVANIA</b></td>
            <td>GEORGIA  </td>
            </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br> Necesito su <b>seguridad</b> de que
    <br> Usted o <b>ningún</b> pariente suyo,
    <br> Amigo o <b>vecino</b>
    <br> Haya <b>recibido</b> esa carta.
    <br>
    <br> Ya que si lo <b>han</b> recibido
    <br> Podría ser <b>fraude</b>
    <br> Y podríamos <b>perder</b> el caso.
    <br>
    <br> <p class="red">Esperar Respuesta del cliente</p>
    <br>
    <br>Bueno (<span *ngIf="cliente">{{ cliente.nombres }}</span>) eso <b><u>NO</u></b> puede ser,
    <br> porque es posible que
    <br> algunos <b><u>NO</u></b> respondan,
    <br> pero los tres (3) buros,
    <br> que <b><u>NO</u></b> respondan,
    <br> eso es totalmente <b>imposible.</b>
    <br>
    <br>La <b>última</b> vez que paso algo así
    <br> Resulto que la <b>pareja</b>, o algún familiar
    <br> Las <b>había</b> recibido
    <br> E <b>inadvertidamente</b>
    <br> <b><u>NO</u></b> se lo había dicho a nuestro cliente.
    <br> Por favor, <b>pregúnteles</b>
    <br> A las <b>personas</b> que vivan con usted
    <br> O a lo <b>mejor</b> a algún vecino.
    <br>
    <br>
    <br><b>Pregúntele</b> y me llama
    <br> O prefiere que le <b>espere</b> en la línea.
    <br>
    <br>
    <br> <p class="red">¡ALGUIEN TIENE QUE TENER ESAS CARTAS!</p>
    <br>
    <br> Nosotros <b>hicimos</b> nuestro trabajo,
    <br> mandamos todo con carta <b>certificadas</b>
    <br> y con <b>acuse</b> de recibo.
    <br>
    <br> si esto se trata de una <b>reclamación,</b>
    <br> entonces es <b>diferente</b> ya que tienen
    <br> un tiempo <b>estipulado</b>
    <br> que son <b>hasta</b> 45 días.
    <br>
    <small class="green">
      <br> Verificar tipo de carta enviada
      <br> Si fue por nombre y dirección
    </small>
    <br>
    <br> Su carta fue <b>recibida</b> por
    <br> el día: ____________
    <br><span class="green">Decir de que buro es:</span> _____________
    <br>
    <br> Anote el <b>número</b> del tracking
    <br>
    <br> <span class="green">Esperar que tenga Lapiz y papel</span>
    <br>
    <br> Yo entiendo que de un buro <b><u>NO</u></b> reciba
    <br> pero de 2 <b>jamás!</b>
    <br>
    <br> Voy a darle los 20 número del <b>tracking</b>
    <br> cada 4 números, deje un <b>espacio</b>
    <br> <b>¿Correcto?</b>
    <br>
    <br> ---- ---- ---- ----
    <br>
    <br> Le daré el tracking del
    <br> <span class="green">Decir de que buro es:</span> _____________
    <br> Son los mismo número <b>cambian</b> los ultmos 4
    <br> <b>¿Correcto?</b>
    <br>
    <br> ---- ---- ---- ----
    <br>
    <br> Le daré el tracking del
    <br> <span class="green">Decir de que buro es:</span> _____________
    <br> Son los mismo número <b>cambian</b> los ultmos 4
    <br> <b>¿Correcto?</b>
    <br>
    <br> ---- ---- ---- ----
    <div class="blue">
      <br> Lo primero que usted <b>tiene</b> que saber,
      <br> es que usted es el único <b>dueño</b>
      <br> <b>legítimo</b> de su seguro social
      <br> y reporte de <b>crédito.</b>
      <br>
      <br> Pero aquí <b><u>NO</u></b> se trata de una reclamación,
      <br> aquí se <b>trata</b> de que los buro
      <br> tiene que <b>reconocerlo</b> a usted
      <br> como el <b>dueño</b> legítimo
      <br> de su <b>seguro</b> social
      <br> y de su reporte de <b>crédito</b>.
      <br>
      <br> Hasta que eso <b><u>NO</u></b> suceda
      <br> con los buros de crédito <b><u>NO</u></b> podemos
      <br> ir al <b>otro</b> nivel por consiguiente
      <br> <b><u>NO</u></b> le podemos arreglar el crédito
      <br> hasta que <b><u>NO</u></b> sea reconocido
      <br> por los buros de <b>crédito.</b>
      <br>
      <br> Porque imagínese <b><u>NO</u></b> le podemos
      <br> arreglar el <b>crédito</b> de una persona
      <br> que este cometiendo <b>fraude</b>
      <br> eso es por su <b>seguridad.</b>
      <br>
      <br> Una vez nosotros <b>hayamos</b> cumplido,
      <br> los buro de <b>crédito</b>
      <br> Experian, <b>Equifax</b> y Transunion
      <br> con gusto <b>comenzamos</b> a ayudarle
      <br> a arreglar su <b>crédito.</b>
      <br>
      <br> Este <b>procedimiento</b> puede tardarse
      <br> 60 90 <b>días</b> o hasta mas,
      <br> porque estamos <b>hablando</b> de su identidad,
      <br> estamos hablando de <b><u>su</u></b> vida crediticia
      <br> y por ende estamos hablando de su <b>crédito</b>
      <br> <b>¿okay?</b>
      <br>
      <br> En el caso <b>suyo</b> se le va enviar
      <br> un email con un <b>documento</b> indicando
      <br> lo estamos <b>disputados</b>
      <br> y usted tiene que <b>indicarnos</b>
      <br> que <b><u>NO</u></b> ha recibido nada
      <br> de los buro de <b>crédito</b>
      <br> Experian <b>Equifax</b> y Transunion.
      <br>
      <br> Perooooooo si <b>usted</b> ha recibido
      <br> esa <b>contestación</b> y se dan cuenta
      <br> los buro de <b>crédito</b>
      <br> ahí si es que se puede <b>perder</b> el caso.
      <br>
      <br> Antes de yo <b>enviar</b> esa carta
      <br> necesito que <b>usted</b> se asegure
      <br> de que <b><u>NO</u></b> ha recibido esa contestación,
      <br> verifique <b>dentro</b> su casa,
      <br> o pregúntele a <b>algún</b> familiar
      <br> o vecino.
      <br>
    </div>
    <div class="red">
      <br> Si la persona me asegura, que <b><u>NO</u></b> recibió
      <br> entonces se le indica a la persona
      <br> encargada que debe enviar esa carta.
    </div>
    <br>
    <br> ¿Okay (<span *ngIf="cliente">{{ cliente.nombres }}</span>)?
    <br> ¿Tiene <b>alguna</b> otra preguntita?
    <br> ¡Hagame <b>todas</b> las que quiera!
    <br>
    <br> Yo soy una <b>enciclopedía</b>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>
</div>
