
<div class="content">
  <div class=" intro ">
    <br> Hace <b>cuanto</b> tiempo lo saco?
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) usted tal vez <b>lo</b> tiene
    <br> por <b>un solo</b> buro,
    <br> y la <b>realidad</b> es que tiene que hacerlo
    <br> por los <b>tres</b> buro de crédito,
    <br> ya que a veces hay <b>informaciones</b>
    <br> que <b>están</b> en un buro,
    <br> que <b>no</b> están en los otros
    <br> y es por eso que <b>existen</b>
    <br> 3 buros de <b>crédito</b>.
    <br>
    <br> <b>Incluso… Algunos</b> agentes a veces
    <br> <b>solo</b> verifican un Buro de crédito
    <br> Y es importante <b>verificar</b> con los 3 buros,
    <br> ya que a veces nuestro <b>crédito</b>
    <br> puede estar <b>mejor</b> o peor .
    <br> de lo que <b>creemos</b>.
    <br>
    <br> Por eso el <b>próximo</b> paso a seguir
    <br> es <b>verificar</b> el estado de su crédito
    <br> para también <b>poder</b> ver
    <br> si usted esta en <b>peligro</b> de ser demandado(a).
    <br>
    <br> Esto lo <b>hacemos</b> con una computadora,
    <br> le cuesta un <b>solo</b> dólar,
    <br> con su <b>tarjeta</b> de crédito o debito
    <br> y <b>no</b> le afecta su puntaje.
    <br> Qué tipo de computadora usted <b>tiene</b> ?
    <br> Una portátil o de <b>mesa</b>?
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




  </div>
</div>
