
.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.none {
  display: none;
}

.intro{
  line-height: 45px;
  margin: 4rem auto;
  font-size: 36px;
  text-align: center;
}
.chikito{
  height: 35px;
  width: 180px;
  font-size: 20px;
}
