
<div class="content">
  <div class=" intro ">
    <br> <p class="green">Ya arreglé mi crédito</p>
    <br>
    <br> ¿En <b>cuánto</b> está su puntaje?
    <br>
    <br>
    <br>
    <div style="width: 100%" class="mr-4">
      <div style="width: 100%; display: flex; font-size: 25px">
        <div style="width: 50%; text-align: end; margin-left: 1rem">
          <b>EXPERIAN</b>
        </div>
        <div style="width: 50%; display: flex; margin-left: 1rem; margin-top: 10px;">
          <input type="text" name="puntaje_exp" id="" [(ngModel)]="puntaje_experian" />
        </div>
      </div>
      <div style="width: 100%; display: flex">
        <div style="width: 50%; text-align: end; margin-left: 1rem; font-size: 25px;">
          <b>EQUIFAX</b>
        </div>
        <div style="width: 50%; display: flex; margin-left: 1rem; margin-top: 10px;">
          <input type="text" name="puntaje_exp" id="" [(ngModel)]="puntaje_equifax"/>
        </div>
      </div>
      <div style="width: 100%; display: flex">
        <div style="width: 50%;text-align: end; margin-left: 1rem; font-size: 25px;">
          <b>TRANSUNION</b>
        </div>
        <div style="width: 50%; display: flex; margin-left: 1rem; margin-top: 10px;">
          <input type="text" name="puntaje_exp" id="" [(ngModel)]="puntaje_trans_u"/>
        </div>
      </div>

      <br /><br /><br />
      <p class="resp fs-5" style="color: green; font-size: 2rem">
        ESPERAR REACIÓN...
      </p>
      <br />
    </div>
    <br>
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) ¿Pero qué <b>clase</b> de reparación es esa?
    <br>
    <br> ¿ <b>Como</b> es posible que
    <br> <b>ni</b> siquiera usted sepa
    <br> en <b>cuánto</b> está su puntaje?
    <br>
    <br>
    <br> <b>Dudo</b> que le estén arreglando el crédito!
    <br> Porque nosotros en <b>creditomejor.com</b>,
    <br> lo <b>primero</b> que hacemos,
    <br> es <b>mostrarle</b> su puntaje, <b>antes</b> de arreglar su crédito!
    <br>
    <br> <b><u>NO</u></b> se deje engañar,
    <br> ya que <b>hay gente</b>
    <br> <b>inescrupulosa</b> que lo único que quiere,
    <br> es <b>su</b> dinero
    <br> y <b><u>NO</u></b> le hacen el trabajo!
    <br>
    <br> En <b>cambio</b>, si usted me sigue...
    <br> nosotros podemos y <b>vamos</b>
    <br> a ayudarle a <b>arreglar</b> su crédito.
    <br>
    <br> Ahora <b>Bien</b>...
    <br> Algunas <b>personas</b> a veces
    <br> <b>solo</b> verifican un buró de crédito
    <br> Y es importante <b>verificar</b> con los 3 burós,
    <br> ya que a veces nuestro <b>crédito</b>
    <br> puede estar <b>mejor</b> o peor
    <br> de lo que <b>creemos</b>.
    <br>
    <br> Por eso el <b>próximo</b> paso a seguir
    <br> es <b>verificar</b> el estado de su crédito
    <br> para <b>poder</b> ver
    <br> si usted está en <b>peligro</b> de ser demandad<span class="blue">o(a)</span>.
    <br>
    <br> Esto lo <b>hacemos</b> con una computadora,
    <br> le cuesta un <b>solo</b> dólar,
    <br> con su <b>tárjeta</b> de crédito o débito
    <br> y <u><b>NO</b></u> le afecta su puntaje.
    <br>
    <br> ¿Qué tipo de computadora usted <b>tiene</b> ?
    <br>
    <br>
    <br>
    <br> ¿Una portátil o de <b>mesa</b> ?
    <br>
    <br>
    <br>
    <br>


  </div>
</div>
