

<div class="content">
  <br>
  <h1 class="green">Frases de poder</h1>
  <br>
  <br>
  <div class="amarillo">
    <br>El tiempo está en su <b>contra</b>.
    <br> Usted está <b>corriendo</b>
    <br> contra el <b>tiempo</b> (____).
    <br>
    <br> Mientras <b>más</b> espere...
    <br> Peor será para <b>usted!</b>
    <br> Ya que pueden <b>demandarle!</b>
    <br>
  </div>
  <br>
  <div class="aqua">
    <br> Usted fue la persona que nos <b>llamó</b>
    <br> a nosotros, nosotros <b>NO</b> la llamamos
    <br> a usted y yo <b>tengo</b> que decirle
    <br> la verdad a usted aunque le <b>duela</b>.
    <br>
  </div>
  <br>
  <div class="gris">
      <br> Dejeme <b>explicarle</b>, yo soy la persona
     <br> que habla con Mackenzie en la <b>radio</b>.
     <br> Y son cientos las <b>llamadas</b>
     <br> que recibimos y <b>lamentablemente</b>,
     <br> no las puedo atender <b>todas</b>,
     <br> Esto es lo que va a <b>suceder</b>
     <br> en esta <b>conversación</b>,
     <br> y eso es lo que ha estado <b>sucediendo</b>,
     <br> yo le voy a decir a <b>usted</b>
     <br> todos los <b>problemas</b> que tiene.
       <br>
     <br> Si usted quiere ignorar esos <b>problemas</b>
     <br> el único <b>perjudicado</b> es usted
     <br> porque después de <b>su llamada</b>
     <br> yo <b>atiendo</b> 3 o 4 llamadas
     <br> junto a todos mis <b>ayudantes</b>
     <br> y a lo último si <b>usted</b>
     <br> compra o no <b>compra</b>,
     <br> para mi es <b>irrelevate</b>.
       <br>
     <br> Yo le tengo que decir la <b>verdad</b>,
     <br> sobre todo porque si usted no <b>compra</b>
     <br> va a venir otra persona y voy a <b>hablar</b> con ella
     <br> y esa persona si me va hacer <b>caso</b>.
       <br>
     <br> Así que para mi es lo <b>mismo</b>,
     <br> sea usted que me haga <b>caso</b>
     <br> o no me haga <b>caso</b>,
     <br> sea usted que me <b>siga</b>
     <br> o no me <b>siga</b>.
       <br>
     <br> La realidad es que <b>todas</b> las personas
     <br> con las que yo hablo siempre me <b>siguen</b>
     <br> porque ellos quieren <b>arreglar</b> su crédito.
       <br>
     <br> ¿Usted quiere <b>arreglar</b> su <b>crédito</b> ?
       <br>
     <br> Yo no estoy <b>aquí</b> para decirle
     <br> lo que usted quiere escuchar sino la <b>verdad</b>.
     <br>
  </div>
  <br>
  <div class="verde-aqua">
    <br>¡Tanto nadar para morirnos en la <b>orilla</b>!
    <br>
    <br>
  </div>
    <br>
    <br>
    <br>
</div>
