<div class="content">
    <div class="{{intro}}">

                El número de <b>membresia</b> de () es <br>
                Perfecto , ya tengo el <b>número</b> de membresia suyo <br>
                se lo repito <b>nuevamente</b>, XXXX <br><br>
                
                ese es <b>su</b> número de membresia<br>
                ¿ya lo tiene bien <b>anotado</b>?<br>
                Perfecto, muy <b>bien</b>!<br>
                le <b>confirmo</b> el número de teléfono,<br>
                para llamar a <b>privacy</b> 1 800 374 82 73<br>
                <b>Recuerde</b> que como le dije anteriormente,<br>
                el reporte de crédito <b>solo</b> le costó 1,10$<br> 
                ya en este momento para que usted <b>lo</b> cancele,<br>
                porque si pasa de 7 dias le van a <b>cobrar</b> 29,99<br>
                cada mes por su membresia. <br><br>
                
                <b>Seguramente</b> le ofrecen una promocion,<br>
                usted lo que le tiene que decir<br>
                es que <b>no</b> desea seguir con la suscripcion y que la cancela. <br><br>
                
                Okay <br>
                ya yo le dejé la información<br>
                para que usted pueda hacerlo el dia de <b>hoy</b><br>
                porque <b>si no,</b><br>
                le van a <b>cobrar</b> 29,99$<br>
                todos los meses<br>
                y es su <b>responsibilidad</b> llamar<br>
                <b>hoy</b> o el día de mañana<br>
                a cancelar <br><br>
                
                <b><u>NO</u></b> es responsibilidad de nosotros.<br>
                es su responsabilidad<br>
                Estamos de acuerdo con eso? <br><br>
                
                <div class="btn-uy mt-4">
                    <button type="button" class="btnbn" (click)="cambiarP('puntaje')">
                    Usted recuerda...
                    </button>
                </div>
    </div>

    <div class="{{puntaje}}">
                <br>
                <span>(___)Usted recuerda en <b>cuanto</b> estaba su puntaje <br></span>
                la <b>ultima</b> vez que chequeo <br>
                su <b>reporte</b> de crédito? <br><br>
                
                <b>wOw</b>  (____) con eso <br>
                <b>no</b> le dan <br>
                <b>ni</b> una bicicleta! <br>
                <br>
                Es <b>mas</b><br>
                ni un <b>patin!</b><br>
                <br>
                
                <span style="color: green;"><b>(PAUSA 2 SEGUNDOS)</b></span>
                <br><br>
                (___), vamos a ver <b>porque</b> es<br>
                que usted tiene el <b> crédito</b><br>
                <b>tan</b> malo...<br>
                <br> <span style="color: green;"><b>(PAUSA 2 SEGUNDOS)</b></span>
                <br><br>
                Yo veo aca que usted  <b>tiene</b><br>
                <b>varios</b> nombres como...<br><br>
                <span style="color: green;"><b>PAUSA 3 SEGUNDOS E INDICARLE CADA NOMBRE</b><br></span>
                <br>
                Y eso se puede <b>prestar</b><br>
                para un posible <b>robo</b> de identidad!<br>
                <br>
                Tenemos que solicitar que <b>quiten</b><br>
                esos nombres que tiene <b>de mas!</b><br><br>
                
                <div class="btn-uy mt-4">
                    <button type="button" class="btnbn" (click)="cambiarP('direccion')">
                        TAMBIEN VEO QUE USTED 
                        TIENE MAS DE UNA DIRECCION...
                    </button>
                </div>
                
    </div>

    <div class="{{direccion}}">
                <br> Tambien veo que usted <b>tiene</b>
                <br> <b>mas</b> de una dirección...
                <br> 
                <br> y eso demuestra <b>inestabilidad</b>
                <br> para los <b>banqueros</b>
                <br> y posiblemente <b><u>NO</u></b> van
                <br> a querer <b>aprobarle</b>!
                <br>
                <br> Vamos a solicitar que le quiten
                <br> esas direcciones que tiene de mas...
                <br>
                <div class="btn-uy mt-4">
                    <button type="button" class="btnbn" (click)="cambiarP('inkiri')">
                        VAMOS ACHEQUEARLE CUANTAS
                        VECES HA SOLICITADO CREDITO
                    </button>
                </div>
    </div>

    <div class="{{inkiri}}">
                <br> <b>Inquires</b>
                <br> 
                <br> ahora <b>vamos</b> a ver
                <br> <b>cuántas</b> veces
                <br> le han <b>chequeado</b> su crédito
                <br> <span style="color: green;">contar las inquires y decir cuantas tiene</span>
                <br> 
                <br> Porque <b>máximo</b> solo
                <br> se pueden <b>4 veces</b> en 2 años
                <br> 
                <br> <b>uyyyy</b>, ayyy, <b>ayyy</b> , ayyyy.
                <br> Usted <b>tiene</b> <b>2</b>, <b>4</b> , 6 , <b>8</b> , 10 ….
                <br> 
                <br> Esto es <b>demasiado</b>! <br><br>
                <div class="btn-uy mt-4">
                    <button type="button" class="btnbn" (click)="cambiarP('chequeado')">
                        FIJESE QUE A USTED LE 
                        HAN CHEQUEADO SU CREDITO...
                    </button>
                </div>
    </div>

    <div class="{{chequeado}}">
        <br> Fíjese a usted le han <b>chequeado</b>
        <br> el crédito ______ <b>veces</b>
        <br> Y esta es <b>una</b> de las razones
        <br> porque usted tiene el <b>crédito</b>
        <br> <b>tan</b> malo...
        <br> 
        <br> (____) ¿Usted <b>autorizó</b>
        <br> a <b>todas</b> estas personas
        <br> a que le <b>chequearan</b> su crédito?
        <br>
        <div class="btn-uy mt-4">
            <button type="button" class="btnbn" (click)="cambiarP('borrar')">
                TENEMOS QUE AYUDARLE A BORAR
                    MUCHOS DE ESTOS INQUIRIES...
            </button>
            </div>
    </div>

    <div class="{{borrar}}">

    Tenemos que ayudarle a <b>   borrar</b> <br>
    <b>muchos</b> de estos  inquires, <br>  
    ya que esto le puede <b>   restar</b><br>
    de 3 a <b>   5 puntos</b> <br>
    <b>cada</b> uno de ellos   <br><br>

    <span style="color: green;"><b>"ejemplo: 20x5=100"</b></span>   
    <br>
    (____), probablemente <br>
    acá podemos <b>   ganar</b>_____ puntos <br>
    y a usted le <b>   faltan</b> _____<br>
    para <b>   llegar</b> a 680 puntos, <br>
    que es donde le pueden <b>   aprobar</b><br>
    una <b>   tarjeta</b> de crédito   <br><br>

    y le <b>   faltan</b> _____<br>
    para <b>   llegar</b> a 740 puntos <br>
    que es donde le<b>    pueden</b> <br>
    <b>   aprobar</b> una casa. <br><br>

    Nosotros <b>   vamos</b> a solicitar que <br>
    <b>   borren</b> los inquires que están demás<br>
    y eso le puede ayudar a subir <br>
    hasta _____<b>   puntos</b>… <br><br>

    <div class="btn-uy mt-4">
        <button type="button" class="btnbn" (click)="cambiarP('public')">
            VAMOS A VER SI A USTED
            LE HAN DEMANDADO...
        </button>
        </div>
    </div>

    <div class="{{public}}">
        <br>
        <br><b>Public record</b>
        <br>
        <br><b>vamos</b> a ver
        <br>si a usted le han <b>demandado</b>...
        
        <div class="btn-uy mt-4">
            <button type="button" class="btnbn" (click)="cambiarP('notiene')">
                NO TIENE
            </button>
        </div>
        <div class="btn-uy mt-4">
            <button type="button" class="btnbn" (click)="cambiarP('judgements')">
                SI TIENE JUDGEMENTS
            </button>
        </div>
    </div>

    <div class="{{judgements}}">
        SI <b>uyyy</b> hermana eso es <br>
        <b>muuuuy </b><br>
        <b>maaaaalo</b> <br><br>

        Porque con ese <b>dictamen</b> <br>
        le pueden <b>quitar</b> la licencia <br>
        de <b>conducir</b>  <br>
        y al quitársela pueden <b>revocarle</b><br>
        el seguro del <b>automóvil</b>.  <br><br>

        Como si esto fuera <b>poco</b>, <br>
        también pueden <b>quitarle</b><br>
        hasta la <b>cuarta</b> parte de su salario <br>
        O sea que le pueden <b>quitar</b> $_____  al mes.  <br><br>


        y si usted tiene 3 <b>dictámenes</b> <br>
        y tiene alguna <b>licencia</b> profesional <br>
        se la pueden <b>quitar</b>, <br>
        y se queda <b>sin empleo</b>!  <br><br>


        Nosotros <b>vamos</b> a <br>
        abrir  una <b>investigación</b><br> 
        y la ley es <b>muuuuy</b> clara<br>
        si ellos  <b>no</b> contestan de 30 a 45 dias<br>
        <b>tienen</b> que borrarlo <br>
        esa <b>es la ley</b>.. <br><br>

        <div class="btn-uy mt-4">
            <button type="button" class="btnbn" (click)="cambiarP('sumario')">
                VAMOS A VER EL SUMARIO SUYO...
            </button>
        </div>
    </div>

    <div class="{{sumario}}">
                <h1><span style="color: green;">Credit sumary</span></h1>
                <br>
                <br>Ahora <b>vamos</b> a ver su <b>sumario</b> de crédito…
                <br>
                <br> Aca <b>INDICA</b> que usted <b>no tieeeenee</b> casa?
                <br> 
                <br> Usted vive <b>alquilado</b><span style="color: blue;">(a)</span> (____)?
                <br> 
                <br> Cuanto <b>paga</b> usted de renta? (____)
                <br> 
                <br> <b>Huyyy</b> hermano<span style="color: blue;">(a)</span>...
                <br> Pero usted está <b>loco</b><span style="color: blue;">(a)</span>?
                <br> Por lo mismo que usted <b>paga</b> de renta,
                <br> le pueden <b>dar</b> una casita 
                <br> 
                <br> Tenemos que ayudarle a <b>sacar</b> su casita (____)!
                <br><br>
                <div class="btn-uy mt-4">
                    <button type="button" class="btnbn" (click)="cambiarP('cuentarepor')">
                        CUENTAS REPORTADAS
                    </button>
                </div>
    </div>

    <div class="{{cuentarepor}}">
                <h1><span style="color:green;"><b>Account history</b></span></h1>   
                <br> Vamos a ver el <b>detalle</b> de todas esas <b>cuentas</b>. 
                <br> 
                <br> TENEMOS QUE ABRIR UNA <b>INVESTIGACION</b>  
                <br> <b>INMEDIATAMENTE</b>.  
                <br> <b> HUYYY</b> . 
                <br> <b>ESTOY</b> VIENDO ACA  
                <br> ALGO QUE <b> NO</b> ME GUSTA… 
                <br> 
                <br> 
                <br> MENOS MAL USTED ESTA HABLANDO <b>CONMIGO </b>
                <br> POR QUE A <b>USTED </b>POSIBLEMENTE 
                <br> ESTAN PARA <b>DEMANDARLE</b>
                <br> Y LE VAN HACER LA VIDA <b>IMPOSIBLE</b>
                <br> 
                <br> <span style="color: purple;">
                <br> (____) HUBO UN <b>REPORTAJE</b> DE CBS 
                <br> QUE <b>INDICO</b> QUE DE CADA 
                <br> 5 COSAS <b>REPORTADAS</b> EN LOS BURO, 
                <br> 4 ESTABAN <b>MALAS</b> 
                <br> Y ACA ESTA EL <b>EJEMPLO</b>.
                <br> </span>
                <br> <span style="color: green;"><b>"MUCHO DRAMATISMO"</b></span>   
                <br>      
                <br> <span style="color: purple;">MIRE <b>TODAS</b> LAS COSAS 
                        <br> QUE VAMOS A <b>DISPUTAR</b> (____)...</span>
                        <br> 
                        <br> 
                        <br> <b>UYYYYYY</b>, (____)...
                        <br> SEGÚN MI <b>HUMILDE</b> OPINION 
                        <br> ESTAN SIENDO MUY <b>INJUSTOS</b> CON USTED
                        <br> 
                        <br> ACA VEO UNA <b>INCONGRUENCIAS</b> 
                        <br> ELLOS <b>NO</b> SOLO DEBEN REPORTAR LO MALO 
                        <br> SINO <b>TAMBIEN</b> LO BUENO, 
                        <br> TENEMOS QUE ABRIR UNA <b>INVESTIGACION</b> INMEDIATAMENTE. 
                        <br> 
                        <br> HUYYY . ESTOY VIENDO ACA ALGO QUE <b>NO</b> ME GUSTA...
                        <br> 
                        <br> MENOS MAL USTED ESTA <b>HABLANDO</b> CONMIGO  
                        <br> POR QUE A USTED<b> POSIBLEMENTE</b> ESTAN PARA DEMANDARLE  
                        <br> Y LE VAN HACER LA<b> VIDA </b>IMPOSIBLE
                        <br> 
                        <br>
    </div>

    <div class="{{notiene}}">
                <br> NO tiene demanda:
                <br> Ok perfecto…
                <br> así lo tenemos que mantener.. <br><br>

                    <div class="btn-uy mt-4">
                        <button type="button" class="btnbn" (click)="cambiarP('sumariod')">
                            VAMOS A VER EL SUMARIO SUYO...
                        </button>
                    </div>
    </div> 

    <div class="{{sumariod}}">
            <h1><span style="color: green;">Credit sumary</span></h1>
            <br>
            <br>Ahora <b>vamos</b> a ver su <b>sumario</b> de crédito…
            <br>
            <br> Aca <b>INDICA</b> que usted <b>no tieeeenee</b> casa?
            <br> 
            <br> Usted vive <b>alquilado</b><span style="color: blue;">(a)</span> (____)?
            <br> 
            <br> Cuanto <b>paga</b> usted de renta? (____)
            <br> 
            <br> <b>Huyyy</b> hermano<span style="color: blue;">(a)</span>...
            <br> Pero usted está <b>loco</b><span style="color: blue;">(a)</span>?
            <br> Por lo mismo que usted <b>paga</b> de renta,
            <br> le pueden <b>dar</b> una casita 
            <br> 
            <br> Tenemos que ayudarle a <b>sacar</b> su casita (____)!
            <br><br>
            <div class="btn-uy mt-4">
                <button type="button" class="btnbn" (click)="cambiarP('cuentarepord')">
                    CUENTAS REPORTADAS
                </button>
            </div>
    </div>

    <div class="{{cuentarepord}}">
            <h1><span style="color:green;"><b>Account history</b></span></h1>   
            <br> Vamos a ver el <b>detalle</b> de todas esas <b>cuentas</b>. 
            <br> 
            <br> TENEMOS QUE ABRIR UNA <b>INVESTIGACION</b>  
            <br> <b>INMEDIATAMENTE</b>.  
            <br> <b>UYYY</b>. 
            <br> <b>ESTOY</b> VIENDO ACA  
            <br> ALGO QUE <b> NO</b> ME GUSTA... 
            <br> 
            <br> 
            <br> MENOS MAL USTED ESTA HABLANDO <b>CONMIGO </b>
            <br> POR QUE A <b>USTED </b>POSIBLEMENTE 
            <br> ESTAN PARA <b>DEMANDARLE</b>
            <br> Y LE VAN HACER LA VIDA <b>IMPOSIBLE</b>
            <br> 
            <br> <span style="color: purple;">
            <br> (____) HUBO UN <b>REPORTAJE</b> DE CBS 
            <br> QUE <b>INDICO</b> QUE DE CADA 
            <br> 5 COSAS <b>REPORTADAS</b> EN LOS BURO, 
            <br> 4 ESTABAN <b>MALAS</b> 
            <br> Y ACA ESTA EL <b>EJEMPLO</b>.
            <br> </span>
            <br> <span style="color: green;"><b>"MUCHO DRAMATISMO"</b></span>   
            <br>      
            <br> <span style="color: purple;">MIRE <b>TODAS</b> LAS COSAS 
            <br> QUE VAMOS A <b>DISPUTAR</b> (____)...</span>
            <br> 
            <br> 
            <br> <b>UYYYYYY</b>, (____)...
            <br> SEGÚN MI <b>HUMILDE</b> OPINION 
            <br> ESTAN SIENDO MUY <b>INJUSTOS</b> CON USTED
            <br> 
            <br> ACA VEO UNA <b>INCONGRUENCIAS</b> 
            <br> ELLOS <b>NO</b> SOLO DEBEN REPORTAR LO MALO 
            <br> SINO <b>TAMBIEN</b> LO BUENO, 
            <br> TENEMOS QUE ABRIR UNA <b>INVESTIGACION</b> INMEDIATAMENTE. 
            <br> 
            <br> HUYYY . ESTOY VIENDO ACA ALGO QUE <b>NO</b> ME GUSTA...
            <br> 
            <br> MENOS MAL USTED ESTA <b>HABLANDO</b> CONMIGO  
            <br> POR QUE A USTED<b> POSIBLEMENTE</b> ESTAN PARA DEMANDARLE  
            <br> Y LE VAN HACER LA<b> VIDA </b>IMPOSIBLE
            <br> 
            <br>
    </div>

    
</div>