

<div class="content" style="font-size: 36px;">
  <div class="{{ intro }}"><br>

    <a target="_blank" [routerLink]="['/speechsticket/amarillo']">
      <button  style="cursor: pointer;" class="menu">AMARILLO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/verde']">
      <button  style="cursor: pointer;" class="menu">VERDE</button><br>
    </a><br><br>

    <a target="_blank" [routerLink]="['/speechsticket/cobro']">
      <button style="cursor: pointer;" class="menu">COBRO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/comoCobrar']">
      <button  style="cursor: pointer;" class="menu">COMO COBRARLE A UN CLIENTE</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/nopagoabogado']">
      <button  style="cursor: pointer;" class="menu">NO HA PAGADO LOS ABOGADOS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/sieteprospectos']">
      <button  style="cursor: pointer;" class="menu">7 PROSPECTOS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechTrabajaConAlguienMas']">
      <button  style="cursor: pointer;" class="menu">TRABAJA CON ALGUIEN MAS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/DeudaHospital']">
      <button  style="cursor: pointer;" class="menu"> DEUDA CON EL HOSPITAL</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechCreeQuePagaElAcreedorOriginal']">
      <button  style="cursor: pointer;" class="menu">CREE QUE PAGA EL ACREEDOR ORIGINAL</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechVerifiedDelete']">
      <button  style="cursor: pointer;" class="menu">VERIFIED DELETE</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/LecturaReporte']">
      <button  style="cursor: pointer;" class="menu">LECTURA REPORTE</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/SpeechBorradoCuentas']">
      <button  style="cursor: pointer;" class="menu">BORRADO CUENTAS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/SpeechDocumentosClienteAn']">
      <button  style="cursor: pointer;" class="menu">DOCUMENTACION REQUERIDA</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechAvancesPositivos']">
      <button  style="cursor: pointer;" class="menu">AVANCES POSITIVOS - RECLAMACIONES</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechCalificoTarjetas']">
      <button  style="cursor: pointer;" class="menu">CALIFICO TARJETAS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechRescate']">
      <button  style="cursor: pointer;" class="menu">EL RESCATE</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechCashapp']">
      <button  style="cursor: pointer;" class="menu">CASHAPP</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechFirmarContrato']">
      <button  style="cursor: pointer;" class="menu">FIRMA CONTRATO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechAcciones']">
      <button  style="cursor: pointer;" class="menu">CORRECCION, NOMBRE Y DIRECCION</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechLlamdasegtiene']">
      <button  style="cursor: pointer;" class="menu">45 LARGO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechTrackings']">
      <button  style="cursor: pointer;" class="menu">TRACKINGS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechEvidendiaTrackings']">
      <button  style="cursor: pointer;" class="menu">EVIDENCIA TRACKINGS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechTercerServicioAlCliente']">
      <button  style="cursor: pointer;" class="menu">QUIEN RECIBE CORRESPONDENCIA</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechPrimerPago']">
      <button  style="cursor: pointer;" class="menu">ACREDITANDO PAGO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechCuentaDisputada']">
      <button  style="cursor: pointer;" class="menu">3 CUENTAS EN DISPUTA</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechCreditKarma']">
      <button  style="cursor: pointer;" class="menu">TARJETA  PREPAGADA</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechPrepaidCC']">
      <button  style="cursor: pointer;" class="menu">PREPAID CC</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechCompras']">
      <button  style="cursor: pointer;" class="menu">MOVIMIENTOS Y COMPRAS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechReferido']">
      <button  style="cursor: pointer;" class="menu">REFERIDO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechRevisarbuzon']">
      <button  style="cursor: pointer;" class="menu">REVISAR EL BUZON</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechDivisionCredito']">
      <button  style="cursor: pointer;" class="menu">DIVISION DE CREDITO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechNoTengoCartas']">
      <button  style="cursor: pointer;" class="menu">NO TENGO CARTAS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechReferido']">
      <button  style="cursor: pointer;" class="menu">REFERIDO - B8</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechNoAceptoCancelacion']">
      <button  style="cursor: pointer;" class="menu">NO ACEPTO CANCELACION</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechNoHechoNada']">
      <button  style="cursor: pointer;" class="menu">NO HAN HECHO NADA</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechReciboDeposito']">
      <button  style="cursor: pointer;" class="menu">RECIBO DE DEPOSITO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechCuentaDisputada']">
      <button  style="cursor: pointer;" class="menu">COMO SI ESTO FUERA POCO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechVerified']">
      <button  style="cursor: pointer;" class="menu">VERIFIED</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/yoPuedo']">
      <button  style="cursor: pointer;" class="menu">YO PUEDO ESPERAR</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/nopago']">
      <button  style="cursor: pointer;" class="menu">NO PAGO LA CUENTA</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechMensaje']">
      <button  style="cursor: pointer;" class="menu">MENSAJES Y LLAMADA PERDIDA</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/CuadroObjeciones']">
      <button  style="cursor: pointer;" class="menu">OBJECIONES</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/speechLeFaltanDocumentos']">
      <button  style="cursor: pointer;" class="menu">LE FALTAN DOCUMENTOS</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/Cambio_Multa_Atrazo']">
      <button  style="cursor: pointer;" class="menu">CAMBIO DE PAGO/MULTA POR ATRAZO</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/GuionSAC']">
      <button  style="cursor: pointer;" class="menu">GUION SERVICIO AL CLIENTE</button><br>
    </a>

    <a target="_blank" [routerLink]="['/speechsticket/TieneNoTieneTiempo']">
      <button  style="cursor: pointer;" class="menu">TIENE TIEMPO NO TIENE TIEMPO</button><br>
    </a>

<!--     <a target="_blank" [routerLink]="['/speechsticket/   ']">
      <button  style="cursor: pointer;" class="menu">RECLUTAMIENTO </button><br>
    </a> -->

  </div>
</div>

