<div class="content" style="font-size: 36px;">
  <div class="{{ intro }}">
          <br>
          <br> <h1 style="color: green;">No a pagado los abogados</h1>
          <br>
          <br> Lo primero que hago es <b>buscar</b>
          <br> por <b>dónde</b> nos pueden dañar
          <br> y miro a ver en <b>cuanto</b> se
          <br> convierte esa <b>deuda</b>.
          <br>
          <br> Y obviamente cuando yo <b>encuentro</b>
          <br> donde nos puede <b>dañar</b> entonces
          <br> busco a ver cuánto puede ser el <b>daño</b>.
          <br>
          <br>Una vez se haya <b>encontrado</b> el daño
          <br>
          <br><span> Qué <b>tiempo</b> le pueden cobrar esa deuda</span>
          <br>
          <br>¿Qué es <b>mejor</b>?
          <br>
          <br>¿Qué usted <b>pague</b> el daño?
          <br>
          <br>¿O que me pague <b>265</b> dólares
          <br> <span style="color: blue;">semanal/quincenal/mensual</span>?
          <br>
          <br> También le <b>indico</b> que
          <br> nosotros hemos <b>cumplido</b>
          <br> y que nosotros hemos <b>ayudado</b>
          <br> a evitar que le <b>demanden</b>
          <br> y le <b>pregunto</b> herman<span style="color: blue;">o/a</span> (____)
          <br>
          <br>¿Verdad que a usted <b><u>NO</u></b> lo han demandado?
          <br>
          <br> <span style="color: green;">le va a decir que <b><u>NO</u></b> y responde:</span>
          <br>
          <br> Okay herman<span style="color: blue;">o/a</span> (____),
          <br> ya <b>logramos</b> el objetivo pero
          <br> hay unas <b>cartas</b> que hay que mandar
          <br> para seguir <b>evitando</b> con el favor de Dios
          <br> que le <b>demanden</b>.
          <br>
          <br> Esa <b>carta</b> a usted se le dijo
          <br> que el <b>primer</b> pago de los abogados
          <br> era el inicial <b>más</b> el primer pago.
          <br>
          <br> Y usted debe <b>ese</b> entonces
          <br> tengo que <b>indicarle</b> que usted
          <br> <b>prácticamente</b> ha pagado
          <br> <span style="color: blue;">(Todo/Casi todo/No ha pagado nada)</span>
          <br> de los <b>abogados</b>.
          <br>
          <br> Pero sin esa parte <b><u>NO</u></b> se envían
          <br> unas cartas <b>cruciales</b> para ayudar
          <br> con el favor de <b>Dios</b>
          <br> que <b><u>NO</u></b> lo demanden
          <br> y aquí se está <b>grabando</b>
          <br> toda la <b>conversación</b>.
          <br>
          <br> Yo le estoy <b>diciendo</b>
          <br> lo que le va a <b>suceder</b> a usted,
          <br> Si usted <b><u>NO</u></b> lo hace
          <br> entonces ya es <b>problema</b> suyo
          <br> porque yo le estoy <b>diciendo</b>.
          <br>
          <br> ¡Tanto <b>nadar</b> para morirnos en la orilla!
          <br>
          <br> Y luego de eso es que va a <b>buscar</b>
          <br> si tiene algún <b>resultado</b>,
          <br> Es todo esto ante la <b>conversación</b>
          <br> obviamente sino lo estoy <b>atrincherando</b>.
          <br>
          <br> Busco las <b>cartas</b> que se mandaron,
          <br> y después busco el <b>Whatsapp</b>
          <br> porque si <b><u>NO</u></b> han envíado cartas
          <br> para que <b>buscar</b> Whatsapp.
          <br>
          <br> Tengo el <b>Whatsapp</b>,
          <br> tengo las <b>cartas</b> que se enviaron,
          <br> tengo las <b>contestaciones</b>,
          <br> ya le enseño que hemos dado <b>resultados</b>.
          <br>
          <br> Que lo primero que hemos <b>logrado</b>
          <br> es ayudar a evitar que lo <b>demanden</b>
          <br> y que eso que ya lo <b>tiene</b> porque nosotros
          <br> se lo hemos <b>prometido</b> a usted,
          <br> que iba a <b>suceder</b> a los 3 o 4 meses
          <br> <b>sucedió</b> en (__) días.
          <br>
          <br> Nosotros hemos ido <b>avanzando</b>
          <br> usted es el que ha <b>frenado</b>,
          <br> usted es el que está <b>cometiendo </b>
          <br> un acto de <b>terrorismo</b> contra
          <br> su <b>crédito</b>.
          <br>
          <br> Porque si usted hubiera <b>pagado</b>
          <br> la parte del <b>abogado</b> ya hubiéramos
          <br> empezado a <b>arreglar</b> el crédito suyo,
          <br> a parte de <b>resolver</b> el problema de que
          <br> lo demanden a usted con el favor de <b>Dios</b>.
          <br>
          <br> Nosotros lo hemos <b>llamado</b> (_0_) veces
          <br> yo tengo aquí <b>cada</b> llamada si quiere
          <br> le mando una <b>fotografía</b> para que usted vea.
          <br>
          <br> <b>Entonces</b> herman<span style="color: blue;">o/a</span> (____)
          <br> nosotros hemos hecho nuestros <b>papeles</b>
          <br> usted <b>tiene</b> que hacer el suyo
          <br> porque <b>aquí</b> de los dos
          <br> el <b>único</b> culpable es usted.
          <br>
          <br>¿Usted va a <b>cumplir</b>?
          <br><br>

          <button class="btn_g" type="button" (click)="verBtns('bnyes')">SÍ</button>

          <button class="btn_g" type="button"  (click)="verBtns('bnnw')">NO</button>


          <div style="font-size: 36px;"  *ngIf="butonYes">
              <br> Nosotros <b>estamos</b> cumpliendo
              <br> Ya hemos <b>avanzado</b> porque
              <br> ya usted ha visto <b>resultados</b> y
              <br> vió que lo <b>reconocieron</b>
              <br> fíjese que <b><u>NO</u></b> lo han demandado.<br><br>
          </div>


          <div style="font-size: 36px;"  *ngIf="butonNon">
              <br>¿Qué está <b>esperando</b>?
              <br>
              <br>¿Qué lo <b>demanden</b> para que me llame?
              <br>
              <br>¿A que le quiten hasta el <b>25%</b> de
              <br> su <b>salario</b> para que usted me llame?<br><br>
          </div>


          <br>
          <br> Nosotros le <b>dijimos</b> cuál era el plan
          <br> para trabajar con la <b>restauración</b>
          <br> de su <b>crédito</b>.
          <br>
          <br> Y de los <b>dos</b> usted es el que tiene
          <br> que crear <b>conciencia</b> de lo que nosotros
          <br> hemos hecho, le <b>repito</b>, el trabajo.
          <br>
          <br> Ahora <b>bien</b> herman<span style="color: blue;">o/a</span> (____),
          <br> Lo <b>importante</b> es sacarlo a usted
          <br> del <b>problema</b> que usted está,
          <br> Las cartas suyas están <b>listas</b> hace tiempo
          <br> ahora hay que <b>cambiar</b> la fecha obviamente.
          <br>
          <br> <label for="hor">¿A qué <b>hora</b> usted hace su pago?</label>
          <br>
          <br> <input type="time">
          <br>
          <br> Yo veo aquí que usted lo <b>hizo</b>
          <br> por (______) si quiere vamos a <b>entrar</b>
          <br> y procedemos a hacer su <b>pago</b>.
          <br>
          <br>¿Lo tiene <b>completo</b>?
          <br>
          <button class="btn_g" type="button" (click)="verBtns('btncum')">SÍ</button>
          <button class="btn_g" type="button" (click)="verBtns('btnnocum')">NO</button>

          <div style="font-size: 36px;"  *ngIf="btncumplio">
              <br>¿Cuánto <b>tiene</b> ahora?
              <br>
              <br> <span style="color: green;">(Esperar reacción del prospecto)</span>
              <br>
              <br> <b>Okay</b> herman<span style="color: blue;">o/a</span> (____).
              <br>
              <br>¿Usted <b>cobra</b> qué día?
              <br>
              <br>¿Lunes, martes, <b>miércoles</b>, jueves, viernes?
              <br>
              <br> <span style="color: green;">(Esperar reacción del prospecto)</span>
              <br>
              <br>¿El <b>próximo</b> pago es de cuánto?
              <br>
              <br> <span style="color: green;">(Esperar reacción del prospecto)</span>
              <br>
              <br> Tiene que <b>buscar</b> el problema
              <br> tiene que <b>ver</b> los pagos,
              <br> si es una persona que ya <b>pagó</b>
              <br> lo <b>completo</b> del abogado es decir,
              <br> que ya pagó la <b>mensualidad</b> y
              <br> el <b>primer</b> pago suyo fue hacia el abogado
              <br> pero también <b>sirvió</b> para nosotros
              <br> ayudarle a usted a que fuera <b>reconocido</b>
              <br> por los <b>burós</b> de crédito.
              <br>
              <br>
          </div>

          <br>
          <br> ¿O tiene que <b>pagar</b> una parte?
          <br>
          <br> <span style="color: green;">(Esperar reacción del prospecto)</span>
          <br>
          <br> Aquí hay una <b>cosa</b>
          <br> ya un <b>buró</b> mandó
          <br> quiere <b>decir</b> que
          <br> los <b>otros</b> mandaron
          <br> y usted <b><u>NO</u></b> lo ha mandado
          <br> Es una <b>falta</b> suya.
          <br>
          <br> Usted tiene que <b>enviárnos</b>
          <br> <b>toda</b> la correspondencia
          <br> Nosotros llevamos <b>15</b> años en esto
          <br> y sabemos lo que <b>tenemos</b> que hacer
          <br> Y usted nos tiene que <b>seguir</b> ciegamente.
          <br>
          <br> Porque <b>fíjese</b> que usted
          <br> <b>paga</b> (_0_) de renta
          <br> y <b>ahora</b> mismo usted tuviera
          <br> la mitad de camino o <b>más</b> cerca
          <br> de tener su <b>casa</b> propia.
          <br>
          <br> A partir de este <b>momento</b> herman<span style="color: blue;">o/a</span> (___),
          <br> yo necesito tener <b>confianza</b> ciegamente
          <br> para ayudarle a <b>resolver</b> el problema suyo.
          <br>
          <br>¿<b>Okay herman<span style="color: blue;">o/a</span> (____)</b>?
          <br>
          <br> <span style="color: green;">(Esperar reacción del prospecto)</span>
          <br>
          <br> <b>Entonces</b> herman<span style="color: blue;">o/a</span> (____),
          <br> yo estoy <b>viendo</b> aquí
          <br> que a usted le <b>falta</b>
          <br> estos <b>documentos</b>
          <br> para <b>sacar</b> las cartas.
          <br>
          <br> <b>Envíeme</b> en este momento
          <br> esos <b>documentos</b>.
          <br>
          <br> <span style="color: green;">Si el <b>cliente</b> dice:
          <br> "Yo quiero hacer esto <b>después</b>"</span>
          <br>
          <br> ¡<b><u>NO</u></b>, <b><u>NO</u></b>, <b><u>NO</u></b>, es ahora!
          <br>
          <br> <span style="color: green;">(Después que tenga esa documentación)</span>
          <br>
          <br> <b>Okay</b> herman<span style="color: blue;">o/a</span> (____),
          <br> <b>vamos</b> a hacer un pago,
          <br> ese es el <b>procedimiento</b>.
          <br>
          <br>
          <br>
          <br>
          <br>
  </div>
</div>
