
<div class="content">
  <div class="{{intro}}">
    <b>CLIENTE QUE LLAMA Y DICE QUE
      <br>YA HIZO SU PRIMER PAGO</b>
      <br>
      <br>
      <b>Estupendo</b> (______),
      <br><b>No</b> se retire de la línea
      <br>Para proceder a <b>notificarle</b>
      <br>al <b>departamento</b> de contabilidad
      <br>para que <b>acrediten</b> su pago
      <br>y conseguir la debida <b>autorización</b>
      <br>para que <b>sus</b> cartas puedan ser enviadas al correo
      <br>y <b>continuar</b> con su proceso
      <br>para ayudarle a <b>arreglar</b> su crédito.<br>
      <br>
      <br><span style="color: green;">(Esperar de 3 a 5 minutos)</span>
      <br>
      <br><b>Perfecto</b> (______)!<br>Ya <b>acreditamos</b> su pago
      <br>Y <b>conseguimos</b> la aprobación
      <br>para <b>continuar</b> ayudándole
      <br>a <b>reparar</b> su crédito.
      <br>Ahora <b>bien</b> (______),
      <br>voy a aprovechar para <b>explicarle</b>
      <br><b>todo</b> lo que usted va
      <br>a esperar de nuestros <b>servicios.</b>
      <br>
      <br>(______), nosotros <b>reclamamos</b>
      <br>a los tres <b>buros</b> de crédito
      <br>las <b>inconsistencias</b>, mal informaciones
      <br>y a veces <b>injusticias</b>
      <br>que <b>existen</b> en los reportes de crédito
      <br>como el <b>suyo.</b><br>
      <br>(______), esto lo hacemos por medio de <b>reclamaciones</b>
      <br>A los <b>tres</b> buros de crédito
      <br>que son experian, <b>equifax</b> y transunion;
      <br>enviándoles toda la <b>documentación</b>
      <br>de todas las cuentas que estamos <b>disputando</b>,
      <br>por eso es <b>MUY IMPORTANTE</b>
      <br>que en este momento <b>lleguemos</b>
      <br>a una fecha <b>EXACTA</b>  del pago mensual
      <br>que usted nos <b>debe</b> hacer correcto?
      <br>
      <br>
      <span style="color: green;">(Esperar reacción.)</span>
      <br>
      <br>(______), ese acuerdo se debe <b>realizar</b>
      <br>y tomarlo de manera <b>RESPONSABLE Y SERIA</b>,
      <br>porque en eso va a <b>consistir</b>
      <br>el acuerdo que <b>vamos</b> a hacer
      <br>para poder ayudarle a luchar arduamente
      <br>con las <b>reclamaciones</b> a los 3 buros de crédito,
      <br><b>agencias</b> con las cuales vamos a monitorear,
      <br><b>cuestionar</b>, reclamar y Dios mediante
      <br>ayudarle a <b>restablecer</b>
      <br>sus <b>derechos</b> crediticios
      <br>para poder <b>arreglar</b> su crédito.
      <br>
      <br>El día de <b>hoy</b> {{ hoy | date:'longDate' }}
      <br>de <b>ahora</b> en adelante,
      <br><b>TODOS</b> sus pagos
      <br><b>serán</b> el día {{ pro | date:'longDate' }}
      <br>de <b>cada</b> mes
      <br><b>puntualmente.</b><br><br>
      <br>
      <br>(______), esa <b>es</b> la fecha que voy a
      <br><b>estipular</b> en la documentación
      <br>que voy a estar <b>enviando</b> mes tras mes,
      <br>ya que nosotros <b>trabajamos</b>
      <br>con un servicio <b>automatizado</b>
      <br>y por esa razón la fechas
      <br>que el día de hoy <b>estamos</b> acordando
      <br>es <b>INCAMBIABLE,</b>
      <br>
      <br>es decir <b>NO</b> se puede modificar
      <br>para poder trabajar <b>diligentemente</b>
      <br>con su <b>caso.</b>
      <br>
      <br>Que dia usted cobra en la semana,
      <br>
      <select>
            <option></option>
            <option value="lunes">Lunes</option>
            <option value="martes">Martes</option>
            <option value="miercoles">Miercoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sabado">Sabado</option>
            <option value="domingo">Domingo</option>
      </select>
      en la
      <select>
        <option></option>
            <option value="primera">Primera semana</option>
            <option value="segunda">Segunda semana</option>
            <option value="tercera">Tercera semana</option>
            <option value="cuarta">Cuarta semana</option>
            <option value="quinta">Quinta semana</option>
      </select><br>Pago quincenal
      <select>
        <option></option>
            <option value="si">Sí</option>
            <option value="no">No</option>
      </select>

      (______), <br>

      <b> si</b> yo envío este acuerdo de documentación<br>
      <br>los días <b>( FECHA DE PAGO ACORDADO)</b> <br>
      <br>
      <input type="date">
      <input type="time">
      <input type="week">
      <br>
      <br>y <b>luego</b> usted falla
      <br>o <b>intenta</b> cambiar la fecha;
      <br>eso nos <b>obliga</b>
      <br>a enviar de nuevo <b>todos</b> los documentos
      <br>para que los <b>hagan</b> desde cero,
      <br>y <b>tendríamos</b> que cambiar
      <br>la <b>fecha</b> de envío
      <br>de las cartas de <b>cada</b> mes,
      <br>y eso lo <b>haría</b> ver
      <br>como una persona <b>poco</b> sería
      <br>y van a <b>dilatar</b> todo el proceso
      <br>de las <b>disputas</b> que vamos a hacer
      <br>y puede <b>perjudicar</b> su caso
      <br>e incluso hacerlo <b>más</b> largo
      <br>y me <b>imagino</b>
      <br>que usted <b>quiere</b> restablecer
      <br><b>su</b> crédito
      <br>a la mayor <b>brevedad</b> posible <br>
      <br><br><br>
      ¿<b>Verdad</b> que si (______)?
      <br>
      <br>(______), usted ha <b>entendido</b>
      <br>bien <b>claro</b> todo lo que
      <br>le he <b>dicho</b>?
      <br>¿Verdad que <b>si </b>(______)?
      <br>
      <br><br>
      <span style="color: green;">(Esperar reacción del cliente.)</span><br>
      <br>
      <br>
    <div class="btn-uy mt-4">
        <button type="button" class="btn btn-danger" (click)="cambiarP('precompromiso')">
                Siguiente
        </button>
    </div>


  </div>

  <div class="{{precompromiso}}">
    <br>
    <br><b>PERFECTO (______)!</b>
    <br>Es <b>importante</b> que usted sepa
    <br>que nosotros tomamos <b>su caso</b>
    <br><b>muy</b> seriamente y que
    <br>esto es un <b>COMPROMISO.</b>
    <br>
    <br>En donde el <b>objetivo</b>
    <br>es <b>cumplir</b> el sueño
    <br>de que <b>usted</b> pueda
    <br>restablecer o <b>mejorar</b> su crédito.
    <div class="btn-uy mt-4">
      <button type="button" class="btn btn-danger" (click)="cambiarP('compromiso')">
              Siguiente
      </button>
  </div>
  </div>

  <div class="{{compromiso}}">

    <br>
    <br>Para con el favor de <b>Dios</b>
    <br>poder tener <b>tarjetas</b> de crédito,
    <br>tener un <b>automóvil</b>
    <br>o <b>mejorarlo</b> y con el favor
    <br>de <b>Dios</b> poder tener una casa <b>propia,</b>
    <br>de ser <b>PERSONA</b> en este país
    <br>y dejarle un <b>legado</b> a sus hijos,
    <br>pero esto <b>implica</b> un sacrificio
    <br>y <b>no</b> todo el mundo
    <br>está dispuesto(a) a <b>sacrificarse,</b>
    <br>usted debe tener <b>claro</b>
    <br>que este <b>compromiso</b>
    <br>sólo <b>hacen</b> las personas
    <br>que quieren un <b>MEJOR</b> futuro
    <br>y que están <b>dispuestos</b>
    <br>a <b>esforzarse</b> para conseguirlo.
    <br>
    <br>Ahora <b>bien</b> (______),
    <br>de <b>mi</b> parte
    <br>y en <b>nombre</b> de creditomejor.com
    <br>yo me <b>comprometo</b>
    <br>a trabajar con usted y <b>para usted</b>
    <br><b>INCANSABLEMENTE</b>
    <br>y a <b>luchar</b> junto a usted
    <br>por <b>sus</b> sueños,
    <br>ya que usted va a <b>tener</b> asesorí­a
    <br>las <b>24 horas</b> del dí­a,
    <br><b>los 7 días</b> de la semana,
    <br>con un <b>grupo</b> de muchísimas personas
    <br>que <b>conforman</b>
    <br>al <b>departamento</b> de Procesamiento,
    <br>Departamento de <b>reclamaciones</b>, el
    <br>Departamento de <b>Verificaciones</b>, el
    <br>Departamento de <b>disputas</b>, todos estos
    <br>Departamentos trabajan en favor de <b>usted</b>,
    <br>Departamento de asesoría <b>crediticia</b>,
    <br><b>Departamento</b> de ayuda al consumidor
    <br>Departamento de estadí­sticas <b>crediticias</b>
    <br>Departamento de manejo de agencias de <b>colecciones</b>
    <br>Y entre <b>otros</b> al
    <br>Departamento de <b>servicios</b> al cliente
    <br>Al cual <b>pertenezco</b> yo.
    <br>
    <br>(______), <b>todos</b> estos departamentos
    <br>y <b>mas</b> de 50 personas
    <br>que <b>trabajan</b> en uno u el otro,
    <br>tienen un <b>solo</b> objetivo.
    <br>
    <br>El <b>objetivo</b> de ayudarle
    <br>a <b>restaurar</b> o mejorar su crédito
    <br>y <b>para</b> eso,
    <br><b>aquí­</b> en creditomejor.com
    <br>trabajamos y <b>atendemos</b>
    <br>su llamada y <b>caso</b>
    <br>las <b>24 horas</b> del día.
    <br><b>Los 7 días</b> de la semana,
    <br>Incluso dí­as de <b>fiesta</b>,
    <br>A <b>excepción</b>
    <br>De <b>Viernes</b> santo
    <br><b>Noche</b> buena
    <br>Y <b>año</b> nuevo.
    <br><b>Practicamente</b>
    <br>Casi los <b>365 dí­as</b> del año.
    <br>
    <br>En cualquier momento que usted llame
    <br>acá tendremos toda la información  al día
    <br>respecto de su caso,
    <br>con toda la disposición,
    <br>y contándole acerca de cada avance
    <br>o paso que vayamos dando,
    <br>ayudándole a <b>PELEAR</b> a usted,
    <br>con usted y para su beneficio crediticio,
    <br>cuidando sus intereses,
    <br>y <b>NO VAMOS A DESCANSAR</b>
    <br>hasta que usted Dios mediante
    <br>mejore su puntaje crediticio,
    <br>que con el favor de Dios lo <b>VAMOS</b>  a lograr.<br>
    <br>
    <div class="btn-uy mt-4">
        <button type="button" class="btn btn-danger" (click)="cambiarP('noestaserio')">
                No esta serio..
        </button>
    </div> <br><br>
  </div>

  <div class="{{noestaserio}}">

    <div class="habiendole" *ngIf="!habiendole">
      <br>
      <br> Habiéndole dicho esto (______),
      <br>si usted <b>NO</b> esta <b>SERIO(A)</b>,
      <br>entonces <b>doy</b> la orden
      <br>para que le <b>enví­en</b>
      <br>la <b>primera</b> ronda de cartas,
      <br>que es lo que le <b>corresponde</b>
      <br>al <b>primer</b> més de trabajo,
      <br>y <b>no</b> enví­o nada más posteriormente
      <br>a los <b>burós</b> de crédito,
      <br>y usted <b>seguirá</b> con un mal crédito
      <br>y todos los <b>RIESGOS</b>
      <br>que esto <b>implica</b>.
      <br>
      <div class="btn-uy mt-4">
      <button (click)="habiendole = true">Siguiente</button>
    </div>
    </div>

    <div class="habiendole2" *ngIf="habiendole">

      <br>Lo cual <b>incluso</b>
      <br>con una <b>orden</b> de corte
      <br>le pueden hasta <b>quitar</b>
      <br>parte de su <b>salario</b>
      <br>o sus <b>bienes</b>
      <br>tanto <b>ahora</b>
      <br>como por los <b>próximos</b>
      <br><b>20 años.</b>
      <br>
      <br>Usted me dice en <b>este</b> momento
      <br><b>Yo</b> (______),
      <br>SI ESTOY <b>SERIO(A)</b> EN ESTO,
      <br>YO <b>QUIERO</b> ARREGLAR MI CREDITO,
      <br>QUIERO UN <b>MEJOR</b> FUTURO
      <br>PARA <b>MIS</b> HIJOS.
      <br>
      <br>QUIERO TENER MI <b>PROPIA</b> CASA
      <br>Y VOY A <b>COMPROMETERME</b>
      <br><b>HACIENDO</b>  LOS PAGOS
      <br><b>cumplidamente</b>
      <br>y <b>PUNTUALMENTE</b>,
      <br>porque <b>voy</b> a alcanzar mis sueños.
      <br>
      <br>Y si usted me dice que <b>sí</b> (______),
      <br>entonces <b>tendrá</b> a su mejor aliada(o),
      <br>porque voy a luchar <b>junto</b> con usted
      <br>y <b>no</b> voy a dejarle sola(o) en esto,
      <br>y estaremos <b>juntos</b> hasta que
      <br>con el <b>favor</b> de Dios,
      <br><b>reparemos</b> su crédito.
      <br>
      <br>¿Entonces <b>qué</b> me dice (______)?
      <br>¿Paramos o <b>continuamos?</b>
      <br>y usted se <b>compromete</b>
      <br>a tomar este <b>proceso</b>
      <br>con <b>RESPONSABILIDAD</b>
      <br>
      <br>Y ¿<b>Aprovechar</b> esta segunda oportunidad,
      <br>como persona <b>SERÍA</b>
      <br>hasta que logremos <b>reparar</b> su crédito?
      <br>
      <br> <span style="color: green;">(Esperar reacción del cliente.)</span>
      <br>
      <br><b>PERFECTO</b> (______),
      <br>entonces <b>acordamos</b> los pagos
      <br>para todos los dí­a
      <br><b>(FECHA DEL ACUERDO DE PAGO)</b>,
      <br>de <b>cada</b> mes.
      <br>
      <br>Recuerde que <b>no</b> puede
      <br>FALLAR,
      <br>NI POSTERGAR
      <br>NINGUN <b>PAGO,</b>
      <br>Después de <b>esta</b> llamada
      <br><b>No</b> hay
      <br><b>Marcha</b> para atrás
      <br>Usted nos cumple <b>puntualmente</b>
      <br>Y nosotros le <b>cumplimos</b> de la misma forma.
      <br>
      <br>Así­ que (______),
      <br>haga las cosas con <b>fé</b>
      <br>que con la <b>bendición</b> de Dios
      <br><b>todo</b> va a salir bien,
      <br><b>¿OKAY?</b>
      <br>
      <br>¿Tiene <b>alguna</b> otra pregunta?
      <br>
      <br><span style="color: green;">(Esperar reacción)</span>
      <br>
      <br>Bueno (______),
      <br><b>DIOS LE BENDIGA.
      <br>Feliz día</b>
      <br>
      <br>


    </div>

  </div>
</div>
