
<div class="content">
  <div class="{{intro}}">

      <h1><span style="color: red;">El rescate</span></h1>
      <br>
      <br> Hace un tiempo nosotros <b>comenzamos</b>
      <br> a ayudarle a arreglar su <b>crédito</b>.
      <br>
      <br> <b><u>NO</u></b> hemos podido tener comunicación
      <br> con usted como nos <b>habría</b> gustado
      <br> y ya hemos <b>avanzado</b> con cosas muy importantes
      <br> para ayudarle a reparar su <b>crédito</b>.
      <br>
      <br> Por eso es <b>importante</b>
      <br> que apatir de este momento en <b>adelante</b>,
      <br> tengamos una muy buena <b>comunicación</b>.
      <br>
      <br> Porque ya <b>sarpó</b> su barco
      <br> de arreglar su <b>crédito</b>
      <br> y estamos en alta <b>mar</b>
      <br> listos para <b>llegar</b> al puerto
      <br> de obtener un crédito <b>arreglado</b>.
      <br>
      <br> Yo <b>soy</b> (____),
      <br> la persona asignada a su <b>caso</b>
      <br> y ahora en adelante,
      <br> <b>necesito</b> que usted tenga
      <br> una muy <b>buena</b> comunicación
      <br> conmigo para seguir <b>acelerando</b>
      <br> su proceso de <b>reparar</b> su crédito.
      <br>
      <br> <b>Necesitamos</b> que en estos momentos
      <br> usted <b>actualice</b>
      <br> la documentación <b>requerida</b>
      <br> por los <b>buros</b> de crédito
      <br> para poderle brindar los <b>resultados</b>
      <br> que usted <b>espera</b>
      <br> y que con el favor de <b>Dios</b>
      <br> usted pueda tener un crédito <b>excelente</b>.
      <br>
      <br> Para poder tener <b>tárjetas</b> de crédito,
      <br> automóvil y el <b>sueño</b> americano
      <br> de tener su casa <b>propia</b>.
      <br>
      <br>

    <button class="btn_g" type="button" (click)="verBtns('sdr')">
        Tiene Resultados
    </button><br><br>

  <div style="font-size: 36px;"  *ngIf="seriedreclamaciones">
        <br> Yo veo aquí que <b>nosotros</b>
        <br> hemos hecho una serie de <b>acciones</b>.
        <br>
        <br> <b>Primeramente</b> para lograr verificar
        <br> y <b>eliminar</b> las variaciones
        <br> de su nombre y <b>dirección</b>
        <br> y poder <b>indicar</b> que  usted es
        <br> el dueño <b>absoluto</b>
        <br> de su <b>seguro</b> social y por ende
        <br> de su <b>reporte</b> de crédito.
        <br>
        <br> Ahora <b>bien</b>, herman<span style="color: blue;">o/a</span> (___)
        <br> nosotros hemos <b>trabajado</b>
        <br> en una serie de <b>cuentas</b>,
        <br> estas <b>cuentas</b> son;
        <br> la <b>cuenta</b> de ____________
        <br> con el <b>número</b> __________
        <br> que está <b>reportada</b>
        <br> en este buró de crédito
        <br> (<span style="color: blue;">Experian, <b>Equifax</b> y TransUnion</span>)
        <br> y <b>actualmente</b> la tiene en proceso de
        <br> (<span style="color: blue;">Coleccion, <b>Abogados</b>, ChargeOff, Corte</span>)
        <br>
        <br> Nosotros <b>Dios</b> mediante
        <br> estamos <b>ayudándole</b>
        <br> a evitar que le puedan <b>demandar</b> en corte.
        <br>
        <br>
        <br>
        <br>

    <button class="btn_g" type="button"  (click)="verBtns('fdoc')">
            Faltan documentos
    </button>

      <div style="font-size: 36px;"  *ngIf="faltandocumentos">
          <br> Eso si, eso <b><u>NO</u></b> significa que a usted
          <br> <b><u>NO</u></b> lo puedan demandar.
          <br>
          <br> Es <b>importante</b> que cada carta que usted reciba
          <br> de <b>agencia</b> de colección,
          <br> abogados o <b>corte</b>,
          <br> la envié <b>inmediatamente</b>.
          <br>
          <br> El <b>problema</b> es que
          <br> <b><u>NO</u></b> puede ignorar y lamentablemente
          <br> es lo que hasta <b>ahora</b> ha estado pasando,
          <br> que usted ha estado <b>ignorando</b>,
          <br> haciendo acto de <b>terrorismo</b>
          <br> contra su <b>crédito</b>,
          <br> por que el que calla <b>otorga</b>
          <br> y usted <b><u>NO</u></b> puede otorgar.
          <br>
          <br> <b> <u>NO</u></b> puede ignorar,
          <br> por que se <b>perjudica</b> el caso.
          <br>
          <br> ¿Estamos <b>claros</b>?
          <br>
          <br> Dejeme <b>explicarle</b> (_____)
          <br> hay cosas que son <b>injusticias</b>
          <br> que se cometen y son <b>errores</b>,
          <br> se <b>estableció</b>
          <br> en un <b>reportaje</b>
          <br> de la cadena noticias <b>CBS</b>.
          <br>
          <br> Ese reporte <b>estableció</b>
          <br> que de cada <b>5</b> cosas reportadas
          <br> hay <b>4</b> que están mal
          <br> en  la <b>mayoría</b>
          <br> de reportes de <b>crédito</b>,
          <br> por eso es <b>importante</b>
          <br> la <b>comunicación</b>
          <br> de <b>ahora</b> en adelante
          <br> y <b>siempre</b>.
          <br>
          <br> ¿<b>Okay</b>?
          <br>
          <br> Recuerde que <b>cualquier</b> información
          <br> que usted <b>reciba</b> sea negativa,
          <br> de los <b>burós</b> de crédito
          <br> (<span style="color: blue;">Experian, <b>Equifax</b> y TransUnion</span>)
          <br> o de acrededores tienen que enviar <b>inmediatamente</b>,
          <br> ya que nosotros <b>contestamos</b> todas esas correspondencias,
          <br> sino se <b>pierde</b> el caso herman<span style="color: blue;">o/a</span> (____)
          <br>
          <br> ¿<b>Okay</b>?
          <br>
          <br> <b>Ahora</b> bien herman<span style="color: blue;">o/a</span> (____)
          <br> en estos <b>momentos</b>
          <br> que estamos de <b>acuerdo</b>
          <br> vamos a tener su <b>cooperación</b>,
          <br> en este <b>momento</b>,
          <br> <b>solo</b> me resta preguntrarle:
          <br>
          <br> ¿En cuanto <b>tiempo</b> usted
          <br> me <b>envia</b> los documentos
          <br> que <b>hacen</b> falta ?
          <br>
          <br> Nosotros abrimos <b>24</b> horas al día,
          <br> pero el telefono <b>atendemos</b> desde
          <br> las <b>8</b> de la mañana
          <br> hasta las <b>10</b> de la noche.
          <br>
          <br> Para sacar su <b>próxima</b> carta...
          <br>
          <br> ¿En que <b>tiempo</b> usted
          <br> me <b>envía</b> los documentos?
          <br>
          <br> <b>Perfecto</b> herman<span style="color: blue;">o/a</span> (____)
          <br> Tan <b>pronto</b> usted pueda mandarlo
          <br> nos <b>retorna</b> la llamada,
          <br> para <b>corroborar</b> que
          <br> lo hemos <b>recibido</b>.
          <br>
          <br>
      </div>
          <br>
          <br>
  </div>

      <br> <b>Okay</b> herman<span style="color: blue;">o/a</span> (____)
      <br> Que <b>Dios</b> le bendiga
      <br> rica y <b>abundantemente</b>.
      <br><br><br><br>


      <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
        <label class="btn btn-outline-danger" for="vbtn-radio1">Negativo</label>
        <label class="btn btn-outline-danger" for="vbtn-radio2">Positivo</label>
        <label class="btn btn-outline-danger" for="vbtn-radio3">45 días</label>
      </div>

<!-- REDIRECCIONAR A ESTOS COMPONENTES
  noresultados.php"
  siresultados.php"
  45dias.php"
-->


  </div>
</div>
