
<hr>
<div class="content">
  <small class="green">Objecion: “pero ustedes dijeron que iban a mandar cartas inmediatamente”</small>
  <br>
  <br> Nosotros le <b>indicamos</b> a usted
  <br> que  íbamos a <b>hacer</b> unas cartas
  <br> para poder ayudarle a el <b>problema</b>
  <br> de <b>crédito</b> que usted tiene
  <br> y de hecho <b>asignamos</b>  a unas 3 personas
  <br> por <b>varias</b> horas
  <br> para <b>hacer</b> estas cartas
  <br> e <b>hicimos</b> las cartas.
  <br>
  <br> Pero las cartas de <b>reclamación</b>
  <br> <b><u>un</u></b> se envían hasta que
  <br> el departamento de <b>seguridad</b>
  <br> <b>corrobore</b> que usted
  <br> <b><u>es</u></b> la persona
  <br> que usted dice <b><u>ser</u></b> que es
  <br> porque si <b><u>no</u></b>,
  <br> Esto se puede prestar para <b>robo</b> de identidad…
  <br>
  <br> por eso es que el <b>tiempo</b> de envío
  <br> de las cartas <b>cuenta</b> 2  a 3 dias
  <br> <b>después</b> de que nosotros recibimos
  <br> <b>todas</b> las identificaciones suyas que incluyen:
  <br> el seguro <b>social</b> con la firma,
  <br> la <b>licencia</b> de conducir con la dirección actual,
  <br> y un <b>bill</b> el cual puede ser del agua,
  <br> luz o <b>teléfono</b> o un estado de banco
  <br>
  <div class="blue">
    <br> <b>Todas</b> estas identificaciones
    <br> deben de ser <b>legibles</b> así que
    <br> hasta que <b><u>no</u></b> las recibamos legibles
    <br> el tiempo <b><u>no</u></b> empieza a contar...
  </div>
  <br> Tengo aquí una <b>nota</b>
  <br> del departamento de <b>procesamiento</b>
  <br> que <b>indica</b> que usted nos envió
  <br> de una forma <b>legible</b>
  <br> y <b>aceptada</b> por los buro de crédito
  <br> <b><u>sus</u></b> identificaciones de seguro social
  <br> y la <b>licencia</b> de conducir el dia (--/--/ del ----  )
  <br>
  <br> También tengo que a usted se le <b>solicito</b> un bill
  <br> y el <b>bill</b> (también lo <b>envio</b> el dia --/--/del ----)
  <br>
  <small class="green">
    <br>*¡nota para el agente que esta leyendo esto al cliente!:
    <br>
    <br> -si la persona envió esos documentos antes de un miércoles:
    <br> las cartas dos días después sale del correo
    <br>
    <br> -si la persona envió esos documentos un jueves o viernes:
    <br> las cartas salen un miércoles..
    <br>
    <br> asi que usted tiene que calcular cuanto tiene esa persona
    <br> de habernos enviado esos documentos y apartir de ese momento
    <br> es que se cuentan los 45 dias no antes.
    <br>
    <br>
  </small>
  <br>
  <br>

</div>
