
<div class="content" #content>
  <div class="intro">
    <br> <b>Dios</b> le bendiga
    <br> hermano/a (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> le <b>saluda</b> {{ agente }} de
    <br> <b>creditomejor.com</b>
    <br>
    <br> Como le <b>prometimos</b>
    <br> le <b>vamos</b> a estar dando
    <br> un <b>seguimiento</b> a su caso
    <br> explicándole a <b>usted</b>,
    <br> <b>dónde</b> se encuentra
    <br> y hacía dónde <b>vamos</b>
    <br>
    <br> Y <b>más</b> para que usted vea
    <br> las <b>diferencias</b> de lo que es
    <br> tener un <b>crédito</b> completamente
    <br> <b>DESTRUIDO</b>
    <br> como el <b>suyo</b> a lo que es
    <br> Dios <b>mediante</b> establecido,
    <br> <b>¿¿Okay??</b>
    <br>
    <br> <b>Nosotros</b>
    <br> Dios <b>mediante</b>
    <br> le <b>vamos</b> a ayudar
    <br> a <b>realizar.</b>
    <br>
    <br> Ahora <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> Veo <b>aquí</b> que nuestro
    <br> departamento de <b>procesamiento</b>
    <br> le ha <b>enviado</b> a usted
    <br> un <b>informe</b> de su
    <br> reporte de <b>crédito</b>
    <br> <b>inicial</b>
    <br>
    <br> Para que <b>usted</b>
    <br> se <b>entere</b> inicialmente
    <br> como lo <b>están</b> catalogando
    <br> a usted los <b>buró</b> de crédito
    <br> en un <b>reporte</b> resumido
    <br> a usted ya <b>anteriormente</b>,
    <br> la <b>persona</b> inicialmente
    <br> <b>encargada</b> de su caso
    <br> con la que <b>usted</b>
    <br> a dado la inicial
    <br> ya le <b>explico</b> que es
    <br> lo <b>inicio</b> como tal
    <br> va estar <b>recibiendo</b>
    <br> de <b>nuestro</b> proceso.
    <br>
    <br> Y <b>también</b> le índico,
    <br> <b>cuáles</b> son los problemas
    <br> que usted tiene <b>actualmente</b>
    <br> en el <b>crédito</b>,
    <br> en este <b>informe</b> resumido
    <br>
    <br> Y <b>detallado</b> usted va
    <br> poder <b>ver</b> lo mismo
    <br> que le <b>habían</b> explicado
    <br> con mayor <b>detalle</b>
    <br> <b>¿Okay?</b>
    <br>
    <br> En <b>adición</b> a esto,
    <br> va tener <b>también</b> usted
    <br> como tal un <b>visor</b>
    <br> <b>dónde</b> usted va poder
    <br> ver el <b>automóvil</b>
    <br>
    <br> En <b>cuánto</b> le estaría
    <br> <b>quedando</b> a usted.
    <br> cuando su <b>crédito</b> este bueno
    <br> más <b>educación</b> sobre su crédito,
    <br> <b>¿Okay?</b>
    <br>
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) ¿Tiene <b>alguna</b> preguntita?
    <br>
    <br>
    <br> <b>Hermano/a</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> Cuando tenga el <b>documento</b>
    <br> <b>abierto</b> me avisa,
    <br> está en su <b>correo...</b>
    <br>
    <br> ¿Ya lo <b>abrió?</b>
    <br>
    <br> <span class="green">Esperar reacción del cliente </span>
    <br>
    <br> <b>Perfecto.</b>
    <br>
    <br> Ahora <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br> en el <b>documento</b>, en la introducción,
    <br> les dan una <b>presentación</b>,
    <br> le <b>está</b> diciendo usted
    <br> con que <b>compañía</b>
    <br> se <b>encuentra</b> actualmente
    <br> <b>trabajando...</b>
    <br>
    <br> Y también le <b>está</b> indicando
    <br> en <b>5 pasos</b> cual es el estado
    <br> actual de su <b>crédito</b>,
    <br> <b>¿Okay?</b>
    <br>
    <br> <span class="green">Esperar reacción del cliente</span>
    <br>
    <br> Primer paso como <b>usted</b> ve que dice ahí
    <br>
    <br> <b>Los fundamentos de</b>
    <br> <b>la puntuación de crédito</b>
    <br>
    <br> <b>Credit score basics</b>
    <br>
    <br> Le va <b>indicar</b> el credit score
    <br>
    <br> (O sea lo <b>básico</b> también le va
    <br> indicar su <b>summary</b> de crédito)
    <br> O sea dónde <b>están</b> todas las cuentas,
    <br> le va hacer un <b>análisis</b> de sus cuentas
    <br>
    <br> Y también le va estar <b>creando</b>
    <br> o sea unas <b>actualizaciones</b>
    <br> en su <b>proceso</b> una descripción
    <br> <b>general</b> del proceso
    <br>
    <br> Y también le va <b>indicar</b>
    <br> como <b>usted</b> hace parte del proceso,
    <br> que va tener que <b>hacer</b> usted
    <br> para <b>ayudarse</b> a mejorar
    <br> en este <b>proceso</b>
    <br> de <b>arreglar</b> su crédito.
    <br>
    <br> En la <b>siguiente</b> parte le va indicar,
    <br> que si usted tiene alguna <b>pregunta</b>
    <br> o <b>necesita</b> nuestra ayuda
    <br> <b>fácilmente</b> usted nos va
    <br> poder <b>comunicar</b>
    <br>
    <br> En la <b>información</b>
    <br> a <b>continuación</b> aparece
    <br>
    <br>
    <ul id="data" class="">
      <li class=""><b>Email</b>: creditomejor@gmail.com</li>
      <li class=""><b>Telefono</b>: ( 914 ) 219 - 0014</li>
      <li class=""><b>Pagina</b>: https://creditomejor.com </li>
    </ul>
    <br> <b>Siguiente</b> a esto le da un saludo
    <br> y una <b>despedida</b> de creditomejor.com
    <br> y la <b>persona</b> que se encargó
    <br> de subir sus <b>documentos</b>,
    <br> <b>¿Okay?</b>
    <br>
    <br> <span class="green">Esperar reacción del cliente</span>
    <br>
    <br> En este caso <b>según</b> aparece aquí,
    <br> <b>__Agente__</b>
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br>
    <br>
    <br> Vamos a la <b>parte</b> número uno (1)
    <br> dónde <b>usted</b> podrá ver
    <br> en el <b>inicio</b> un automóvil
    <br>
    <br> ¿Lo <b>ve</b> ahora?
    <br>
    <br> <span class="green">Esperar reacción del cliente</span>
    <br>
    <div class="img">
      <img src="../../../assets/images/fotocarro.png" >
    </div>
    <br>
    <br> Mercedes benz
    <br> <b>$23,000</b>
    <br> Término de 66 meses
    <br>
    <br> <b>Correcto,</b>
    <br> ahí le va <b>indicar</b>
    <br> que <b>pasa</b> con su crédito bajo
    <br> y que pasa <b>cuando</b>
    <br> su <b>crédito</b> esta alto
    <br> <b>¿Okay?</b>
    <br>
    <br> O sea <b>usted</b> puede
    <br> ver los dos casos
    <br>
    <br>
    <div class="personas">
      <div class="per1 w50">
          <h2>
            <b>
              Persona A
            </b>
          </h2>
        <br> Credit Score: 730
        <br>
        <br> Interest Rate: 1.99%
        <br>
        <br> Payment: $368.22
        <br>
        <br> Total Interest Paid $1302.39
        <br>
        <br> Total Payments: $24,302.39
        <br>
        <br>
        <h2>En la persona A</h2>
        <br> Tenemos a una <b>persona</b>
        <br> que ha sido <b>correcto/a</b>
        <br> con los pagos de sus <b>tarjetas</b>,
        <br> que <b><u>NO</u></b> ha dejado de pagar cuentas
        <br> y que <b><u>NO</u></b> le han enviado a la corte.
      </div>
      <div class="per2 w50">
          <h2>
            <b>
              Persona B
            </b>
          </h2>
        <br> Credit Score: 599
        <br>
        <br> Interest Rate: 14.99%
        <br>
        <br> Payment: $513.97
        <br>
        <br> Total Interest Paid: $10,921.44
        <br>
        <br> Total Payments: $33,921.44
        <br>
        <br>
        <h2>
          En la persona B
        </h2>
        <br> una persona como el caso <b>suyo</b>
        <br> que se <b>atraso</b>, perdió cuentas
        <br> y se encuentra <b>actualmente</b>
        <br> en <b>procesos</b> de corte o incluso
        <br> con un posible <b>robo</b> de indentidad.
      </div>
    </div>
    <br>
    <br> <b>Hermano/a</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br> vamos a <b>observar</b> el comparativo
    <br>
    <br> Según <b>vemos</b> en la persona A
    <br> es una <b>persona</b> que al momento
    <br> de <b>calificar</b> un auto
    <br> de <b><u>NO</u></b> menos de $23000
    <br> a un <b>término</b> de 66 meses
    <br> estaría <b>solamente</b>
    <br> <b>costándole</b> 1.99 %
    <br> de <b>interés</b>
    <br>
    <br> Que esos son <b>intereses</b>
    <br> demasiado <b>módicos</b>
    <br> y <b>son</b> muy bien
    <br> <b>acentuados</b>.
    <br>
    <br> Mire <b>usted</b> que los pagos
    <br> con esta <b>cantidad</b>
    <br> de <b>interés</b>
    <br>
    <br> <b>Serían</b> de 3,68
    <br> <b>solamente</b> al mes
    <br> por el <b>pago</b> de un auto
    <br>
    <br> Que es un <b>pago</b> bien económico
    <br> para la gran <b>mayoría</b> de personas
    <br> que <b>pagan</b> $600 $700
    <br> de <b>auto</b>
    <br>
    <br> Como <b>usted</b> lo puede ver
    <br> también a <b>continuación</b>
    <br>
    <br> <b>Además</b> de eso (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> mire el <b>interés</b>
    <br> que se le está <b>generando</b>
    <br> en el <b>total</b> del tiempo
    <br> que <b>usted</b> va a tener
    <br> ese <b>automóvil</b>
    <br>
    <br> <b>Solamente</b> le va a generar
    <br> <b>$1302.39</b> centavos de interés
    <br>
    <br> Y el pago <b>total</b> del auto
    <br> de $23mil <b>solamente</b>
    <br> van a ser <b>$24302.39</b> centados
    <br> <b>¿Okay?</b>
    <br>
    <br> Ahora <b>mire</b> usted el caso
    <br> tan <b>drástico</b> en una persona B
    <br>
    <br> Con un <b>score</b> de 99
    <br> el <b>interés</b> solamente
    <br> por <b>140 puntos</b>
    <br> de su <b>crédito</b>
    <br>
    <br> Va a ser <b>__%</b> de interés
    <br> malo que <b>usted</b> va a estar
    <br> <b>pagando</b> significa
    <br> que su <b>cuenta</b> en vez
    <br> de ser de <b>$360000</b>
    <br>
    <br> Se va a <b>subir</b> casi
    <br> a los <b>$520000,</b>
    <br> O sea casi <b>$150.000</b>
    <br> que le van a estar <b>cobrando</b>
    <br> de <b>más</b> por este auto
    <br> <b>¿Okay?.</b>
    <br>
    <br> Y <b>eso</b> sí,
    <br> incluir el <b>seguro</b>
    <br> <b>sería</b> mucho más costoso
    <br> por que ahí <b>también</b>
    <br> se <b>suben</b> los intereses
    <br>
    <br> Ahora <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> miré la gran <b>diferencia</b>
    <br> tan <b>abismal</b> qué de $1302
    <br> de los <b>intereses</b>
    <br> por la <b>persona</b> A la persona B
    <br> va a <b>tener</b> que pagar
    <br> <b>10.921</b> dólares con 44 centavos
    <br> de <b>intereses</b>
    <br>
    <br> Lo que <b>significa</b> que va
    <br> a estar <b>pagando</b>
    <br> una <b>cantidad</b> de $9600
    <br> más por <b>exactamente</b>
    <br> el <b>mismo</b> auto
    <br>
    <br> Y el mismo <b>tiempo</b> ahora
    <br> ve <b>usted</b> el problema
    <br> que <b>hay</b> entre l
    <br> a <b>persona</b> A
    <br> y la persona <b>B</b>
    <br>
    <br> Que la <b>persona</b> B
    <br> por <b>todo</b> va a estar
    <br> <b>pagando</b> el doble
    <br> y hasta el <b>triple</b>
    <br> <b>más</b> de lo que paga
    <br> la <b>persona</b> A
    <br>
    <br> Menos mal <b>usted</b> está
    <br> ya está <b>trabajando</b>
    <br> con <b>nosotros</b>
    <br> porque usted de <b>pasar</b>
    <br> a ser <b>una</b> persona B
    <br> va a <b>pasar</b> a ser
    <br> una <b>persona A</b>
    <br>
    <br> <span class="green">Esperar reacción del cliente</span>
    <br>
    <br> A <b>continuación</b>
    <br> vamos a <b>notar</b> que ahí
    <br> dice que es el que <b>crédito</b>
    <br> <b>acorde</b>
    <br>
    <br> Okay nos <b>está</b> indicando
    <br> Cuál es la <b>diferencia</b>
    <br> de tener <b>350 puntos</b>
    <br> y <b>850 puntos</b>
    <br>
    <br> Okay <b>300</b> es el puntaje
    <br> más <b>terrible</b>
    <br>
    <br> Por así <b>decirlo</b> que
    <br> se puede <b>tener</b> en el
    <br> buró de <b>crédito</b>
    <br>
    <br> Y <b>850</b> es el mejor puntaje
    <br> cuando <b>usted</b> tiene
    <br> ese puntaje de <b>crédito</b>
    <br>
    <br> Usted ya <b>puede</b> hacer
    <br> a <b>intereses</b> lo más bajos
    <br> que se esten <b>representando</b>
    <br> <b>actualmente</b>
    <br>
    <br> En el <b>mercado</b> e incluso
    <br> <b>poder</b> refinanciar
    <br> sus <b>intereses</b> en cada uno
    <br> de los <b>créditos</b> que usted
    <br> tenga <b>abiertos</b>
    <br> <b>¿Okay?</b>
    <br>
    <br> Pero eso <b>sólo</b> para
    <br> <b>personas</b> con el crédito
    <br> <b>perfecto</b>
    <br>
    <br> Hay <b>varias</b> categorías
    <br> del <b>crédito</b>
    <br>
      <b>
        <br>Muy malo,
        <br> Malo,
        <br> Bajo,
        <br> Bueno,
        <br> Excelente
        <br> Y perfecto.
      </b>
    <br> Okay miré <b>todas</b>
    <br> las <b>escalas</b> que hay
    <br> hasta dónde lo <b>tenemos</b>
    <br> que <b>llevar</b> a usted
    <br> con el <b>favor</b> de Dios
    <br>
    <br> <span class="green">Esperar reacción del cliente</span>
    <br>
    <br> ¿Qué es un <b>buró</b> de crédito?
    <br>
    <br>  Es la <b>siguiente</b> pregunta,
    <br>  el buró de <b>crédito</b>
    <br>  es una <b>entidad</b> que mantiene
    <br>  bajo <b>control</b> las cuentas
    <br>  que usted le van <b>suministrando</b>
    <br>  <b>acreedores</b>
    <br>  y/o <b>colecciones</b>
    <br>  en <b>ese</b> caso
    <br>
    <br>  Qué <b>significa</b> eso cada entidad
    <br>  que brinde <b>crédito</b>
    <br>
    <br> Qué <b>suelte</b> algo a plazos
    <br> va estar <b>reportada</b> por medio <span class="blue">(Experian / Equifax / Transunion)</span>
    <br> <b><u>NO</u></b> importa si es hospital,
    <br> <b><u>NO</u></b> importa si es un bill,
    <br> <b><u>NO</u></b> importa si es auto,
    <br> <b><u>NO</u></b> importa si es tarjeta,
    <br> <b><u>NO</u></b> importa si es casa
    <br>
    <br> Cada uno de los <b>elementos</b>
    <br> que <b>usted</b> tenga en su crédito
    <br> se van a estar <b>reportando</b>
    <br> en <b>alguno</b> de estos burós
    <br> <b>¿Okay?</b>
    <br>
    <br> Qué son <b>los</b> que nosotros
    <br> <b>actualmente</b> revisamos
    <br> para que <b>usted</b> sepa
    <br> cómo <b>es</b> que vamos
    <br> a <b>mejorar</b> este proceso
    <br> de su <b>crédito</b>
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>) <b>puede</b> ver usted
    <br> a <b>continuación</b> que le están
    <br> indicando <b>usted</b> en qué se divide
    <br> su <b>crédito</b>
    <br> <b>¿Okay?</b>
    <br>
    <br> Ahí <b>tiene</b> usted un
    <br> informe <b>detallado</b>
    <br> y al <b>igual</b> que nosotros
    <br> a <b>partir</b> de que vamos
    <br> trabajando en este <b>proceso</b>
    <br> le <b>vamos</b> a estar indicando
    <br> usted las <b>divisiones</b>
    <br> de su <b>crédito</b>
    <br>
    <br> Y en <b>cuál</b> de ellas usted
    <br> se está <b>equivocando</b>
    <br>
    <br> Pero eso lo <b>vamos</b> ir
    <br> <b>haciendo</b> con un análisis
    <br> a <b>partir</b> que usted
    <br> vaya <b>avanzando</b> con nosotros
    <br> en nuestro <b>proceso</b>
    <br> <b>¿Okay?</b>.
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>) <b>vamos</b> a continuar.
    <br>
    <br> Y ahora aquí <b>tenemos</b> la escala
    <br> de lo que yo le acabo de <b>hablar</b>
    <br> y <b>miré</b> que es
    <br> tal <b>cual</b> como yo
    <br> le acabo de <b>indicar</b>
    <br> tenemos <b>primeramente</b>
    <br> <b>$300</b> a $499 puntos
    <br> es una persona <b>muy mal</b>
    <br> esa <b>persona</b> de verdad
    <br> que <b><u>NO</u></b> se acerque a un banco
    <br> porque lo van a <b>sacar</b>
    <br> de la <b>entrada</b>
    <br> Jajaja
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> la segunda <b>tenemos</b> persona
    <br> con el <b>crédito</b> malo
    <br>
    <br> Okay sigue <b>muy bajo</b> esa persona
    <br> <b><u>NO</u></b> califica para absolutamente
    <br> <b>nada</b>
    <br>
    <br> Cuando <b>usted</b> esté logrando
    <br> <b>calificar</b> va desde el bajo
    <br> hasta el bueno que <b>usted</b>
    <br>
    <br> Dios <b>mediante</b> puede comenzar
    <br> a <b>calificar</b>
    <br>
    <br> Ojo <b>arriesgándose</b> usted
    <br> a que los <b>intereses</b>
    <br> de los <b>objetos</b>
    <br> que <b>usted</b> requiera
    <br> los <b>pague</b>
    <br> el <b>doble</b>
    <br> y hasta el <b>triple</b>
    <br> cómo le <b>acabamos</b> de enseñar
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>) aquí <b>comienza</b>
    <br> la <b>mejor</b> parte de cuando usted
    <br> ya está en un <b>crédito</b>
    <br> bueno de <b>680</b> a 699 puntos
    <br> que ahi es <b>cuando</b> nosotros
    <br> nos <b>empezamos</b> a movilizar
    <br> cuando usted <b>comienza</b>
    <br> a <b>calificar</b> nuevamente tarjetas
    <br> porque nos <b>empezamos</b> a preparar
    <br> para ir a muy <b>bueno</b>
    <br> <b>¿Correcto hermano/a (<span *ngIf="cliente">{{ cliente.nombres }}</span>)?</b>
    <br>
    <br> <span class="green">Esperar reacción del cliente</span>
    <br>
    <br> Yo le voy a <b>explicar</b> algo
    <br> <b><u>NO</u></b> significa que porque yo
    <br> le <b>elimine</b> a usted todas
    <br> las cuentas <b>negativas</b>
    <br> de su <b>reporte</b> de crédito
    <br> se va a estar en un <b>puntaje</b>
    <br> excelente eso <b><u>NO</u></b> funciona así
    <br>
    <br> Aparte de nosotros <b>eliminar</b> las cuentas
    <br> de su <b>reporte</b> de crédito
    <br> <b>tenemos</b> que empezar hacer
    <br> un <b>restablecimiento</b> en su crédito
    <br>
    <br> Al igual de cómo <b>estamos</b> haciendo
    <br> con su <b>identidad</b> para que usted
    <br> pueda <b>romper</b> esa barrera más allá
    <br> de los <b>680 puntos</b> dónde usted
    <br> empieza a <b>requerir</b> ciertos
    <br> <b>créditos</b> como
    <br> tarjetas crédito
    <br>
    <br> Que es lo que se le <b>indicó</b> a usted
    <br> que <b>vamos</b> a estar trabando
    <br> en este <b>proyecto</b>.
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b>vea</b> que de aquí
    <br> en <b>adelante</b> tenemos muy bueno,
    <br> el <b>excelente</b> que es de 800
    <br> en adelante que es la <b>escala</b>
    <br> que todo <b>americano</b> quisiera estar
    <br> <b>¿Okay?</b>
    <br>
    <br> <span class="green">Esperar reacción del cliente</span>
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>) <b>tenemos</b> que empezar
    <br> hacer un <b>restablecimiento</b> en su crédito
    <br> Al igual de cómo <b>estamos</b> haciendo
    <br> con su <b>identidad</b> para que usted
    <br> pueda romper esa <b>barrera</b> más allá
    <br> de los <b>680 puntos</b> para que usted
    <br> pueda empezar a <b>requerir</b> ciertos créditos
    <br> tarjetas <b>crédito</b> de tienda automóvil
    <br> o una <b>casa</b>
    <br> <b>¿Okay?</b>
    <br>
    <br> Qué es lo que se le <b>indicó</b> a usted
    <br> que <b>vamos</b> a estar trabajando
    <br> en este <b>proyecto.</b>
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>) <b>vea</b> que de aquí
    <br> en <b>adelante</b> tenemos muy bueno,
    <br> tenemos el <b>excelente</b> que es de 800
    <br> en adelante que es la <b>escala</b>
    <br> dónde todo <b>americano</b> quisiera estar
    <br> <b>¿Okay?</b>
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>) a <b>usted</b> le califican
    <br> la casa <b>desde</b> 740 puntos pero
    <br> entre más puntos <b>menos</b> intereses,
    <br> menos <b>usted</b> paga,
    <br> más <b>economiza</b>,
    <br> como <b>decimos</b>
    <br> de <b>dónde</b> yo vengo
    <br> mas <b>gordo</b> se mantiene
    <br> el <b>bolsillo</b>
    <br> jajaja
    <br>
    <br> Ahora <b>vamos</b> a la parte 2
    <br> <b>dónde</b> se ve su
    <br> <b>sumario</b> de crédito
    <br>
    <br> Y su <b>puntaje</b> con el que nosotros
    <br> empezamos a <b>trabajar</b>
    <br> <b>¿Okay?</b>
    <br>
    <br> Usted en <b>base</b> a esto
    <br> se le va a <b>dictar</b>
    <br>
    <br>
    <br> El <b>punto</b> de partida
    <br> como ya se lo <b>había</b>
    <br> <b>indicado</b>
    <br>
    <br> Eso es <b>evidencia</b>
    <br> de lo que le <b>dijo</b>
    <br> a <b>usted</b> la persona
    <br> <b>inicialmente</b>
    <br> es <b>correcto</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Aquí <b>vamos</b> a una parte
    <br> muy <b>importante</b>
    <br> y es su <b>sumario</b>
    <br> de <b>derrogatoria</b>
    <br>
    <br> Dónde se <b>representan</b>
    <br> sus <b>cuentas</b> negativas
    <br> dónde <b>nosotros</b> vamos
    <br> a estar <b>enfocados</b>
    <br> como <b>compañía</b>
    <br>
    <br> Actuando de esta <b>negativa</b>
    <br> que <b>está</b> afectando
    <br> su <b>crédito</b>
    <br>
    <br> Aquí <b>puede</b> ver usted
    <br> que <b>tiene</b>
    <br> __ <b>derrogatoria</b>
    <br> __ créditos <b>delincuenciales</b>
    <br> __ <b>inquris</b>
    <br> __ de <b>publicrécord</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Cada una <b>significa</b>
    <br> <b>comenzando</b> primero
    <br> a usted lo están <b>presentando</b>
    <br> como un <b>delicuente</b>
    <br>
    <br> Una <b>persona</b> que tomó
    <br> el <b>dinero</b>
    <br> el <b>objeto</b>
    <br> se <b>fugó</b>
    <br> y <b>nunca</b> volvieron
    <br> a saber de <b>él/ella</b>
    <br>
    <br> <b>Derrogatorias</b> es cuando
    <br> usted tiene la <b>cuenta</b>
    <br> <b>totalmente</b> perdida
    <br>
    <br> Y se <b>encuentra</b> en
    <br> <b>procesos</b> de corte
    <br>
    <br> Y <b>publirecord</b>
    <br> es cuando <b>usted</b>
    <br> ya le han <b>ganado</b>
    <br> la <b>corte</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Aquí <b><u>NO</u></b> se muestra
    <br> todo <b>colecciones</b>
    <br> o <b>atrasos</b>
    <br> sino que se <b>muestra</b>
    <br> lo más <b>negativo</b>
    <br> que <b>usted</b> tiene
    <br>
    <br> Y miré que <b>tenemos</b>
    <br> una <b>derogatoria</b>
    <br>
    <br> Un <b>proceso</b> de demanda
    <br> en el cual <b>nosotros</b>
    <br> <b>tenemos</b> que encargarnos
    <br> nosotros con <b>el</b>
    <br> <b>favor</b> de Dios
    <br> ¿<b>Okay</b>?
    <br>
    <br> Ya algo más <b>sencillo</b>
    <br> que <b>son</b> los chequeos
    <br> que es <b>cuando</b> usted
    <br> ha <b>calificado</b>
    <br> su reporte de <b>crédito</b>
    <br> pero eso <b><u>NO</u></b> me preocupa
    <br> <b>tanto</b> lo que nos
    <br> <b>preocupa</b>
    <br> es <b>esta</b>
    <br> <b>derogatoria</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Ahora en el <b>tercer</b> punto
    <br> tenemos el <b>análisis</b>
    <br> de <b>sus</b> cuenta
    <br>
    <br> Dónde le <b>van</b> a estar
    <br> mostrando <b>anteriormente</b>
    <br> diciendo las <b>delincuenciales</b>
    <br>
    <br> Y <b>derogatorias</b> en esta
    <br> se <b>muestran</b>
    <br> con <b>nombre</b>
    <br> con <b>fecha</b>
    <br> y <b>qué</b> es lo que
    <br> ha <b>sucedido</b>
    <br>
    <br> Si <b>usted</b> puede ver
    <br> tenemos <b>primero</b>
    <br> <b>___________</b>
    <br> dónde <b>dice</b> que usted
    <br> tiene días de <b>atraso</b>,
    <br> osea que <b>usted</b> está
    <br> <b>perdiendo</b> 20 a 30 puntos
    <br> por estarte <b>atrasando</b>
    <br>
    <br> Ahora <b>bien</b>
    <br> como <b>siguiente</b>
    <br> <b>tenemos</b> el
    <br> <b>___________</b>
    <br> que es <b>dónde</b> usted
    <br> <b>actualmente</b>
    <br> le están <b>haciendo</b>
    <br> <b>procesos</b>
    <br> en la <b>corte</b>
    <br>
    <br> Ahí <b>mismo</b> lo dice
    <br> <b>derogatoria</b> colección charge
    <br>
    <br> Es <b>cuando</b> usted
    <br> ya se <b>fugó</b>
    <br> con el <b>dinero</b>
    <br> <b>cuando</b> dicen que usted
    <br> es un <b>delincuente</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Lo están <b>haciendo</b> ver
    <br> a <b>usted</b> como un
    <br> <b>delincuente</b> de esta
    <br> <b>cuenta</b>
    <br>
    <br> Y si <b>gana</b> la demanda
    <br> en <b>corte</b> se le va
    <br> a <b>sumar</b> una cuenta
    <br> <b>delicuencial</b>
    <br>
    <br> Y un <b>publirecord</b>
    <br> ve <b>usted</b> lo peligroso
    <br> que es <b>esto</b>
    <br>
    <br> Menos <b>mal</b> usted
    <br> está <b>hablando</b> conmigo
    <br>
    <br> Y <b>nosotros</b> le vamos
    <br> a <b>ayudar</b> con eso
    <br> en lo <b>siguiente</b>
    <br> le <b>muestran</b>
    <br> su <b>publirecord</b>
    <br> sus <b>inquris</b>
    <br>
    <br> En <b>dónde</b> fueron
    <br> y en qué <b>fecha</b>
    <br> <b>fueron</b>
    <br>
    <br> Qué es el <b>prestamo</b>
    <br> que ha <b>estado</b> dando
    <br> el <b>gobierno</b>
    <br>
    <br> Y <b>también</b> le chequean
    <br> su <b>crédito</b>
    <br> y el <b>___________ </b>
    <br> de <b>último.</b>
    <br>
    <br> Aparte <b></b>dónde se ve
    <br> el <b>monitoreo</b> de las
    <br> <b>cuentas</b> que usted
    <br> está <b>manejando</b>
    <br> <b>actualmente</b>
    <br> <b><u>NO</u></b> todo como le había
    <br> <b>indicado</b> yo se trata
    <br> de <b>eliminar</b> las cuentas
    <br> de su reporte de <b>crédito</b>
    <br> sino <b>también</b> del manejo
    <br> que usted le <b>está</b> dando
    <br> a su <b>reporte</b> de crédito
    <br> puede ver aquí los <b>límites</b>
    <br> que <b>usted</b> tiene en las
    <br> tarjetas de <b>crédito</b>
    <br>
    <br> Y la <b>cantidad</b> de crédito
    <br> que usted está <b>utilizando</b>
    <br> o sea <b>usted</b> está en un __%
    <br> del <b>uso</b>
    <br>
    <br> Y miré que <b>ellos</b> mismos
    <br> le <b>están</b> diciendo que
    <br> está muy <b>bajo</b>
    <br>
    <br> Cuando está bajo <b>significa</b>
    <br> que <b>usted</b> lo está utilizando  mal,
    <br> <b><u>NO</u></b> puede seguir haciendo eso
    <br> tenemos que <b>comenzar</b>
    <br> a <b>bajar</b> los balances
    <br> de esta <b>tarjeta</b>
    <br> para que <b>Dios</b> mediante
    <br> su <b>puntaje</b> comience
    <br> <b>incrementar</b>.
    <br>
    <br> Mire <b>usted</b> la tasa
    <br> que le <b>empiezan</b> a dar
    <br> a <b>usted</b> de porcentaje
    <br> en <b>récord</b> por tener
    <br> bajo <b>balance</b> el 30%
    <br> de su <b>crédito</b>
    <br>
    <br> Como lo <b>había</b> dicho
    <br> <b>anteriormente</b>
    <br> se trata de <b>eso</b>
    <br>
    <br> Entonces es <b>bien</b>
    <br> <b>importante</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Ahora <b></b>mire que acá
    <br> dice que <b>tan</b> rápido
    <br> <b>va</b> a ver usted
    <br> los <b>cambios</b>
    <br> en su <b>crédito</b>
    <br>
    <br> <b>Cada</b> vez que usted
    <br> baje el <b>balance</b>
    <br> <b>día</b> a día
    <br> puede ir <b>cambiando</b>
    <br> su <b>puntaje</b> de crédito
    <br> desde <b>ciertas</b> plataformas
    <br>
    <br> O sea las <b>plataformas</b>
    <br> <b>directas</b> de cada buró
    <br> de <b>crédito</b>
    <br>
    <br> Ahora en <b>otros</b> lugares
    <br> lo <b>podría</b> usted estar
    <br> <b>viendo</b> cada
    <br> 1 o 2 <b>meses</b>
    <br> como lo <b>indica</b>
    <br> <b>aquí</b>.
    <br>
    <br> Muy bien <b>ahora</b> vamos
    <br> a ir al <b>sumario</b> del crédito
    <br> que <b>usted</b> ha utilizado
    <br> <b>hasta</b> la fecha
    <br>
    <br> Aquí <b>tenemos</b> en cada
    <br> buro del <b>crédito</b>
    <br>
    <br> Qué <b>cantidad</b> de cuentas
    <br> tiene usted <b>abiertas</b>
    <br> <b>ojo</b> cada cuenta de esas
    <br> dónde usted <b><u>NO</u></b> tenga pagos
    <br> <b>reportado</b>
    <br>
    <br> Si algún <b>buró</b> de crédito
    <br> <b><u>NO</u></b>
    <br> le está <b>reportando</b> la cuenta
    <br> es nuestro <b>deber</b> ayudarle
    <br> a usted <b>reportar</b> esas cuentas
    <br> con el favor de <b>Dios</b>
    <br> <b>nuevamente</b> en su crédito
    <br> para que su <b>puntaje</b>
    <br>
    <br> Aumente como <b>usted</b>
    <br> pudo <b>percatar</b>
    <br> en su <b>puntaje</b> está
    <br> <b>diferente</b> en los tres
    <br> <b>burós</b> de crédito
    <br> puede <b>presentarse</b> muchas
    <br> ocasiones porque <b><u>NO</u></b> están
    <br> <b>representando</b>
    <br> el <b>historial</b> completo
    <br> en su <b>crédito</b>
    <br> o <b><u>NO</u></b> le están reportando
    <br> las cuentas cómo se <b>deberían</b>
    <br> en <b>cada</b> buro
    <br>
    <br> Ahora <b>bien</b> del total
    <br> de esas <b>cuentas</b>
    <br> que <b>usted</b> tiene
    <br> _____ son <b>abiertas</b> y
    <br> _____ <b>encuentran</b>
    <br> <b>cerradas</b>
    <br>
    <br> Pero <b>mire</b> aquí
    <br> está el <b>error</b>
    <br> <span class="blue">(Experian / <b>Equifax</b> / Transunion)</span>
    <br> dice que <b>solamente</b>
    <br> tiene <b>_____</b> cerradas y
    <br> _____ <b>abiertas</b>
    <br>
    <br> Tenemos ese <b>problema</b>
    <br> que usted <b><u>NO</u></b> le reportan
    <br> las <b>cuentas</b> correctamente
    <br> por eso el <b>puntaje</b>
    <br> de <span class="blue">(Experian / <b>Equifax</b> / Transunion)</span>
    <br> está <b>tan</b> bajo
    <br>
    <br> Ahora <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> cómo <b>puede</b> ver usted
    <br> Aquí los  <b>balances</b>
    <br>
    <br> Muy bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> Ahora <b>vamos</b> a la parte
    <br> del <b>sumario</b> de utilización
    <br> de su <b>crédito</b>
    <br>
    <br> Aquí es <b>dónde</b> se le ve
    <br> la <b>cantidad</b> de cuentas
    <br> que <b>usted</b> abierto
    <br> en su <b>crédito</b> a lo largo
    <br> de que usted ha <b>empezado</b>
    <br> a <b>calificar</b>
    <br>
    <br> Ahora <b>bien</b>
    <br> <b>usted</b> puede ver aquí
    <br> que usted <b>tiene</b> un
    <br> <b>total</b> de
    <br> <b>___</b> cuentas abiertas
    <br> ¿<b>Okay</b>?
    <br>
    <br> Pero <b>aquí</b> tenemos
    <br> el problema veo <b>aquí</b> que usted
    <br> tiene un <b>total</b> de _____
    <br> cuentas <b>abiertas</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Como yo lo indique <b><u>NO</u></b> todo
    <br> se trata de <b>borrar</b> cuenta
    <br> de su <b>reporte</b> de crédito
    <br> sino también de <b>actualizar</b>
    <br> el <b>historial</b>
    <br> la falta de <b>pagos</b>
    <br> y o <b>atrasos</b>
    <br> que usted está <b>reportando</b>
    <br> en su <b>crédito</b> es que usted
    <br> está <b>reportando</b> en su crédito
    <br>
    <br> Cómo se lo <b>había</b> indicado
    <br> que es lo que pasa que <b>nosotros</b>
    <br> <b>tenemos</b> varias cuentas
    <br> en cada <b>uno</b> de los buro
    <br> que si <b><u>NO</u></b> se la están reportando
    <br> en algún <b>historial</b>
    <br> <b>vamos</b> a hacerlo
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>) de <b>estas</b>
    <br> ____ <b>cuentas</b> que usted
    <br> tiene <b>abiertas</b> según
    <br> (experian/<b>equifax</b>/Transunion)
    <br> porque (experian/<b>equifax</b>/Transunion)
    <br> está <b>indicando</b> que usted
    <br> tiene ____ <b>cuentas</b> abiertas
    <br> ____ se <b>encuentran</b> cerradas
    <br> pero aquí <b>tenemos</b> de
    <br> los <b>errores</b> más grandes
    <br>
    <br> Hay una de las <b>cuentas</b>
    <br> que <b><u>NO</u></b> se la están reportando
    <br> esos <b>errores</b> suelen presentarse
    <br> mucho en los <b>buró</b> de crédito
    <br> por eso se <b>puede</b> ver
    <br> que sus <b>tres</b> puntajes
    <br> en <b>ocasiones</b> son tan diferentes
    <br> porque <b><u>NO</u></b> le están reportando
    <br> todo cómo <b>sería</b>
    <br>
    <br> Ahora bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>) nuestro <b>deber</b>
    <br> es que a <b>partir</b> de ahora
    <br> en <b>adelante</b>
    <br>
    <br> Esas cuentas que <b><u>NO</u></b> se están
    <br> reportando <b>correctamente</b>
    <br> en su <b>crédito</b> comienzan
    <br> a <b>reportarse</b> los pagos
    <br> o se <b>remuevan</b> los atrasos
    <br> con el <b>favor</b> de Dios
    <br> para que <b>su</b> puntaje
    <br> así <b>incremente</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Y también <b>hacer</b> que esa
    <br> cuenta de (experian/<b>equifax</b>/Transunion)
    <br> que <b><u>NO</u></b> se está reportando
    <br> pueda <b>reportarse</b>
    <br> cómo se <b>debería</b>
    <br> porque asi (experian/<b>equifax</b>/Transunion)
    <br> tendría el <b>puntaje</b>
    <br> <b>mucho</b> mejor
    <br>
    <br> Mire ahora qué tan <b>grande</b>
    <br> puede <b>llegar</b> a ser el problema
    <br> de que una <b>sola</b> cuenta
    <br> en su crédito <b><u>NO</u></b> se reporte
    <br>
    <br> Mire <b>usted</b> que según es
    <br> <span class="blue">(experian/<b>equifax</b>/Transunion)</span>
    <br> usted <b>actualmente</b> debe $____
    <br> mientras que en (experian/<b>equifax</b>/Transunion)
    <br> están <b>indicando</b> que usted
    <br> <b>solamente</b> debe $___
    <br>
    <br> O sea que <b>tenemos</b>
    <br> una <b>abismal</b> cifra
    <br> de <b>más</b> de $_____
    <br> que tiene un <b>buró</b> de crédito
    <br> a otra de <b>diferencia</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Todo eso hay que <b>reportarlo</b>
    <br> porque <b>todo</b> se va
    <br> todo ese <b>balance</b> de puntaje
    <br> para usted <b>porque</b> si usted
    <br> está al <b>día</b> con eso
    <br>
    <br> Hay que <b>reportarlo</b>
    <br> como ya se lo <b>había</b>
    <br> <b>explicado</b> anteriormente
    <br> muy <b>bien</b>
    <br>
    <br> A continuación le <b>vamos</b> a hacer
    <br> la <b>descripción</b> de nuestro proceso
    <br> sea de <b>nuestro</b> plan día
    <br> para <b>Dios</b> mediante ayudarlo
    <br> a usted y <b>eliminar</b>
    <br> esos <b>reportes</b> negativos
    <br> de su <b>crédito</b>
    <br>
    <br> Tanto así <b>para</b> que su puntaje
    <br> pase de <b>estar</b> bajo
    <br> a un <b>score</b> alto
    <br> ¿<b>Okay</b>?
    <br>
    <br> Para <b>lograr</b> eso
    <br> nosotros <b>le</b> vamos
    <br> a estar <b>indicando</b>
    <br> usted <b>además</b> de borrar
    <br> sus <b>cuentas</b>
    <br>
    <br> <b>Actualizarlas</b>
    <br> y <b>verificarlas</b>
    <br> indicarle <b>cuál</b> es el manejo
    <br> que <b>usted</b> le va a estar dando
    <br> de su <b>reporte</b> de crédito
    <br>
    <br> Y en <b>adición</b> a esto
    <br> darle a <b>usted</b> educación
    <br> <b>sobre</b> como usted tiene
    <br> que hacer <b>reportar</b> sus cuentas
    <br> cuando usted <b>califica</b>
    <br> para <b>crédito</b>, como para
    <br> ese <b>crédito</b>, para usted
    <br> tener cambios <b>positivos</b>
    <br> en el <b>buró</b> sea
    <br> experian <b>equifax</b> o trasunión
    <br>
    <br> El cual <b>eso</b> va a ser
    <br> parte de <b>nuestro</b> proceso
    <br> y <b>son</b> varios pasos
    <br> en el cual <b>usted</b>
    <br> <b>anteriormente</b>
    <br> si le <b>habían</b> indicado
    <br> que usted <b>primeramente</b>
    <br> tiene que tener <b>comunicación</b>
    <br> con <b>nosotros</b>
    <br>
    <br> Para <b>poder</b> nosotros
    <br> estarle <b>indicando</b>
    <br> <b>cuál</b> es el proceso
    <br> <b>efectivo</b>
    <br>
    <br> Que hemos <b>estado</b> teniendo
    <br> con esas cuentas en <b>disputa</b>
    <br>
    <br> 2. También <b>vamos</b> a estar
    <br> enviando videos <b>informativos</b>
    <br> ya sea por <b>medio</b> de su WhatsApp
    <br> o su correo <b>electrónico</b>
    <br> en el <b>que</b> se le va a
    <br> <b>solicitar</b> informaciin
    <br> previa de los <b>buró</b> de crédito
    <br> por favor <b>todo</b> debe contestarlos
    <br>
    <br> 3. Usted <b>debe</b> provisionar
    <br> fotografías de los <b>documentos</b>
    <br> emitidos por el <b>gobierno</b>
    <br> y que <b>comprueben</b> su identidad
    <br> frente a la <b>entidad</b>
    <br> <b>subgubernamental</b>
    <br> experian, <b>equifax</b> y transunion
    <br>
    <br> Recuerda que <b>nosotros</b>
    <br> nos <b>estamos</b> encargando
    <br> <b>actualmente</b> de una alerta
    <br> de posible <b>robo</b> de identidad
    <br> que a usted <b>aparentemente</b>
    <br> lo <b>confunden</b> con alguien
    <br>
    <br> Nuestro <b>primer</b> paso
    <br> y <b>gran</b> salto es que
    <br> a usted lo <b>reconozcan</b>
    <br> como único <b>dueño</b>
    <br> y <b>acreedor</b> de este
    <br> <b>número</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Ahora <b>bien</b>
    <br> si usted <b>quiere</b> que
    <br> su <b>proceso</b> se vea actuando
    <br> bajo velocidad <b><u>NO</u></b> vaya a
    <br> cometer <b>ninguna</b>
    <br> de los <b>siguientes</b>
    <br> <b>pasos</b> que yo le voy
    <br> a <b>indicar</b>
    <br>
    <br> O sea <b><u>NO</u></b> puedo <b><u>NO</u></b> puede
    <br> hacerlo <b>tiene</b> que evitar
    <br><b><u>NO</u></b> contestar nuestras llamadas
    <br> enviarnos los <b>documentos</b>
    <br> en las <b>fechas</b> que son
    <br> en cada <b>resultado</b>
    <br>
    <br> Ya que cada <b>resultado</b>
    <br> que <b>usted</b> reciba nosotros
    <br> debemos <b>tenerlos</b> para atrás
    <br>
    <br> Y los <b>documentos</b> debe
    <br> estar con las <b>cuatro</b> esquinas
    <br> totalmente <b>legible</b>
    <br> sin <b>sombra</b>
    <br> sin <b>flash</b>
    <br> y <b>sin arrugas </b>
    <br>
    <br> También <b>tiene</b> usted
    <br> que <b>mantener</b> sus tarjetas
    <br> en balance <b><u>NO</u></b> puede atrasarse
    <br><b><u>NO</u></b> puede chequear el crédito
    <br> tiene que <b>evitar</b> usted
    <br> abrir <b>cuenta</b> nuevas
    <br> o cómo tal <b>dejar</b> de utilizar
    <br> sus <b>mismas</b> cuentas
    <br>
    <br> Una <b>cuenta</b> tiene que tener
    <br> un balance <b><u>NO</u></b> excesivo
    <br> pero tampoco <b>puede</b>
    <br> estar en un <b>balance</b> cerrado
    <br> o sea en <b>0%</b> siempre tiene
    <br> <b>usted</b> que tener una actividad
    <br> en su <b>reporte</b> de crédito
    <br> si usted <b>sigue</b> cada uno
    <br> de los <b>tips</b> que nosotros
    <br> le <b>acabamos</b> de dar
    <br> Dios <b>mediante</b> usted
    <br> va a <b>ver</b> como su
    <br> reporte de <b>crédito</b>
    <br> va a estar <b>aumentando</b>
    <br> en un <b>puntaje</b>
    <br>
    <br> También <b></b>como esas cuentas
    <br> van siendo <b>removidas</b>
    <br> con el <b>favor</b> de Dios
    <br> ¿<b>Okay</b>?
    <br>
    <br> Ahora <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> cómo se le <b>indicó</b> a usted
    <br> a parte de <b>nosotros</b> enviar
    <br> las <b>cartas</b> iniciales tenemos
    <br> que <b>identificarle</b> a usted,
    <br> luego de que lo <b>identificamos</b>
    <br> Dios <b>mediante</b> en un período
    <br> de 90 a <b>120 días </b>
    <br> es que <b>usted</b> ve resultados
    <br> en su <b>puntaje</b> de crédito
    <br> ¿¿<b>Okay</b>??
    <br>
    <br> Luego de que lo <b>identifiquen</b>
    <br> como le estoy <b>indicando</b>
    <br> yo porque <b>primero</b> necesitamos
    <br> que los <b>buró</b> de crédito
    <br> <b>comprueban</b> que usted
    <br> la <b>persona</b>
    <br> que dice <b>ser</b>
    <br> ¿<b>Okay</b>?
    <br>
    <br> Okay <b>herman<span class="blue">o/a</span></b> ya con esto
    <br> le hemos <b>brindado</b>
    <br> la <b>información</b> de cinco pasos
    <br> <b>fundamentales</b> que vamos a estar
    <br> atravesando en este <b>proceso</b>
    <br> de <b>reparar</b> su crédito
    <br>
    <br> Ya tiene usted la <b>información</b>
    <br> que <b>necesita</b>,
    <br> un <b>número</b> de teléfono
    <br> correo <b>electrónico</b>
    <br> y como tal el <b>Website</b>
    <br> de <b>créditomejor.com </b>
    <br>
    <br> Dónde usted <b>puede</b> chequear
    <br> también <b>actualizaciones</b>
    <br> que <b>hacemos</b> desde la página
    <br> o también para que <b>todos</b>
    <br> sus <b>familiares</b> interactúen
    <br> y vea nuestro <b>contenido</b>
    <br>
    <br> Ahora <b>bien</b>
    <br> tiene usted <b>alguna</b> preguntita
    <br> <b>algo</b> que le pueda ayudar
    <br> en el <b>día</b> de hoy
    <br> todo lo que <b>usted</b>
    <br> <b>requiera</b>.
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
