
.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.none {
  display: none;
}

.intro,
.trabaja,
.notrabaja{
  line-height: 45px;
  margin: 4rem auto;
  font-size: 36px;
  text-align: center;
}
.largo{
  width: 470px;
  height: 40px;
  font-size: 20px;
  margin-left: 10px;
  background-color: lightyellow;
  background: lightyellow;
  color: black;
}
hr {border-top: 1px solid red;}
.btng{
  width: 250px;
}
.peque{
  margin-left: 10px;
  width: 80px;
  height: 40px;
  font-size: 18px;
}
label{
  font-weight: 600;
  font-size: 26px;
}
select {
  font-size: 26px;
  background-color: lightyellow;
}
.min{
  font-size: 22px;
  height: 35px;
  width: 200px;
}
/*  */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=time]:focus-visible {
  outline-color: transparent;
}
/* atras */
.atras {
  position: absolute;
  top: 4rem;
}
.btn-A {
  font-size: 36px;
  background-color: blue;
  color: white;
}
