<div class="content">
  <div class=" intro ">
    <br>
    <br>
    <br>La carta que Ud. ha recibido,
    <br>es una carta generada por <b>computadora</b>
    <br>
    <br>
    <br>A continuación, le voy a <b>explicar</b>
    <br>por que decidimos <b>contestar</b>
    <br><b>esta</b> carta
    <br>la cual es una <b>violación</b> a sus derechos.
    <br><b>Sistematicamente,</b> TransUnion
    <br>hace esto,
    <br>incluso a miles de nuestros clientes,
    <br>y consumidores en general
    <br>De la siguiente manera:
    <br>
    <br><b>¡PRESTE MUCHA ATENCIÓN!</b>
    <br>
    <br>Por que le voy a leer,
    <br>la carta de contestación a (<span style="color: blue;">TransUnion</span>)
    <br>
    <br>Tenga en cuenta, que se ha <b>recibido</b>
    <br>su carta generada por <b>computadora,</b>
    <br>la cual indica que ha <b>dejado</b> de investigar
    <br>mis informes de <b>crédito,</b>
    <br>porque en su <b>opinión</b>,
    <br>cree que he <b>utilizado</b>
    <br>una agencia de <b>reparación</b> de crédito
    <br>de <b>terceros.</b>
    <br>
    <br>No solo creo que esta
    <br>es una táctica <b>dilatoria</b> de su parte,
    <br>para otorgarle 30 días <b>adicionales</b>
    <br>para <b>cumplir</b> con mi solicitud original,
    <br>sino que creo que <b style="text-decoration: underline;">es</b>
    <br>una <b style="text-decoration: underline;">violación</b> fragante de la FCRA,
    <br>Le informé en (<span style="color: green;">indicarle la fecha</span>)
    <br>por correo <b>certificado</b>.
    <br>Adjunto le envío la solicitud <b>original</b>
    <br>que <b>cuestiona</b> la exactitud
    <br>de algunos de los <b>elementos</b>
    <br>en mi informe <b>crediticio</b>.
    <br>
    <br>
    <br>Me parece <b>obvio</b>
    <br>que está <b>abusando</b>
    <br>de su poder bajo la <b>FCRA</b>,
    <br>para <b>escapar</b> de una investigación completa.
    <br>
    <br>
    <br>Aquí <b>nuevamente</b> le envío
    <br>la <b>información</b> incorrecta
    <br>que se informa,
    <br> (<span style="color: green;">y ahí se le pone la reclamación</span>),
    <br>además, <b style="text-decoration: underline;">no</b> existe una ley
    <br>que establezca que un <b>consumidor</b>
    <br><b style="text-decoration: underline;">no</b> puede usar a un tercero.
    <br>
    <br>
    <br>Por lo que usar eso como <b>excusa</b>
    <br>es <b>irrelevante</b>,
    <br>de hecho, el <b>congreso</b>
    <br>de los <b>Estados Unidos</b>
    <br>ha encontrado que todo el <b>proceso</b>
    <br>es tan <b>abrumador</b>,
    <br>que <b>otorgar</b> a los consumidores
    <br>el <b>derecho</b> a utilizar a un tercero
    <br>en su <b>nombre</b>
    <br><b style="text-decoration: underline;">si</b> el consumidor así lo desea,
    <br>
    <br>Y en el caso de su contrato establece que nosotros podemos representarlo a Ud.,
    <br>y que Ud. nos otorga el derecho de nosotros poder cuestionar cualquier tipo de información que aparezca en su reporte,
    <br>Y hacer reclamaciones
    <br>Y eso es lo que estamos haciendo,
    <br>Pero como le dije esto es una carta que usan de computadora para asustarlo a Ud.,
    <br>Y para qué sobre todo Ud. no siga persiguiendo sus derechos.
    <br>
    <br>
    <br>Continuando con la carta que le leí anteriormente
    <br>Donde se Indica que, “de hecho el congreso los Estados Unidos han encontrado que todo el proceso es tan abrumador, que otorga a los consumidores el derecho de utilizar a un tercero a en su nombre si el consumidor así lo desea”,
    <br>Es por eso que su declaración es tan vergonzosa,
    <br>Que me reservo el derecho de demandar a cualquier agencia de crédito
    <br>Por violaciones de la ley de informes crediticios justos,
    <br>Y creo que puedo probar que no usó medidas razonables,
    <br>Para asegurar la precisión de mis informes crediticios
    <br>Y que ahora está retrasando el proceso aún más.
    <br>
    <br>
    <br>Me doy <b>cuenta</b>
    <br>que las disputas pueden ser <b>costosas</b>
    <br>y es su trabajo <b>detenerlas</b>,
    <br>pero lo que hace <b style="text-decoration: underline;">es</b>,
    <br>con gran <b>riesgo</b>, hacia Ud.,
    <br>ya que puede ser <b>demandado</b>,
    <br>tenga en <b>cuenta</b>
    <br>que esta <b>carta</b> fechada
    <br>(<span style="color: green;">Se inserta la fecha de hoy</span>),
    <br>es un aviso <b>formal</b>
    <br>de que le <b>solicito</b>
    <br>que <b>continúe</b>
    <br>con mi <b>solicitud</b>
    <br>de investigación <b>original</b>
    <br>y que me <b>envíe</b> los resultados
    <br>dentro de los <b>próximos</b> 15 días,
    <br>por lo <b>tanto</b>,
    <br>legalmente <b>rechazo</b> su carta modelo,
    <br>carta <b>generada</b> por computadora
    <br>y le doy solo <b>15</b> días
    <br>no <b>30</b> más,
    <br>estoy <b>molest@</b>
    <br>e <b>indignad@</b> por su acusación
    <br>Y he investigado mis <b>derechos</b>
    <br>con respecto a mi <b>expediente</b> crediticio,
    <br>Por favor <b>acelere</b>
    <br>mi solicitud original <b>inmediatamente</b>.
    <br>
    <br>(<span style="color: green;">Fin de comunicado por nosotros</span>)
    <br>
    <br>
    <br>Como Ud. <b style="text-decoration: underline;">ve</b>
    <br>todo estas son tácticas <b>dilatorias</b>,
    <br>esto es <b>algo </b>
    <br>que nosotros <b>recibimos</b> constantemente
    <br>de los <b>miles</b>
    <br>de clientes que <b>tenemos</b>,
    <br>es un proceso que tienen <b>ellos</b>
    <br>para poner <b>dudas</b> en la mente suya,
    <br>Y para que Ud. no <b>persiga</b>
    <br>lo que a Ud. le corresponde por la <b>ley</b>,
    <br>así que <b>tranquil@</b>,
    <br>eso quiere <b>decir</b>
    <br>que saben que estamos <b>ganando</b> la batalla
    <br>y están buscando la forma de <b>dilatar</b> el proceso,
    <br>tenga <b>fé</b>,
    <br>y <b>confianza</b> en nosotros
    <br>que llevamos <b>más</b> de 15 años haciendo esto
    <br>Y sabemos lo que <b>tenemos</b> que hacer,
    <br><b>¿OKAY?</b>
    <br>De <b>todas</b> formas,
    <br>le estamos <b>enviando</b> también esta carta
    <br>para que Ud. la pueda <b>leer</b>,
    <br>Así que <b>tranquila</b>,
    <br>es parte del <b>proceso</b>
    <br>ya que ellos <b style="text-decoration: underline;">no</b> se van a salir con la suya,
    <br>Recuerde <b style="text-decoration: underline;">que</b>,
    <br>entre el bien y el <b>mal</b>,
    <br>el <b>bien</b> siempre perdura
    <br>¿<b>OKAY</b> hermana?
    <br>
    <br>- (<span style="color: green;">Y se le va a juntar una copia de nuevo en la correspondencia que le vamos a mandar</span>)
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
