<div class="content">
  <div class=" intro ">
    <br>
    <br>
    <br>La carta que Ud. ha recibido,
    <br>es una carta generada por <b>computadora</b>
    <br>
    <br>
    <br>A continuación, le voy a <b>explicar</b>
    <br>por que decidimos <b>contestar</b>
    <br><B>esta</B> carta
    <br>la cual es una <b>violación</b> a sus derechos.
    <br><b>Sistematicamente,</b> TransUnion
    <br>hace esto,
    <br>incluso a miles de nuestros clientes,
    <br>y consumidores en general
    <br>De la siguiente manera:
    <br>
    <br><b>¡PRESTE MUCHA ATENCIÓN!</b>
    <br>
    <br>Por que le voy a leer,
    <br>la carta de contestación a (<span style="color: blue;">TransUnion</span>)
    <br>
    <br>Tenga en cuenta, que se ha <b>recibido</b>
    <br>su carta generada por <b>computadora,</b>
    <br>la cual indica que ha dejado de investigar
    <br>mis informes de <b>crédito,</b>
    <br>porque en su <b>opinión</b>,
    <br>cree que he <b>utilizado</b>
    <br>una agencia de <b>reparación</b> de crédito
    <br>de <b>terceros.</b>
    <br>
    <br>No solo creo que esta
    <br>es una táctica <b>dilatoria</b> de su parte,
    <br>Para otorgarle 30 días <b>adicionales</b>
    <br>para <b>cumplir</b> con mi solicitud original,
    <br>Sino que creo que <b style="text-decoration: underline;">es</b>
    <br>una <b style="text-decoration: underline;">violación</b> fragante de la FCRA,
    <br>Le informé en (<span style="color: green;">indicarle la fecha</span>)
    <br>Por correo <b>certificado</b>.
    <br>Adjunto le envío la solicitud <b>original</b>
    <br>Que <b>cuestiona</b> la exactitud
    <br>de algunos de los <b>elementos</b>
    <br>en mi informe <b>crediticio</b>.
    <br>
    <br>
    <br>Me parece <b>obvio</b>
    <br>que está <b>abusando</b>
    <br>de su poder bajo la <b>FCRA</b>,
    <br>para <b>escapar</b> de una investigación completa.
    <br>
    <br>
    <br>Aquí <b>nuevamente</b> le envío
    <br>la <b>información</b> incorrecta
    <br>que se informa,
    <br> (<span style="color: green;">Y ahí se le pone la reclamación</span>),
    <br>además, <b style="text-decoration: underline;">no</b> existe una ley
    <br>que establezca que un <b>consumidor</b>
    <br><b style="text-decoration: underline;">no</b> puede usar a un tercero.
    <br>
    <br>
    <br>Por lo que usar eso como <b>excusa</b>
    <br>es <b>irrelevante</b>,
    <br>De hecho, el <b>congreso</b>
    <br>de los <b>Estados Unidos</b>
    <br>ha encontrado que todo el <b>proceso</b>
    <br>es tan <b>abrumador</b>,
    <br>Que <b>otorgar</b> a los consumidores
    <br>el <b>derecho</b> a utilizar a un tercero
    <br>en su <b>nombre</b>
    <br><b style="text-decoration: underline;">si</b> el consumidor así lo desea,
    <br>
    <br>Y en el caso de su contrato establece que nosotros podemos representarlo a Ud.,
    <br>Y que Ud. nos otorga el derecho de nosotros poder cuestionar cualquier tipo de información que aparezca en su reporte,
    <br>Y hacer reclamaciones
    <br>Y eso es lo que estamos haciendo,
    <br>Pero como le dije esto es una carta que usan de computadora para asustarlo a Ud.,
    <br>Y para qué sobre todo Ud. no siga persiguiendo sus derechos.
    <br>
    <br>
    <br>Continuando con la carta que le leí anteriormente
    <br>Donde se Indica que, “de hecho el congreso los Estados Unidos han encontrado que todo el proceso es tan abrumador, que otorga a los consumidores el derecho de utilizar a un tercero a en su nombre si el consumidor así lo desea”,
    <br>Es por eso que su declaración es tan vergonzosa,
    <br>Que me reservo el derecho de demandar a cualquier agencia de crédito
    <br>Por violaciones de la ley de informes crediticios justos,
    <br>Y creo que puedo probar que no usó medidas razonables,
    <br>Para asegurar la precisión de mis informes crediticios
    <br>Y que ahora está retrasando el proceso aún más.
    <br>
    <br>
    <br>Me doy cuenta que las disputas pueden ser costosas y es su trabajo detenerlas,
    <br>Pero lo que hace es con Gran riesgo hacia Ud.,
    <br>Ya que puede ser demandado,
    <br>Tenga en cuenta que esta carta fechada -/-/-
    <br>(<span style="color: blue;">Y ahí se inserta la fecha del día de hoy</span>),
    <br>Es un aviso formal de que le solicito que continúe con mi solicitud de investigación original
    <br>Y que me envíe los resultados dentro de los próximos 15 días,
    <br>Por lo tanto, legalmente rechazo su carta modelo,
    <br>Carta generada por computadora y le doy solo 15 días no 30 más,
    <br>Estoy molest@ e indignad@ por su acusación
    <br>Y he investigado mis derechos con respecto a mi expediente crediticio,
    <br>Por favor acelere mi solicitud original inmediatamente.
    <br>
    <br>(<span style="color: blue;">Fin de comunicado por nosotros</span>)
    <br>
    <br>
    <br>Como Ud. ve todo estas son tácticas dilatorias,
    <br>Esto es algo que nosotros recibimos constantemente
    <br>De los miles de clientes que tenemos,
    <br>Es un proceso que tienen ellos para poner dudas en la mente suya,
    <br>Y para que Ud. no persiga lo que a Ud. le corresponde por la ley,
    <br>Así que tranquila,
    <br>Eso quiere decir que saben que estamos ganando la batalla
    <br>Y están buscando la forma de dilatar el proceso,
    <br>Tenga fe,
    <br>Y confianza en nosotros que llevamos más de 15 años haciendo esto
    <br>Y sabemos lo que tenemos que hacer,
    <br>¿OKAY?
    <br>De todas formas, le estamos enviando también esta carta para que Ud. la pueda leer,
    <br>Así que tranquila,
    <br>Es parte del proceso Ya ellos no se van a salir con la suya,
    <br>Recuerde que, entre el bien y el mal, el bien siempre perdura
    <br>¿OKAY hermana?
    <br>
    <br>- (<span style="color: blue;">Y se le va a juntar una copia de nuevo en la correspondencia que le vamos a mandar</span>)
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
