<div class="content">
    <div class="{{intro}}">
        <span style="color:green;"><h1>BANCARROTA</h1></span>
        <br><br>
        (<span *ngIf="cliente">{{ cliente.nombres }}</span>) Hace cuanto <b>tiempo</b> <br>
        <b>sucedio</b> la bancarrota?
        <br>
        <select>
            <option>1 Año</option>
            <option>2 Años</option>
            <option>3 Años</option>
            <option>4 Años</option>
            <option>5 Años</option>
            <option>6 Años</option>
            <option>7 Años</option>
            <option>8 Años</option>
            <option>9 Años</option>
            <option>10 Años</option>
            <option>11 Años</option>
            <option>12 Años</option>
        </select>
        <br>
        <br><span>Que tipo de <b>bancarota</b> es?</span>
        <br>
        <br>
        <button class="btn_g" type="button" (click)="verBtns('siete')">Capitulo 7</button>
        <button class="btn_g" type="button"  (click)="verBtns('once')">Capitulo 11</button>
        <button class="btn_g" type="button"  (click)="verBtns('trece')">Capitulo 13</button>

        <div style="font-size: 36px;"  *ngIf="capsiete">
           <br> <b>Capitulo 7</b>
           <br> <b>indica</b> que usted
           <br> esta <b>exonerado</b>
           <br> de <b>todo</b> tipo de cuenta,
           <br> de <b>pagarla<br></b>
           <br> y no puede sacar <b>credito</b>
           <br> hasta por <b>2 años</b>.
        </div>

        <div style="font-size: 36px;"  *ngIf="caponce">
            <br> <b>Capitulo 11</b>
            <br> indica que a la <b>empresa</b>
            <br> le <b>liquidan</b> todo tipo
            <br> de <b>activos</b> que tiene,
            <br> y <b>luego</b>
            <br> que se hayan <b>agotado</b>
            <br> los <b>mismos</b>,
            <br> se <b>puede</b> declarar
            <br> en <b>capitulo 7</b>
        </div>

        <div style="font-size: 36px;"  *ngIf="captrece">
            <br> <b>Capitulo 13</b>
            <br> indica que a la <b>persona</b>
            <br> le <b>liquidan</b> todo tipo
            <br> de <b>activos</b> que tiene,
            <br> y <b>luego</b>
            <br> que se hayan <b>agotado</b>
            <br> los <b>mismos</b>,
            <br> se <b>puede</b> declarar
            <br> en <b>capitulo 7</b>
        </div>
        <br>
        <br>
        <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) Hoy en <b>dia</b>,
        <br> tener una <b>bancarrota</b>
        <br> <u><b>NO</b></u> es como antes
        <br> antes se <b>pensaba</b>
        <br> que <b>esto</b> era
        <br> como una <b>enfermedad</b>
        <br> como el <b>sida</b>
        <br> o una <b>enfermedad</b> infecciosa.
        <br>
        <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) Hoy en <b>dia</b>,
        <br> hasta el <b>mismo</b> Donald Trump
        <br> declaro en <b>cuatro</b> ocasiones
        <br> la <b>bancarrota</b>
        <br> y <b>mire</b>,
        <br> fue <b>Presidente</b>
        <br> de los <b>Estados unidos</b>.
        <br>
        <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) Hoy en <b>dia</b>,
        <br> la <b>bancarrota</b>
        <br> <u><b>NO</b></u> es otra cosa
        <br> que la organizacion de las <b>finanzas</b>
        <br> y asi lo ve la <b>mayoria</b>
        <br> de los <b>acreedores</b>.
        <br>
        <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) Una persona que tenga <b>bancarrota</b>,
        <br> <u><b>NO</b></u> puede sacar
        <br> <b>ningun</b> tipo de credito
        <br> hasta <b>dos</b> años despues,
        <br> a menos de que tenga <b>permiso</b>
        <br> del <b>indico</b>.
        <br>
        <br> lo cual <b>indica</b>
        <br> que <b>cualquier</b> persona
        <br> que tenga una <b>bancarrota</b>
        <br> de un año en <b>adelante,</b>
        <br> aqui en <b>creditomejor.com</b>
        <br> nosostros le <b>podemos</b> ayudar
        <br> a <b>reparar</b> su credito,
        <br> a que le den <b>credito</b>
        <br> pueda tener un <b>mejor</b> credito
        <br> y <b>vivir</b> su sueño americano.
        <br>
    </div>
</div>
