<div class="content m-3">
  <div class="row">

    <div class="col-md-3 d-flex">
      <select name="filtro" id="filtro" class="form-control text-white font-w">
        <option class="font-w" value="nombre">Nombre</option>
        <option class="font-w" value="telefono">Telefono</option>
      </select>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>

  </div>
  <div class="content mt-3">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-between">
        <div class="col-md-2 cliente_prox">
          <button class="btn btn-primary ">Clientes Próximos</button>
        </div>
        <div class="col-md-2 cli_30D">
          <button class="btn btn-primary ">Atrasado 30 Días</button>
        </div>
        <div class="col-md-2 mas_30">
          <button class="btn btn-primary ">Más de 30 Días</button>
        </div>
        <div class="col-md-2 cliente_ok">
          <button class="btn btn-primary ">Cliente al Día</button>
        </div>
        <div class="col-md-2 cliente_rojo">
          <button class="btn btn-primary ">Cliente Rojo</button>
        </div>
        <div class="col-md-2 pagos_ext">
          <button class="btn btn-primary ">Pagos Extras</button>
        </div>
      </div>
    </div>
  </div>
</div>
