.content,
.como_estaSu_credito {
  width: 100%;
  height: 86vh;
  overflow: auto;
  overflow-x: hidden;
}

input,
select {
  font-size: 55%;
}

.intro {
  line-height: 45px;
  margin: 4rem auto;
  font-size: 33px;
  text-align: center;
  max-height: 70vh;
}

.esperar {
  font-size: 24px;
  font-weight: bold;
  margin: 1rem auto;
  color: #008000;
}

.fin {
  margin-bottom: 6rem;
}

.sub_r {
  text-decoration: underline;
}

.blue {
  margin-top: 2rem;
  color: #0000ff;
}

.h_m {
  font-size: 22px;
}

button .bton {
  border: 2px solid black;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  font: 20px Arial;
  padding: 6px 6px;
}

input[type="text"] ,
input[type="tel"] {
  height: 30px;
  width: 15rem;
}

input[type="time"] {
  height: 30px;
  width: 8rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=time]:focus-visible {
  outline-color: transparent;
}

.btn {
  border: 2px solid black;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  font-size: 29px;
  margin-left: 7px;
}

.notas {
  margin: .5rem;
  position: fixed;
  top: 86px;
  right: 112px;
}

/*----------------*/
.errores {
  margin: auto;
  border: 1px solid;
  font-weight: 600;
  font-size: 28px;
  margin-top: 2px;
  padding: 0 9px;
  border-radius: 6px;
  color: #f12337;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buscador {
  font-size: 16px;
}
.prosp{
  border: solid 2px red;
  padding: 1rem 0 1.1rem;
}

.none{
  display: none;
}
