<div class="content">
  <div class="{{ intro }}">
    <br /><b>Dios</b> le bendiga <br />
    (<span *ngIf="cliente">{{ cliente.nombres }}</span>), como <b>esta</b> usted?
    <br />
    <br /><span style="color: green">ESPERAR REACCIÓN</span>
    <br />
    <br />
    Que <b>bueno</b> <br />
    me <b>alegra</b> mucho <br />
    <b>escuchar</b> eso,
    <br />
    <br />
    Le <b>saluda</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) <br />y le <b>tengo</b> muy <br />buenas
    <b>noticias</b> !
    <br />
    <br />Lo estamos <b>llamando</b> <br />para <b>indicarle</b> los avances
    <br />positivos que hemos <b>tenido</b> <br />de la <b>reclamación</b>
    <br />
    <br />Que hemos <b>enviado</b> en su reporte b <br />de <b>crédito</b>
    <br />
    <br />
    <br /><span style="color: green">ESPERAR REACCIÓN</span>
    <br />
    <br />Perfecto hermano
    <br />
    <br /><span style="color: green">ESPERAR REACCIÓN</span>
    <br />
    <br />Deme un <b>momentito</b> por favor <br />aca me esta cargando la
    <b>información</b> <br />de la <b>Reclamació;n</b> <br />que se ha
    <b>enviado</b>,
    <br />
    <br /><span style="color: green">ESPERAR REACCIÓN</span>
    <br />
    <br />Okay hermano<span style="color: blue">/a</span> (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
    <br />
    <br />Nosotros <b>inicialmente</b> como tal <br />enviamos unas
    <b>reclamaciones</b> a <br />los buros de <b>crédito</b> <br />Experian,
    <b>Equifax</b> y TransUnion
    <br />
    <br />Para <b>primeramente</b> <br />remover todo <b>bestigio</b> de alerta
    <br />de posible <b>robo</b> de identidad <br />presentado en su
    <b>reporte</b> <br />de <b>crédito</b>
    <br />
    <br />Para esto enviamos <br />unos <b>documentos</b> <br />en el cual
    <b>indicamos</b> cuales <br />son las <b>variaciones</b> <br />que se estan
    presentando <br />y las <b>preocupaciones</b> <br />que <b>usted</b> tiene
    de su crédito.
    <br />
    <br /><b>Nosotros</b> le indicamos que <br />esas reclamaciones fueron
    <b>aceptadas</b> <br />por parte de los buros de crédito <br />y nosotros
    nos <b>preparamos</b> con <br />una <b>documentación</b> que se le pidió
    <br />a usted con anterioridad <br />para demostrar al <b>buro</b> de
    crédito <br />nuestras bases en las <b>disputas</b>.
    <br />
    <br />Nosotros <b>recientemente</b> <br />el día
    <br />
    <br />
    <b><span style="color: green">(y le dice la fecha)</span> </b>
    <br />
    <br />Se <b>enviaron</b> como tal <br />los <b>documentos</b> de
    <br />
    <br /><span style="color: green"
      ><b>(y le indica cuales documentos)</b></span
    >
    <br />
    <br />Esto lo enviamos como <b>corroborante</b> <br />de <b>dirección</b> e
    identidad <br />con la <b>fotografía</b>.
    <br />
    <br />Ahora bien <b>hermano</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) <br />una vez <b>enviados</b> estos
    documentos <br />y que <b>corroboren</b> su identidad
    <br />
    <br />El buro de <b>crédito</b> <br />tiene que <b>proceder</b> a chequear
    <br />todas sus <b>reclamaciones</b>
    <br />
    <br />Y darnos fecha de <b>respuesta</b> <br />seguido de esto
    <b>recuerda</b> <br />que la <b>ley</b> como le habian <br /><b>indicado</b
    >despues
    <br />
    <br />Que el <b>buro</b> de crédito <br />notifique que las
    <b>reclamaciones</b> <br />suyas son <b>fidelignas</b>
    <br />
    <br />Van a tener un <b>periodo</b> <br />de 30 a 45 días <br />para
    responder <b>máximo</b>.
    <br />
    <br />La <b>ley</b> es muy clara, las <br />reclamación que
    <b><u>NO</u></b> respondan
    <br />
    <br />El buro de <b>crédito</b> <br />en ese tiempo estimado <br />por la
    <b>ley</b> <br />usted gana el <b>caso</b>.
    <br />
    <br /><span style="color: green">ESPERAR REACCIóN</span>
    <br />
    <br />Y asi vamos <b>trabajando</b> <br />con cada cuenta <b>incluída</b>
    <br />en su <b>reporte</b> de crédito.
    <br />
    <br />
  </div>
</div>
