
<div class="content">
  <div class="{{intro}}">

<span style="color: green;"><h2>DUEÑO ABSOLUTO</h2> <h4>DE SU REPORTE DE CRÉEDITO </h4></span>
<br>
<br>Dios le <b>bendiga</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
<br>le <b>saluda</b> {{nombre}} de creditomejor.com
<br>
<br>Yo <b>soy</b> una de las personas
<br><b>asignadas</b> a su caso
<br>
<br>Y hemos <b>recibido</b>
<br>unas <b>contestaciones</b> que
<br>usted nos <b>envio</b> de los
<br>buro de <b>credito</b>
<br>
<br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>)
Esas <b>contestaciones</b> son
<br>buenas <b>noticias</b>.
<br>
<br>Lo más <b>importante</b>
<br> de las <b>documentación</b>
<br> que usted nos envio de,
<br><span style="color: blue;">los/el</span> buro de credito
<br>acaban de <b>identificar<span style="color: blue;">lo/la</span></b>
<br>a usted como el <b>dueño</b>
<br>absoluto de su <b>reporte</b> de credito
<br>y <b>seguro</b> social.
<br><span style="color: blue;">como le dijimos anteriormente</span>
<br>
<br>Estas son muy <b>buenas</b> noticias
<br>por que ya <b>logramos</b> que ellos
<br>lo <b>reconozcan</b> a usted como
<br>el <b>legitimo</b> dueño absoluto de su
<br>reporte de <b>credito</b>
<br> y <b>seguro</b> social
<br>
<br> No <b>solamente</b> eso, sino que tambien
<br>hemos logrado <b>borrarle</b> los nombres
<br>que usted <b>tenía</b> de más, que no eran
<br>los <b>correctos</b>.
<br>y en adición a eso las <b>direcciones</b>
<br>que <b>usted</b> tenía de más,
<br>
<br>Y por <b>consiguiente</b> cualquier
<br><b>notificación</b> que usted vaya
<br><b>recibiendo</b> de;
<br>agencia de <b>colección</b>, de abogados
<br>o corte, las va usted <b>directamente</b>
<br>en su <b>casa</b>.
<br>
<br>Esto es <b>importante</b>, porqué,
<br>nosotros <b>queremos</b>, que si
<br>alguien lo esta <b>buscando</b>
<br>o alguien quiere <b>demandarlo</b>,
<br>o alguien tiene una <b>reclamación</b>,
<br>usted se <b>entere</b> para asi de esta forma
<br>nosotros <b>también</b> enterarnos
<br>y <b>porderle</b> ayudar a resolver el problema
<br>
<br>¿Tiene <b>alguna</b> pregunta?
<br>
<br>Hagame <b>todas</b> las que quiera
<br>yo soy una <b>enciclopedia</b>.
<br>
<br>Muy bien, <b>recuerde</b> que todo
<br>tipo de <b>notificación</b> que
<br>usted <b>reciba</b> de ahora
<br>en <b>adelante</b> nos la tiene
<br>que enviar y <b>cuando</b> la envie
<br>nos tiene que <b>llamar</b> para
<br><b>verificar</b> que las hemos
<br>recibido <b>correctamente</b>.
<br>
<br>Es <b>importante</b> que nos
<br>envie cada <b>pagina</b>,
<br><b>asi</b> este en blanco
<br>y si son 20 <b>paginas</b> debe
<br>enviar <b>las</b> 20 paginas
<br>y si es por <b>delante</b>
<br>y por <b>detras</b> debe mandarlas
<br>por <b>ambos</b> lados.
<br>
<br>Ya <b>usted</b> vio que nosotros
<br>estamos <b>trabajando</b> tal y
<br>como le <b>prometimos</b>,
<br>aqui le estamos
<br>haciendo el <b>trabajo</b>.
<br>
<br>Recuerde que <b>cualquier</b>
<br>otra <b>notificación</b> que
<br>usted <b>reciba</b>,
<br>ya sea de <b>corte</b>,
<br>de <b>agencia</b>
<br>de <b>colecciones</b>
<br>de <b>abogados</b>,
<br>nos <b>la</b> envie,
<br><b>inmediatamente</b>
<br>
<br>
<br><b>Ok</b>.
<br>
<br>Dios le <b>bendiga</b>
(<span *ngIf="cliente">{{ cliente.nombres }}</span>),
<br><b>rica</b> y abundantemente
<br>
<br>
<br>


  </div>
</div>
