<div class="rana_rene w100">
  <div class="title w100 text-center mt-5">
    <h1>Bienvenid@ a creditomejor.com</h1>
    <h1>Donde su credito es lo más lo <b>importante</b></h1>
    <br>

    <div class="w100 d-flex justify-content-center">
      <div class="min_img">
        <a target="_blank" [routerLink]="['/speechsticket/bill']">
          <img src="../../../assets/img_ticket/sac_bill.png" alt="">
        </a>
      </div>
      <div class="min_img ml-3">
        <a target="_blank" [routerLink]="['/speechsticket/cartas']">
          <img src="../../../assets/img_ticket/sac_cartas.png" alt="">
        </a>
      </div>
      <div class="min_img ml-3">
        <a target="_blank" [routerLink]="['/speechsticket/nopago']">
          <img src="../../../assets/img_ticket/no_pago.jpg" alt="">
        </a>
      </div>
      <div class="min_img ml-3">
        <a target="_blank" [routerLink]="['/speechsticket/sidiosquiere']">
          <img src="../../../assets/img_ticket/sac_si_dios_quiere.jpg" alt="">
        </a>
      </div>
      <div class="min_img ml-3">
        <a target="_blank" [routerLink]="['/speechsticket/doblepago']">
          <img src="../../../assets/img_ticket/sac_doblepago.png" alt="">
        </a>
      </div>
    </div>

    <div class="w100 d-flex justify-content-center mt-4">
      <div class="img">
        <img class="img_cuadro" src="../../../assets/img_ticket/servi.png" alt="">
      </div>
    </div>

  </div>
</div>
