
<div class="content">
  <div class="">
    <p class="green">Deuda del hospital</p>
    <br> La deuda de los <b>hospitales.</b>
    <br> Son <b>suyas</b>.
    <br>
    <br> <b>Aunque</b> usted tenga un seguro
    <br> si es que el <b>hospital</b>
    <br> <b><u>NO</u></b> logró cobrarle al seguro.
    <br>
    <br> Cuando usted le dan <b>ingreso</b>
    <br> a un hospital, le <b>hacen</b> firmar
    <br> un papel <b>antes</b> de atenderlo
    <br> y ese <b>documento</b> indica
    <br> <b>precisamente.</b>
    <br>
    <br> Lo que acabo de decir
    <br> que lo que <b>NO</b> cubra
    <br> su seguro <b>médico</b>
    <br> lo <b>tiene</b> que pagar usted.
    <br>
    <br> <b>Entonces</b> en este caso
    <br> en particular <b>nosotros</b>
    <br> vamos a <b>hablar</b> con este acreedor.
    <br>
    <br> Ojo es <b>probable</b> que
    <br> ya <b><u>NO</u></b> la tenga el hospital,
    <br> porque el <b>hospital</b> lo que hace
    <br> que <b>usualmente,</b>
    <br> <b>venden</b> esta cuenta a
    <br> agencia de <b>colecciones</b>
    <br> lo <b>venden</b> por $100 o $200
    <br> dólares.
    <br>
    <br> y usted <b>recibe</b> una carta de ellos
    <br> diciéndole que le <b>pague</b> la mitad
    <br> <b>$500</b> dólares sin usted saber
    <br> que le <b>está</b> pagando
    <br> 10 veces una <b>ganancia</b>
    <br>
    <br> La agencia de <b>coleccion</b>
    <br> le está <b>cobrando</b> a ustedes
    <br> y por eso es que <b>nosotros</b>
    <br> vamos a <b>convalidar</b> la deuda,
    <br> bajo la <b>legitimidad</b> de la deuda.
    <br>
    <br> Vamos a ver si <b>usted</b>
    <br> tiene que pagar porque
    <br> hay veces que <b><u>NO</u></b> la tiene
    <br> que <b>pagar</b>, por que
    <br> la deuda expiro, no tienen toda
    <br> la documentación.
    <br>
    <br> En caso que <b>legítimamente</b>
    <br> la <b>tenga</b> que pagar usted
    <br> entonces en ese <b>caso</b> vamos
    <br> a <b>pedirle</b> toda la documentación
    <br> <b>pertinente</b> de este tratamiento
    <br> que recibió en el <b>hospital.</b>
    <br>
    <br> Documento que <b>usted</b> firmó
    <br> y si es el <b>caso</b> de
    <br> que lo tiene el <b>hospital</b>
    <br> o <b>así</b> lo tenga
    <br> la <b>agencia</b> de colección
    <br> vamos a <b>negociar</b> con ellos
    <br> una vez <b>convaliden</b>
    <br> por la tercera o cuarta parte
    <br> y <b>siempre</b> y cuando
    <br> le hagan un <b>plan</b> de pago
    <br>
    <br> Y de esta <b>forma</b> una vez
    <br> se <b>haga</b> el pago
    <br> le <b>borren</b> cualquier
    <br> <b>estigma</b> negativa
    <br> que <b>usted</b> tenga
    <br> en el <b>crédito</b>
    <br>
    <br> Menos mal que <b>usted</b>
    <br> está <b>hablando</b> conmigo.
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

