<div class="content" style="font-size: 36px;">
  <div class="{{ intro }}">
    <span style="color: green;"><h1>7 PROSPECTOS</h1></span>


        <!-- --------------------------------------------- -->

            <p>
              <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <h2 class="letra">
                  Los primeros 3 pagos:
                </h2>
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                  <br> 1.	Trabajan por Nomina
                  <br> 2.	Trabajan por Cuenta Propia
                  <br> 3.	Reciben Cheque del Gobierno
                  <br>
                  <br><span style="color: green;">Los otros:</span>
                  <br>
                  <br> 4.	Nunca han chequeado su crédito
                  <br> 5.	Nunca han tenido crédito
                  <br> 6.	Tax ID
                  <br> 7.	Tienen el crédito bueno
              </div>
            </div>
        <!-- --------------------------------------------- -->
            <p >
              <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                <h2 class="letra">
                  Trabajan por nomina
                </h2>
              </button>
            </p>
            <div class="collapse" id="collapseExample2">
              <div class="card card-body">
                <br> *	Al trabajar por nomina
                <br> pueden quitarle hasta el 25%
                <br> de su salario mensual.
                <br>
                <br> Por hasta 20 años o hasta que
                <br> termine de pagar la totalidad
                <br> la deuda
                <br>
                <br> *	Por dictamen de un juez
                <br> pueden llevarle a corte
                <br> y gastar hasta 3 mil 500 do;lares,
                <br> en gastos de abogado,
                <br> corte, más intereses.
              </div>
            </div>
        <!-- --------------------------------------------- -->

        <p >
          <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
            <h2 class="letra">
              Si tiene vehículo pago:
            </h2>
          </button>
        </p>
        <div class="collapse" id="collapseExample3">
          <div class="card card-body">
                  <br>
                  <br> *	Si usted fuera a vender
                  <br> ese Vehículo el día de mañana
                  <br> ¿En cuánto lo vendería?
                  <br>
                  <br> *	Porque el Vehículo se lo
                  <br> llevan en una grú;a y lo venden
                  <br> por el 25% de lo que le costo;.
                  <br>
                  <br> El problema aquí no es que le
                  <br> quiten el vehículo, si no que
                  <br> usted se queda a pie y sabemos
                  <br> lo complicado que es estar
                  <br> en Estados Unidos sin vehículo.
          </div>
        </div>
        <!-- --------------------------------------------- -->

        <p >
          <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
            <h2 class="letra">
              Si tiene casa propia:
            </h2>
          </button>
        </p>
        <div class="collapse" id="collapseExample4">
          <div class="card card-body">
              <br> *	Lo que tenemos que evitar
              <br> es que le impongan un Gravamen
              <br> a la casa o le Obliguen a venderla
              <br> para pagar la deuda
              <br>
              <br> *	Si la casa está Financiada
              <br> le pueden generar intereses a
              <br> la cuota mensual para ir cubriendo
              <br> la deuda
          </div>
        </div>
        <!-- --------------------------------------------- -->

        <p >
          <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
            <h2 class="letra">
              Si reciben cheque del gobierno
            </h2>
          </button>
        </p>
        <div class="collapse" id="collapseExample6">
          <div class="card card-body">
              <br> *	Como usted sabe al
              <br> tener ingresos del gobierno
              <br> estos no se los pueden quitar.
              <br>
              <br> El problema es que si
              <br> usted deja su dinero en
              <br> su cuenta se lo quitan.
              <br>
              <br> Los acreedores sacan el dinero
              <br> ya que no saben de qué es,
              <br> usted coloca una reclamacio;n
              <br> y se lo devuelven,
              <br> pero en 1, 2, o 3 meses.
              <br>
              <br> Sí usted fuera mi hermano
              <br> yo le aconsejaría que ese
              <br> dinero lo guarde bajo su
              <br> almohada o mejor aú;n abra
              <br> una caja de seguridad en
              <br> el banco
          </div>
        </div>
        <!-- --------------------------------------------- -->

        <p >
          <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
              <h2 class="letra">Los que nunca han chequeado su crédito </h2>
          </button>
          </p>
        <div class="collapse" id="collapseExample7">
          <div class="card card-body">
              <br> *	Las personas que nunca
              <br> han chequeado su crédito,
              <br> son las más propensas a sufrir
              <br> robo de identidad,
              <br> en ESTADOS UNIDOS
              <br> cada hora ROBAN la identidad,
              <br> cada minuto ROBAN la identidad.
              <br>
              <br> Mas de 15 millones de personas
              <br> aquí en ESTADOS UNIDOS
              <br> sufren de robo de identidad.
              <br>
              <br> Usted puede ser una de ellas.
              <br> Puede que hayan comprado casa,
              <br> carro, joyas, estas las venden
              <br> y es a usted el que le toca
              <br> pagarlas.
              <br>
              <br> Aun así, siendo inocente puede
              <br> ir preso y gastar miles de do;lares
              <br> para que lo defiendan
          </div>
        </div>
        <!-- --------------------------------------------- -->

        <p >
          <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample8">
              <h2 class="letra">
                  Los que nunca han tenido crédito
              </h2>
          </button>
          </p>
        <div class="collapse" id="collapseExample8">
          <div class="card card-body">
                  <br> *	Las personas que nunca han
                  <br> tenido crédito son las más
                  <br> propensas a sufrir robo de identidad
                  <br>
                  <br> Y si a usted le roban la identidad
                  <br> es posible que saquen
                  <br> una Casa, Un Carro, Joyas
                  <br> que las vendan y usted sea
                  <br> el que vaya preso/a
                  <br>
                  <br> Y deba gastar miles de do;lares
                  <br> en abogado, aunque usted sea inocente
                  <br>
                  <br> *	Mas de 15 millones de personas
                  <br> en ESTADOS UNIDOS
                  <br>
                  <br> Sufren robo de identidad
                  <br> al año, usted puede ser una
                  <br> de esas
                  <br>
                  <br> *	Adicional a esto,
                  <br> La pueden estar demandando,
                  <br> Con una Demanda le quitan
                  <br> su vehículo y con 3 la licencia.
          </div>
        </div>
        <!-- --------------------------------------------- -->

        <p >
          <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
              <h2 class="letra">
                  Los que tienen el crédito bueno
              </h2>
          </button>
          </p>
        <div class="collapse" id="collapseExample9">
          <div class="card card-body">
              <br> *	¿En cuánto tiene su puntaje?
              <br>
              <br> *	<span style="color: green;">(Espero que responda si tiene menos de 740)</span>
              <br>
              <br> ¿A usted quien le dijo que
              <br> ese es un buen puntaje?
              <br>
              <br> Para que usted pueda tener
              <br> una casa, un carro
              <br> y hasta tarjetas de crédito
              <br> con bajos intereses debe
              <br> tener mínimo 740 puntos
              <br>
              <br> *	Además, usted me dice un solo
              <br> buro y los otros dos?
              <br> el crédito se reporta
              <br> en los 3 buros
              <br> Experian, Equifax y TransUnio;n
              <br>
              <br> Es importante saber en cuanto
              <br> tiene su puntaje porque usted
              <br> puede pensar que tiene el puntaje
              <br> bueno en un buro y en los otros
              <br> buros lo tiene muy malo
              <br>
              <br> *	La diferencia de una persona
              <br> que tiene 50 puntos más en su
              <br> reporte de crédito es que paga
              <br> hasta 5.000$ más al año en intereses
              <br>
              <br> *	Esta llamada está siendo grabada
              <br> y monitoreada así que si usted
              <br> me dice algo incorrecto
              <br> yo debo corregirlo porque
              <br> de lo contrario usted me
              <br> puede demandar.
          </div>
        </div>
        <!-- --------------------------------------------- -->


        <p >
          <button class="menu" type="button" data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
              <h2 class="letra">
                  Los que tienen Tax ID
              </h2>
          </button>
          </p>
        <div class="collapse" id="collapseExample9">
          <div class="card card-body">
              <br> * Las personas que no revisan
              <br> su crédito son las más propensas
              <br> a sufrir un robo de identidad
              <br> y si a usted le roban la identidad
              <br> es posible que saquen
              <br> una casa, un carro, joyas
              <br> que las vendas usted sea
              <br> el que vaya preso
              <br> y deba gastar miles de do;lares
              <br> en abogado, aunque usted
              <br> sea inocente
              <br>
              <br> * Mas de 15 millones de personas
              <br> en Estados Unidos sufren
              <br> robo de identidad al año,
              <br> usted puede ser una de esas
              <br>
              <br> * Adicional a esto, La pueden estar
              <br> demandando y con una demanda
              <br> es suficiente para que le quiten
              <br> su vehículo y con (3) tres demandas
              <br> la licencia
          </div>
        </div>
    </div>
  </div>
