

<div class="content">
  <div class="">
    <br> Uy hermano/a eso es
    <br> <b>MUUUUUY PELIGROSO</b>
    <br> porque <b>usualmente</b> esa gente
    <br> <b>demanda.</b>
    <br>
    <br> Y le <b>pueden</b> estar quitando
    <br> <b>$3500 dólares</b>
    <br> por gastos de <b>corte y abogados</b>
    <br> <b>más</b> los interés
    <br>
    <br> Ya que los <b>abogados</b> usualmente
    <br> <b>mandan</b> una carta donde notifican
    <br> que ya <b>tienen</b> esa cuenta,
    <br> que ya les <b>pertenece</b>
    <br> al usted <b><u>NO</u></b> responder
    <br> <b>asumen</b> que esa cuenta
    <br> es <b>suya.</b>
    <br>
    <br> Y la <b>siguiente</b> carta
    <br> que le van a <b>enviar</b>
    <br> es una <b>carta</b> de cobro
    <br> donde ellos luego de <b><u>NO</u></b>
    <br> <b>responder</b> esta carta,
    <br> la van a mandar <b>nuevamente.</b>
    <br>
    <br> O sea que <b><u>NO</u></b> le importa
    <br> la ley de esta <b>gran</b> nación
    <br> que es <b>ESTADOS UNIDOS</b>
    <br> luego el <b>juez</b> le va a preguntar
    <br> al abogado <i>"Usted que <b>quiere</b> "</i>
    <br> y <b>ellos</b> le van a decir
    <br>
    <br> "Nosotros <b>queremos</b> nuestros
    <br> <b>honorarios</b> ya que estuvimos
    <br> trabajando <b>aproximadamente</b>
    <br> 10 horas a <b>razón</b> de $300 dólares
    <br> la <b>hora</b> "
    <br>
    <br> Y el juez va a <b>fallar</b> a favor
    <br> de los <b>abogados</b> y a usted
    <br> le estarían <b>cobrando</b> esos
    <br> <b>$3500 dolares</b>
    <br>
    <br> <b>Primero</b> hasta que ellos
    <br> <b><u>NO</u></b> nos demuestren que usted
    <br> debe esa cuenta <b><u>NO</u></b> la va a pagar.
    <br>
    <br> <b>Segundo</b> si ellos demuestran
    <br> que esta cuenta le <b>pertenece</b>
    <br> a <b>usted</b>
    <br>
    <br> Le voy a <b>dar</b> un ejemplo
    <br> de lo que vamos a <b>hacer:</b>
    <br>
    <br> Esta <b>cuenta</b> de <span class="blue">$2 mil dólares</span>
    <br> del ______ la <b>vamos</b>
    <br> a ofrecer por la <b>tercera</b>
    <br> o <b>cuarta</b> parte de lo que
    <br> usted <b>debe.</b>
    <br>
    <br> <b>Estaríamos</b> hablando de
    <br> entre $350 a $700 <b>dólares</b> de
    <br> esta <b>cuenta</b> en un plan de pago
    <br> en el cual usted <b>paga</b>
    <br> <b>$20 - $30</b> dólares al mes
    <br> pero se <b>olvida</b> de esta <b>cuenta.</b>
    <br> ¿Okay?
    <br>
    <br> <b>Siempre</b> y cuando esta
    <br> cuenta haya sido <b>eliminada</b>
    <br> pero <b>primero</b> esta gente
    <br> nos tiene que <b>corroborar</b>
    <br> que esta <b>cuenta</b> es suya
    <br> ¿Estamos <b>claros</b>?
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
