<div class="content">
  <br>
  <div class="ok">
    OKAY
  </div>
  <div class="intro">
    <p>
      <br> <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, lo que yo voy a hacer por <b>usted</b>
      <br> es que yo voy a <b>empezar</b> a trabajar en lo suyo
      <br> pero <b>yo necesito</b> que usted
      <br> como acto de buena <b>fé</b>
      <br> mañana me va a <b>depositar</b> algo,
      <br> para mi es <b>irrelevante</b> la cantidad que sea.
      <br>
      <br> la cantidad que sea. <b>credito</b>
      <br> no hay <b>ningún</b> problema.
      <br>
      <br> Y lo otro, sobre que le <b>otorgo</b>
      <br> un plan de <b>pago</b>
      <br> para que usted lo <b>pueda</b> hacer.
      <br>
      <br> El plan de <b>pago</b> que yo le voy a otorgar
      <br> va permitirle a <b>usted</b>
      <br> ayudarse a <b>resolver</b> su problema
      <br> porque <b>incluso</b> ese plan de pago
      <br> se le da a <b>personas</b>
      <br> que <b>tienen</b> seguro social
      <br> de $500 al <b>mes</b>
      <br> y hoy en dia ¡lo estan <b>haciendo!</b>
      <br> estan <b>trabajando</b> con nosotros.
      <br>
      <br> Así que <b>creame</b>
      <br> que usted lo va a <b>poder</b> hacer.
      <br> Para yo <b>otorgarle</b> este plan de pago
      <br> tengo que tener <b>al menos</b> un depósito
      <br> el día de <b>mañana</b>
      <br> que me se vea su <b>seriedad</b>
      <br> para mi es <b>irrelevante</b> la cantidad
      <br> <b>puede</b> ser equis
      <br> pero que se <b>demuestre</b> su seriedad
      <br> ante esta situación <b>peligrosa</b>
      <br> que <b>usted</b> esta pasando
      <br> y que usted es una persona <b>seria.</b>
      <br>
      <br> En <b>definitiva</b> (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>
      <br> ¿cuanto usted el día de <b>mañana</b>
      <br> puede <b>depositar?</b>
      <br> para mi es <b>irrelevante</b>
      <br> lo otro me lo paga <b>luego</b>
      <br> pero me tiene que <b>enseñar</b> su buena <b>fé</b>.
      <br>
      <br> <b>Cuanto</b> puede usted
      <br> depositar <b>mañana</b>
      <br> <b>equis</b> lo que sea
      <br> no me importa la <b>cantidad</b>
      <br> cuanto <b>seria?</b>
      <br>
      <br>
    </p>

    <p class="esperar">
      ESPERAR Y PROPICIAR REACCIÓN DEL PROSPECTO
    </p>

    <p class="blue">
      <br> <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, a mi <b>no</b> me interesa
      <br> ni que sean $100
      <br> usted y yo <b>vamos</b> a hacer un <b>compromiso</b>
      <br> de varón a varón (hermana a varón)
      <br> usted si me <b>deposita</b> 50$ o 25$
      <br> lo que yo quiero <b>ver</b> es que usted
      <br> es una persona <b>seria</b>
      <br> <b>okay?</b>
      <br>
      <br> Entonces <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, cuanto usted me puede <b>depositar</b> seguro
      <br> llueve, <b>truene</b> relampaguee o <b>haya nieve</b>
      <br> cuanto me puede <b>depositar</b> mañana?
      <br> a mi <b>no</b> me importa la cantidad
      <br> lo otro me lo <b>paga después!</b>
      <br>
      <br>
    </p>

    <p class="esperar">
      ESPERAR Y PROPICIAR REACCIÓN DEL PROSPECTO
    </p>
    <p class="ok">OKAY</p>
    <p>
      <br> <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, yo le voy a dar un <b>credito</b>
      <br> ¿usted es cristian<span class="blue">o/a (varón/hermana)</span>?
      <br>
      <br> <span class="blue"><b>AMEN!</b></span>
      <br> De un <b>cristiano</b> a otro
      <br> le voy a <b>decir</b> lo siguiente.
      <br>
      <br> Yo <b>voy a trabajar</b> en esto <b>hoy</b>,
      <br> pero si <b>usted</b> a mi me va ha <b>fallar,</b>
      <br> me lo dice ahora,
      <br> porque <b>me va</b> a hacer daño,
      <br> fijese que le estoy diciendo
      <br> que <b>deposite</b> lo que <b>pueda</b>
      <br> que es <b>irrelevante</b>
      <br> <b>cierto?</b>
      <br>
      <br> <b>Pero</b> <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, si usted me dice ante <b>Dios</b>
      <br> que usted <b>mañana</b>
      <br> me va a <b>depositar</b> esa <b>cantidad</b>
      <br> con mucho gusto yo le <b>ayudo</b>
      <br> y lo <b>otro me lo paga</b>
      <br> con un plan de pago.
      <br>
      <br> <span class="ok">OKAY ?</span>
      <br>
      <br> Entonces <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, esto es lo <b>que vamos a hacer</b>
      <br> como usted <b>no</b>
      <br> me esta dando dinero <b>ahora</b>
      <br> y yo <b>estoy</b> creyendo en <b>su</b> palabra
      <br> yo lo <b>voy a pasar</b> a una verificación,
      <br> preste atención,
      <br> la <b>verificación</b> va a establecer
      <br> que si usted <b>no</b> paga mañana
      <br> la cantidad que dijo que iba a depositar
      <br> le podemos demandar por hasta $5000
      <br> pero usted no le importa
      <br> porque usted es seri<span class="blue">o/a</span>
      <br> usted me va a depositar la cantidad mañana
      <br> así le <b>indiquen</b>
      <br> que le van a dar silla eléctrica
      <br> usted me va a depositar la cantidad.
      <br>
    </p>
    <p class="ok">
      CORRECTO?
    </p>
    <p>
      <br> <b>Eso</b> es lo que quería oír
      <br> entonces <b>si</b> usted pasa la prueba de <b>verificación</b>
      <br> esto es, por la cantidad de <b>mañana</b>
      <br> y el <b>resto</b> como usted lo quiera pagar
      <br> mitad y <b>mitad</b>
      <br> o lo <b>paga</b> de aquí a dos semanas.
      <br>
    </p>

    <p class="blue">
      <br> <b>Perfecto</b>
      <br> voy a poner que en dos semanas
      <br> usted me va a depositar el resto.
    </p>

    <p>
      <br> Entonces, <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>
      <br> le voy a pasar a verificación
      <br> y si usted pasa esta prueba
      <br> con mucho gusto vamos para adelante
      <br> en su caso
      <br> quedese en linea por favor.
    </p>

    <br>
    <br>
    <br>
  </div>
</div>
