
<div class="content">
  <div class=" intro ">
    <br><small class="green">-----No tengo tiempo---- no me interesa-----</small>
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), mi nombre es {{nombre}}
    <br> yo <b>soy</b> la persona que <b>habla</b> con Mackenzie
    <br> en la radio, en el programa <b>credito</b> mejor.com
    <br> y le <b>confieso</b> que aunque me gusta
    <br> hablar con todo el mundo
    <br>
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), Es <b>humanamente</b> imposible hablar
    <br> con <b>todas</b> las personas
    <br> porque son <b>tantas</b> y tantas las llamadas
    <br> que <b>mis ayudantes</b> no dan abasto.
    <br>
    <br> Incluso (<span *ngIf="cliente">{{ cliente.nombres }}</span>), me ha <b>tocado</b> bajar la publicidad
    <br> Ya que <b>Usualmente</b> los clientes
    <br> que hemos ayudado a <b>mejorar</b> su credito
    <br> <b>antes</b> nos referian 2, 3, 4 personas
    <br> <b>ahora</b> nos refieren 8, 9, o 10 personas.
    <br>
    <br> Mis consultas en persona <b>cuestan</b> 200 dolares (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br> pero para las personas <b>seleccionadas</b> como usted
    <br> la consulta es gratis, <b>gratis</b> , gratis.
    <br>
    <br> Así que <b>aproveche</b> esta llamada al maximo (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br>
    <br> como si fuere una naranja,
    <br> <b>exprímala</b> ,
    <br> saquele <b>todo</b> el jugo que pueda.
    <br> <b>Cuenteme</b> , Como esta su credito?
    <br>
    <br>
  </div>
</div>

