<div class="content" style="font-size: 36px">

  <p>
    <br> (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>) nosotros tenemos unas cartas <b>listas</b>
    <br> para ayudarle en su <b>caso.</b>
    <br> Por cada <b>pago</b> que usted hace, nosotros
    <br> enviamos unas <b>reclamaciones.</b>
    <br>
  </p>
  <p>
    <br> Pero (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>), hasta que usted <b>no</b> haga
    <br> su próximo <b>pago</b>
    <br> <b>no</b> puedo dar la orden de enviarlas.
    <br> Incluso (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>), este proceso
    <br> lo podemos hacer <b>más</b> rápido.
    <br> (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>), ¿A usted le <b>explicaron</b> sobre
    <br>
  </p>
  <p>
    <br> el <b>nuevo</b> programa en el cual podemos
    <br> <b>arreglar</b> u crédito mucho <b>más</b> rápido
    <br> y hasta en la <b>mitad</b> del tiempo?
    <br> (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>) ¿Quiere que le <b>explique</b> cómo
    <br> lo podemos <b>hacer</b> en la mitad del tiempo?
    <br> Déjeme explicarle como <b>funciona</b> este
    <br> programa para ayudarle a <b>arreglar</b> su crédito
    <br> hasta en la <b>mitad</b> del tiempo.
    <br> Cada vez que usted <b>haga</b> un pago
    <br> vamos a <b>hacer</b> cartas
    <br> con reclamaciones <b>nuevas.</b>
    <br> (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>), <b>SI</b> paga
    <br> <b>una</b> vez al mes.
    <br> Una vez al mes <b>hacemos</b>
    <br> cartas <b>nuevas</b>
    <br> <b>todos</b> los meses,
    <br> Y <b>mejor</b> aun
    <br> <b>Si</b> hace pagos completos
    <br> cada <b>15 días</b>
    <br> entonces el <b>proceso</b>
    <br> para ayudarle a <b>arreglar</b>
    <br> su crédito es <b>muchísimo</b>
    <br> <b>más rápido</b>
    <br> y se lleva la <b>mitad</b> del tiempo
    <br> o sea agilizamos <b>cada</b> 15 días,
    <br> y Dios mediante <b>sacamos</b> reclamaciones
    <br> y asi <b>su crédito</b>
    <br> puede <b>sustituirse</b>
    <br> En la mitad de tiempo
    <br> ¿Verdad que <b>sí</b> ?
    <br>
  </p>

  <p>
    <br> Muy bien (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>),
    <br> Su próximo <b>pago</b> es el día (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>)
    <br> o <b>mejor</b> usted prefiere agilizar
    <br> y lo hacemos el día de <b>hoy</b>
    <br> y <b>aprovechar</b> que estamos en el teléfono
    <br>
  </p>

  <p>
    <br> Y ¿Lo hacemos <b>ahora</b> mismo
    <br> <b>mejor</b> por Zelle?
    <br> ¿Qué es <b>mejor</b> para sacar
    <br> las <b>cartas más rápido?</b>
    <br> ¿(<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>), hacerlo el día ____ ?
    <br> o
    <br> (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>), ¿ Prefiere <b>aprovechar</b>
    <br> que <b>estamos</b> en el teléfono
    <br> y lo hacemos <b>ahora</b> por Zelle?
    <br> Para <b>hacerle</b> sus cartas Dios
    <br> mediante, <b>inmediatamente.</b>
    <br> (), si quiere lo <b>hacemos</b>
    <br> <b>ahora</b> mismo por Zelle
    <br> O ¿Prefiere <b>depositarlo</b> en el banco
    <br> <b>mañana</b> en la mañana?
    <br>
  </p>
  <p>
    <br> ¿Qué <b>prefiere</b> para agilizar
    <br> su <b>reparación</b> de crédito?
    <br> ¿Que es mejor para <b>usted</b>, hacer una fila
    <br> en el banco, que de <b>hecho</b> esta muy larga,
    <br> o Lo hacemos ahora por <b>Zelle</b>
    <br> que es mejor para usted,<b>ir al banco</b> o mejor
    <br> lo hacemos por <b>Zelle</b> y así
    <br> no tiene que hacer fila
    <br>
    <br>
    <br>
    <br>
  </p>

</div>
