<br><b>CashApp</b>
<br>
<br> La pregunta que se le hace al <b>cliente</b>
<br>es ¿Qué <b>móvil</b> tiene?
<br>¿Sansumg o <b>Iphone</b>?
<br>
<br>Le indica que entre a <b>PlayStore</b>
<br>o Appstore, <b>descargue</b>
<br>la <b>aplicación</b> y explicarle
<br>paso a paso como <b>registrarse</b>.
<br>
<br>Para registrarse le va a pedir
<br>el número de telefono o correo.
<br>
<br><b>Preferiblemente el número</b>.
<br>
<br>Puesto el telefono,darle <b>siguiente/next.</b>
<br>Le va a pedir un código
<br>de confirmación, que la llega al telefono.
<br><span class="blue">Si puso el correo el código
  <br> llega al correo
</span>
<br>
<br>Ya teniendo el código, darle <b>siguiente/next.</b>
<br>
<br>Luego va a pedir el registro
<br>de una tarjeta
<br>o una cuenta de banco.
<br>Van a solicitar el nombre y demas
<br>datos de la persona,
<br>un código postal y la dirección.
<br>
<br>Ya con esos datos, darle <b>siguiente/next.</b>
<br>
<br>Va a preguntar por un código
<br>de referido <b>"Cash Referral code"</b>.
<br>
<br>Si tiene uno, ingresarlo y <b>siguiente/next</b>
<br>sino saltar con Skip
<br>
<br>Ya aqui entra al inicio
<br>de la aplicación.
<br>
<br>Si no ha registrado <b>la tarjeta</b>
<br>de debito , le va a pedir
<br>que la registre.
<br>
<br>Salir un momento de la app.
<br>
<br>Pedirle que <b>guarde</b>
<br>el número de <b>teléfono</b>
<br>que le indicamos <b>(786-282-30-45)</b>
<br>y vuelva a la <b>aplicación</b>.
<br>
<br>Cuando ingrese la <b>aplicación</b>
<br>le va a arrojar las <b>opciones</b>
<br>para "enviar/Pay" y <b>"solicitar/Request"</b>;
<br>Selecciona <b>enviar/Pay</b>,
<br>elije <b>contacto</b>, ingresa
<br>monto y <b>"enviar/Pay"</b>.
<br>
<br><span class="blue">Normalmente, cuando hacen el envio
  <br>por primera vez,
  <br>sale un alerta de <b>scam</b>
  <br> si sale la alerta decir que:
  <br>Como es la primera vez,
  <br>que va a enviar el dinero
  <br>aparece esta alerta de seguridad.</span>
<br>
<br> Una vez en el dinero
<br>aparezca que fue enviado,
<br>Debe tomar una captura de pantalla
<br>y enviar el comprobante
<br>a nuestro WhatsApp
<br>o correo electrónico
<br>
<br>
