<!--  -->

<div class="content" #content>
  <div class="intro">

    <div class="parte1">
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>) Ya tenemos su <b>reporte</b> de crédito
      <br> lo vamos a <b>analizar</b>
      <br> y le vamos a <b>indicar</b> a usted
      <br> los defectos que pueden ser <b>corregidos</b>.
      <br>
      <br> Al <b>final</b> de la conversación
      <br> le vamos a <b>indicar</b> si sus reportes
      <br> se tarda <b>6 meses</b> un año, o dos o tres años
      <br> en ser <b>restablecido</b>.
      <br> Entenderá usted que no <b>todos</b>
      <br> los <b>reportes</b> de crédito son iguales
      <br> y dependiendo del <b>problema</b>
      <br> lo que nos tardamos nosotros en <b>resolverlo</b>.
      <br>
      <br> OKAY ?
      <br>
      <br> Ya tenemos todo completamente <b>listo</b>
      <br> vamos a comenzar <b>ahora</b>
      <br> antes de <b>iniciar</b>
      <br> les hago una <b>preguntita</b>
      <br> qué le <b>motivó</b> a nosotros a llamarnos ?
      <br>
      <br> Por que quieren <b>restablecer</b> el crédito?
      <br> desean <b>mejorar</b> más el crédito,
      <br> de lo que ya lo tienen
      <br> o desean comprar  otra casa,
      <br> un préstamo para negocio propio que los motiva?
      <br>
      <p class="green">Reaccion del cliente</p>
      <br>
      <br> Mire que yo le voy indicando
      <br> y contemplando acciones
      <br> que usted pueden ir tomando
      <br> usted ya míra
      <br> la qué más le favorece.
      <br>
      <br> Nosotros tenemos las personas
      <br> que también le puedan ayudar
      <br> a calificar para otro préstamo,
      <br> para otra casa
      <br> o para refinanciar una
      <br> si todavía están la pagando
      <br> o si es el caso
      <br> también lo pueden hacer directo
      <br> con nosotros.
      <br>
      <br> También nosotros mismos
      <br> nos encargamos de las calificaciones
      <br> nosotros sacamos tarjeta de Capital One
      <br> de fer premierbank
      <br> y de El Credit One Bank.
      <br> Y por última está el  fer progress,
      <br> pero los fer progress
      <br> solo lo utilizamos
      <br> con gente que ha tenido bancarrota
      <br> o que le han demandado en la corte
      <br> Porque ya tiene su crédito demasiado destruido
      <br> muy muy mal es como tener un cáncer terminal.
      <br>
      <br> Okay?
      <br>
      <br> Ahora esos bancos como tal,
      <br> ayudan a la reactivación económica
      <br> y ayudan a reportarse muy bien
      <br> en el crédito
      <br> antes de avanzar...
      <br> alguna otra preguntita?
      <br> Hagame todas las que usted quiera!
      <br>
      <br> Ahora bien
      <br> yo le voy a indicar
      <br> qué es lo que le está afectando
      <br> actualmente a usted
      <br> más que todo, manejo de su tarjeta
      <br> si usted se atrasa,
      <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), Mire yo puedo ver muy bien
      <br> en su reporte de crédito
      <br> y según su conducta de pago
      <br> que usted es una persona
      <br> que no se atrasa,
      <br> qué es lo que pasó?
      <br> usted porque se estaba atrasando
      <br> con el <span class="blue">Nombre/Banco</span>?
      <br>
      <br> Recuerde que yo estoy
      <br> chequeando el reporte de credito
      <br> con usted y las posibles alertas
      <br> de robo de identidad.
      <br> Porque a mí me preocupa
      <br> que le están reportando esto.
      <br> Y que su crédito vengan en picada
      <br> de para atrás.
      <br>
      <br> Usted ha prestado su nombre
      <br> para que alguien saque créditos?...
      <br> a su esposa un familiar un amigo.
      <br>
      <br> Entonces el credito
      <br> se lo está tomando otra persona...
      <br> ya le voy a indicar de las direcciones
      <br> que lo están reportando usted
      <br> y mire por fortuna
      <br> y menos mal estás hablando conmigo!!!
      <br> porque vamos a llevar eso es un proceso
      <br> y hay que hacer una investigación.
      <br>
      <br> Número uno: vamos a detallar
      <br> en su reporte de crédito
      <br> a nombre de quién
      <br> están reportandole las cosas.
      <br>
      <br> Porque no solo ahora a usted
      <br> le están  reportando crédito
      <br> en la dirección en la que usted vive,
      <br> sino tambien en otra dirección
      <br> y ahí es donde podemos ubicar
      <br> Quien es El sinvergüenza
      <br> o la Sinvergüenza
      <br> que le utilizando los datos suyos actualmente
      <br> OKAY?
      <br> Porque es una persona descarada
      <br> la que está haciendo esto
      <br>
      <br> Número dos: Tenemos que comunicar
      <br> y hacer una llamada directamente <span class="blue">Nombre/Banco</span>.
      <br> Vamos a ver unas reclamaciones
      <br> a ver si estas tarjetas la podemos
      <br> recuperar a nombre suyo,
      <br> no hay por que perderla
      <br> lo que podemos hacer es un procedimiento
      <br> para que el <span class="blue">Nombre/Banco</span> lo reconozca a usted
      <br> como único dueño
      <br> de acuerdo a su número de seguro social
      <br> y por medio de esto en los créditos
      <br> que está utilizando otros Bandidos,
      <br> que se los envién a usted
      <br> ya lo que usted hace con eso
      <br> es utilizar los créditos bien
      <br> y usted se encarga de tener
      <br> el crédito bien.
      <br> Porque sino, ahí seguimos permitiendo
      <br> de esta manera
      <br> que su crédito sigue para atrás.
      <br>
      <br> OKAY?
      <br>
      <br> Ahora bien...
      <br> necesitamos a dónde enviar
      <br> las evidencias de esta cuenta
      <br> donde se las puede enviar?
      <br> a su correo electrónico?
      <br> o a su WhatsApp?
      <br>
      <br> ¿ donde le queda mejor?
      <br>
      <br> Un momentito por favor
      <br> Voy a encargarle en este momentos
      <br> a nuestro departamento de procesamiento
      <br> que le envié la foto de la cuenta
      <br> en el reporte de crédito para que Usted
      <br> tenga las evidencias consigo.
      <br>
      <br> Okay??
      <br>
      <br> Muy bien, un momentito por favor
      <br> me estoy comunicando ahora
      <br> con el departamento de procesamiento,
      <br> me puede tardar 1 o 2 minutitos.
      <br> Tan pronto se las habían enviado
      <br> Yo le avisó inmediatamente
      <br>
      <br> Okay
      <br>
      <br> Muy bien ya el departamento de pensamiento
      <br> tuvo que haber agregado usted
      <br> y luego se lo van a enviar.
      <br>
      <br> Primero le van a enviar un saludo.
      <br> Tan pronto haya recibido el saludo
      <br> me dice que ya se lo enviaron
      <br> chéqueelo por favor
      <br> okay ?
      <br> ya recibió el saludo?
      <br> la bienvenida?
      <br> tambien es un link,
      <br> para que puedan ver la página web
      <br> en caso tal de que quiera.
      <br>
      <br> Ya que leyeran el mensaje
      <br> ya les van a enviar la imagen
      <br> okay?
      <br> Para que veas cómo está la cuenta
      <br> del <span class="blue">Nombre/Banco</span> la cuenta que le están reportando
      <br> a (<span *ngIf="cliente">{{ cliente.nombres }}</span>) okay
      <br> ya lo están viendo conmigo ?
      <br>
      <br> Okay
      <br>
      <br> Perfecto! para que corroboren
      <br> mirando primero de reporte  <span class="blue">experian/equifax/transUnion</span>
      <br> lo ven ahora?
      <br> ese buró de crédito
      <br> nos proporciona toda la información suya
      <br> mire la hora "(<span class="blue">Hora del reporte</span>)",
      <br> del reporte de credito.
      <br>
      <div class="blue">
        MENCIONAR DETALLES DE LA CUENTA
        <br> O TARJETA Y EL TIEMPO QUE LLEVAN USANDOLA
      </div>
      <br> <span class="red">Eso es muuuy peligro</span>
      <br>
      <br> El problema es q si siguen utilizando
      <br> esa <span class="blue">tarjeta/cuenta</span> de $ <span class="blue">$$$</span> ,
      <br> pero luego se los pueden dar más alto
      <br> si llegan al punto de que puede sacar
      <br> ya sea un auto,
      <br> joyas, una casa;
      <br> como la que tienen ustedes
      <br> la venden, todo ese dinero de lo que venden
      <br> se van a quedar con él para atrás.
      <br> Y el que se lo van a cobrar es a usted
      <br> porque aunque usted no sea culpable de esto.
      <br>
      <br> La ley va a  querer corroborar,
      <br> porque es que usted
      <br> no se habia esterado de esto.
      <br> Se supone que usted es el dueño de su crédito,
      <br> se supone que debe saber que hay en su credito.
      <br>
      <br> Eso es lo que la va a decir
      <br> la ley a usted
      <br> y es la realidad
      <br>
      <br> Ahora, mire que usted ya se enteró de esto.
      <br>
      <br> Lo único que lo salva a usted
      <br> de evitar que estas cuentas
      <br> se lleven para corte por fraude de  dentidad
      <br> y que usted le culpen de esto
      <br> es enviar como tal
      <br> una reclamación directa
      <br> a los buró de crédito
      <br> presentándose el caso
      <br> e indicándole como tal ,
      <br> que vamos a imponer
      <br> un bloqueo de seguridad
      <br> en su reporte de crédito
      <br> y Eliminar informaciones
      <br> que no coinciden con usted.
      <br>
      <br> Una vez hecho esto,
      <br> lo único que lo protege
      <br> es el matasellos del correo.
      <br>
      <br> Porque el matasellos
      <br> vamos a tener la fecha
      <br> en la que usted se comenzó a defenderse,
      <br>
      <br> Así que si a usted le llegarán a culpar
      <br> de los que sea, nosotros
      <br> vamos a tener las evidencias
      <br> para Dios mediante
      <br> ayudarle a usted con eso
      <br> que porque hay que evitar
      <br> que la cañería se le siga tapando
      <br> mire ahora usted no lo ve
      <br> porque todo se está quedando
      <br> debajo de la casa
      <br> todas esas aguas negras
      <br> se le están quedando.
      <br>
      <br> Cuando usted menos piense
      <br> le va a explotar en el baño
      <br> en la cocina, en la sala
      <br> y está en la casa del perro.
      <br>
      <br> Hay que tener mucho cuidado con eso
      <br> porque eso es como una bolita de nieve
      <br> cae de la punta de la montaña un copo
      <br> y cuándo llega al final
      <br> llega una bola gigantesca.
      <br>
      <br> Y es algo que usted
      <br> ya no va a poder detener
      <br>
      <span>
        <br> Menos mal que está hablando conmigo
        <br> que nos hemos enterado de esa situación
      </span>
      <br> Vamos a continuar Ahora
      <br> tiene usted una preguntita?
      <br> todas las que usted quiera
      <br> yo soy como la enciclopedia
      <br>
      <br> Cómo se dice
      <br> esta es la punta del Iceberg
      <br> okay .
      <br>
      <br> Ya tenemos una cuenta que no
      <br> le pertenece a su reporte de crédito
      <br> pero mira afortunadamente
      <br> Ya se está enterando de eso
      <br> okay
      <br>
      <br> ahora bien hermano
      <br> usted van a entender mucho
      <br> lo que les voy a decir
      <br>
      <br> Miren el reporte de crédito
      <br> nosotros como compañía
      <br> nunca recomendamos que se preste
      <br> el credito a ninguna persona,
      <br> Eso incluye la familia
      <br>
      <br> Y se lo digo porque el 60%
      <br> de los casos de pérdida de crédito
      <br> ojo el 60 más de la mitad
      <br> de la gente pierde el crédito
      <br> porque lo presta.
      <br>
      <br> Porque usted conoce
      <br> su situación económica
      <br> Usted sabe usted de que se puede involucrar
      <br> sabe bien que hay personas
      <br> que no saben actualmente
      <br> ni dónde se encuentran
      <br> ni en qué lugar
      <br> O para dónde van si es el caso
      <br> y Dios no lo quiera
      <br> sabiendo que llegaran
      <br> a tener algún inconveniente
      <br> se lo digo desde ahora
      <br> quien va a tener
      <br> que seguir pagando ese <span class="blue" >carro / credito / casa</span>
      <br> es usted!
      <br>
      <br>
      <br> Donde no paguen ese <span class="blue" >carro / credito / casa</span>
      <br> olvídese de su crédito
      <br> y aquí no es que ese <span class="blue" >carro / credito / casa</span>
      <br> le pertenece a alguien mas
      <br> Y yo por eso no lo quiero pagar
      <br> Si usted prestó su nombre
      <br> usted se me va a hacer cargo de ese credito
      <br> si su <span class="blue">amigo/ familia / hijo</span>,
      <br> no lo puede seguir pagando
      <br> usted se va a hacer cargo
      <br> Porque de nada sirve
      <br> ahora que Yo comencé a trabajar
      <br> con su crédito
      <br> que en 1 O 2 años su <span class="blue">amigo/ familia / hijo</span>,
      <br> pierda el <span class="blue" >carro / credito / casa</span>
      <br> Y que yo haya perdido todo mi trabajo,
      <br> porque lo voy a perder
      <br> Y usted también va a perder el tiempo
      <br>
      <br> Entonces yo lo que más le recomiendo
      <br> es hablar con el <span class="blue">amigo/ familia / hijo</span>
      <br> y decirle:
      <br> mire por favor sea muy sincero conmigo
      <br> si un algún momento
      <br> usted de verdad vea de que no sea capaz
      <br> con ese <span class="blue" >carro / credito / casa</span> entrégamelo
      <br> que yo lo vendo
      <br> y yo lo sigo pagando.
      <br>
      <br> Pero no vaya a permitir
      <br> <b>Número 1</b>
      <br> Que su <span class="blue" >carro / credito / casa</span>
      <br> se le ocurra devolver el auto
      <br>
      <br> <b>Número 2</b>
      <br> Mucho menos que lo vaya
      <br> a dejar de pagar
      <br> porque van
      <br> y se lo quitan
      <br> en cualquier lugar lo van a encontrar
      <br> porque ese auto está registrado.
      <br>
      <br> Yo hablo bien claro con usted
      <br> porque lo más importante
      <br> es que usted tome conciencia
      <br> de que el crédito usted lo puede dañar en una semana,
      <br> pero un una semana no se va a arreglarse
      <br> levantarlo toma mucho tiempo
      <br> Okay perfecto
      <br>
      <br> tiene alguna preguntita usted?
      <br> todas las que ustedes quiera!
      <br>
      <br> okay
      <br>
      <br>
      <button (click)="no_usa = !no_usa"> tiene credito q no usa </button>
      <br>
      <button (click)="cancelar = !cancelar"> Quiere cancelar tarjeta</button>
      <div class="creditos_sin" *ngIf="no_usa">
        <br>
        <br> Mira acá tenemos otra cosita que me preocupa
        <br> Qué es lo que sucede actualmente
        <br> en su reporte de crédito.
        <br>
        <br> Usted está teniendo varios créditos
        <br> pero no los está usando
        <br> es peor si usted deje de pagar?
        <br> o deje de utilizar una cuenta activa?
        <br>
        <br> Así usted como tal
        <br> envía a perdida
        <br> una cuenta que usted tiene
        <br> o que se atrase eso se le conoce como
        <br> inactividad crediticia.
        <br>
        <br> Cuando pasa esto...
        <br> qué es lo que empieza a suceder?
        <br>
        <br> <b>Número 1: </b>
        <br> Le empieza a quitar límite
        <br> <b>Número 2: </b>
        <br> Le empiezan a aumentar los intereses
        <br> y número 3 le baja el puntaje de crédito
        <br> por cada mes
        <br> que usted no esté utilizando
        <br> la tarjeta
        <br> Qué significa eso?
        <br> yo lo va a tener que mandar de shopping
        <br>
        <br> Okay
        <br>
        <br> Ya yo le puede indicar
        <br> al final de la conversación
        <br> qué balance por utilizar de la tarjeta
        <br> y tienen que utilizar esa tarjeta
        <br> no la Pueden seguir dejando quieta
        <br> Estamos de acuerdo con eso hermano
        <br>
        <br> Okay ?
        <br>

      </div>
      <div class="creditos_sin" *ngIf="cancelar">
        <br> Si usted la quiere cancelar
        <br> vamos a esperar unos tres,
        <br> por no decir cuatro meses
        <br> cuando usted ya haya abierto
        <br> otra tarjeta.
        <br>
        <br> Porque su crédito necesita
        <br> de uno a dos créditos más
        <br> para usted hacer unas bases sólidas
        <br> y evitar que en cualquier momento
        <br> le vuelvan a confundir
        <br> con otra persona.
        <br>
        <br> Porque aquí viene lo peor de todo
        <br> Vamos a verificar
        <br> porque es que el buró de crédito
        <br> no le reconoce.
        <br>
        <br> Y por qué es que le están confundiendo
        <br> con esa gente descaradamente
        <br> porque eso es un descaro
        <br> contra usted
        <br> reportandole en su crédito
        <br> varios nombres
        <br>
        <div class="blue">
          me avisa tan pronto haya recibido las evidencias se las enviaron a su WhatsApp
          la tiene con usted usted
        </div>
      </div>
      <br>
      <br>
      <br> Ahora yo lo que si voy a hacer
      <br> por usted...
      <br>
      <br> su identidad a quedar bloqueada
      <br> Si su espos<span class="blue">a/o</span> el primo el amigo el que sea
      <br> va a atreverce a utilizar su crédito
      <br> se les acabó el día de hoy
      <br> eso ya nunca más va a volver a suceder
      <br> Okay
      <br> va a estar tranquilo por esa parte
      <br> porque ya ahora en adelante
      <br> Cada vez que usted vaya a solicitar
      <br> así sea una espátula en el Sears
      <br> van a llamar a su teléfono
      <br> a confirmar que usted sea la persona
      <br> que se intenta tener el crédito
      <br> si usted no contestó para verificarlo
      <br> van a tumbar la calificación inmediatamente
      <br> Y van a llamar a las autoridades
      <br>
      <br> okay
      <br>
      <br> Así que Prepárense
      <br> porque de ahora en adelante
      <br> se terminó
      <br> que se sigan aprovechando de usted
      <br> eso no sigue sucediendo más
      <br> okay
      <br>
      <br> Tiene alguna pregunta ?
      <br> todas las que usted quiera
      <br>
      <br>
      <br>






    </div>


  </div>
</div>



