<div class="content" style="font-size: 36px;">
  <p> <br>
    <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span> Hay cuentas que <b>pedimos</b> convalidación <br>
    y <b><u>NO</u></b> responden <br>
    en el <b>tiempo</b> adecuado <br>
    o con la información <b>indicada</b> <br>
    usualmente <b><u>NO</u></b> hay que pagarla.
  </p>
  <br>
  <p>
    En <b>este</b> caso <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, <br>
    en <b>esta</b> cuenta <br>
    solo la <b>hemos</b> refutado <br>
    con los<b>buros</b> de crédito <br>
    para ayudarle a <b>reparar</b> su crédito.
  </p>
  <br>
  <p>
    fue la <b>razón</b> por la cual <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span> <br>
    que usted nos <b>llamó</b> a nosotros, <br>
    para que pueda tener un <b>mejor</b> crédito, <br>
    para que pueda tener su <b>casita</b>.

  </p>
  <br>
  <p>
    <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span> el <b>simple</b> hecho que nosotros <br>
    hallamos <b>retirado</b> esa cuenta <br>
    ¡<b><u>NO</u></b> quiere decir que la debe <br>
    o <b><u>NO</u></b>!
  </p>
  <br>
  <p>
    Si hay una <b>gestión</b> de cobro <br>
    <b>posterior</b> a eso, <br>
    por favor <b>infórmenos</b>, <br>
    porqué ya ponemos en <b>función</b> <br>
    otro <b>procedimiento</b> <br>
    que <b>tenemos</b> nosotros <br>
    para <b>disputar</b> <br>
    la <b>deuda</b> como tal.
  </p>
  <br>
  <p>
    ¡<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, Pero en este <b>momento</b> <br>
    la <b>buena</b> noticia, <br>
    es que <b>ya</b> <br>
    ese <b>reporte</b> de crédito <br>
    que <b>usted</b> tenia <br>
    <b>negativo</b> en su caso, <br>
    ese <b>estigma</b>, <br>
    esa <b>mancha</b> <br>
    que <b>usted</b> tenía, <br>
    ya <b><u>NO</u></b> la tiene <br>
    por <b>ende</b> <br>
    su <b>crédito</b> <br>
    está <b>mucho</b> mejor <br>
    y estamos <b>más</b> cerca <br>
    de <b>obtener</b> su casita
  </p>
  <br>
  <br>
  <p>
    <b>¿Ok hermano <b style="color: blue;">(a)</b> ? </b>
  </p>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
