
<div class="content">
  <div class="{{ intro }}">
      <span style="color: green;">
        <h1>
            (Como va mi crédito me dijeron
            que podÍa calificar para tárjetas)
        </h1>
    </span>
    <br>
    <br>
    <br> Hola como <b>está</b>,
    <br> Dios le <b>bendiga</b>
    <br> le <b>saluda</b> ({{ agente }})
    <br> de <b>creditomejor.com</b>
    <br>
    <br> Le estamos <b>llamando</b>
    <br> para darle los <b>buenos</b> avances
    <br> de su <b>crédito</b>.
    <br>
    <br> Constantemente <b>nosotros</b> estamos
    <br> enviando una  serie de <b>reclamaciones</b>
    <br> En su <b>reporte</b> de crédito
    <br> para hacer que sus <b>puntajes</b>
    <br> de crédito puedan <b>restablecerse</b>.
    <br>
    <br> Nosotros ya hemos <b>logrado</b>
    <br> hacer que (1,2,3) <b>puntajes</b>
    <br> de crédito se <b>reestablezcan</b>.
    <br>
    <br> Que usted <b>NO</b> tenÍa
    <br> por las <b>contestaciones</b>
    <br> que usted nos estuvo <b>enviando</b>
    <br> <b>durante</b> el mes (____).
    <br>
    <br> Ya <b>estimamos</b> nosotros que
    <br> para el <b>mes</b> (____) ya
    <br> su <b>crédito</b> esté
    <br> en el puntaje como para <b>calificar</b>
    <br> tárjetas de <b>crédito</b>,
    <br> yo ya se lo habÍa <b>indicado</b>
    <br> en una última <b>conversación</b>.
    <br>
    <br> <b>Hermano</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br> estamos <b>esperando</b> que nos respondan
    <br> esta ronda de <b>reclamaciones</b>.
    <br>
    <br> Recuerde que usted <b>empezó</b>
    <br> en (____) y que los <b>primeros</b>
    <br> <b>90</b> dÍas del caso
    <br> se dirigen a <b>restablecer</b>
    <br> la parte de su <b>identidad</b>,
    <br> y su reporte de <b>crédito</b>
    <br> eso se hace en los <b>primeros</b>
    <br> 60 a 90 dÍas del <b>caso</b>.
    <br>
    <br> Y por eso usted hizo un <b>pago</b>
    <br> de <b>inscripción</b> de (____).
    <br>
    <br> ¿Lo <b>recuerda</b> hermano/a?
    <br>
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) Vamos a <b>tener</b>
    <br> sus <b>puntajes</b> de crédito
    <br> para que usted vea los <b>cambios</b>
    <br> que hemos <b>tenido</b> hasta el dÍa
    <br> de hoy y en que <b>puntaje</b> estamos
    <br> pero le voy a <b>decir</b> algo,
    <br> asÍ el <b>puntaje</b> suyo
    <br> esté como para <b>tárjetas</b>
    <br> <b>NO</b> las vamos a calificar,
    <br> porque si lo <b>hacemos</b>
    <br> <b>perjudicamos</b> su proceso
    <br> <b>hermano/a</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
    <br>
    <br> Nosotros sabemos <b>exactamente</b>
    <br> que <b>tenemos</b> que hacer
    <br> en nuestros <b>tiempos</b>,
    <br> nosotros somos los que <b>tenemos</b>
    <br> la <b>experiencia</b> en esto,
    <br> Usted<b>NO</b> puede decirnos
    <br> en que <b>tiempo</b> hacer las cosas.
    <br>
    <br> Okay <b>hermano/a</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> porque a usted ya se le <b>habÍan</b>
    <br> dado <b>fechas</b> fijas.
    <br>
    <br> Si hacemos algo en el <b>tiempo</b>
    <br> que usted dice, usted es el <b>único</b>
    <br> que sale <b>perjudicado</b>.
    <br>
    <br> <b>Usted</b> va tener como tal
    <br> que <b>decirnos</b> a nosotros que
    <br> eso no era lo que usted <b>esperaba</b>,
    <br> Nosotros tenemos <b>tiempo</b> fijo
    <br> para las <b>cosas</b>, y
    <br> el <b>resultado</b> que a usted
    <br> se le <b>prometió</b>
    <br> se le va <b>dar</b>, pero,
    <br> para eso <b>siempre</b> tenemos
    <br> que <b>esperar</b> tiempos precisos
    <br> para no <b>afectar</b> su crédito.
    <br>
    <br> <b>hermano/a</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
    <br> Usted debe <b>entender</b> algo
    <br> usted <b>estaba</b> en una escala
    <br> de (___ puntos) en <b>TransUnion</b>,
    <br> (___ puntos) <b>Experian</b> y
    <br> <b>Equifax</b> tenÍa
    <br>  el <b>puntaje</b> en (___ puntos).
    <br> O sea usted <b>NO</b> calificaba
    <br> ni queriendo para una <b>cuchara</b>.
    <br>
    <br> Usted podÍa llegar a <b>pagar</b> la cuchara
    <br> cash y <b>difÍcilmente</b> se la iban a dar,
    <br> si me <b>sigue</b> con eso, vamos a
    <br> <b>restablecer</b> su crédito y
    <br> no es <b>algo</b> que vamos hacer
    <br> de la noche a la <b>mañana</b>
    <br> en (6) <b>meses</b>.
    <br>
    <br> Como se le <b>indicó</b> ya,
    <br> su <b>puntaje</b> de crédito
    <br> va estar <b>reestablecido</b>
    <br> como tal para que <b>usted</b>
    <br> pueda <b>utilizarlo</b>.
    <br>
    <br> <b>Hermano</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br> su puntaje de crédito <b>completamente</b>
    <br> y como tal nosotros estamos <b>llevando</b>
    <br> su crédito a que usted pueda <b>calificar</b>
    <br> para una <b>casa</b>.
    <br>
    <br> Si nos desesperamos a calificar <b>crédito</b>
    <br> en todos los lugares solo por que <b>usted</b>
    <br> quiere obtener crédito usted va <b>perjudicar</b>
    <br> el <b>proceso</b>.
    <br>
    <br> Mire <b>hermano</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
    <br> las tárjetas son <b>necesarias</b> de calificarlas
    <br> en el <b>proceso</b> y se tiene que hacer por que
    <br> usted no tiene nada de <b>crédito</b> y
    <br> ya su crédito se puede <b>comenzar</b>
    <br> a tener uso pero <b>NO</b> significa que
    <br> lo vamos hacer <b>inmediatamente</b>
    <br> nosotros como le digo ya <b>tenemos</b>
    <br> bastante <b>experiencia</b> en este campo,
    <br> Hermano (<span *ngIf="cliente">{{ cliente.nombres }}</span>), sabemos en que <b>tiempo</b>
    <br> hacer las <b>cosas</b>, Okay?
    <br>
    <br> El que tiene <b>paciencia</b> está con Dios
    <br> el que no, está muy <b>lejos</b> de el...
    <br>
    <br> ¿Tiene alguna <b>pregunta</b>?
    <br> ¿Algo mas que quiera <b>saber</b>?
    <br> Hágame <b>todas</b> las que quiera.
    <br>
    <br> Okay, <b>hermano</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br> que Dios le <b>bendiga</b> y
    <br> que tenga <b>excelente</b> resto de dÍa.
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
