
<div class="content">
  <div class="{{intro}}">
      <br> Le tengo muy <b> buenas </b>  noticias !
      <br>
      <br> Usted <b>califica</b> para un programa que tenemos
      <br> en el cual por <b>cada</b> persona hasta tres a la vez
      <br> que usted nos <b>refiera</b>
      <br> que <b>compre</b> nuestro servicio
      <br> nosotros le vamos a <b>descontar</b> $100 por cada uno
      <br> de su <b>próximo</b> pago.
      <br>
      <br> Si <b>usted</b> refiere a <b>dos</b> personas,
      <br> le damos $150 por <b>cada</b> una,
      <br> ahora bien...
      <br> Si refiere a <b>tres</b> personas,
      <br> le damos <b>$200</b> por cada una.
      <br>
      <br> O sea que si usted nos <b>refiere</b> una persona
      <br> en vez de pagarnos el <b>próximo</b> mes $260
      <br> <b>solamente</b> paga en su próximo pago $160
      <br> <b>economizándose</b> cien dólares.
      <br>
      <br>
      <br> Si usted nos refiere <b>dos</b> personas
      <br> en vez de pagarnos el <b>próximo</b> mes $260
      <br> <b>No</b> paga nada en su próximo mes
      <br> y nosotros le tenemos que dar la <b>diferencia</b> $40
      <br> economizándose su próximo pago <b>completo.</b>
      <br>
      <br> Y cuando usted nos refiera <b>tres</b> personas
      <br> En <b>vez</b> de pagarnos el próximo mes $260
      <br> <b>Tampoco</b> paga nada.
      <br> y nosotros le tenemos que dar la <b>diferencia</b> $340
      <br>
      <br> Ahora <b>bien</b>...
      <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), debido a que tenemos <b>programas</b>
      <br> en la radio <b>constantemente</b>
      <br> E incluso <b>anunciamos</b> nuestra página web
      <br>
      <br>
      <br> Es importante que usted <b>inscriba</b> ahora mismo
      <br> Los nombres de sus <b>parientes,</b> amigos, vecinos
      <br> y <b>compañeros</b> de trabajo.
      <br>
      <br> Antes de que ellos <b>nos llamen</b> directamente a nosotros
      <br> Por la publicidad que <b>anunciamos</b> en los medios
      <br> Ya que si ellos nos <b>llaman</b>
      <br> Y <b><u>no</u></b> están inscritos
      <br> Entonces usted <b>pierde</b> de 100 a 300 dólares
      <br> de <b>descuento</b> para usted.
      <br>
      <br> Por eso es <b>importante</b>
      <br><b>Inscribirlos</b> ahora mismo...
      <br>
      <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) ¿En <b>quién</b> está pensando?
      <br> ¿Esta pensando en algún <b>amigo</b> o amiga, vecinos,
      <br> <b>compañeros</b> de trabajo o familiar?
      <br>
      <br> ¿A <b>quién</b> tiene en mente?
      <br> <b>Cómo</b> se llama?
      <br>
      <br> <b>Perfecto</b>... ¿Cuál es su teléfono?
      <br>
      <br> Y nosotros <b><u>no</u></b> le llamamos hasta que usted hable con  ______
      <br> Pero <b>vamos</b> a inscribirle
      <br> Con el teléfono
      <br>
      <br> Porque si llama por que <b>escucho</b> la publicidad
      <br> Al estar <b>inscrit</b><span style="color: blue;">o(a)</span>,
      <br> nosotros le damos los $100 a usted.
      <br>
      <br> ¿<b>Cuál</b> es el teléfono?
      <br> Dígamelo <b>despacito</b>, para anotarle bien
      <br> ¿<b>Cuál</b> es el teléfono?
      <br> ¿<b>Cuál</b> es el nombre?
      <br> <b>Dígamelo</b> despacito, para anotarle bien...
      <br> ¿<b>Cómo</b> se llama?
      <br> ¿En quién más esta <b>pensando</b> ?
      <br>
      <br> Estoy <b>seguro</b> que usted conoce gente
      <br> que tienen <b>mal</b> crédito
      <br> y que nosotros le <b>podemos</b> ayudar
      <br> ¿Puede ser un <b>amigo</b> o amiga?
      <br> ¿Quién sería ese amigo? o ¿Esa amiga?
      <br>
      <br> ¿En quién esta <b>pensando</b>?
      <br> ¿Puede ser un <b>vecino</b> o vecina?
      <br> ¿Quien sería ese vecino? O ¿Esa <b>vecina</b>?
      <br> ¿A <b>quién</b> ponemos aquí?
      <br> Recuerde que <b>son</b> $100
      <br> Por cada referido que se <b>inscriba</b> en nuestro programa...
      <br>
      <br> ¿En quién más esta <b>pensando</b>?
      <br> Puede ser un <b>familiar</b>
      <br> ¿<b>Quién</b> sería ese familiar?
      <br> ¿En <b>quién</b> esta pensando?
      <br> Puede ser su mama o su <b>papa</b>...
      <br> Un <b>hermano</b> o una hermana
      <br> ¿Cómo esta el <b>crédito</b> de ellos?
      <br>
      <br> Un <b>tio</b> o tia
      <br> <b>Sobrino</b> o sobrina
      <br> ¿Qué <b>familiar</b> suyo tiene mal crédito?
      <br> ¿A cuál familiar <b>ponemos</b> aquí?
      <br> ¿En quién esta <b>pensando</b>?
      <br>
      <br> Muy<b> bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
      <br> lo que vamos <b>hacer</b> es lo siguiente
      <br> es<b> importante</b> que usted llame
      <br> a _______ y le diga la <b>buena </b>experiencia
      <br> que usted ha <b> tenido</b> con nosotros
      <br> en la ayuda de su <b>reparación</b> del crédito,
      <br> y le <b>indique</b> que nosotros
      <br> tenemos un<b> sistema </b>en el cual
      <br> por <b>solo</b> un dólar le ayudamos a sacar
      <br> el<b> reporte</b> de crédito,
      <br> y le decimos si posiblemente tiene <b>problemas </b>
      <br> con<b> abogados</b> o que le puedan demandar.
      <br>
      <br> Que es como cuando uno <b>tiene</b> un cáncer
      <br> Uno quiere <b>saberlo</b>
      <br> Bueno pues lo <b>mismo</b> pasa con el crédito
      <br> Uno <b>quiere</b> saber si es posible
      <br> Que le <b>demanden</b> en corte.
      <br>
      <br> Indíquele a _______ que usted <b>lleva</b>.
      <br> un tiempo <b>trabajando</b> con nosotros
      <br> para <b>arreglar</b> su crédito.
      <br> Indíquele que usted lo <b>refirió</b>
      <br> Y que por eso nosotros le <b>vamos </b>a llamar en un ratito,
      <br> para así de esta forma poder ayudarle a sacar
      <br> el reporte de <b>crédito</b>
      <br> Y esto le va a <b>dar </b>una idea
      <br> si es que tiene<b> problemas</b> con el crédito
      <br> o si tiene problema de <b>corte</b> o con abogados
      <br> o de <b>demanda</b>
      <br>
      <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), Es <b>importante</b> que le diga a ______
      <br> que a veces Las personas piensan <b>equivocadamente</b> que están bien,
      <br> pero es posible que tenga<b> problemas</b> de corte
      <br> o de<b> abogados </b>
      <br> y la gente <b>no</b> se da cuenta.
      <br> Entonces por eso es que es bien <b>importante</b>
      <br> que ella sepa que la <b>vamos</b> a llamar en unos 15 minutos
      <br> porque lo<b> primero</b> que queremos es ver
      <br> si puede<b> tener</b>
      <br> o<b> ya </b>tiene
      <br> algún tipo de problema <b>legal</b>
      <br> para <b>inmediatamente</b>,
      <br>nosotros <b>poder</b> ayudarle
      <br><b>OKEY!</b>
      <br>Entonces (<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b>cuénteme</b>
      <br>¿Qué le va a decir a ________?
      <br>

  </div>
</div>
