
<div class="content">
  <div class=" intro ">
    <br> <p class="green"><b>Zapatero a su zapato</b></p>
    <br>
    <br> Esto es como cuando <b>usted</b>
    <br> va a un <b>cirujano</b> y le pregunta al cirujano…
    <br> ¿Cómo de <b>complicada</b> es la operación de corazón abierto?
    <br> Y el cirujano le <b>responde…</b>
    <br> yo la veo <b>fácil!</b>
    <br>
    <br> Y usted le <b>dice</b> al cirujano…
    <br> Entonces <b>sálgase</b> del medio
    <br> que <b>yo mismo</b> me opero!
    <br>
    <br> <b>JAJAJAJA</b>
    <br> <b>Tampoco</b> es asi!
    <br>
    <br> Es como si usted fuera a la <b>corte</b>
    <br> <b><em>sin</em></b> abogado
    <br> a <b>defenderse</b> solo!
    <br>
    <br> Eso es un <b>suicidio</b> legal,
    <br> ya que usted
    <br> <b><em>NO</em></b> conoce las leyes
    <br> y por ende puede <b>perder</b> el caso.
    <br>
    <br> Acá puede <b>suceder</b> lo mismo,
    <br> Ya que si reclama algo <b>indebido</b>
    <br> O sin el conocimiento <b>adecuado</b>
    <br> Los buros pueden <b>negarle</b> la petición
    <br> E <b>incluso</b> pueden indicarle
    <br> Que <b><em>no</em></b> vuelva a reclamarle
    <br> Sobre <b><em>esa</em></b> cuenta.
    <br>
    <br> <b><em>No</em></b> quiere decir que le esté diciendo
    <br> que <b>somos</b> abogados,
    <br> porque <b><em>no</em></b> lo somos.
    <br>
    <br> Pero lo que <b><em>si</em></b> quiere decir es que
    <br> el abogado <b>conoce</b> las leyes
    <br> que le <b>perjudican</b> y benefician,
    <br> al igual que nosotros <b>sabemos</b>
    <br> cómo ayudarle a salir <b>mejor</b> y
    <br> cómo ayudarle a <b>arreglar</b> su crédito,
    <br> ya que nosotros lo <b>hemos</b> hecho
    <br> <b>infinidad</b> de veces.
    <br>
    <br> Ahora Bien… <b>Cuénteme</b>.
    <br> ¿Qué es lo que más le <b>preocupa</b> de su crédito?
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>
</div>


