
<div class="content">
  <div class="{{ intro }}">
    (___), El buró de <b>crédito</b> (buró de crédito)<br />
    actualizo la <b>cuenta</b> _____________<br />
    <b>reportada</b> con número (número de cuenta).<br />
    <br />
    (___), este es el <b>primero </b><br />
    de <b>varios</b> pasos <br />
    ya que al ellos <b>confirmar</b> la cuenta, <br />
    que <b><u>es</u></b> un (atraso, collection, abogado)<br />
    la cual posiblemente le está <b>quitando</b> <br />
    alrededor de <span style="color: blue">(20/30/50/70)</span><b> puntos</b
    ><br />
    y si se <b>complica</b> <br />
    y podria ser bastante <b>peligroso(a)</b>,<br />
    ya que podrían hasta <b>demandarle</b><br />
    y en caso de ser <b>demandado(a)</b> <br />
    lo <b>sabremos</b><br />
    ya que la <b>notificación</b><br />
    deberá de ser <b>enviada</b> a la dirección que<br />
    le ayudamos a<b> establecer</b> en su reporte de crédito.<br />
    <br />
    (___) Esto es como una pelea de<b> boxeo</b><br />
    usted <b><u>da</u></b> un golpe y no se queda esperando recibir otro,<br />
    por el contrario, de <b>inmediato</b>,<br />
    usted envía <b>otro golpe</b>.<br />
    <br />
    Aquí <b><u>es</u></b> igual (nombre del prospecto),<br />
    ahora que <b>tenemos</b> la información,<br />
    vamos a enviar el<b> otro </b>golpe<br />
    <b>jajajaja</b><br />
    <br />
    (___), ahora <b>comienza</b> un proceso<br />
    De diferente <b>tácticas</b> propietarias<br />
    destinadas a que esta cuenta sea <b>eliminada</b>,<br />
    y Dios mediante <b>ganemos</b> esos
    <span style="color: blue">(20/30/50/70) </span>puntos<br />
    <br />
    (___), nosotros<b> tenemos</b> las próximas cartas listas para <br />
    <b>disputar</b> estas y otras cuentas,<br />
    ya que el tiempo apremia.<br />
    <br />
    En nuestras <b>próximas</b> reclamaciones <br />
    sobre está <b>cuenta</b>, según permite <br />
    la ley, nosotros vamos a <b>exigirle</b> <br />
    que nos indique, <b>quién</b> verífico la<br />
    cuenta, que <b>compañía</b> verífico la <br />
    cuenta, el <b>nombre</b> de la persona <br />
    que la verífico, el <b>número</b> <br />
    de teléfono y la <b>dirección</b> <br />
    de las personas que <b>veríficaron</b> <br />
    está cuenta a parte de eso que <b>también</b> <br />
    nos envíe el pagare y el <b>contrato</b>,<br />
    si ellos <b><u>NO</u></b> hacen esto <br />
    en un <b>plazo</b> de 45 días<br />
    tienen que <b>borrarlo</b> <br />
    <b>¡Esa es la ley!</b> <br />
    <br />
    <span style="color: blue">
      (___), Pero hasta que usted <b><u>no</u></b> haga su próximo pago<br />
      <b><u>no</u></b> puedo dar la orden de enviarlas.</span
    ><br />
    <br />
    (___), Incluso este proceso lo podemos hacer <b>más rápido</b>, <br />
    Ya que <b>cada vez</b> que usted haga un pago<br />
    podemos a sacar más <b>cartas</b>.<br />
    <br />
    (___), si paga <b>Una</b> vez al mes<br />
    Dios mediante<b> enviamos</b> por correo<br />
    las cartas <b>todos</b> los meses<br />
    Y si hace pagos <b>completos </b> cada 15 días<br />
    <b>Cada </b> 15 días,<br />
    Dios mediante <b>sacamos </b> cartas.<br />
    lo mejor de todo es que en vez de tardarse<br />
    un año en arreglar su credito lo puede hacer<br />
    en menos tiempo o sea al pagar quincenalmente<br />
    en vez de un año podemos ayudarle a arreglar<br />
    su credito en 6 meses solamente <br />
    <br />
    Si usted quiere podemos <b>acelerar </b> su proceso<br />
    <b>MUCHO</b> más rápido<br />
    <br />
    (___), Usted <b>desea </b><br />
    Que <b> enviemos </b> las cartas<br />
    ¿ <b>Cada </b> mes?<br />
    ¿O cada <b>quince </b> días?<br />
    para hacerlo mas rapido <br />
    en la mitad del tiempo. <br />
    <br />
    <br />
    Muy bien (___), Su <b>próximo </b> pago es el día (_/_/2020)<br />
    (___)<br />
    usted <b> <u>va</u> </b> a hacerlo el día ___<br />
    o prefiere <b>aprovechar </b> que estamos en el teléfono<br />
    y lo hacemos <b>ahora </b> por quickpay o por PayPal<br />
    <br />
    ¿Usted tiene quickpay o PayPal? <br /><br />
    <input type="text" placeholder="Quickpay o PayPal" />

    <br /><br />

    <span style="color: blue">
      ¿Qué es <b>mejor </b>, para sacar las cartas más rápido?<br />
      ¿(______), <b>hacerlo </b> el día ___? o<br />
      <br />
      <br />
      ¿ Prefiere <b>aprovechar </b> que estamos en el teléfono<br />
      y lo <b>hacemos </b> ahora por ______?<br />
      Para sacar sus cartas Dios mediante, <b>ahora mismo</b>.<br />
    </span>
    <br />
    Perfecto!<br /><br />
    vamos a comenzar con el procedimiento<br />
    para sacar sus cartas lo mas rapido posible
    <br />
    ¿OKAY HERMAN@ (__)?
  </div>
</div>
