
<div class="content">
  <div class=" intro ">
    <h1 style="color: green;">Timesquare</h1>
    <br>
    <br> En estos <b>momentos</b> usted
    <br> puede <b>publicar</b>
    <br> el numero de <b>seguro social</b>
    <br> en el <b>timesquare</b>
    <br> y le aseguro que <b>nadie</b>
    <br> lo va a <b>tomar</b> porque
    <br> su credito esta <b>malo</b>.
    <br>
    <br> Claro <b>esta (<span *ngIf="cliente">{{ cliente.nombres }}</span>)</b>
    <br> que cuando <b>nosotros</b>
    <br> le ayudemos a <b>reparar</b> su credito
    <br> en ese <b>momento</b>
    <br> <u><b>no</b></u> se lo de a nadie.
    <br> Porque si lo <b>ven</b>
    <br> ahora como <b>esta</b>
    <br> se <b>rien</b>
    <br> y se <b>burlan</b> de su credito.
   <br>
    <br> \ Asi que <u><b>no</b></u> se preocupe
    <br> esta en <b>buenas</b> manos
    <br>
    <br> Recuerde que <b>fue</b> usted
    <br> el que nos <b>llamo</b>
    <br> y <u><b>no</b></u> nostros a usted.
    <br>
    <br> <span class="blue">Repitame</span> ¿Cual es su nombre?
    <br> tal y <b>cual</b>
    <br> aparece en su <b>seguro social</b>
    <br>
    <br> Ahora bien,(<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br>
    <br> ¿Cual es su numero de <b>seguro social</b> ?
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
