


<div class="content">
  <div class="{{ intro }}">

    <span style="color: green;">
      <h2>
          Cree que paga el acreedor original
      </h2>
  </span>

          <br> Usted cree que <b>está</b> pagando
          <br> el <b>acreedor</b> original
          <br> pero muchas <b>veces</b>
          <br> esa <b><u>NO</u></b> es la
          <br> realidad.
          <br>
          <br> Usted <b><u>NO</u></b> está
          <br> con el acreedor original
          <br> <b>sino</b> que usted
          <br> está <b>pagando</b> a una
          <br> agencia de <b>colección</b>,
          <br> que <b>compran</b> este tipo de deuda,
          <br> en muchas <b>ocasiones</b>
          <br> las <b>compañías</b> venden sus deudas.
          <br>
          <br> Vamos a decir que <b>tuvieron</b>
          <br> una <b>ganancia</b> de $100 millones
          <br> de dólares pero <b>tienen</b> 1 millón
          <br> en <b>pérdidas</b>, en gente que NO
          <br> le han <b>pagado</b>,
          <br> como es el caso suyo.
          <br>
          <br> Pero ellos <b>prefieren</b> vender
          <br> eso por <b>$5 o $10 </b>centavos de dólar
          <br> que <b>perder</b> todo.
          <br>
          <br> O sea ese <b>millón</b> lo venden
          <br> por <b>$100 mil </b>dólares
          <br> o <b>$50 mil</b> dólares,
          <br> lo mismo <b>pasa</b> con la deuda
          <br> de <b>mil</b> dólares.
          <br>
          <br> Las agencias de <b>colecciones</b>
          <br> <b>usualmente</b> las compran
          <br> en unos <b>$50 a $100</b> dólares
          <br> y usted recibe una <b>carta</b> de ellos
          <br> <b>diciéndole</b> que le pague
          <br> la mitad $500 dólares
          <br> sin usted <b>saber</b>
          <br> que le está pagando
          <br> 10 veces una <b>ganancia</b>
          <br>
          <br> Que fue lo que ellos <b>compraron</b>,
          <br> por eso es que <b>nosotros</b>
          <br> <b>convalidamos</b> la deuda.
          <br>
          <br> <span style="color: green;">Esperar reacción</span>
          <br>
          <br> Para <b>convalidar</b> la deuda
          <br> nosotros le <b>mandamos</b>
          <br> unas <b>cartas</b> certificadas
          <br> <b>estableciendo</b> que ellos
          <br> tienen que <b>darnos</b> pruebas
          <br> de que <b>ellos</b> son los dueños
          <br> <b>legítimos</b> de su deuda
          <br>
          <br> Y una vez <b>hecho</b> esto,
          <br> <b>también</b> tienen que
          <br> enviar la <b>prueba</b> y la licencia
          <br> de que <b>ellos</b> pueden operar
          <br> en este <b>estado</b>.
          <br>
          <br> En adición a esto
          <br> los <b>contratos</b> que le pedimos nosotros,
          <br> <b>pagarés</b> y cualquier documento
          <br> relacionado con la <b>deuda</b>.
          <br>
          <br> Nosotros <b>sabemos</b> que por
          <br> ser <b>agencia</b> de coleccion
          <br> ellos <b>solo</b> compran
          <br> nombre y numero de <b>cuenta</b>
          <br> por eso es <b>muy problable</b>
          <br> que <b><u>NO</u></b> tengan toda
          <br> la informacion <b>necesaria</b>.
          <br>
          <br> Y si ellos <b>logran</b> demostrar
          <br> que tienen <b>derecho</b> a la deuda.
          <br>
          <br> Porque hay veces que <b><u>NO</u></b> la tienen,
          <br> hay veces que las deudas <b>expiran</b>
          <br> y eso <b>nosotros</b> vamos a ver,
          <br> si usted tiene o <b><u>NO</u></b>
          <br> que <b>pagar</b> esa deuda
          <br>
          <br> Y si es el <b>caso</b> que
          <br> la <b>tiene</b> que pagar,
          <br> entonces nosotros la vamos a <b>negociar</b>
          <br> por <b>tercera o cuarta</b> parte
          <br> de lo que usted debe
          <br> si es a <b>razón</b> de mil dolares
          <br> estaríamos hablando
          <br> de <b>$25 a $30</b> centavos de dólar,
          <br> por cada dolar que <b>usted</b>
          <br> debe en la cuenta.
          <br>
          <br> O sea que en <b>vez</b> de usted
          <br> tener que <b>pagar</b> mil dólares
          <br> la vamos a <b>negociar</b>
          <br> por <b>$250 o $300</b> dólares.
          <br>
          <br> Y con un <b>plan</b> de pago
          <br> que <b>usted</b> pague
          <br> unos <b>$25 a $30</b> dólares
          <br> <b>mensuales</b> por un año
          <br> y <b>siempre</b> y cuando
          <br> se <b>borre</b> la deuda
          <br> Okay (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
          <br>
          <br> Ya que <b>usted</b> tiene claro
          <br> que la <b>gente</b> que le está
          <br> cobrando <b><u>NO</u></b> es el
          <br> <b>acreedor</b> original.
          <br>
          <br> <b>Cuénteme</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
          <br> que más <b>cuentas</b> tiene
          <br> usted que <b><u>NO</u></b> me haya
          <br> dicho que <b>yo</b> me deba enterar
          <br> hasta <b>ahora</b>
          <br> por <b>que</b> esto ya
          <br> esta bien <b>complejo</b>,
          <br> esto ya está muy <b>peligroso</b>
          <br>
          <br>
          <br> Tenemos que <b>enviar</b>
          <br> unas cartas <b>hoy mismo</b>
          <br> para ayudarle a <b>evitar</b>
          <br> que lo <b>demanden</b>
          <br> con el favor de <b>Dios</b>.
          <br>
          <br>
          <br>
          <button>Volver a venta</button>
  </div>
</div>
