
<div class="content">
  <div class="{{intro}}">
      (____) ,
      <br>
      <br>Le habla (____) de <b>creditomejor.com</b>
      <br>para <b>informarle</b> que tenemos varios
      <br>depositos en el <b>banco</b> y nos gustaría saber
      <br>si uno es el <b>suyo</b> para enviar sus cartas.
      <br>
      <br>(_____), Necesitamos que nos <b>envie</b>
      <br>el recibo del banco para
      <br><b>acreditarle</b>
      <br>el pago con el <b>departamento</b> de contabilidad
      <br>y asi poder tener la <b>orden</b> de enviar
      <br> sus cartas, <b>ya</b> que las
      <br>tenemos listas
      <br>y queremos <b>ayudarle</b> a evitar que le puedan
      <br><b>demandar</b>.
      <br>
      <br>
      <span style="color:purple">
      <br>¿A que hora usted fue al banco?
      <br><input type="time">
      <br>
      </span>
      <br>
      <span style="color:green">
      <br>Si la persona no a consignado
      <br>se le responde de esta manera;
      </span>
      <br>
      <br>¿A que hora usted va al banco?
      <br>
      <br>
      <input type="time">
      <br>
      <br>Recuerde que <b>tenemos</b> todas sus
      <br><b>reclamaciones</b> de los buro de credito
      <br>Experian <b>Equifax</b> y TranUnion
      <br>
      <br>
      <br>
      <label> ¿Como prefiere hacer su deposito?</label>
      <br>
      <br>
      <select>
          <option>Respuesta</option>
          <option>En el banco</option>
          <option>Por Zelle</option>
      </select>
      <br>
      <br>
      <br>¿A que hora usted va al banco?
      <br>
      <br>
      <input type="time">
      <br>
      <br>
      <label> ¿Cuál es su metodo de pago?</label>
      <br>
      <br>

      <select>
          <option value="respuesta">Respuesta</option>
          <option value="">CHASE</option>
          <option value="">ZELLE</option>
          <option value="">PAYPAL</option>
          <option value="">TD BANK</option>
          <option value="">WESTERN UNION</option>
          <option value="">BANCK OF AMERICA</option>
      </select>
  <br><br><br>
  </div>
</div>

