

<div class="content">
  <div class="{{intro}}">

<br>Yo <b><u>NO</u></b> puedo aceptar su <u>cancelación</u>
<br>porque <b>actualmente</b>
<br>nosotros estamos <b>peleando</b> su caso
<br>hay cosas que <b>vienen</b> en camino
<br>que son <b>muy importante</b> para usted.
<br>
<br><b>Indiscutiblemente</b> de cual sea su razón
<br>usted <b>tiene</b> que hablar <u>exclusivamente</u>
<br>con <span style="color: blue;">(Nombre vendedor)</span>
<br>que fue la persona que <b>hablo</b> con usted
<br>porque yo <b>veo</b> aquí
<br>que hay <b>muy</b> <u>buenas</u> noticias en su caso.
<br>
<br>
<button class="btn_g" type="button" (click)="verBtns('contr')">
  Tiene contrato
</button>
<br>
<div style="font-size: 36px;"  *ngIf="contrato">
  <br> Usted <b>tiene</b> un <u>contrato</u> con nosotros
  <br> pero para <b>hablar</b> del contrato y todo eso
  <br> y porque <b>hay</b> noticias <u>buenas</u>
  <br> usted <b>tiene</b> que hablar con <span style="color: blue;">(Nombre vendedor)</span>
  <br> le voy hacer una cita, es su <b>responsabilidad</b>
  <br> contestar la llamada
  <br> porque hasta que <span style="color: blue;">(Nombre vendedor)</span>
  <br> <b>no</b> indique que <b>acepta</b> la cancelación
  <br> usted <b>tiene</b> un <u>compromiso</u> con nosotros
  <br> y nosotros <b>estamos</b> <u>cumpliendo</u> con su compromiso
  <br> <h1>Okay</h1>
  <br>
  <br> Entonces, vamos hacerle una cita
  <br> aunque <span style="color: blue;">(Nombre vendedor)</span> es una persona <b>muy</b> ocupada
  <br> pero <b>cuenteme</b> a que hora esta usted disponible?
  <br> a que hora se acuesta a dormir?
</div>



  </div>
</div>
