

<div class="content">
  <div class="{{ intro }}">
    <br /><span style="color: green">Trackings</span>
    <br />
    <br />
    Le habla _________ de <b>creditomejor</b>.com
    <br />
    <br />
    <br />Y le estoy <b>llamando</b> para darle
    <br />muy buenas <b>noticias</b> sobre su
    <br /> <b>reparación</b> de crédito
    <br />
    <br />
    Ya hemos <b>enviado</b> unas reclamaciones <br />
    a los <b>buros</b> de crédito <br />
    Experian, <b>Equifax</b> y transunion, <br />
    por consiguiente, le voy a <b>solicitar</b> que <br />
    busque <b>lápiz</b> y papel para que anote <br />
    una información <b>importante</b>, <br />
    me <b>avisa</b> cuando tenga lápiz y papel
    <br />
    <br />
    <span style="color: green"><b>Esperar que tenga lápiz y papel</b> </span>
    <br />
    <br />
    Muy bien (_____) <b>anote </b> <br />
    la <b>siguiente</b> información.
    <br />
    <br />
    Le voy a dar los <b>trackings</b> de las <br />
    <b>reclamaciones</b> que enviamos a <br />
    Experian, <b>Equifax</b> y transunion.
    <br />
    <br />
    Le voy a <b>dar</b> 20 números, <br />
    cada 4 va <b>dejar</b> un espacio.
    <br />
    <br />
    <b>OK</b>
    <br />
    <br />
    Los números son los <b>siguientes:</b>
    <span style="color: blue">---- ---- ---- ---- ----</span>
    <br />
    <br /><span style="color: green"
      ><b>Dictar los números, cada 4 dejar espacio</b></span
    >
    <br />
    <br />
    Este tracking <b>pertenece</b> a <br /><span style="color: blue"
      >(Experian | <b>Equifax</b> | transunion.)</span
    >
    <br />
    <br />
    Me avisa cuando este <span style="color: blue"><b>listo/listo</b></span>
    <br />
    <br />
    Son los <b>mismos</b> 16 números que le <br />
    di <b>anteriormente</b> pero <br />
    los <b>ULTIMOS</b> 4 cambian
    <br />
    <br />
    Los <b>últimos</b> 4 son: ---- <br />
    Este tracking <b>pertenece</b> a <br />
    <span style="color: blue">(Experian | <b>Equifax</b> | transunion.)</span>
    <br />
    <br />
    Ahora le voy a <b>dar</b> los trackings de <br />
    <span style="color: blue">(Experian | <b>Equifax</b> | transunion.)</span>
    <br />
    <br />
    Son los <b>mismos</b> que le di anteriormente, <br />
    pero los <b>ULTIMOS</b> 4 cambian <br />
    Los <b>últimos</b> 4 son: ----
    <br />
    <br />
    Con esto <b>cumplimos</b> enviando sus reclamaciones <br />
    tal y como le habí­amos <b>prometido</b>, le hemos dado.
    <br />
    <br />
    <br />
    Le hemos <b>dado</b> los números de <br />
    trackings para que usted <b>corrobore </b> <br />
    que <b>nosotros</b> enviamos <br />
    unas <b>cartas</b> certificadas <br />
    a los 3 <b>burós</b> de crédito <br />
    Experian <b>Equifax</b> y transUnion.
    <br />
    <br />
    A <b>partir</b> de ese momento <br />
    <b>tienen</b> 45 dí­as para contestar.
    <br />
    <br />
    Si <b><u>NO</u></b> han contestado tienen <br />
    que <b>borrarlo</b> <br />
    esa es la <b>ley</b>.
    <br />
    <br />
    (____) Es <b>importante</b> dejarle <br />
    saber que los <b>primeros</b>15 a 20 días <br />
    son los días que <b>usualmente</b> utilizan <br />

    <br />para negar la <b>reclamación</b>.
    <br />Por consiguiente, <br />si usted <b><u>NO</u></b> lo ha recibido
    <br />y ha <b>pasado</b> más de 20
    <br />dí­as esas son <b>muy</b> buenas noticias,
    <br />lo que quiere <b>decir</b> es que ellos aparentemente
    <br /><b><u>NO</u></b> encuentran la información
    <br />y si <b><u>NO</u></b> encuentran la información
    <br />a los 45 dí­as tienen que <b>borrarlo</b>
    <br />
    esa es la <b>ley</b>
    <br />
    <br />hasta los 20 días <b> <u>NO</u></b> es necesario
    <br />que <b>vaya</b> al correo
    <br /><b>después</b> de los 20 dí­as si
    <br />es <b>importante </b> porque
    <br />ellos pueden <b>mandar</b> la contestación
    <br />
    <span color="blue"> el dí­a 22 , 25, <b>30</b>, 40 o 45 </span>
    <br />
    <br />
    <br />(_____) si a los <b>45</b> dí­as <br /><b><u>NO</u></b> ha recibido las contestaciones
    <br />
    <br />Me <b>vuelve</b> y me llama <br />y me dice <b>mira</b> ya han
    <br /><b>pasado</b> los 60 días.
    <br />
    <br />(______) <b>aun</b> así­ hay
    <br />que <b>darle</b> los 45 dí­as
    <br /><b>okay</b>
    <br />
    <br />¿<b>Estamos</b> claros?
    <br />Alguna <b>preguntita</b>
    <br />Hagame <b>todas</b> las que quiera
    <br />
    yo soy una <b>enciclopedia</b>.
    <br />
    <br /><b>Okay</b>
    <br />que <b>Dios</b> le bendiga
  </div>
</div>
