
<div class="content">
  <div class=" intro ">

    <br>
    <br><h1 class="green">----Yo no llame----</h1>
    <br>
    <br>
    <span class="blue">
      <br> Yo no he llamado <b>antes</b>
      <br> esta es la primera vez que lo hago
    </span>
    <br>
    <br> Quien llamo?
    <br> <input type="text">
    <br>
    <br> Aca nos aparece una llamada <b>registrada</b> suya quizas
    <br> fue un amigo o <b>un vecino</b> o tal vez alguien a quien usted
    <br> le <b>presto</b> su telefono.
    <br>
    <br> Tenemos que saber quien fue la persona que <b>nos llamo</b>
    <br> porque esto es una <b>maquina</b>
    <br> que está <b>retornando</b> llamadas
    <br> cada <b>media</b> hora
    <br>
    <br> <b>Cual</b> es el nombre de esa persona?
    <br> <input type="text">
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
