
<hr>
<small class="green">
  <br> ----Llamada primer pago----
  <br> (Antes de llamar verificar que documentos
  <br> que tiene pendiente e investigar el caso
  <br> para abordar la llamada primero de esta manera.)
</small>
<div class="content">
  <br> ¿Dios le <b>bendiga</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
  <br> ¿Como <b>está</b> usted?
  <br> Le saluda (<span *ngIf="cliente">{{ cliente.nombres }}</span>) de <b>creditomejor.com</b>
  <br> Y quiero <b>informarle</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
  <br> que ya hicimos todo el proceso <b>requerido</b>
  <br> para <b>adelantar</b> su trabajo.
  <br> <b>Pusimos</b> a tres personas
  <br> por más de 3 horas a <b>trabajar</b> en su caso
  <br> y ya <b>finalmente</b>
  <br> están <b>todas</b> las cartas listas para enviar.
  <br>
  <br> Ya nosotros <b>cumplimos</b>
  <br> con <b>nuestra</b> parte,
  <br> ahora lo <b>único</b> que falta
  <br> es que usted realice el pago <b>acordado</b>
  <br> para poder <b>enviar</b> las cartas.
  <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), el banco <b>abre</b> a las 9am/cierra a las 6pm….
  <br> ¿A qué hora <b>deposita</b> ?
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
