<div class="content">
  <div class="{{ intro }}">
        <span style="color:green"> ----HEMOS HECHO UNA SERIE DE ACCIONES----</span>
        <br>
        <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), nosotros <b>hemos</b> hecho
        <br>una serie de <b>acciones</b> para
        <br>Asegurarnos que con el favor de <b> Dios</b>,
        <br>usted <b>restablezca</b>  su buen crédito.
        <br>
        <br><b> Primero. </b> Hemos enviado una cartas
        <br><b>Indicándole</b> a los buros de crédito
        <br>que le <b>borren</b> todas las direcciones
        <br>que usted ha <b>tenido</b> anteriormente
        <br>y que solo se <b>quede</b>
        <br> la suya <b>actual, ya que esto </b>
        <br>se puede <b>prestar para que lo </b>
        <br><b>demande</b> a usted y nunca
        <br> se entere de la <b>demanda</b> y le
        <br>ganen la demanda en <b>ausencia.</b>
        <br>Por eso es <b>muy</b> importante quitar
        <br>inmediatamente <b>todas</b> las direcciones
        <br>que ya usted no vive.
        <br>
        <br><b>Segundo</b>. Hemos requerido
        <br><b>quitar</b> variaciones de su nombre
        <br>y <b>actualizarlo</b> ya que se puede prestar
        <br>para <b>robo</b> de identidad.
        <br>
        <br><b>Tercero</b> hemos escrito a los buro de credito
        <br>Experian <b>Equifax</b> y TransUnion
        <br>indicandole que usted es el <b>dueño adsoluto</b>
        <br>de su reporte de <b>credito</b> y seguro social.
        <br> <b>Nosotros</b> vamos a tener <b>resultados</b>
        <br> de este <b>proceso</b>,
        <br> de <b>90</b> a 120 días.
        <br> En ese tiempo <b>tienen</b> que constestarnos
        <br> y durante ese tiempo
        <br>
        <br>Los buro de credito tienen hasta <b>45 días</b>
        <br>para <b>contestarnos</b> y durante ese lapso de tiempo,
        <br>usted debe recibir los <b>tres reportes</b> de <b>credito</b>, de
        <br>Experian <b>Equifax</b> y TransUnion
        <br>Con el favor de <b>Dios</b> estableciendo que usted
        <br>es el <b>unico dueño</b>, adsoluto de su reporte
        <br> de <b>credito</b> y seguro social.
        <br>Una vez usted <b>reciba</b> estos reportes que
        <br>pueden ser de (2) a (20) paginas, le toma una
        <br>fotografí­a que sea <b>legible</b> y se pueda ver las (4)
        <br>esquinas y nos la <b>enví­a</b>
        <br>
        <br>¿Okay?
        <br>
        <br>En ese <b>caso</b>, ¿Quiero saber si usted
        <br>tiene alguna <b>preguntita</b> ?
        <br>
        <br>¡Hagame todas las que quiera!
        <br>Yo soy una <b>enciclopedia.</b>
        <br>
        <br>
      <div class="btn-uy mt-4"  >
        <a  target="_blank" [routerLink]="['/speechsticket/speechDeposito']" >
          <button>
            A qué hora va depositar?
            </button>
        </a>
      </div>

  </div>

</div>
