
<div class="content">
  <div class="{{intro}}">
      <br>Hola muy <b>buenas</b> ( Días, tardes o noche)
      <br>
      <br><span style =" color: green">(Esperar reacción del cliente)</span>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>) ¿Cómo ha estado  <b>su día</b>?
      <br>
      <br><span style =" color: green">(Esperar reacción del cliente)</span>
      <br>
      <br>Qué <b> bueno</b> me alegra mucho.
      <br>Le <b>habla</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br><b>soy </b>una de las personas
      <br>que vá a estar <b>encargada</b> de su caso
      <br>y de aquí en adelante vamos a <b>tener</b>
      <br>una<b> MUY</b> buena comunicación
      <br>para que hagamos un <b>BUEN</b> trabajo en equipo,
      <br>ya que, con el favor de <b>Dios</b>
      <br>vamos a lograr <b>reparar</b> su crédito.
      <br>
      <br>Ahora <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br>lo<b> MAS IMPORTANTE </b>
      <br>es que ya <b>estamos</b> hablando
      <br>y voy a aprovechar en <b>contarle</b>
      <br>y explicarle <b>cada una</b> de las cuentas
      <br>que nosotros estamos <b>disputando</b>
      <br>y el <b>proceso</b> que estamos llevando a cabo,
      <br>pues<b> referente</b> a esto,
      <br>usted <b><u>vá</u></b> a recibir contestación
      <br>de los buros de <b>crédito</b>
      <br>experian, <b>equifax </b>y transunion,
      <br>así que preste <b>MUCHA</b> atención,
      <br>de las <b>cuentas</b> que le VOY a mencionar
      <br>que estamos ayudándole a <b> pelear</b>, atacar y reclamar,
      <br>para que cuando <b>reciba</b> los resultados
      <br>se pueda <b>familiarizar </b>con ellas.
      <br>
      <br>Para iniciar estamos <b>disputando</b>
      <br><b>esta</b> cuenta (Nombre de la cuenta),
      <br>La cuenta numero #_______________ la cuál es <b>muy</b>
      <br>peligrosa porque está en <span style="color:blue">( colleciones, acollector att, <b>judment</b>, atrazo)</span>,
      <br>
      <br>La cuál ha estado <b>afectando</b> su crédito,
      <br>y <b>bajándole</b> el puntaje.
      <br><b> Menos</b> mal que usted
      <br>Esta con <b>creditomejor.com</b>
      <br>Porque usted ya <b><u>no</u></b> está solo(a)
      <br>y yo le <b>voy</b> a ayudar.
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>) y <b><u>NO</u></b> solamente tiene eso,
      <br>tiene <b>otra</b> cuenta que es:
      <br>
      <br>
      <span style =" color: green">
          <br>(Se repite el proceso anterior
          <br>en donde se describe la cuenta
          <br>y así con las cuentas que se
          <br>estén disputando en ese momento)
      </span>
      <br>
      <br>

      <button class="btn_g" type="button" (click)="verBtns('inkiri')">
          INQUIRY
      </button>
      <br>
      <div style="font-size: 36px;"  *ngIf="INQUIRY">
              <br>Además de TODO<b> estamos </b>en la pelea,
              <br>de todas las veces que usted ha ido a <b>pedir</b> crédito
              <br>y se lo han negado,
              <br>que son los <b>INQUIRY</b>
              <br>o <b>chequeos</b> que usted ha realizado,
              <br>y usted <b>debe</b> tener en cuenta
              <br>que <b>sólo</b> en el <b>año</b>
              <br>lo puede chequear <b>DOS</b> veces sin penalidad,
              <br>para que  <b><u>no</u></b> le afecte su crédito
              <br>y su<b> puntaje</b>,
              <br>pero mire que usted <b>tiene</b>
              <br><span style =" color: green">(Número de inquiry)</span>,
              <br>
      </div>
      <br>
      <br> Y según mi <b>humilde</b> opinión,
      <br>están siendo <b>injustos</b> con usted,
      <br>porque <b>MUCHOS</b> de ellos
      <br>probablemente usted <b><u>no</u></b> los autorizó,
      <br>Yo le <b>voy</b> a ayudar
      <br>Pero <b>tengo</b> que aconsejarle lo siguiente
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), necesito que sea <b>muy</b> responsable
      <br>Y que tenga <b>mucho</b> juicio,
      <br><b>REVISANDO</b> el buzón <b><b>TODOS</b></b> los días,
      <br>
      <br> Y espero que ya lo <b>esté</b> haciendo
      <br>
      <br><span style =" color: green">(Esperar reacción del cliente)</span>
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>) ¿<b>Quién</b> es la persona que recibe
      <br>la <b>correspondencia</b> en su hogar?
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), en <b><b>cualquier</b></b> momento le pueden
      <br>estar<b> llegando</b> resultados
      <br>y <b>contestaciones </b>de los 3 buros de crédito
      <br>experian, equifax y <b>transunion,</b>
      <br>los cuales debemos analizar <b>INMEDIATAMENTE</b>,
      <br>Tan pronto le <b>lleguen</b> los resultados
      <br>Es <b>importante</b> que inmediatamente
      <br>Usted le tome <b>una foto</b> a todas las páginas,
      <br>Ya que le pueden <b>llegar</b> de 2 paginas
      <br><b>Hasta </b>40 páginas en total
      <br>Y <b>cada </b>página debe de tomarle una foto
      <br>Y<b> enviárnosla</b> en el acto,
      <br>Ya que hay unos <b>códigos</b>
      <br>Que nos indican que reclamaciones <b>ganamos</b>
      <br>Y cuales <b>tenemos </b>que seguir peleando.
      <br>
      <br>El tiempo <b>apremia</b>,
      <br>Asi que esto usted lo debe de hacer <b>inmediatamente</b>
      <br><b>Reciba</b> cualquier documentación
      <br>Que tenga que ver con<b> su crédito</b>.
      <br>
      <br>Recuerde que en <b><u>creditomejor.com</u></b>
      <br><b>Trabajamos</b> para usted
      <br>Las <b>24 horas</b> del dia
      <br><b>Los 7 días </b>de la semana
      <br>Con el <b>único</b> objetivo
      <br>De ayudar a lograr, con el favor de<b> Dios</b>
      <br>A <b>resolver</b> estos problemas
      <br>que <b>tiene</b> en el crédito
      <br>y/o a <b>aumentarle</b>
      <br>su <b>puntaje</b>.
      <br>
      <br><b>Igual</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), tenemos
      <br>un tiempo<b> estipulado</b>
      <br>para que ellos <b>respondan</b>,
      <br>y si por<b> algún</b> motivo
      <br>se <b>pasan</b> de ese tiempo,
      <br>pues inmediatamente <b>entraremos</b>
      <br>a hacer otra <b>RECLAMACIóN</b>,
      <br>que nos <b>permite</b> la ley
      <br>tenemos <b>muchas</b> estrategias
      <br>para <b>cada </b>situación,
      <br>en cada buro de <b>crédito</b>
      <br>y <b><u>no</u></b> vamos a descansar
      <br>hasta con el favor de <b>Dios</b>,  lograrlo.
      <br>
      <br>Como si esto fuera poco hemos <b>realizado</b>
      <br><b>un</b> MáXIMO de
      <br>tres (3) <b>reclamaciones</b> a los buró de crédito.
      <br>A Expirian, <b>Equifax</b> y Transunion.
      <br>
      <br>(<span *ngIf="cliente">{{ cliente.nombres }}</span>),<b> Hicimos</b> (3) tres reclamaciones
      <br>a <b>cada</b> buró de crédito.
      <br>Son <b>nueve</b> reclamaciones en total.
      <br>
      <br>Usted va a <b>recibir</b> tres (3) contestaciones
      <br>De <b>cada</b> buró de crédito,
      <br>en forma de <b>reportes</b> de crédito
      <br>
      <br><b>Estos</b> reportes pueden ser
      <br>de <b>dos(2)</b> páginas
      <br>hasta <b>veinte (20)</b> páginas
      <br>y es muy <b>importante</b>
      <br>que tan pronto usted los <b>reciba</b>,
      <br>inmediatamente nos los <b>envíe</b>,
      <br> ya que hay unos <b>códigos</b>
      <br>en los cuales nos indica
      <br>qué cosas <b>tenemos</b> que seguir peleando
      <br>y que cuales han sido <b>borradas</b>.
      <br>Una vez usted <b>reciba</b> estos reportes,
      <br>nos los enví­a y <b>llama</b> inmediatamente
      <br>para asegurarse que nosotros lo hemos recibido.
      <br><b>¿Okay?</b>
      <br>Muy bien, ¿Tiene alguna otra pregunta?
      <br>Hagame todas las preguntas que usted quiera
      <br>
      <br>yo soy una enciclopedia
      <br>¿Tiene<b> alguna</b> otra pregunta?
      <br>
      <br>
      <br><span style =" color: green">(Esperar reacción del cliente)</span>
      <br>
      <br>Bueno (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
      <br>DIOS LE BENDIGA.
      <br>Feliz día

  </div>
</div>
