<div class="content">
  <div class="padre h100 w100 mb-3">
      <div class="izquierdo">
          <h3>S<br>E<br>R<br>V<br>I<br>C<br>I<br>O <br><br>A<br>L <br><br>C<br>L<br>I<br>E<br>N<br>T<br>E</h3>
      </div>
      <div class="centro">
          <div class="uno">
              <div class="divone mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/SpeechDocumentosClienteAn']" >

                      <button class="rosa">
                      (001)  Documentacion requerida
                      </button>
                  </a>
              </div>
              <div class="divone mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechFirmarContrato']" >
                      <button class="rosa">
                      (002)  Firmar Contrato
                      </button>
                  </a>
              </div>
              <div class="divone mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechAcciones']" >
                      <button class="rosa">
                      (003)  Correccion
                      nombre y direccion
                      </button>
                  </a>
              </div>
              <div class="divone mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechTrackings']" >
                      <button class="rosa">
                      (004) Trackings
                      </button>
                  </a>
              </div>
              <div class="divone mt-4">
                  <!-- <a  target="_blank" [routerLink]="['/speechsticket/speechEvidendiaTrackings']" >
                      <button class="rosa">
                      (005) Evidendia Trackings
                      </button>
                  </a> -->
                  <a >
                      <button class="rosa">
                      (005) Vacio
                      </button>
                  </a>
              </div>

              <div class="divone mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechTercerServicioAlCliente']" >
                      <button class="rosa">
                          (006) Quien recibe la correspondencia
                      </button>
                  </a>
              </div>
              <div class="divone mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechCuentaDisputada']" >
                      <button class="rosa">
                          (007) 3 cuentas en disputa
                      </button>
                  </a>
              </div>
              <div class="divone mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/BuenasNoticias']" >
                      <button class="rosa">
                          (008) Dueño absoluto de su reporte de credito*
                      </button>
                  </a>
              </div>
          </div>
          <div class="dos">
              <div class=" mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/Jamas']" >
                      <button class="verde">
                      <br>(009)  Jamás
                      </button>
                  </a>
              </div>
              <div class=" mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechVerified']" >
                      <button class="verde">
                      (010)  Verfied
                      </button>
                  </a>
              </div>
              <div class=" mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechCompras']" >
                      <button class="verde">
                          <br>(011)  45 Días
                      </button>
                  </a>
              </div>
              <div class=" mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechCreditKarma']" >
                      <button class="verde">
                          (012) Tarjeta Prepagada
                      </button>
                  </a>
              </div>
              <div class=" mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/PrePaid']" >
                      <button class="verde">
                          (013) Prepaid cc
                      </button>
                  </a>
              </div>
              <div class=" mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechRescate']" >
                      <button class="verde">
                          <br>(014) El rescate
                      </button>
                  </a>
              </div>
              <div class=" mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechReferido']" >
                      <button class="verde">
                          (015) Referido
                      </button>
                  </a>
              </div>
              <div class=" mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechNoTengoCartas']" >
                      <button class="verde">
                      (016) No envio documentacion
                      </button>
                  </a>
              </div>
          </div>
          <div class="tres">
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechNoAceptoCancelacion']" >
                      <button class="azul">
                          (017) No Acepto Cancelacion
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechNoHechoNada']" >
                      <button class="azul">
                          (018) No han hecho nada
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechPrimerPago']" >
                      <button class="azul">
                          (019) Acreditando Pago
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechReciboDeposito']" >
                      <button class="azul">
                          (020) Recibo de deposito
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/Cambio_Multa_Atrazo']" >
                      <button class="azul">
                          (021) cambio de pago/ multa por retrazo
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/']" >
                      <button class="azul">
                          (022) vacio*
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/']" >
                      <button class="azul">
                          (023) vacio*
                      </button>
                  </a>
              </div><br>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/yoPuedo']" >
                      <button class="azul">
                          (024) yo puedo esperar
                      </button>
                  </a>
              </div>
          </div>
          <div class="cuatro">
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/nopago']" >
                      <button class="amarillo">
                          (025) no pago la cuenta
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechMensaje']" >
                      <button class="amarillo">
                          (026) Mensajes y llamadas perdidas
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/CuadroObjeciones']">
                      <button class="amarillo">
                          (027) Objeciones
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechLeFaltanDocumentos']" >
                      <button class="amarillo">
                          (028) le faltan documentos
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/cobro']" >
                      <button class="amarillo">
                          (029) cobro 1
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/GuionSAC']" >
                      <button class="amarillo">
                          (030) guion servicio cliente
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                  <a  target="_blank" [routerLink]="['/speechsticket/speechLlamdasegtiene']" >
                      <button class="amarillo">
                          (031) tiene tiempo | no tiene tiempo
                      </button>
                  </a>
              </div>
              <div class="mt-4">
                <a  target="_blank" [routerLink]="['/speechsticket/speechCartaTransunion']" >
                    <button class="amarillo">
                        (032) CartaTransunion
                    </button>
                </a>
            </div>
              <div class="mt-4">
                  <a >
                      <button class="negro">
                      EXIT
                      </button>
                  </a>
              </div>
          </div>
      </div>
      <div class="derecho">
          <h3>S<br>E<br>R<br>V<br>I<br>C<br>I<br>O <br><br>A<br>L <br><br>C<br>L<br>I<br>E<br>N<br>T<br>E</h3>
      </div>
  </div>
</div>
