<div class="content">
  <div class="{{ intro }}">
    <br /><br />
    <button class="btn_g" type="button" (click)="verBtns('reco')">
      Recomendaciónes antes de una llamada</button
    ><br /><br />

    <div style="font-size: 36px" *ngIf="recomendaciones">
      <span style="color: green">
        <br />
        Usted lo único que necesita es <br />
        sacarle el reporte de crédito <br />
        y luego hablarle mierda del otro
        <br />
        <br />
        Cuando la persona inmediatamente <br />
        le dice; <b><u>NO</u></b> mires que estaba <br />
        hablando con un acompañante <br />
        como 4 meses <br />
        Ah, no, mire, ayúdeme a sacar <br />
        el reporte generalmente <br />
        eso dicen pero se tiene que <br />
        indagar mucho la persona <br />
        ahí <b><u>NO</u></b> puede hablar tanto <br />
        la persona.
        <br />
        <br />
        Ahí usted hace preguntas <br />
        capciosas para hacerlo caer, <br />
        preguntas si, no, si, no <br />
        y que usted sabe que la persona <br />
        <b><u>NO</u></b> le va a responder positivamente.
        <br />
        <br />
        ¿Por qué? Porque la gente <b><u>NO</u></b> suele <br />
        entender muchas compañías <br />
        si le van a sacar el reporte <br />
        pero <b><u>NO</u></b> le dan información <br />
        detallada.
        <br />
        <br />
        Y si usted lo pone a indagar, <br />
        van a decir hijueputa, <br />
        me están robando la plata <br />
        y yo tan huevón que ni siquiera <br />
        pregunté por el puntaje <br />
        y ni pregunté por cuentas <br />
        cómo me voy a dejar hacer eso?
        <br />
        <br />
        Y esa gente que solo un puntaje <br />
        y está diciéndome que son tres, <br />
        <b><u>NO</u></b> me están viendo <br />
        y diciéndome que 150, <br />
        y estos diciéndome <br />
        que sale más caro.
        <br />
        <br />
        Hacerlo creer que la decisión <br />
        que acaba de tomar <br />
        es una horrible decisión, <br />
        y así se le puede tumbar <br />
        muy fácil la competencia.
      </span>
    </div>
    <br /><br />
    <span style="color: green">
      <h2>
        Que debemos contestar cuando un cliente <br />
        nos dice que trabaja con alguien más<br /><br />
      </h2>
    </span>
    <p>
      <br />
      ¿Cuanto tiempo <b>lleva</b> con esa gente?
      <br />
      <br />
      <span style="color: green">Esperar reacción</span>
      <br />
      <br />
      Bueno, en ese <b>tiempo</b> ya <br />
      <b>tendría</b> que tener usted <br />
      resultados con esa <b>gente</b>.
      <br />
      <br />
      ¿Qué <b>resultados</b> le ha dado esa gente?
      <br />
      <br />
      <span style="color: green">Esperar reacción</span>
      <br />
      <br />
      <span style="color: blue"
        >¿Cómo que <b><u>NO</u></b> le ha llegado nada?</span
      >
      <br />
      <br />
      <span style="color: green"
        >Repetir el tiempo que estuvo con la competencia</span
      >
      <br />
      <br />
      Mire, <b><u>NO</u></b> sé le pueden <br />
      estar <b>tomando</b> el dinero.
      <br />
      <br />
      Y se lo <b>digo</b> desde ahora, <br />
      porque con lo que <b>usted</b> <br />
      me dice ___ <b>dólares</b> eso <br />
      <b><u>NO</u></b> vale un trabajo de esos.
      <br />
      <br />
      Y se lo <b>digo</b> desde ahora <br />
      <b>Porque</b> mire que para hacer <br />
      un <b>trabajo</b> en el que se <br />
      tienen <b>cuentas</b> de ________ <br />
      como se me estaba <b>indicando</b>, <br />
      el <b>problema</b> es que hay <br />
      que <b>enviar</b> mociones <br />
      en derecho <b>propio</b> <br />
      para <b>desestimar</b> <br />
      los <b>cargos</b> en corte.
      <br />
      <br />
      O sea que <b>para</b> eso <br />
      es que <b>contratar</b> abogados <br />
      para hacer esas <b>mociones</b>.
      <br />
      <br />
      Segundo, tenemos que <b>verificar</b> <br />
      <b>cómo</b> se encuentra la <br />
      base de la <b>identidad</b>.
      <br />
      <br />
      Por qué <b>nosotros</b> <br />
      como <b>compañía</b> <br />
      <b>nunca</b> comenzamos a <br />
      <b>reestablecer</b> un crédito <br />
      hasta que la <b>identidad</b> <br />
      <b><u>NO</u></b> se encuentre <br />
      reestablecida.
      <br />
      <br />
      Y como <b>tercero</b>, <br />
      <b>notificarle</b> a usted <br />
      el puntaje de <b>crédito</b>, <br />
      que <b>nosotros</b> estamos mejorando.
      <br />
      <br />
      Le damos un <b>monitoreo</b> <br />
      <b>constante</b>.
      <br />
      <br />
      Le <b>pregunto</b> yo a usted.
      <br />
      <br />
      ¿Cuándo fue la <b>última</b> vez <br />
      que usted <b>verificó</b> <br />
      su <b>reporte</b> de crédito?
      <br />
      <br />
      <span style="color: green">Esperar reacción</span>
      <br />
      <br /><span style="color: green">No, yo nunca lo he mirado</span>
      <br />
      <br />
      ¿Y esa gente cuando <b>comenzó</b> <br />
      a <b>conocerlo</b> le dieron un reporte? <br />
    </p>

    <p><button>Sí</button> <button>NO</button></p>
    <br />
    <br />
    <span style="color: green">
      <br />
      <b
        >Usualmente responde <br />
        Ah! Bueno, ya me dijeron <br />
        que tenía como una de 600
      </b>
    </span>
    <br />
    <br />
    O sea, <b>como</b> en _____ puntos <br />
    ¿o le <b>dieron</b> su puntaje?
    <br />
    <br />
    <span style="color: green">Esperar reacción</span>
    <br />
    <br />
    Porque yo <b>antes</b> de comenzar <br />
    a <b>trabajar</b> con usted <br />
    le voy a <b>decir</b> <br />
    su <b>puntaje</b> de crédito <br />
    cómo <b>está</b>.
    <br />
    <br />
    Cómo lo va a <b>tener</b> <br />
    en el <b>futuro</b> <br />
    y cuáles son los <b>beneficios</b> <br />
    que va a <b>tener</b> en nuestro programa.
    <br />
    <br />
    Porque usted <b><u>NO</u></b> <br />
    me puede <b>decir</b> a mí <br />
    que otra gente le <b>ayuda</b> <br />
    y ni <b>siquiera</b> conoce <br />
    su puntaje de <b>crédito</b>.
    <br />
    <br />
    <b>Menos</b> mal (____) <br />
    estamos hablamos <b>usted</b> y yo, <br />
    por qué a usted <b>actualmente</b> <br />
    le <b>pueden</b> estar haciendo <br />
    un <b>robo</b> de identidad.
    <br />
    <br />
    Y usted <b><u>NO</u></b> se está <br />
    dando <b>cuenta</b> o le pueden <br />
    estar tomando su <b>dinero</b>.
    <br />
    <br />
    <b>Mire</b> (_____), <br />
    el reporte de <b>crédito </b> <br />
    solamente <b>valía </b>un dólar, <br />
    lo que <b><u>NO</u></b> le dijo ____ <br />
    Vamos a sacar tu reporte de <b>crédito.</b>
    <br />
    <br />
    Yo <b>mismo</b> le voy a decir <br />
    a usted <b>sí</b> o no, <br />
    le <b>están</b> haciendo el trabajo <br />
    y usted también se va a <b>enterar</b>
    <br />
    <br />
    Porque si <b>usted</b> sigue <br />
    con lo <b>mismo</b> que usted <br />
    recuerda en su <b>crédito</b>.
    <br />
    <br />
    Esa gente <b><u>NO</u></b> ha hecho nada. <br />
    Vamos a ver su <b>reporte</b> de crédito <br />
    ahora a ver cómo se <b>encuentra</b> <br />
    usted <b>realmente</b>.
    <br />
    <br />
    Claro, si esa <b>gente</b> ha hecho <br />
    un trabajo, <b><u>YO</u></b> se lo voy a indicar.
    <br />
    <br />
    Si <b><u>NO</u></b> lo han hecho, <br />
    se lo voy a <b>decir</b>.
    <br />
    <br />
    En el <b>acta</b>, ¿Okay? <br />
    para que usted <b><u>NO</u></b> <br />
    le sigan <b>tomando</b> el pelo <br />
    tiene que tener mucho <b>cuidado</b> <br />
    con <b>eso</b> <br />
    ¿Okay?
    <br />
    <br />
    Y miren que <b>yo</b> se lo digo <br />
    desde <b>ahora</b>, <br />
    <b>trabajo</b> como el suyo, <br />
    <b>nunca</b> va a valer <br />
    esa <b>cantidad</b>
    <br />
    <br />
    Claro <b></b>hermana/o (_____). <br />
    <b>Imagínese</b>, hay que <br />
    tener <b>abogados</b> <br />
    de por <b>medio</b>.
    <br />
    <br />
    <b>Cree</b> que un abogado <br />
    cobre <b>150 </b>dólares. <br />
    <b>olvídese</b> de eso. <br /><br /><br />
  </div>
</div>
