.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.none {
  display: none;
}
.intro,
.creditoMalo,
.direcciones,
.chequearle,
.fijese,
.inquiries {
  line-height: 45px;
  margin: 4rem auto;
  font-size: 33px;
  text-align: center;
}
.blue{
  color: blue;
}
.green{
  color: green;
}
.red {
  color: red;
}


/* boton atras */
.atras {
  position: absolute;
  top: 4rem;
}

.btn-A {
  background-color: blue;
  color: white;
}

