
<div class="content">
  <div class="{{ intro }} ">
    <small>
      <b class="green">Yo soy la persona que habla</b>
    </small>
    <br>
    <br>
    <br>
    <span>
      (<span *ngIf="cliente">{{ cliente.nombres }}</span>), yo soy la persona que habla con <b>Mackenzie</b> en la radio <br>
      y aunque a mi me <b>gustaria</b> hablar <br>
      con todas las personas que nos <b>llaman</b><br>
      es <em>humanamente </em> <b>imposible</b> poder <br>
      conversar con todo el <b>mundo</b><br>
      y por eso yo tengo personas que me <b>ayudan</b><br>
      a hablar con los <b>clientes</b>.<br>
    </span>
    <br>
    <br>
    <span>
      Pero en el <b>caso</b> suyo<br>
      su llamada fue <b>seleccionada</b> al azar<br>
      para <b>personalmente</b> <br>
      poder <b>atenderle</b>, <br>
      asi que a partir de <b>este</b> momento<br>
      con el favor de <b>Dios</b><br>
      voy a estar <b>aqui</b><br>
      hasta ayudarle a <b>resolver</b> <br>
      su <b>problema</b> de credito<br>
      y a <b>contestar</b> todas sus preguntas.
    </span>
    <br>
    <br>
    <span>
      Tengo que <b>indicarle</b> <br>
      que las <b>consultas</b> mias<br>
      en persona <b>cuestan</b> $200 <br>
      y por eso <b>solo</b> <br>
      <b>atiendo</b> por telefono,<br>
      debido a que la <b>consulta</b> por telefono .<br>
      es gratis, <b>gratis</b>, gratis.
    </span>
    <br>
    <br>
    <span>
      Asi que <b>aproveche</b> esta llamada<br>
     <b>imaginese</b> que tiene un limon <br>
      y <b>saquele</b> el jugo<br>
     <b>exprimalo</b> y saquele limonada.<br>
      <b>jajaja</b>
    </span>
    <br>
    <br><b class="green"><em>ESPERAR Y PROPICIAR REACCIÓN DEL PROSPECTO</em></b>
    <br>
    <br>
    <span>
      Muy Bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>), pero para yo <b>darle</b> <br>
      la consulta <b>gratis</b><br>
      yo tengo 2 pequeñas <b>reglitas</b>...
    </span>
    <br>
    <br><b class="green"><em>ESPERAR Y PROPICIAR REACCIÓN DEL PROSPECTO</em></b>
    <br>
    <br>
    <span>
      La <b></b>primera reglita es que<br>
      si usted me esta hablando de un <b></b>celular.
    </span>
    <br>
    <br>
    <span>
      El mismo deberia <b>tener</b> <br>
      <b>suficiente</b> carga<br>
      ya que <b><u>NO</u></b> queremos <br>
      que la conversacion se <b>termine</b><br>
      en el <b>mejor</b> momento.
    </span>
    <br>
    <br>
    <span>
      (<span *ngIf="cliente">{{ cliente.nombres }}</span>), Usted me esta <b>hablando</b> de un celular?<br>
      tiene <b>mas</b> de media bateria de carga? <br>
      ¿<b>Verdad</b> que si?
    </span>
    <br>
    <br><b class="green"><em>ESPERAR Y PROPICIAR REACCIÓN DEL PROSPECTO</em></b>
    <br>
    <br><span>Muy bien (<span *ngIf="cliente">{{ cliente.nombres }}</span>)!</span>
    <br>
    <br>
    <span>
      La segunda <b>reglita</b>(<span *ngIf="cliente">{{ cliente.nombres }}</span>),   es que<br>
      si usted <b>es</b> una persona que,<br>
      aunque estamos en el <b>siglo</b> 21<br>
      tiene que <b>pedirle</b> permiso<br>
      a su esposa o <b>cualquier</b> otra persona,<br>
      entonces <b>esta</b> persona <br>
      deberia estar <b>aqui</b> <br>
      la <b>conversacion</b>.
    </span>
    <br>
    <br>
    <span>
      Mas sin embargo(<span *ngIf="cliente">{{ cliente.nombres }}</span>), si usted <br>
      tiene sus <b>propios</b> ingresos<br>
      y toma sus propias <b>desiciones</b> <br>
      al igual que yo,<br>
      y tomando en cuenta <br>
      que es usted la persona <br>
      <b>AFECTADA</b>, <br>
      y sobretodo que es su <br>
      <b>credito</b> personal,<br>
      si usted toma sus propias <br>
      <br><b>desiciones</b>, con mucho gusto<br>
      yo le <b>explico</b>.
    </span>
    <br>
    <br>
    <span>
      ¿Usted <b>tiene</b> que perdirle <br>
      permiso a alguien<br>
      o esto es <b>algo</b> que <br>
      entre usted y yo <br>
      lo <b>resolvemos</b>?
    </span>
    <br>
    <br><b class="green"><em>ESPERAR Y PROPICIAR REACCIÓN DEL PROSPECTO</em></b>
    <br>
    <br>
    <span>
      Muy <b>bien </b>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), <br>
      esto es lo que va a <b>transcribir</b> <br>
      en está <b>conversación</b>.
    </span>
    <br>
    <br>
    <span>
      (<span *ngIf="cliente">{{ cliente.nombres }}</span>), vamos a <b>intentar</b> <br>
      sacar su <b>reporte</b> de credito.
    </span>
    <br>
    <br>
    <span>
      Lo vamos a <b>analizar</b> <br>
      y le <b>vamos</b> a indicar <br>
      los <b>defectos</b> que pueden <br>
      ser <b>corregidos</b>.
    </span>
    <br>
    <br>
    <span>
      Al final de la <b>conversacion</b>, <br>
      usted <b><u>NO</u></b>  me va a decir <br>
      que lo tiene que <b>pensar</b> <br>
      o <b>consultar</b> con alguien,<br>
      y <u><b>Sí</b></u>  me va a indicar <br>
      una de dos.<br>
      <b><u>NO</u></b>  lo quiero hacer<br>
      o <b><u>SÍ</u></b>  lo quiero hacer <br>
      ¿OKEY?
    </span>
    <br>
    <br><b class="green"><em>ESPERAR Y PROPICIAR REACCIÓN DEL PROSPECTO</em></b>
    <br>
    <br>
    <span>
      Muy <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), ¡Vamos <br>
      a ver su <b>puntaje</b>!
    </span>
    <br>
    <br>
    <span>(<span *ngIf="cliente">{{ cliente.nombres }}</span>), En <strong>   cuánto</strong> estaba su <b>puntaje</b> <br>
      la <strong> última</strong> vez que chequeo <br>
      su <strong> reporte</strong> de crédito? <br>

      <strong>wOw (<span *ngIf="cliente">{{ cliente.nombres }}</span>) </strong> con eso <br>
      <strong><u>NO</u></strong> le dan <br>
      ni una <strong>bicicleta</strong>!
    </span>
    <br>
    <br>
    <span> Es más<br>
      ni un <b>patin</b>. </span>
    <br>
    <br>
    <br>
    <br>
    <br><button (click)="cambiarP('creditoMalo')">VAMOS A VER PORQUE TIENE EL TAN CREDITO MALO</button>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="{{ creditoMalo }}">

    <div class="atras">
      <button class="btn-A" (click)="atrasP('creditoMalo')">Atras</button>
    </div>

    <span> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), vamos a ver <strong>porque</strong> es <br>
      que usted tiene el <strong> crédito</strong><br>
      <strong>   tan</strong> malo…
    </span>

    <br>
    <br> <p class="red">Personal Profile</p>

    <span >yo veo acá que usted  <strong>   tiene</strong><br>
      <strong>   varios</strong> nombres como….
    </span>

    <br> <span > Y eso se puede <strong>   prestarse</strong> <br>
      para un posible <strong>   robo</strong> de identidad!
    </span>

    <br><span> Tenemos que solicitar que <strong>   quiten</strong> <br>
      esos nombres que tiene <strong>   demás! </strong>
    </span>
    <br>
    <br>

    <button (click)="cambiarP('direcciones')">TAMBIEN VEO QUE TIENE MAS DE UNA DIRECCION</button>
    <br>


  </div>

  <div class="{{ direcciones }}">

    <div class="atras">
      <button class="btn-A" (click)="atrasP('direcciones')">Atras</button>
    </div>

    <br><span> También veo que usted <strong>   tiene</strong> <br>
      <strong>   más</strong> de una dirección….</span>
    <br>
    <br> <span> y eso demuestra <strong>   inestabilidad</strong><br>
      para los <strong>   banqueros </strong><br>
      y posiblemente <strong>   no </strong>van <br>
      a querer <strong>   aprobarle! </strong>
    </span>
    <br>
    <br> <span> Vamos a <strong>   solicitar</strong>
      que le <strong>   quiten</strong> esas direcciones que tiene demas…
    </span>
    <br>
    <br> <span> Vamos a <strong>   calificarle</strong> <br>
      para ver si le <strong>   aprueban</strong> <br>
      una <strong>   casa</strong> o un préstamo.
    </span>
    <br>
    <br><span>¿Cuánto <strong>   gana</strong> usted semanalmente? <br>
      ¿O es <strong>   quincenal</strong> que a usted le pagan?
    </span>
    <br>
    <br> <span>¿Cuánto tiempo <strong>   lleva</strong> en el trabajo? </span>
    <br>
    <br> <span>¿Qué <strong>   otro</strong> ingreso tiene en la casa? </span>
    <br>
    <br>
    <br> <span> Muy <strong>   bien! </strong><br>
      Con el favor de <strong>   Dios, </strong><br>
      con ese ingreso a <strong>   usted </strong>pueden <br>
      <strong>   aprobarle</strong> un préstamo o una casa</span>
    <br>
    <br>
    <br>

    <button (click)="cambiarP('chequearle')">VAMOS A CHEQUEARLE CUANTAS VECES HA SOLICITADO CREDITO</button>
    <br>
    <br>

  </div>

  <div class="{{ chequearle }}">

    <div class="atras">
      <button class="btn-A" (click)="atrasP('chequearle')">Atras</button>
    </div>


    <p class="red">INQUIRES</p>

    <br> <span>ahora <strong>   vamos</strong> a ver <br>
      <strong>   cuántas</strong> veces <br>
      le han <strong>   chequeado</strong> su crédito<br>
      porque <strong>   máximo</strong> solo <br>
      se pueden <strong>   4 veces</strong> en 2 años</span>
    <br>
    <br> <span>  <strong>   huyyyy</strong>,   ayyy, <strong>   ayyy</strong> , ayyyy. <br>
      Usted <strong>   tiene</strong>  2, <strong>   4</strong> , 6 , <strong>   8</strong> , 10 ….</span>
    <br>
    <br> <span> Esto es <strong>   demasiado</strong>! </span>
    <br>
    <button (click)="cambiarP('fijese')">FIJESE QUE A UD LE HAN CHECK</button>
    <br>

  </div>

  <div class="{{ fijese}}">

    <div class="atras">
      <button class="btn-A" (click)="atrasP('fijese')">Atras</button>
    </div>

   <span> Fíjese a usted le han <strong>   chequeado</strong><br>
      el crédito ______ <strong>   veces</strong><br>
      Y esta es <strong>   una</strong> de las razones<br>
      porque usted tiene el <strong>   crédito</strong> <br>
      <strong>   tan</strong> malo…. </span>
    <br>
    <br> <span> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) ¿Usted <strong>   autorizo</strong> <br>
      a <strong>   todas</strong> estas personas<br>
      a que le <strong>   chequearan</strong> su crédito? </span>
    <br>
    <br>
    <button (click)="cambiarP('inquiries')">TENEMOS QUE AYUDARLE A BORAR MUCHOS DE ESTOS INQUIRIES...</button>
    <br>
    <br>
  </div>

  <div class="{{ inquiries }}">

    <div class="atras">
      <button class="btn-A" (click)="atrasP('inquiries')">Atras</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</div>
