


<div class="content" style="font-size: 36px;">
  <div class="{{ intro }}">

    <br>

    <button class="btn_g" type="button" (click)="vermodal = true">RECOMENDACIONES</button>

    <div style="font-size: 36px;"  *ngIf="recomendaciones" >
<span   style="color: green;">
  <br> Buscar en el <b>borrador</b> para ver
  <br> cuales son los <b>problemas</b> de crédito.
  <br> 2. <b>Analizar</b> los problemas
  <br> 3. ¿Cuánto <b>gana</b>?;
  <br> 4. ¿Cuánto ha <b>pagado</b> y
  <br> cuándo fué la <b>última</b> vez que pagó?;
  <br> Al saber cuánto ha <b>pagado</b> yo sé
  <br> si me debe algo de la <b>gestión</b> del abogado,
  <br> o si me debe de la <b>reparación</b> de crédito.
  <br> Y si es de la <b>reparación</b> de crédito,
  <br> si me ha pagado <b>2</b> meses recuerde
  <br> que nosotros le <b>dijimos</b>
  <br> que de 4 a 6 <b>meses</b> usted puede
  <br> recibir su <b>tarjeta</b> de crédito
  <br> con el favor de <b>Dios</b>.
  <br> Entonces nos <b>faltan</b> de 2 a 4 meses
  <br> para <b>recuperar</b> eso.
  <br> ¡Tanto <b>nadar</b> para morirnos en la orilla!
  <br> 5. ¿Qué cartas <b>salieron</b>?;
  <br> Buscar el <b>whatsapp</b> para ver las contestaciones,
  <br> porque se puede <b>chequear</b> si ha recibido
  <br> <b>contestación</b> del buró de crédito.
  <br> Se le <b>responde</b>:
</span>
        <br>
    </div>
    <div>
  <div class="backg" *ngIf="vermodal">

    <div class="modalx">
      <div class="cont">
        <div class="head">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16" (click)="vermodal = false">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
          <h1>RECOMENDACIONES</h1>
        </div>
        <div class="body_modal">
          <span style="color: blue;">
            <br> 1. Ver el <b>reporte</b> de crédito
            <br> Buscar en el <b>borrador</b> para ver
            <br> cuales son los <b>problemas</b> de crédito.
            <br> 2. <b>Analizar</b> los problemas
            <br> 3. ¿Cuánto <b>gana</b>?
            <br> 4. ¿Cuánto ha <b>pagado</b> y
            <br> cuándo fué la <b>última</b> vez que pagó?
            <br> Al saber cuánto ha <b>pagado</b> yo sé
            <br> si me debe algo de la <b>gestión</b> del abogado,
            <br> o si me debe de la <b>reparación</b> de crédito.
            <br> Y si es de la <b>reparación</b> de crédito,
            <br> si me ha pagado <b>2</b> meses recuerde
            <br> que nosotros le <b>dijimos</b>
            <br> que de 4 a 6 <b>meses</b> usted puede
            <br> recibir su <b>tarjeta</b> de crédito
            <br> con el favor de <b>Dios</b>.
            <br> Entonces nos <b>faltan</b> de 2 a 4 meses
            <br> para <b>recuperar</b> eso.
            <br> ¡Tanto <b>nadar</b> para morirnos en la orilla!
            <br> 5. ¿Qué cartas <b>salieron</b>?;
            <br> Buscar el <b>whatsapp</b> para ver las contestaciones,
            <br> porque se puede <b>chequear</b> si ha recibido
            <br> <b>contestación</b> del buró de crédito.
            <br> Se le <b>responde</b>:
          </span>
            <br>
            <br>
        </div>
      </div>
    </div>

  </div>


    </div>



        <br><br><span style="color: green;"><h1>¿Cómo cobrarle a un cliente?</h1></span>
        <br>
        <br> Ya nosotros hemos <b>logrado</b>
        <br> hacer lo que le <b>prometimos</b>!
        <br>
        <br> Nosotros le <b>indicamos</b> que
        <br> los <b>primeros</b> 3 a 4  meses
        <br> usted iba a <b>recibir</b> contestación
        <br> de los <b>burós</b> de crédito.
        <br>
        <br>Nosotros enviamos estas reclamaciones a
        <br><span style="color: blue;"><b>Equifax/Experian/TransUnion</b></span>
        <br>
        <br> Obviamente usted ya ha <b>recibido</b>
        <br> de <span style="color: blue;"><b>Experian/Equifax/TransUnion</b></span>
        <br> y <b><u>NO</u></b> nos lo ha enviado
        <br> y ese es el <b>problema</b> porque
        <br> usted <b><u>NO</u></b> puede retener las cartas.
        <br>
        <br> Entonces <b>nosotros</b> a parte de hacer
        <br> lo que le <b>prometimos</b> de mandar las cartas
        <br> para que <b><u>NO</u></b> lo demanden con el favor de Dios,
        <br> hemos ayudado a que nos <b>reconozcan</b>
        <br> los <b>burós</b> de crédito.
        <br>
        <br> Pero <b>herman<span style="color: green;">o/a</span></b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
        <br> el <b>problema</b> que hay aquí,
        <br> es que <b>todavía</b>
        <br> falta una <b>parte</b> del abogado
        <br> y usted sabe que el <b>primer</b> pago
        <br> que ya usted lo <b>dío</b>,
        <br> <b>saqué</b> unas cartas pero
        <br> hay otras cartas que las tenemos <b>listas</b>
        <br> y son de <b>abogado</b>.
        <br>
        <br> Y que <b>malo</b> sería eso herman<span style="color: green;">o/a</span> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)...
        <br> ¡Tanto <b>nadar</b> para morirnos en la orilla!
        <br>
        <br> Como lo dije <b>anteriormente</b>,
        <br> el <b>problema</b> es que ya nosotros
        <br> hemos hecho un <b>trabajo</b> para que
        <br> <b><u>NO</u></b> lo demanden pero si usted
        <br> <b><u>NO</u></b> paga esos 265 dólares,
        <br> <b><u>NO</u></b> se van a enviar más cartas
        <br> y a parte es un <b>acto</b> de terrorismo
        <br> que usted está haciendo <b>contra</b> su crédito.
        <br>
        <br> Ya nosotros hemos hecho el <b>trabajo</b>
        <br> y hemos quedado bien y <b><u>NO</u></b> solamente,
        <br> hemos <b>logrado</b> ayudar a prevenir
        <br> que a usted lo <b>demanden</b>...
        <br>
        <br> Sino que ya los <b>burós</b> de crédito nos reconocen,
        <br> ya (<span style="color: blue;">Experian/Equifax/TransUnion</span>)
        <br> nos <b>reconoce</b> y esa carta de (______)
        <br> se la mandaron a usted con la <b>fecha</b> (__/__/____) y pasó
        <br> <span style="color: blue;">septiembre, <b>octubre</b>, noviembre, diciembre</span>
        <br> y usted <b><u>NO</u></b> me ha mandado
        <br> las <b>otras</b> cartas.
        <br>
        <br> Usted tiene que <b>entender</b> que nosotros
        <br> <b><u>NO</u></b> podemos seguir al próximo paso
        <br> hasta que usted <b>mande</b> esas cartas.
        <br>
        <br> Ya obviamente herman<span style="color: blue;">o/a</span> (<span *ngIf="cliente">{{ cliente.nombres }}</span>),
        <br> sabemos que ese <b>problema</b> fué resuelto
        <br> entonces esto está <b>parado</b> por usted mismo,
        <br> porque usted lo que <b>tiene</b> que mandar es
        <br> lo del <b>abogado</b>.
        <br>
        <br> Ya nosotros lo que le <b>dijimos</b> a usted
        <br> que íbamos a <b>hacerlo</b> de 4 a 6 meses
        <br> y en <b>15</b> días en vez de 4 a 6 meses
        <br> usted <b>consiguió</b> los resultados
        <br> y que lo <b>reconocieran</b> a usted,
        <br> sin embargo <b>aquí</b> el que está
        <br> <b>frenando</b> esto es usted.
        <br>
        <br> Entonces lo <b>primero</b> que yo quiero hacer
        <br> es sacar la <b>carta</b> laboral
        <br> porque el <b>problema</b> es que usted
        <br> tiene ese <b>proceso</b> que le va a costar
        <br> a usted <b>7.000</b> dólares,
        <br> más <b>3.500</b> de gasto de abogado y corte,
        <br> son <b>10.5000</b> dólares y le pueden quitar
        <br> hasta <b>700</b> dólares todos los meses
        <br> de su <b>trabajo</b>.
        <br>
        <br> Y hay jefes que <b><u>NO</u></b> les gusta eso,
        <br> que vaya un <b>Marshall</b> y lo majonee
        <br> y le diga: "<b>quítele</b> este salario
        <br> a esta <b>persona</b>"
        <br> y hasta lo <b>humille</b> diciendole:
        <br> "si usted <b><u>NO</u></b> le quita va preso usted".
        <br>
        <br> Aunque el <b>jefe</b> suyo
        <br> <b><u>NO</u></b> lo puede despedir por eso,
        <br> créame que <b>algunos</b> jefes
        <br> son <b>repulsivos</b> y se buscan
        <br> la forma de <b>despedirlo</b>.
        <br>
        <br> ¡Menos mal que <b>usted</b>
        <br> está hablando <b>conmigo</b>!
        <br>
        <br> Porque aquí yo soy su <b>aliado</b>,
        <br> yo soy su <b>amig<span style="color: blue;">o/a</span></b> herman<span style="color: blue;">o/a</span> (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
        <br>
        <br> Pero usted tiene que <b>entender</b>
        <br> que cuando nosotros lo <b>llamamos</b>
        <br> usted tiene que <b>responder</b>,
        <br> porque usted ha <b>frenado</b> esto.
        <br>
        <br> ¿Cuándo fué su <b>último</b> pago?;
        <br>
        <br> <span style="color: green;">(Esperar reacción del prospecto)</span>
        <br>
        <br> ¿<b>Desde</b> (__/__/____)?;
        <br>
        <br> ¡<b>Imagínese</b> herman<span style="color: blue;">o/a</span> (<span *ngIf="cliente">{{ cliente.nombres }}</span>)!
        <br>
        <br> ¿Usted sabe dónde usted <b>estuviera</b> ya?;
        <br>
        <br> Ya usted mínimo con el favor de <b>Dios</b>,
        <br> le hubiera dado la <b>tarjeta</b> de crédito
        <br> y hasta hubiera podido <b>sacar</b> un carro nuevo,
        <br> camino a tener su <b>casa</b> propia,
        <br> porque mire <b>cuanto</b>
        <br >paga de <b>renta</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>).
        <br>
        <br>
  </div>
</div>
