<div class="content">
  <div class=" intro ">
    <br>
    <br>
    <br> Hola , le <b>saluda</b>({{ nombre }}) de creditomejor.com
    <br> Y aquí estamos <b>retornandole</b> la llamada
    <br> tal y como le habíamos <b>prometido</b>,
    <br> para hablar sobre cómo <b>podemos</b> ayudarle
    <br> a resolver esos <b>problemas</b> de crédito
    <br> Cuando escuche este mensaje,
    <br> por favor <b>llame</b> al (914)2-19-00-14
    <br> para ayudarle a <b>resolver</b> su problema de crédito
    <br>
    <br> Como le prometimos le <b>cumplimos</b>.
    <br> debido a que nosotros le <b>prometimos</b> que lo ibamos a llamar
    <br> ya que su situacion de credito puede ser <b>peligrosa</b>,
    <br> y le puede perjudicar. A partir de este <b>momento</b>
    <br> su numero va ser ingresado a una maquina que lo va a estar llamando <b>cada</b> 30 minutos
    <br> hasta que usted <b>conteste</b>
    <br>
    <br> una vez que <b>hablemos</b> con usted
    <br> le <b>sacaremos</b> de la maquina
    <br>
    <br> De nuevo le <b>saluda</b> ({{ nombre }})
    <br> <b>Especialista</b> de créditomejor.com
    <br> Y me puede llamar hasta las <b>10 de la noche</b>
    <br> al (914)2-19-00-14.
    <br> Con <b>mucho gusto</b> le ayudaremos
    <br> A resolver <b>su problema</b>.
    <br> <b>DIOS</b> le bendiga, que pase un <b>excelente</b> día
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
