@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 100%;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: rgb(41, 0, 189);
  ;
  color: #fff;
  transition: all 0.3s;
  min-width: 180px;
  max-width: 230px;
  min-height: 90vh;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover,
.selected {
  color: #000000;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}


/* label color */

.input-field label {
  color: white;
}


/* label focus color */

.input-field input[type=text]:focus+label,
.input-field input[type=date]:focus+label {
  color: white;
}

.form-group label {
  color: white;
}

.form-group select,
.form-group input[type=text],
.form-group input[type=date] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.form-group option {
  color: black;
}

.input-field input[type=text],
.input-field input[type=date] {
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
}


/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}


/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid rgb(0, 255, 8);
  box-shadow: 0 1px 0 0 rgb(0, 255, 8);
}


/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid rgb(255, 0, 0);
  box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
  color: #000;
}
.Historial_llamdas,
.DatosPersonales,
.DatosAdicionales,
.Documentacion,
.HistorialCrediticio,
.CitasCliente,
.Pagos,
.Cartas {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 20px;

}
.h100{
  height: 100%;
}

.lista {
  max-height: 25vh;
  overflow-y: auto;
}

.xd {
  height: calc(100% - 89px);
  padding: 40px;
  width: 100%;
  overflow: auto;
}

.bg_force{
  background-color: slategrey;
}
/*********** modal ***********/
.bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}
.modal-body{
  max-height: 60vh;
  overflow: auto;
  color: black;
  font-weight: 600;
}
/***********↑ modal ↑***********/
