<div class="content" style="font-size: 36px;">
  <p> <br>
    <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span> Nosotros le <b>indicamos</b> <br>
    que <b>íbamos</b> hacer sus cartas <br>
    <b>inmediatamente</b> que usted <br>
    <b>hiciera</b> el pago.
  </p>
  <p>
    (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, <b>Efectivamente</b> <br>
    nosotros <b>hicimos</b> sus cartas.
  </p>
  <p>
    (<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span> Las cartas <b>tienen</b> un procedimiento, <br>
    que <b>primero</b> tienen que ir <br>
    <b>después</b> del pago.
  </p>
  <p>
    <b>Antes</b> de salir las cartas, <br>
    tienen que ser <b>observadas</b> <br>
    por el departamento de <b>procesamiento</b>
  </p>
  <p>
    El departamento de <b>procesamiento</b> <br>
    <b>paro</b> sus cartas, <br>
    porque <b>faltaban</b> información <br>
    que para los <b>buros</b> de crédito <br>
    Es <b>requisitoria </b>
  </p>
  <p>
    ¡<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, Entre esta <b>informacion</b> <br>
    esta su
    <select name="select">
      <option value="">Seleccionar</option>
      <option value="liconducir">Licencia de conducir</option>
      <option value="seguros">Seguro social</option>
      <option value="bl">Bill de luz</option>
      <option value="bg">Bill de gas</option>
      <option value="ba">Bill de agua</option>
    </select>
    <br>que usted <b><u>no</u></b> la mando <br>
    hasta el día ______
  </p>
  <p>
    A <b>partir</b> de ese momento, <br>
    que usted <b>mando</b> la documentación <br>
    y la información <b>requerida</b> <br>
    por los <b>buros</b> de crédito, <br>
    estaba <b>lista</b>.
  </p>
  <p>
    <b>nosotros</b> al otro día <br>
    <b>inmediatamente </b> <br>
    <b>enviamos</b> sus cartas.
  </p>
  <p>
    Así que si aquí <b><u>no</u></b> salieron <br>
    las <b>cartas</b>, <br>
    fue porque <b>usted</b> <br>
    <b><u>no</u></b> nos envió <br>
    toda la <b>información</b> <br>
    que nosotros <b>necesitábamos</b>
  </p>
  <p>
    ¡Ya sus cartas <b>están</b>!
  </p>
  <p>
    Si <b>quiere</b> anote <br>
    el número de <b>tracking</b>, <br>
    para que <b>usted</b> vea <br>
    la <b>información</b> <br>
    sobre sus <b>cartas</b> <br>
    y que ya fueron <b>enviadas</b> <br>
    o <b>recibidas</b> por el correo
  </p>
</div>
