<div class="content" style="font-size: 36px">
  <p> <br>
    <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span> en <b>estos</b> momentos <br>
    como le habíamos <b>prometido</b> a usted <br>
    sus cartas están <b>completamente</b> terminadas <br>
    y usted está <b>listo</b> para recibir <br>
    resultados <b>positivos</b> <br>
    por <b>parte</b> de cada unos <br>
    de los <b>buros</b> de crédito.
  </p>
  <p>
    Ahora <b>bien</b> <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, <br>
    usted <b><u>NO</u></b> ha comenzado <br>
    a <b>recibir</b> resultados, <br>
    porque <b>usted</b> sabe que <br>
    aún tenemos <b>pendiente</b> <br>
    un <b>bill</b> suyo, de agua, luz, etc <br>
    que <b><u>NO</u></b> me ha enviado.

  </p>
  <p>
    En estos <b>momentos</b> <span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, <br>
    para que <b>usted</b> pueda <br>
    <b>recibir</b> resultados, <br>
    los <b>buros</b> de crédito <br>
    está <b>requiriendo</b> ese <br>
    documento <b>inmediatamente</b>.
  </p>
  <p>
    Porque <b>sino</b>, <br>
    <b><u>NO</u></b> le van a responder
  </p>
  <p>
    Yo estoy para <b>decirle</b> <br>
    a usted la <b>verdad</b>, <br>
    y <b><u>NO</u></b> lo que usted <br>
    quiere <b>escuchar</b>. <br>
  </p>
  <p>
    ¡<span *ngIf="cliente$">{{cliente$.nombres || '(____)'}}</span>, Así que <b>inmediatamente</b> <br>
    usted va a <b>buscar</b> ese bill <br>
    y le va tomar la <b>fotografía</b> <br>
    <b>¡Ahora!</b>
  </p>
  <p>
    Que se vean las <b>cuatro</b> puntas <br>
    del documento
  </p>
  <p>
    Sin flash
  </p>
  <p>
    Sobre una superficie plana
  </p>
  <p>
    Sin arrugas
  </p>
  <p>
    Y debe estar completamente abierto
  </p>
  <p>
    Me la envía <b>inmediatamente</b> <br>
    que tan <b>pronto</b> tenga <br>
    esa <b>fotografía</b> aquí, <br>
    mañana <b>mismo</b> está saliendo <br>
    al correo <b>certificado</b> <br>
    para que usted <b>comience</b> <br>
    a recibir <b>buenos</b> resultados <br>
    por parte de los <b>buros</b> de crédito.
  </p>
  <p>
    ¿En <b>cuánto</b> me la envía?
  </p>
  <p>
    ¿10, 15 <b>minutos</b>?
  </p>
  <p>
    ¡Envíemela <b>ahora</b>!
  </p>
</div>
