
<hr>
<small class="green">----Objecion No me Ha llegado Nada?----</small>
<div class="content">
  <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), Esto es como cuando <b>usted</b>
  <br> va a una corte y el <b>jurado</b>
  <br> sale de <b>dictaminar</b> rápido
  <br> Usualmente quiere decir que usted es <b>culpable</b>,
  <br> pero <b>si</b> el jurado se demora,
  <br> entonces usted es <b>inocente</b>.
  <br> Aca es lo mismo
  <br> Cuando se <b>tardan</b>
  <br> Quiere <b>decir</b>
  <br> Que <b>no</b> encuentran la información solicitada
  <br> Y la ley es <b>muy</b> clara,
  <br> Si <b>No</b> contestan en 45 dias
  <br> Tienen que borrarlo!
  <br> ¡Esa es la <b>ley</b>!
  <br>
  <br> Entonces a nosotros nos <b>conviene</b>
  <br> que ellos <b>demoren</b> los 45 dias completos.
  <br>
  <br> Mientras esperamos la <b>contestación</b>
  <br> Nosotros <b>tenemos</b> que hacer
  <br> <b>Otras</b> reclamaciones
  <br> Y para enviar las <b>otras</b> reclamaciones
  <br> Necesitamos que usted <b>haga</b>
  <br> Su otro <b>paguito</b>.
  <br>
  <div class="blue">
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), el banco <b>abre</b> a las
    <br> 9am/cierra a las 6pm….
    <br> ¿A <b>qué</b> hora deposita?
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
