
<div class="content">
  <div class="">
    <br> <span class="red">⚠</span> Nuestra <b>prioridad</b> inicial
    <br> cuál va a ser, <b>esclarecer</b>
    <br> la <b>identidad</b> suya para que
    <br> usted se <b>entere</b> 2 cosas;
    <br>
    <br> <b>Número 1</b> si o <b><u>NO</u></b> le están
    <br> <b>confundiendo</b> con otra persona
    <br>
    <br> Número 2 si o <b><u>NO</u></b> a usted le están
    <br> robando la <b>identidad</b> actualmente
    <br>
    <br> Todo eso va a <b>venir</b> en documentos
    <br> <b>certificados</b> por parte
    <br> Experian <b>Equifax</b> y TransUnion
    <br> tan <b>pronto</b> su identidad
    <br> sea <b>esclarecida</b> ¿Okay?
    <br>
    <br> A <b>partir</b> de nosotros haber
    <br> iniciado este <b>procedimiento</b>
    <br> ahí es que <b>iniciamos</b> con
    <br> la <b>disputa</b> de cuentas
    <br> nuestra <b>prioridad</b> a trabajar
    <br> van a ser esta <b>cuenta</b>
    <br> <b>del</b> ______
    <br>
    <br> Si hay <b>alguna</b> cuenta que
    <br> sea aun más <b>compleja</b>
    <br> o <b>más</b> peligrosa como
    <br> se diría de <b>estas</b> dos,
    <br> vamos a <b>tomar</b> la prioridad
    <br> por <b>ahora</b> lo que es la cuenta
    <br> del ______ y el ______
    <br> también la vamos a <b>trabajar</b>
    <br> pero tan <b>pronto</b> hayamos
    <br> <b>resuelto</b> el ______
    <br> y la ______ esa es
    <br> nuestra <b>prioridad</b> ¿Okay?
    <br>
    <br>Muy bien <b>tiene</b> alguna
    <br> otra <b>preguntita</b> que
    <br> <b><u>NO</u></b> sea cuánto me va
    <br> costar <b>arreglar</b> mi crédito
    <br> ¿Okay?
    <br>
    <br> Ahora <b>bien</b> con referente
    <br> a lo de la <b>identidad</b>.
    <br>
    <br> El <b>trabajo</b> con la identidad
    <br> es enviar <b>reclamaciones</b>
    <br> como tal con la <b>documentación</b>
    <br> <b>originales</b> de emitida
    <br> por el <b>gobierno</b> de los
    <br> <b>ESTADOS UNIDOS</b>
    <br> de <b>américa</b>
    <br>
    <br> Que <b>requiere</b> el Buró;
    <br> <b>Comprobante</b> de identidad.
    <br> Comprobante de <b>identidad</b> con foto
    <br> y <b>dirección</b>,
    <br> Y por ultimo, <b>dos</b>
    <br> corroborantes de dirección
    <br>
    <br> Esas van a ser las <b>únicas</b>
    <br> <b>documentaciones</b> que cualquier
    <br> lugar que <b>cualquier</b>, compañía,
    <br> le puede <b>solicitar</b> usted
    <br> para <b>corroborar</b> su identidad
    <br> ¿Okay?
    <br>
    <br> <b>Perfecto</b> yo quiero saber
    <br> si usted <b>tiene</b> alguna
    <br> <b>preguntita</b>, todas las que
    <br> usted <b>quiera</b> .
    <br>
    <br> <b>Nosotros</b> hemos visto cientos
    <br> de casos como estos <b>sabemos</b>
    <br> por <b>cuál</b> parte comenzar ¿Okay?
    <br>
    <br> Ahora <b>bien</b> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) aunque
    <br> yo le digo a <b>usted</b> que
    <br> este caso <b><u>NO</u></b> lo vemos difícil,
    <br> <b><u>NO</u></b> es que sea fácil, fácil,
    <br> yo le hago un <b>ejemplo</b>,
    <br> es como <b>cuando</b> usted va
    <br> donde un <b>cirujano</b> de corazón
    <br> abierto y le pregunta
    <br> cómo ve la <b>cirugía</b>,
    <br> él le va <b>decir</b> que la ve fácil,
    <br> por qué han hecho <b>miles</b>
    <br> de <b>cirugía</b> ya conocen
    <br> el procedimiento <b><u>NO</u></b>
    <br> por eso <b>usted</b> le va decir,
    <br> páseme los <b>instrumentos</b>
    <br> yo me opero, <b><u>NO</u></b> , <b><u>NO</u></b>,
    <br> por qué se <b>muere</b>
    <br> ¿Okay?
    <br>
    <br> Pasa lo mismo aquí con el <b>crédito</b>
    <br> <b>nosotros</b> ya tenemos más de 15 años
    <br> de <b>experiencia</b> en esto.
    <br>
    <br> <b>Sabemos</b> qué tipo de caso
    <br> podemos <b>tratar</b>
    <br> y <b>nunca</b> tomamos un caso
    <br> que entendemos <b><u>NO</u></b>
    <br> podemos <b>ganar</b> ¿Okay?
    <br>
    <br> Por eso lo <b>hemos</b> fácil hermano/a (<span *ngIf="cliente">{{ cliente.nombres }}</span>)
    <br>
    <br> Muy bien <b>tiene</b> alguna
    <br> otra <b>preguntita</b> que
    <br> <b><u>NO</u></b> sea <b>cuánto</b> me va
    <br> costar <b>arreglar</b> mi crédito
    <br> ¿Okay?
    <br>
    <br> Yo les <b>voy</b> a explicar
    <br> en <b>estos</b> momento a usted
    <br> cuanto <b>sería</b> el costo
    <br> del <b>proceso</b>
    <br> ¿Okay?
    <br>
    <br> Muy <b>bien</b> hermano/a
    <br> ahora bien mire <b>este</b>
    <br> <b>tipo</b> de casos a diferencia
    <br> de otros como los <b>abogados</b>
    <br> puede <b>costarle</b> entre $8 o $10
    <br> o incluso hasta <b>$12 mil</b> dólares
    <br> en <b>muchos</b> casos los abogados
    <br> le van a pedir $2 mil, $3 mil
    <br> dólares de <b>pronto</b> inicial
    <br> y pagar <b>mensualidad</b>
    <br> por un año <b>entre</b> $500 a $800
    <br> <b>dólares</b> al mes
    <br>
    <br> Eso con los <b>abogados</b>
    <br> para <b>este</b> tipo de casos.
    <br>
    <br> Nosotros en <b>creditomejor.com</b>
    <br> hacemos el <b>mismo</b> trabajo
    <br> pero <b><u>NO</u></b> cobramos esa cantidad
    <br> ¿Okay?
    <br>
    <br> Nosotros <b>tenemos</b> un pago
    <br> de <b>inscripción</b> hermano/a
    <br> que va hasta los <b>$1.000 dolares</b>
    <br> y <b>mensualidades</b> por un año
    <br> de <b>$500 dólares</b>
    <br> ¿Okay
    <br>
    <br> <b>Pero</b> como ustedes escucharon
    <br> en la radio <b>nosotros</b> tenemos
    <br> una <b>oferta</b> el dia de hoy
    <br> mientras <b>tengamos</b> el teléfono
    <br> en la mano <b><u>NO</u></b> luego
    <br> ni mañana ni <b>pasado</b> mañana
    <br> <b>sólo</b> ahora mientras
    <br> estemos <b>hablando</b>
    <br> ¿Okay?
    <br>
    <br> El <b>cuál</b> en vez de ustedes
    <br> estar <b>pagando</b> los $1.000 dólares
    <br> de la <b>inscripción</b> van a pagar
    <br> solamente <b>$500 dólares</b>
    <br> si <b><u>NO</u></b> tiene los $500 dólares
    <br> completos le <b>hacemos</b>
    <br> un <b>plan</b> de pago
    <br> <b><u>¡Ojo!</u></b>
    <br>
    <br> Este <b>tipo</b> de casos usualmente
    <br> tienen un <b>costo</b> de $700
    <br> u $800 <b>dólares</b>
    <br> ¿Okay?
    <br>
    <br> Pero como <b><u>NO</u></b> tenemos tantas
    <br> <b>cuentas</b> son $500 dólares
    <br> ahora bien la <b>mensualidad</b>
    <br> del <b>proceso</b> son $199.50 centavos
    <br> como <b>escucharon</b> en la radio
    <br> más los <b>gastos</b> de manejo
    <br> <b>procesamiento</b> y envió
    <br> que son $65 <b>dólares</b>
    <br>
    <br> En <b>adición</b> estaríamos hablando
    <br> de $264 con 50 al <b>mes</b>
    <br> esto por un <b>periodo</b>
    <br> de 15 <b>meses</b> si lo que
    <br> <b>desean</b> es una casa
    <br> ¿Okay?
    <br>
    <br> Ahora <b>bien</b> hermano/a
    <br> cómo <b>funciona</b> esto
    <br> en un <b>periodo</b> de 6 meses
    <br> <b>ustedes</b> van a haber visto
    <br> mucho como se ha <b>arreglar</b>
    <br> el <b>crédito</b> suyo,
    <br>
    <br> ¿Okay?
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
