
<hr>
<small class="green">
  ----OBJECION: “YO TENGO MAS DE 45 DIAS"----
</small>
<div class="content">
  <div class="green">
    <small>
      <b>
        <br> *¡NOTA PARA EL AGENTE QUE ESTA LEYENDO ESTO AL CLIENTE!:
        <br> Lo Primero que tiene que hacer es ver cuando la persona nos envió los 3 documentos
        <br> TIENE QUE TENER LOS 3 DOCUMENTOS (La licencia, SSN firmado y bill )?.
      </b>
    </small>
  </div>
  <small>
    <b>
      <br> Si fueron recibidos un Jueves, Viernes,Sábado o Domingo
      <br> salen el martes subsiguiente.
      <br> Si es un miércoles añádele dos días
      <br> y ese es el tiempo aproximado que salió.
    </b>
  </small>
  <br>
  <br> <b>-EN CASO DE QUE LA PERSONA NO TENGA LOS 45 DIAS (ESTA ES LA CONTESTACION):</b>
  <div class="blue">
    <br> Según los <b>datos</b> que yo tengo aquí
    <br> todavía usted <b><u>NO</u></b> ha cumplido los 45 días;
  </div>
  <br>
  <br> Una vez usted <b>cumpla</b> los 45 días
  <br> nosotros le <b>vamos</b> a enviar
  <br> un E-mail(correo <b>electrónico</b> )
  <br> en el cual le vamos a <b>indicar</b>
  <br> las <b>reclamaciones</b> que tenemos
  <br> con los buros de <b>crédito</b>
  <br> y usted nos tiene que <b>devolver</b>
  <br> <b>ese correo</b> electrónico
  <br> <b>indicando</b> que usted
  <br> <b><u>NO</u></b> ha recibido ningún tipo de notificación
  <br> de los buros de <b>crédito</b>
  <br> de Experian, <b>Equifax</b> y/o Transunion…
  <br>
  <br> Si usted ha recibido <b>contestación</b>
  <br> de <b>uno</b> o más de ellos
  <br> nos lo tiene que <b>indicar</b>
  <br> y si <b><u>NO</u></b> los ha recibido,
  <br> ya sea que reciba de <b><u>un</u></b> de los buro
  <br> O que reciba de <b>dos</b> o los tres de ellos
  <br> <b>también</b> nos lo indica,
  <br> Ya que nosotros vamos a <b>proceder</b>
  <br> A enviarle otras cartas certificadas <b>reclamándole</b>
  <br> que <b><u>NO</u></b> han contestado
  <br> en los 45 días <b>establecidos</b> por la ley
  <br> y que según <b>estipula</b> la ley
  <br> <b>tienen</b> que borrarlo
  <br> ¡ESA <b>ES</b> LA LEY!...
  <br>
  <br> Si ellos <b><u>NO</u></b> proceden a borrarlo
  <br> entonces <b>nosotros</b> podemos
  <br> hacer una <b>reclamación</b> a la FRCA
  <br> que es el ORGANISMO <b>GUBERNAMENTAL</b>
  <br> que se encarga de <b>defender</b>
  <br> los <b>derechos</b> crediticios del consumidor
  <br> y ellos a su misma vez van a <b>proceder</b>
  <br> a <b>notificarle</b> a los buros de crédito
  <br> que tienen 45 días para <b>borrarlo</b>
  <br> y de no hacerlo ellos pueden ser <b>multados</b>
  <br> por $1.000 dólares por <b>cada</b> caso
  <br> que <b><u>NO</u></b> cumplan según establece la ley..
  <br>
  <br> Nosotros hemos <b>realizado</b> en total:
  <br>
  <div class="green">
    <b>VERIFICAR SI SON 9/ 15 RECLAMACIONES</b>
    <br><small>*ESTA ES UNA NOTA PARA EL AGENTE: SI SON 9 RECLAMACIONES:</small>
  </div>
  <br> Nueve <b>reclamaciones</b> y
  <br> Por consiguiente si ellos <b><u>NO</u></b> contestan
  <br> esas nueve <b>reclamaciones</b>
  <br> tendrían que darle a usted <b>$9.000 dólares…</b>
  <br>
  <br> <b class="green">SI SON 15 RECLAMACIONES:</b>
  <br>
  <div class="blue">
    <br> Quince <b>reclamaciones</b> y Por consiguiente si ellos <b><u>no</u></b> contestan
    <br> esas quince <b>reclamaciones</b>
    <br> tendrían que darle a usted <b>$15,000 dólares…</b>
  </div>
  <br> Y ese dinero va <b>directo</b> para usted…
  <br>
  <br> La <b>realidad</b> es que es muy raro
  <br> que esto <b>suceda</b> porque los buros de crédito
  <br> <b>antes</b> de pagar una multa,
  <br> ellos prefieren <b>borrarlo</b>
  <br> y eso es lo que nosotros <b>queremos</b>
  <br> y para eso es que usted nos <b>contrato</b>
  <br> <b><u>no</u></b> para que reciba ese dinero
  <br> sino para que nosotros le ayudemos a <b>arreglar</b> su crédito
  <br> y a que se le borren las <b>reclamaciones.</b>
  <br>
  <br> Así que es muy <b>importante</b> que usted
  <br> <b>esté</b> pendiente
  <br> <b><u>no</u></b> vaya a ser que estas cartas o reporte de crédito,
  <br> Usted las reciba y <b>No</b> se dé cuenta.
  <br>
  <br> A veces son <b>reportes</b> de crédito
  <br> que pueden ser de 2 a <b>30 paginas</b>
  <br> y usted o algún <b>familiar</b> suyo
  <br> las haya <b>recibido</b>
  <br> y hayan pasado por <b>desapercibido</b>.
  <br>
  <br> Si ese es el caso
  <br> entonces perderíamos la <b>reclamación</b>.
  <br> por <b>consiguiente</b> yo le pregunto a usted:
  <br>
  <br> ¿Usted es la <b>única</b> persona que recibe estas cartas?
  <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) usted es la única persona que <b>recibe</b> estas cartas?
  <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) usted con <b>seguridad</b> de que
  <br> <b><u>no</u></b> ha recibido unos reportes de credito
  <br> de los buros de <b>crédito</b>
  <br> de experian, <b>equifax</b> y transunion (<span *ngIf="cliente">{{ cliente.nombres }}</span>)?
  <br>
  <br> Bueno (<span *ngIf="cliente">{{ cliente.nombres }}</span>), en ese caso
  <br> o que <b>vamos</b> a hacer
  <br> es que le voy a <b>enviar</b> un correo electrónico
  <br> <b>indicando</b> cuales son las reclamaciones
  <br> que nosotros hemos <b>realizado</b> a los tres buros de crédito
  <br> experian, <b>equifax</b> y transunion
  <br> ese correo electrónico lo debe <b>retornar</b>
  <br> contestándonos e <b>indicándonos</b> que usted
  <br> <b><u>no</u></b> ha recibido ninguno
  <br> de esos <b>reportes</b> de crédito.
  <br>
  <br> Es <b>importante</b> que cuando usted
  <br> <b>nos</b> conteste ese correo electrónico
  <br> y también <b><u>nos</u></b> llame para asegurarnos
  <br> que nosotros <b>recibimos</b> ese correo electrónico.
  <br>
  <br> Ahora <b>bien</b>
  <br> rectifíqueme cual es su correo electrónico.
  <br> ¡(<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b>muy</b> bien!
  <br> ¡Así lo <b>tengo</b> yo!
  <br>
  <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) , este <b>muy</b> pendiente,
  <br> que en el <b>transcurso</b> del día de hoy
  <br> o <b>mañana</b> máximo,
  <br> usted debe recibir ese <b>correo electrónico</b>.
  <br>
  <br> En <b>caso</b> de que usted mañana
  <br> a eso de las <b>6 de la tarde</b>,
  <br> <b><u>no</u></b> lo haya recibido,
  <br> por favor llámeme para <b>asegurarse</b>
  <br> que nosotros se lo <b>reenviemos</b>
  <br> para que usted lo <b>reciba.. Ok</b> ?
  <br>
  <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), <b>bueno</b>
  <br> ¿Tiene alguna <b>otra</b> preguntita?
  <br>
  <br> Hágame <b>tooodas</b> las que quiera,
  <br> yo <b>soy</b> una enciclopedia.
  <br>
  <br> Bueno hermano(a) en ese <b>caso</b> pues,
  <br> quedamos <b>pendientes…</b>
  <br> Recuerde que le vamos a <b>enviar</b> el correo electrónico
  <br> y <b>recuerde</b> que si usted
  <br> <b><u>no</u></b> lo recibe entre hoy y mañana a las 6 de la tarde
  <br> me tiene que <b>devolver</b> la llamada ok?
  <br>
  <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>) bueno que <b>Dios</b> le bendiga rica
  <br> y <b>abundantemente…</b>
  <br> <b>feliz</b> día.
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
