<div class="content">
    <div class="{{intro}}">
        <h2><span style="color: green;">ORDEN <br> LLAMADA CAMPAÑA</span></h2>
        <br> ¡¡HOLAAA!!
        <br>
        <br> <span style="color: green;">Esperar reacción </span>
        <br>
        <br> ¿COMO ESTAMOS?
        <br>
        <br> <span style="color: green;">Esperar reacción </span>
        <br>
        <br> ¿¿QUE HAY DE NUEVO??
        <br>
        <br> <span style="color: green;">Esperar reacción </span>
        <br>
        <br> Le habla {{ agente }} de creditomejor.com
        <br> nosotros somos las personas
        <br> que hablamos en la radio
        <br> y que ayudamos a reparar el crédito,
        <br> tenemos una llamada perdida suya
        <br> y la estamos retornando.
        <br>
        <br> ¿Cuénteme como esta su crédito
        <br> esta bueno o esta MALO?
        <br>
        <br> 1.	Una última pregunta.
        <br> ¿A qué horas sale usted del
        <br> trabajo a las 6,7,8?
        <br>
        <br> <input type="time">
        <br>
        <br> 2.	Una preguntita mas
        <br> A qué hora se acuesta a dormir
        <br> a las ¿9, 10, 11,12 o 1 de la mañana?
        <br>
        <br> <input type="time">
        <br>
        <br> 3.	¿Ahora si la última preguntita
        <br> que le tengo es mi nombre es {{ agente }}
        <br> ¿Cual es el suyo?
        <br>
        <br> <input type="text" placeholder="Nombre del prospecto">
        <br>
        <br>
        <br>
    </div>
</div>
