
<div class="content">
  <div class="intro">
    <span style="color: green;"><h1>--- Si faltan documentos ---</h1></span>

<span style="color: blue;">
<br>¿Dios le <b>bendiga</b> (____)?
<br>¿Como <b>está</b> usted?
<br>Le <b>saluda (____)</b>
<br>de <b>creditomejor.com. </b>
<br>Hermano(a) <b>estamos</b> llamando
<br>debido a que </span>
<br>los burós de <b>crédito</b>
<br>están <b>solicitando</b> (documentos)
<br>y necesitamos que nos lo <b>envíe</b>
<br>lo más <b>pronto</b> posible.
<br><br>Los buró de crédito <b>tienden</b> a buscar
<br>cualquier <b>excusa</b> para dilatar el caso,
<br>la más <b>frecuente</b> es cuando ellos
<br>quieren <b>corroborar</b> la dirección
<br>o la <b>identidad</b> de la persona:
<br>
<br>Si los <b>documentos</b>
<br>no están totalmente legibles
<br>ellos pueden <b>dilatar</b> el proceso
<br>y por eso es <b>muy</b> importante
<br>que <b>antes</b> de enviar los documentos
<br>usted verifique la <b>legibilidad</b> de ellos
<br>para que <b>no</b> tenga que hacer doble trabajo
<br>y nosotros podamos <b>cumplir</b>
<br>con el adecuado <b>proceso.</b>
<br>
<br> ¿Ahora <b>bien</b> herman<span style="color: blue;">o/a</span> (____)?
<br>
<br> <label for="hor">¿A qué <b>hora</b> nos envía el documento? </label>
<br> <input type="time" name="hora" id="hor">
<br>
<br>Nosotros trabajamos <b>24 horas, </b>
<br>pero <b>recibimos</b> llamadas
<br>solo <b>hasta</b> las 10 de la noche.
<br>
<br>
<br> <label for="env">¡A qué hora nos <b>envía</b> el documento?</label>
<br> <input type="time" name="envia" id="env">
<br>
<br> Favor de envíar <b>todos</b>
<br> los <b>documentos</b> al
<br>
<br>
<br> Al que usted <b>siempre</b> se
<br> ha <b>comunicado</b> con nosotros.
<br>
<br> ¿Tiene <b>alguna</b> pregunta?
<br> Hágame <b>todas</b> las que quiera.
<br> que yo soy una <b>enciclopedia</b>.
<br>
<br>

  </div>
</div>
