
<div class="content">
  <div class="{{ intro }}">
    <br> <h1 style=" color: red; font-size: 60px;"> ¿Cómo <b>transferir</b>?</h1>
      <br>
      <br>Hay varias <b>metodologías</b>
      <br>que <b>usamos</b>, hay unas que son
      <br>largas y <b>preferimos</b> no utilizar
      <br>a menos de que el <b>cliente</b> ya
      <br>las tenga <b>listas</b>; por ejemplo,
      <br><b>Paypal</b>.
      <br>
      <br>Los <b>bancos</b> más usuales
      <br>que <b>maneja</b> la gente son
      <br><b>DiriBank</b>, Bank of America,
      <br>Chase, Wallfargo, <b>Citybank</b>
      <br>y <b>Credit Union</b>.
      <br>
      <br>(Si el <b>cliente</b> no tiene
      <br>cuenta de banco con <b>Zelle</b>)
      <br>
      <br>Cuándo <b>tenga</b> que
      <br>transferir por <b>Paypal</b>.
      <br>
      <br>Y en la <b>venta</b> el cliente
      <br>le dice "No tengo <b>Zelle</b>",
      <br>"No <b>puedo</b> ir al banco",
      <br>"No sé hacer lo del <b>banco</b>"
      <br>
      <br>En ese momento <b>buscamos</b>
      <br>Western Union o <b>Paypal</b>
      <br>y hacemos que el <b>cliente</b>
      <br>se cree una <b>cuenta</b>
      <br>indicándole paso por <b>paso</b>.
      <br>
      <br>Luego pasamos a <b>pedirle</b>
      <br>al cliente que <b>registre</b>
      <br>una <b>cuenta</b> de banco,
      <br>el número de <b>ruta</b>
      <br>del banco, el <b>número</b>
      <br>de la <b>cuenta</b> del banco
      <br>y que <b>verifique</b> con
      <br>el banco que ese <b>Paypal</b>
      <br>es <b>suyo</b>, se enlaza
      <br>a la <b>cuenta</b> y ya está
      <br>listo para <b>transferir</b>.
      <br>
      <br>¿Cómo <b>transfiere</b>?
      <br>
      <br>Okay, mire la <b>pantalla</b>
      <br>de su <b>teléfono</b>, en la
      <br>parte de <b>abajo</b> hay
      <br>2 <b>circulos</b> de color azul,
      <br>uno dice <b>"enviar"</b>
      <br>y el otro <b>"solicitar"</b>
      <br><b>Indicarle</b> que ponga
      <br>el <b>correo</b> electrónico,
      <br><b>cuánto</b> es el monto
      <br>a <b>transferir</b> y luego
      <br>le da a <b>"enviar"</b>.
      <br>
      <br>Van a <b>pasar</b> 2 cosas:
      <br>
      <br>1. Nos queda el <b>dinero</b>.
      <br>2. Paypal se lo <b>retiene</b>.
      <br>
      <br>¿<b>Por qué</b>?
      <br>
      <br>Al ser la <b>primera</b>
      <br><b>transferencia</b> de un
      <br>desconocido <b>Paypal</b>
      <br>se lo va a <b>retener</b>.
      <br>
      <br>Si <b>ocurre</b> esto,
      <br>indicarle al <b>cliente</b>
      <br>que vuelva al <b>inicio</b>
      <br>y en la <b>pantalla</b>
      <br>Paypal hará un <b>movimiento</b>,
      <br>hacer <b>click</b> en él y
      <br>le aparecerá un <b>botón</b>
      <br>que dice "<b>confirmar</b> que
      <br>ha <b>recibido</b> el paquete",
      <br>debe darle <b>click</b> ahí
      <br>y de <b>inmediato</b> nos
      <br>devuelven el <b>dinero</b>.
      <br>
      <br>Ahora vamos con <b>Zelle</b>,
      <br>lo <b>descarga</b>, se registra
      <br>con el número de <b>teléfono</b>,
      <br>el nombre y <b>correo</b> electrónico.
      <br>
      <br>Casi todos los <b>bancos</b>
      <br>tiene <b>Zelle</b>, la gran
      <br><b>mayoría</b> pero hay unos
      <br>cuántos que no tienen <b>todavía</b> .
      <br>
      <br>Esto se puede ver en <b>google</b>
      <br><b>buscando</b> Zelle parnerts,
      <br>en la <b>segunda</b> opción ingresa
      <br>y ahí se va a ver en el <b>buscador</b>
      <br>de la A a la Z que <b>bancos</b> están
      <br><b>registrados</b> con Zelle que puedan
      <br>hacer <b>transferencias</b>.
      <br>
      <br>Procede a <b>Indicarle</b>
      <br>al <b>cliente</b> que guarde
      <br>el número de <b>teléfono</b>
      <br>que le indicamos <b>(786-282-30-45)</b>
      <br>y vuelva a la <b>aplicación</b>.
      <br>
      <br>Zelle arroja <b>tres</b> datos:
      <br>1. <b>Enviar</b> dinero
      <br>2. <b>Solicitar</b> dinero
      <br>3. <b>Ayuda</b>
      <br>
      <br>Cuando le de <b>"enviar"</b>
      <br>este le <b>pedirá</b> que selecione
      <br>un <b>contacto</b> y aquí elige el
      <br>número que le indicamos <b>guardar</b>,
      <br>después será <b>redireccionado</b>
      <br>a otra <b>pestaña</b> que le pedirá
      <br>el monto a <b>transferir</b> y luego
      <br>envía el <b>dinero</b>, sencillo.
      <br>
      <br>Igualmente <b>pasan</b> dos cosas,
      <br>o llega el dinero o lo <b>retienen</b>;
      <br>Pero con <b>Zelle</b> es más sencillo,
      <br>Llama al <b>banco</b> y dice que el
      <br>fue el que hizo la <b>transferencia</b>
      <br>y el banco <b>inmediatamente</b>
      <br>nos da el <b>dinero</b>.
      <br>
      <br>Ahora bien, seguimos con <b>CashApp</b>
      <br>es lo <b>mismo</b> pero aquí la primera
      <br>pregunta que se le hace al <b>cliente</b>
      <br>es ¿Qué <b>móvil</b> tiene?
      <br>¿Sansumg o <b>Iphone</b>?
      <br>
      <br>Le indica que entre a <b>PlayStore</b>
      <br>o Appstore, <b>descargue</b>
      <br>la <b>aplicación</b> y explicarle
      <br>paso a paso como <b>registrarse</b>.
      <br>
      <br>Pedirle que <b>guarde</b>
      <br>el número de <b>teléfono</b>
      <br>que le indicamos <b>(786-282-30-45)</b>
      <br>y vuelva a la <b>aplicación</b>.
      <br>
      <br>Cuando ingrese la <b>aplicación</b>
      <br>le va a arrojar las <b>opciones</b>
      <br>para "enviar" y <b>"solicitar"</b>;
      <br>Selecciona <b>enviar</b>,
      <br>elije <b>contacto</b>, ingresa
      <br>monto y <b>"enviar"</b>, fácil.
      <br>
      <br>Con Bank Of América lo <b>descarga</b>,
      <br>se <b>registra</b>, nombre de usuario
      <br>y <b>contraseña</b>, indicarle que
      <br>guarde el número de <b>teléfono</b>
      <br>que le indicamos <b>(786-282-30-45)</b>
      <br>y vuelva a la <b>aplicación</b>.
      <br>
      <br>Cuando ingrese la <b>aplicación</b>
      <br>buscar los 3 <b>puntos</b>; le da
      <br>transferir con <b>zelle</b>, y
      <br>de nuevo arroja <b>tres</b> opciones:
      <br>1. <b>Enviar</b> dinero
      <br>2. <b>Solicitar</b> dinero
      <br>3. Ajustes de <b>transferencias</b>
      <br><b>anteriores</b>.
      <br>
      <br>Indicarle que le de a <b>"enviar"</b>
      <br>y luego otra vez los <b>datos</b>
      <br><b>personales</b>.
      <br>
      <br>Y con <b>Western</b> Union, decirle
      <br>a la persona, ubicar la <b>oficina</b>,
      <br>si entra a <b>Westernunion.com</b>
      <br>Usted puede <b>ubicar</b> cualquier
      <br><b>oficina</b> que esté cerca
      <br>de  la <b>persona</b>, va a la oficina
      <br>(Vanessa Gómez) <b>Miami</b> Florida
      <br>y cuánto va a <b>enviar</b>.
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
</div>
