
<div class="content">
  <div class=" intro ">
    <p class="green">MECÁNICO</p>
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), Esto es como cuando usted va al <b>mecànico </b>,
    <br> El mecànico primero tiene que <b>destapar</b> el capó,
    <br> Revisar el motor y ver <b>todos</b> los problemas
    <br> que tiene su <b>auto</b> .
    <br> Acá es <b>igual</b> ,
    <br>
    <br> <b>primero</b> tenemos que ver su reporte de crédito,
    <br> Para <b>determinar</b> y analizar
    <br> Los defectos que pueden ser <b>corregidos</b> ,
    <br> y al final yo le voy a <b>indicar</b> ,
    <br> <b>Cuánto</b> le va a costar,
    <br> Y en qué tiempo le <b>podemos</b> ayudar
    <br> ya que nunca tomamos casos
    <br> Que entendamos que <b><u>no</u></b> podemos ganar.
    <br>
    <br> Vamos <b>primero</b> a ver su reporte de crédito
    <br> <b><u>Sin</u></b> compromiso
    <br> Para ver qué cosas le <b>perjudican</b> en su reporte
    <br> Y si tiene o <b><u>no</u></b>
    <br> un posible <b>robo</b> de identidad
    <br> O si le están <b>demandando</b> a usted
    <br> Y una vez lo <b>sepamos</b> a ciencia cierta
    <br> Entonces con <b>gusto</b>
    <br> Le indico que es lo que podemos <b>hacer</b>
    <br> Y cuanto es el <b>costo</b>
    <br> Y ahí usted <b>decide</b>
    <br> si <b><u>no</u></b> quiere o quiere
    <br> Que <b>comencemos</b> a ayudarle a
    <br> A arreglar su crédito
    <br>
    <br> <b>OKAY?</b>
  </div>
</div>
