
<div class="content">
  <div class="{{intro}}">
      <br> Hola Buenas (Tardes, días, noches) (___).
      <br>
      <br><span style="color: green;">(Esperar reacción del cliente)</span>
      <br>
      <br> ¿Cómo ha estado?
      <br> <b>Excelente</b>, me alegra mucho escuchar eso,
      <br> mi nombre es (___),
      <br> y soy una de las <b>personas</b>
      <br> que va a estar <b>encargada</b> de su caso,
      <br> y haciéndole <u><b>CONSTANTE</b></u> seguimiento
      <br> precisamente por acá me <b>encontraba</b>
      <br> analizando su <b>caso</b>
      <br> y además de <b>ver</b> que vamos
      <br> por <u><b>MUY, MUY</b></u> buen camino,
      <br> también  <b>veo</b> que ya es hora
      <br> de que usted <u><b>HAYA</b></u> recibido contestación
      <br> de los buros de crédito
      <br> (Experian, <b>equifax</b> y transunion).
      <br> (___), cuénteme ¿Que le ha llegado?
      <br>
      <br> <span style="color:red;">(No le ha llegado nada)</span>
      <br>
      <br> Eso es <u><b>IMPOSIBLE</b></u>,
      <br> a lo mejor usted <u><b>NO</b></u> guardó las cartas
      <br> o <u><b>NO</b></u> ha revisado su correo.
      <br> ¿Cuando fue la última vez que <b>chequeó</b> su correo?
      <br>  <span style="color:red;">(Hace poco y no había nada) </span>
      <br>
      <br> Eso <u><b>NO</b></u> puede ser,
      <br> pues la <u><b>LEY</b></u> indica
      <br> que cuando <b>nosotros</b> enviamos
      <br> una investigación o <b>reclamación</b>,
      <br> los buros de <b>crédito</b> y los acreedores,
      <br> tienen un <u><b>TIEMPO</b></u> estipulado para contestar,
      <br> algunas <b>veces</b> puede ser
      <br> que alguno no <b>respondan</b>,
      <br> lo cual indica que <u><b>ESTAMOS GANANDO</b></u> la disputa.
      <br>
      <br> Pero  (___), siempre hay alguna respuesta,
      <br> y en su caso,
      <br> alguna carta del <b>acreedor</b> o el buro
      <br> le <u><b>TUVO</b></u> que haber llegado
      <br> en el <b>transcurso</b> de este mes y medio
      <br>
      <span style="color: green;">(Insiste en que no le ha llegado nada)</span>
      <br>
      <br> ¿Usted está <b>100%</b> seguro/a
      <br> de que no le ha <b>llegado</b> nada?
      <br>
      <br>¿O que no <b>botó</b> nada por accidente?
      <br>
      <span style="color: green;">(Insiste en que no le ha llegado nada) </span>
      <br>
      <br> Mejor para <b>asegurarnos</b>
      <br> vaya <u><b>AHORA</b></u> mismo
      <br> y revise el <b>buzón</b>,
      <br> a ver si de <b>pronto</b> hay algo
      <br> mientras <b>estamos</b> hablando,
      <br> porque de ser así <u><b>TENEMOS</b></u>
      <br> que actuar <b>rápidamente</b>
      <br> y hacer una reclamación a la <u><b>FCRA</b></u>
      <br> que es el organismo <b>gubernamental</b>
      <br> que defiende los <b>derechos</b> del consumidor,
      <br> eso sí lo <u><b>úNICO</b></u> que necesito para hacerla,
      <br> es que usted me esté siendo <u><b>SINCERO/A</b></u>
      <br> de que <u><b>NO</b></u> le ha llegado nada,
      <br> porque de lo <b>contrario</b> me echarían
      <br> el <b>caso</b> para atrás.
      <br> ¿Entonces la <b>hacemos</b> ahora mismo?
      <br> ¿Usted está siendo <b>sincero/a</b>?
      <br>
      <br> <span style="color: green;" >(Insiste en que no le ha llegado nada) </span>
      <br>
      <br> En ese caso voy a <b>indicarle</b>
      <br> al departamento de <b>reclamaciones</b>
      <br> Que le <b>envíe</b> una carta en la cual
      <br> Le vamos a <b>indicar</b> todas las cuentas
      <br> Que <b>nosotros</b> estamos reclamando
      <br> Y <b>necesitamos</b> que usted
      <br> Nos la devuelva
      <br> Indicándonos que en los últimos <b>30</b> días
      <br> Usted no ha <b>recibido</b>
      <br> Ninguna <b>carta</b> de los buros de crédito
      <br> Equifax, Experian <b>y/o</b> Transunion.
      <br>
      <br> Con esta <b>evidencia</b> de su juramento
      <br> De que <b>usted</b> no ha recibido
      <br> Ninguna <b>notificación</b> de ellos,
      <br> Le daremos quince <b>(15)</b> días más
      <br> Para que arriben las <b>contestaciones</b>
      <br> A nuestras <b>reclamaciones</b>
      <br> Y de no llegarle <b>documentación</b>
      <br> De los <b>buros</b>,
      <br> Entonces <b>procederemos</b> a enviarle
      <br> Una carta <b>certificada</b>
      <br> Indicándole que no <b>contestaron</b>
      <br> En el tiempo <b>establecido</b> por la ley
      <br> Y que por ende están en <b>violación</b> de la ley
      <br> Y sus <b>derechos</b> del consumidor
      <br> Establecidos por la <b>FRCA</b>
      <br> Y que como <b>mandato</b> establecido
      <br> Por el <b>congreso</b> de
      <br> Los <b>Estados</b> Unidos de América
      <br> Tienen que <b>borrarlo</b>.
      <br> ¿Esa es la <b>Ley</b>?
      <br>
      <br> Esto puede <b>venir</b> en forma
      <br> de <b>reporte</b> de crédito
      <br> Y pueden ser <b>desde</b> solo 2 páginas
      <br> Hasta <b>20</b> o <b>30</b> paginas.
      <br>
      <br> Usted está con <b>absoluta</b> seguridad
      <br> De que usted
      <br> o alguien <b>conocido</b> por usted
      <br> ¿No ha recibido <b>Ningún</b> documento
      <br> De Experian, <b>equifax</b> o Transunion?
      <br>
      <br> En ese <b>caso</b>
      <br> Le <b>enviaremos</b> un documento
      <br> antes de las <b>próximas</b> 48 horas
      <br> vía <b>e-mail</b>
      <br> el cual tiene que <b>devolver</b> firmado
      <br> indicando que no ha <b>recibido</b>
      <br> los <b>documentos</b> de
      <br> Experian, <b>Equifax</b> o Transunion
      <br>
      <br> Por favor <b>rectifíqueme</b> su e-mail
      <br>
      <br> <span style="color: green;" >(Poner campo en el cual verifica el email ) </span>
      <br>
      <br> Muy bien  (___),
      <br> Si en <b>48</b> horas
      <br> Usted <b>no</b> recibe
      <br> Nuestro <b>documento</b>
      <br> Le agradezco que nos <b>llame</b>
      <br> Y <b>recuerde</b> que estamos abiertos
      <br> <b>24</b> horas al día
      <br> Los <b>7</b> días de la semana.
      <br>
      <br> ¿Alguna preguntita  (___)?
      <br> hagame <b>todas</b> las que quiera
      <br> yo soy una <b>enciclopedia</b>
      <br>
      <br> Perfecto.
      <br> <b>Dios</b> le bendiga
      <br> Y por favor
      <br> Este <b>pendiente</b> a su buzon.
      <br>
      <br> Recuerde que <b>usted</b> no está solo(a)
      <br> Usted está con <b>creditomejor.com</b>
      <br> Donde su <b>crédito</b> es lo más importante
      <br>
      <br>
      <span style="color: green;" ><br> DE AHI SE  PASA AL ESCRITO DONDE <br> SE HACE LA <b>RECLAMACIÓN</b> A LA FCRA</span>
      <br>
      <br> Ahora lo que <b>vamos</b> a hacer es agendar
      <br> una cita para realizar la <b>RECLAMACIÓN</b>,
      <br> para <b>mañana</b> mismo, a qué hora le pongo
      <br> acá que <b>usted</b> vá a estar libre?
      <br>
      <span style="color: green;">(Esperar reacción del cliente)</span>
      <br>
      <br> <b>Perfecto</b>, entonces a eso de las <b>(Hora acordada)</b>
      <br> estaremos <b>hablando</b> nuevamente,
      <br> tenga lista una <b>hoja</b> y un  lapicero, para que
      <br> podamos realizarla <b>acorde</b> a lo que estipula
      <br> la <b>ley</b>,
      <br> ¿OKay?
      <br>
      <br> Dios le bendiga (___).
  </div>
</div>
