<div class="content" #content>
  <div class="intro">
    <br> (<span *ngIf="cliente">{{ cliente.nombres }}</span>), Si <b>usted</b> a mí me dice
    <br> que va hacer el <b>pago</b> mañana
    <br>
    <br> <span class="green">(o el día que le toque por fecha)</span>
    <br>
    <br>
    <br> Y no lo <b>hace</b>
    <br> debido a <b>cualquier</b> situación,
    <br> y lo deja para <b>hacerlo</b> otro día
    <br> y no para la fecha <b>establecida</b>
    <br>
    <br> Entonces <b>tenemos</b>
    <br> que <b>volver</b> a hacer
    <br> la <b>documentación</b> de nuevo
    <br> y eso tiene unos <b>costos</b>
    <br> operacionales adicionales
    <br> de cincuenta <b>($50)</b>
    <br> y por ende a <b>usted</b>
    <br> le tocaría <b>asumirlo.</b>
    <br>
    <br> <b>Recuerde</b> que para nosotros
    <br> su palabra es lo más <b>importante</b>
    <br> Y es <b>ley.</b>
    <br>
    <br> <b>Perfecto (<span *ngIf="cliente">{{ cliente.nombres }}</span>)</b>
    <br> Recuerde que esta <b>conversación</b>
    <br> y todas sus <b>conversaciones</b>
    <br> con esta <b>empresa</b> por cuestión
    <br> de <b>seguridad</b> y entrenamiento,
    <br> están siendo <b>grabadas.</b>
    <br>
    <br> Por <b>consiguiente</b>
    <br> su <b>próximo pago</b>
    <br> ya no <b>sería</b> de $260/$275
    <br> si no de $310/$325 <b>dólares</b>
    <br> si usted no cumple
    <br> <b>¿Okay (...)?</b>
    <br>
    <br> Estamos <b>claro (<span *ngIf="cliente">{{ cliente.nombres }}</span>)</b>
    <br>
    <br> <b>Perfecto,</b>
    <br> Cúmplanos <b>siempre</b>
    <br> a <b>nosotros</b> religiosamente,
    <br> que <b>usted</b> hace su parte
    <br> y nosotros hacemos la <b>nuestra.</b>
    <br>
    <br> Porque <b>recuerde</b>
    <br> que <b>tenemos</b> que ayudarle
    <br> a <b>evitar</b> que a usted
    <br> le puedan <b>demandar</b>
    <br> o ponerle un <b>Injuction</b>
    <br> o gravamen a sus <b>pertenencias</b>
    <br> y las puedan <b>subastar</b>
    <br> O <b>peor</b> aún que vayan a su jefe
    <br> con una <b>orden</b> de corte
    <br> y le quiten hasta el <b>25%</b>
    <br> de su <b>salario</b>
    <br> por hasta <b>20</b> años.
    <br> <b>¿Okay?</b>
    <br>
    <br> <b>Bueno (<span *ngIf="cliente">{{ cliente.nombres }}</span>)</b>
    <br> <b>Tranquilo(a)</b>
    <br> Recuerde que <b>usted</b> no está solo(a)
    <br>
    <br> Usted está con <b>nosotros</b>
    <br> Y juntos con el <b>favor</b> de Dios
    <br> <b>lograremos</b> ayudarle
    <br> a mejorar su <b>crédito.</b>
    <br> <b>¿Okay?</b>
    <br>
    <br> Tienen <b>alguna</b> pregunta? (...).
    <br>
    <br> <b>Perfecto (<span *ngIf="cliente">{{ cliente.nombres }}</span>)</b>
    <br> <b>Dios</b> le bendiga
    <br> Rica y <b>abundantemente</b>
    <br>
    <br> Y por <b>favor</b>
    <br> Este pendiente a su <b>buzón.</b>
    <br>
    <br> Recuerde que en <b>creditomejor.com</b>
    <br> su <b>crédito</b> es lo más importante.
    <br>
    <br>
    <br> <b>Bye, bye!</b>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

